Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm --filter=@cpn-console/client run lint:style --",
  "**/apps/client/**/*": "pnpm --filter=@cpn-console/client run lint:ts --",
  "**/apps/server/**/*": "pnpm --filter=@cpn-console/server run lint --",
  "**/packages/**/*": "pnpm --filter=./packages/* run lint --",
  "**/plugins/**/*": "pnpm --filter=./plugins/* run lint --",
  "**/*": "pnpm run lint:root --"
}

fix: missmatch between direct login and console username generation Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  plugins/gitlab/src/user.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(ci): replace old and unmaintained GHA job for MR comments with our own job
  .github/workflows/job-comment-merge-request.yml
  .github/workflows/job-scan.yml
  .github/workflows/workflow-create-preview-comment.yml
Due: pnpm run lint:root --

chore: remove unused migrate local database scripts Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/migrate-db.sh
  apps/server/package.json
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

chore(ci): disable trivy cache to avoid using action-cache version that is in Node.js v20
  .github/workflows/job-scan.yml
Due: pnpm run lint:root --

fix(ci): fix merge request comment job
  .github/workflows/job-comment-merge-request.yml
Due: pnpm run lint:root --

chore(ci): update merge request comment action to use appropriate property following the GHA upgrade
  .github/workflows/job-scan.yml
  .github/workflows/workflow-create-preview-comment.yml
Due: pnpm run lint:root --

chore(ci): add pinact configuration to pin GHAs to their SHA
  .pinact.yaml
Due: pnpm run lint:root --

chore(ci): upgrade EVERY GitHub action to their latest SHA version
  .github/workflows/job-build.yml
  .github/workflows/job-label.yml
  .github/workflows/job-lint.yml
  .github/workflows/job-npm.yml
  .github/workflows/job-playwright.yml
  .github/workflows/job-release-please.yml
  .github/workflows/job-scan.yml
  .github/workflows/job-tests-unit.yml
  .github/workflows/workflow-clean-cache.yml
  .github/workflows/workflow-continuous-integration.yml
  .github/workflows/workflow-create-or-update-release.yml
  .github/workflows/workflow-create-preview-comment.yml
  .github/workflows/workflow-merge-queue.yml
  .github/workflows/workflow-post-merge.yml
Due: pnpm run lint:root --

chore(ci): pin EVERY GitHub action to their SHA
  .github/workflows/job-build.yml
  .github/workflows/job-label.yml
  .github/workflows/job-lint.yml
  .github/workflows/job-npm.yml
  .github/workflows/job-playwright.yml
  .github/workflows/job-release-please.yml
  .github/workflows/job-scan.yml
  .github/workflows/job-tests-unit.yml
  .github/workflows/workflow-clean-cache.yml
  .github/workflows/workflow-continuous-integration.yml
  .github/workflows/workflow-create-or-update-release.yml
  .github/workflows/workflow-create-preview-comment.yml
  .github/workflows/workflow-merge-queue.yml
  .github/workflows/workflow-post-merge.yml
Due: pnpm run lint:root --

fix(ci): fix preview comment workflow not having correct env vars
  .github/workflows/workflow-create-preview-comment.yml
Due: pnpm run lint:root --

chore: add hook wrapper second retry logging Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/src/utils/hook-wrapper.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

feat: refactor gitlab to alchemy Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/package.json
  apps/server/src/utils/hook-wrapper.spec.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/miracle/eslint.config.js
  packages/miracle/package.json
  packages/miracle/src/gitlab/api.ts
  packages/miracle/src/gitlab/client.ts
  packages/miracle/src/gitlab/http.ts
  packages/miracle/src/gitlab/index.ts
  packages/miracle/src/gitlab/pagination.ts
  packages/miracle/src/gitlab/types.ts
  packages/miracle/src/index.ts
  packages/miracle/src/state/memory-state-store.ts
  packages/miracle/tsconfig.eslint.json
  packages/miracle/tsconfig.json
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/custom-attributes.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/group.ts
  plugins/gitlab/src/members.ts
  plugins/gitlab/src/monitor.ts
  plugins/gitlab/src/project.ts
  plugins/gitlab/src/repositories.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: remove dotenv dep Signed-off-by: William Phetsinorath <william.phetsinorath@shikanime.studio>
  apps/client/package.json
  apps/client/vite.config.ts
  apps/server-nestjs/package.json
  apps/server-nestjs/prisma.config.ts
  apps/server/package.json
  apps/server/prisma.config.ts
  apps/server/src/utils/env.ts
  playwright/package.json
  playwright/playwright.config.ts
  playwright/tsconfig.json
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

chore: remove dotenv dep Signed-off-by: William Phetsinorath <william.phetsinorath@shikanime.studio>
  apps/client/package.json
  apps/client/vite.config.ts
  apps/server-nestjs/package.json
  apps/server-nestjs/prisma.config.ts
  apps/server/package.json
  apps/server/prisma.config.ts
  apps/server/src/utils/env.ts
  playwright/package.json
  playwright/playwright.config.integration.ts
  playwright/playwright.config.ts
  playwright/tsconfig.json
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

chore: remove dotenv dep Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/client/package.json
  apps/client/vite.config.ts
  apps/server-nestjs/package.json
  apps/server-nestjs/prisma.config.ts
  apps/server/package.json
  apps/server/prisma.config.ts
  apps/server/src/utils/env.ts
  playwright/package.json
  playwright/playwright.config.integration.ts
  playwright/playwright.config.ts
  playwright/tsconfig.json
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

fix: root admin role should be externally managed Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/src/prisma/migrations/20260415103000_set_root_admin_to_system_external/migration.sql
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

refactor(argocd): migrate ArgoCD to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/Dockerfile
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-datastore.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-health.service.ts
  apps/server-nestjs/src/modules/argocd/argocd.module.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.spec.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
  apps/server-nestjs/src/modules/gitlab/files/.gitlab-ci.yml
  apps/server-nestjs/src/modules/gitlab/files/mirror.sh
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-datastore.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-health.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-testing.utils.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.constants.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.module.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault-datastore.service.ts
  apps/server-nestjs/src/modules/vault/vault-health.service.ts
  apps/server-nestjs/src/modules/vault/vault-http-client.service.ts
  apps/server-nestjs/src/modules/vault/vault.module.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  apps/server-nestjs/src/modules/vault/vault.utils.ts
  apps/server-nestjs/src/prisma/schema/project.prisma
  apps/server-nestjs/src/utils/iterable.ts
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

refactor(argocd): migrate ArgoCD to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/Dockerfile
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-datastore.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-health.service.ts
  apps/server-nestjs/src/modules/argocd/argocd.module.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.spec.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
  apps/server-nestjs/src/modules/gitlab/files/.gitlab-ci.yml
  apps/server-nestjs/src/modules/gitlab/files/mirror.sh
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-datastore.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-health.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-testing.utils.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.constants.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.module.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault-datastore.service.ts
  apps/server-nestjs/src/modules/vault/vault-health.service.ts
  apps/server-nestjs/src/modules/vault/vault-http-client.service.ts
  apps/server-nestjs/src/modules/vault/vault.module.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  apps/server-nestjs/src/modules/vault/vault.utils.ts
  apps/server-nestjs/src/prisma/schema/project.prisma
  apps/server-nestjs/src/utils/iterable.ts
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  apps/server-nestjs/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore: remove js-yaml e18e warning Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/client/package.json
  apps/client/src/components/ClusterForm.vue
  plugins/argocd/package.json
  plugins/argocd/src/functions.ts
  plugins/argocd/src/utils.ts
  plugins/gitlab/package.json
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: upstream static env var to infos
  plugins/argocd/src/functions.spec.ts
  plugins/argocd/src/functions.ts
  plugins/argocd/src/infos.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: remove js-yaml e18e warning Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/client/package.json
  apps/client/src/components/ClusterForm.vue
  plugins/argocd/package.json
  plugins/argocd/src/functions.ts
  plugins/argocd/src/utils.ts
  plugins/gitlab/package.json
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --
