Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm run lint:style --filter=@cpn-console/client --",
  "**/apps/client/**/*": "pnpm run lint:ts --filter=@cpn-console/client --",
  "**/apps/server/**/*": "pnpm run lint --filter=@cpn-console/server --",
  "**/packages/**/*": "pnpm run lint --filter=./packages/* --",
  "**/plugins/**/*": "pnpm run lint --filter=./plugins/* --",
  "**/*": "pnpm run lint:root --"
}

feat(hooks): add project role hooks
  apps/server/src/__mocks__/utils/hook-wrapper.ts
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-role.ts
  packages/hooks/src/hooks/index.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: add system roles on project creation
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/utils/project-utils.ts
  apps/client/src/views/admin/AdminRoles.vue
  apps/server/src/prisma/migrations/20260127164002_add_type_to_roles/migration.sql
  apps/server/src/prisma/schema/admin.prisma
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/queries.ts
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/project/queries.ts
  packages/shared/src/schemas/role.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat(keycloak): add project role creation hook
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/group.ts
  plugins/keycloak/src/index.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: add VSCode debugging configurations
  .vscode/extensions.json
  .vscode/launch.json
Due: pnpm run lint:root --

fix(client): vite config env usage
  apps/client/.env-example
  apps/client/.env.docker-example
  apps/client/.env.integ-example
  apps/client/Dockerfile
  apps/client/nginx/entrypoint.sh
  apps/client/package.json
  apps/client/src/App.vue
  apps/client/src/utils/env.ts
  apps/client/vite.config.ts
  apps/client/vitest.config.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

feat: add OIDC group to project groups
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/utils/project-utils.ts
  apps/server/src/prisma/migrations/20260127154602_add_oidc_group_to_project_role/migration.sql
  apps/server/src/prisma/migrations/migration_lock.toml
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/stage/business.spec.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/zone/business.spec.ts
  packages/shared/src/contracts/project-role.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/role.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore: add VSCode debugging configurations
  .vscode/extensions.json
  .vscode/launch.json
  README.md
Due: pnpm run lint:root --

fix: add schedule trigger on mirror
  plugins/gitlab/files/.gitlab-ci.yml
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(keycloak): add project role creation hook
  apps/server/src/resources/project/business.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/group.ts
  plugins/keycloak/src/index.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(keycloak): add project role creation hook
  apps/server/src/resources/project/business.ts
  playwright/e2e-tests/system-roles.spec.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/group.ts
  plugins/keycloak/src/index.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

docs(RELEASE): add mermaidjs schema
  RELEASE.md
Due: pnpm run lint:root --

chore(ci): rename create-preview-comment to better explicit its purpose
  .github/workflows/workflow-create-preview-comment.yml
Due: pnpm run lint:root --

chore(ci): rename cd workflow to create-or-update-release
  .github/workflows/create-or-update-release.yml
Due: pnpm run lint:root --

chore(ci): rename preview to explicit create-preview-release.yml workflow
  .github/workflows/create-preview-release.yml
Due: pnpm run lint:root --

chore(doc): update main README to fix/update how releases are performed
  README.md
Due: pnpm run lint:root --

chore(ci): move release-please job file to dedicated jobs directory
  .github/jobs/release-please.yml
Due: pnpm run lint:root --

feat(ci): allow hotfixes with release-please
  .github/workflows/cd.yml
Due: pnpm run lint:root --

docs(README): split release section into its own RELEASE.md file
  README.md
  RELEASE.md
Due: pnpm run lint:root --

chore(ci): move all jobs (not workflows) to dedicated directory
  .github/workflows/job-build.yml
  .github/workflows/job-cache.yml
  .github/workflows/job-label.yml
  .github/workflows/job-lint.yml
  .github/workflows/job-npm.yml
  .github/workflows/job-playwright.yml
  .github/workflows/job-release-please.yml
  .github/workflows/job-scan.yml
  .github/workflows/job-tests-component.yml
  .github/workflows/job-tests-deploy.yml
  .github/workflows/job-tests-e2e.yml
  .github/workflows/job-tests-unit.yml
  .github/workflows/workflow-continuous-integration.yml
  .github/workflows/workflow-create-or-update-release.yml
  .github/workflows/workflow-create-preview-release.yml
Due: pnpm run lint:root --

docs(RELEASE): document hotfixes creation workflow
  RELEASE.md
Due: pnpm run lint:root --

chore(ci): rename ci to explicit continuous-integration workflow
  .github/workflows/continuous-integration.yml
Due: pnpm run lint:root --

chore(server-nestjs): add application to the version-bumpable ones
  ci/matrix-npm.json
Due: pnpm run lint:root --

feat(release-please): allow chore, docs, and other commit types to trigger new releases
  release-please-config.json
Due: pnpm run lint:root --

feat(ci): change release-please config and job to allow for hotfixes
  .github/workflows/job-release-please.yml
  release-please-config.json
Due: pnpm run lint:root --

chore(ci): rename workflows
  .github/workflows/workflow-continuous-integration.yml
  .github/workflows/workflow-create-or-update-release.yml
  .github/workflows/workflow-create-preview-release.yml
Due: pnpm run lint:root --

chore(ci): avoid checking out the repository for create-preview-comment
  .github/workflows/workflow-create-preview-comment.yml
Due: pnpm run lint:root --

feat(keycloak): propagate admin roles to Keycloack
  apps/client/src/components/AdminRoleForm.vue
  apps/server/src/__mocks__/utils/hook-wrapper.ts
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/queries.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-admin-role.ts
  packages/hooks/src/hooks/hook-project-role.ts
  packages/hooks/src/hooks/index.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/index.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --
