Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter server, pnpm run format --filter shared, pnpm run format --filter cypress

.lintstagedrc:

{
  "**/client/**/*.{js,ts,vue}": "pnpm run format --filter client",
  "**/client/**/*.{vue,css}": "pnpm run format:style --filter client",
  "**/server/**/*.{js,cjs,ts}": "pnpm run format --filter server",
  "**/shared/**/*.{js,cjs,ts}": "pnpm run format --filter shared",
  "**/cypress/**/*.{js,cjs,ts}": "pnpm run format --filter cypress"
}

feat: :bento: Add images for services logos in public folder
  client/public/img/argocd.png
  client/public/img/gitlab.png
  client/public/img/nexus.png
  client/public/img/quay.png
  client/public/img/sonarqube.png
  client/public/img/vault.png
Due: none

fix config file keycload for TEST
  sso/keycloak/export-realm-test.json
Due: none

test: :white_check_mark: fix e2e tests for Projects and Services
  cypress/e2e/specs/dsoProjects.e2e.js
  cypress/e2e/specs/dsoServices.e2e.js
Due: pnpm run format --filter cypress

feat: :truck: Better images for logos
  client/public/img/gitlab.png
  client/public/img/gitlab.svg
  client/public/img/nexus.png
  client/public/img/quay.png
  client/public/img/quay.svg
  client/public/img/sonarqube.png
  client/public/img/sonarqube.svg
  client/public/img/vault.png
  client/public/img/vault.svg
  client/src/views/projects/DsoServices.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

feat: :sparkles: Add windicss to project
  client/package-lock.json
  client/src/main.js
  client/src/views/DsoProjects.vue
  client/src/views/DsoServices.vue
  client/vite.config.js
  package-lock.json
Due: pnpm run format --filter client, pnpm run format:style --filter client

fix: :bug: Fix after dsfr's upgrade
  client/src/components/SideMenu.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

fix env variable for keycloak
  client/src/utils/oidc/sso-config.js
Due: pnpm run format --filter client

feat: :truck: Create folder projects in views, create store project
  client/src/router/index.js
  client/src/stores/project.js
  client/src/views/projects/DsoDashboard.vue
  client/src/views/projects/DsoProjects.vue
  client/src/views/projects/DsoServices.vue
  client/src/views/projects/DsoTeam.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

chore: :truck: Rename sso dir & files
  client/src/utils/keycloak/init-sso.js
  client/src/utils/keycloak/sso-config.js
  client/vite.config.js
  keycloak/mock-sso.md
  keycloak/realms/realm-test.json
  sso/README.md
  sso/docker-compose.dev.keycloak.yml
Due: pnpm run format --filter client

feat: :sparkles: Create projects view
  client/src/icons.js
  client/src/router/index.js
  client/src/views/DsoDashboard.vue
  client/src/views/DsoProjects.vue
  client/src/views/DsoServices.vue
  client/src/views/DsoTeam.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

ci: :construction_worker: Update ci scripts
  ci/scripts/build-images.sh
  ci/scripts/run-tests.sh
Due: none

test: :white_check_mark: Update unit test for regex
  client/src/utils/regex.spec.js
Due: pnpm run format --filter client

feat: :sparkles: Add allTiles for all services, adapt projectTiles to selectedProject
  client/src/views/projects/DsoServices.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

chore: :wrench: Move env file to get only one master file
  cypress/env/.env-example
  env/.env-example
Due: none

chore: :fire: Remove unused code
  client/src/main.js
  client/src/router/index.js
  client/src/views/AuthComponent.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

ci: :construction_worker: Update env system in compose files
  docker/docker-compose.dev.yml
  docker/docker-compose.e2e.yml
  docker/docker-compose.prod.yml
Due: none

chore: :heavy_plus_sign: Npm i vitest plugin for windicss
  package-lock.json
Due: none

feat: :bento: Definitive logos for services
  client/public/img/argocd.png
  client/public/img/nexus.png
  client/public/img/quay.png
  client/public/img/quay.svg
  client/src/views/projects/DsoServices.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

refactor: :art: Shorten var name in store
  client/src/stores/project.js
  client/src/views/projects/DsoProjects.vue
  client/src/views/projects/DsoServices.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

ci: :hammer: Update npm scripts
  package-lock.json
  package.json
Due: none

chore: :arrow_up: Upgrade all client dep
  client/package-lock.json
  client/package.json
Due: none

docs: :memo: Add JSdoc for OrderProject
  client/src/views/OrderProject.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

feat: :construction: working on api x keycloak
  client/src/api/api.js
  client/src/api/xhr-client.js
  client/src/router/index.js
  client/src/utils/keycloak/init-sso.js
Due: pnpm run format --filter client

chore: :construction: Wip add project controller
  server/src/controllers/project.js
  server/src/models/project-model.js
Due: pnpm run format --filter server

fix: conf keycloak for cors from localhost:8080
  keycloak/realms/realm-test.json
Due: none

chore: :wrench: Update vite host dev server
  client/vite.config.js
Due: pnpm run format --filter client

ci: :construction_worker: Add sonar scan & coverage in CI
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

feat: :card_file_box: Wip app and server js
  docker/docker-compose.dev.yml
  server/Dockerfile
  server/package-lock.json
  server/package.json
  server/src/app.spec.js
  server/src/connect.js
  server/src/server.js
  server/src/server.spec.js
Due: pnpm run format --filter server

feat: :construction: trying to access server /api/v1/version
  docker/docker-compose.dev.yml
  env/.env-example
  server/Dockerfile
  server/package.json
  server/src/app.js
  server/src/routes/index.js
  server/src/server.js
  server/src/utils/date.cjs
  server/src/utils/date.js
  server/src/utils/date.spec.js
  server/src/utils/logger.js
Due: pnpm run format --filter server

feat: :construction: wip pg
  docker/docker-compose.dev.yml
  server/package.json
  server/src/server.js
Due: pnpm run format --filter server

test: :white_check_mark: Add unit tests for api
  client/src/api/api.spec.js
  client/src/api/xhr-client.spec.js
Due: pnpm run format --filter client

chore: :see_no_evil: Add gitkeep for rights in db/pgadmin/data
  .gitignore
  db/pgadmin/data/.gitkeep
  server/.dockerignore
Due: none

feat: :lipstick: thiner projects subheader
  client/src/App.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

chore: :fire: Remove comments
  client/src/router/index.js
  client/src/utils/keycloak/init-sso.js
  package-lock.json
Due: pnpm run format --filter client

feat: :construction: wip add node-postgres
  server/package-lock.json
  server/package.json
  server/src/connect.js
  server/src/models/project-queries.js
  server/src/server.js
  server/src/server.spec.js
Due: pnpm run format --filter server

chore: :see_no_evil: Add sccan & coverage exclusions
  .gitignore
Due: none

ci: :construction_worker: Update act files
  ci/act/docker/Dockerfile
  ci/act/env/.env-example
  ci/act/events/push_tag.json
  ci/act/scripts/run-ci-locally.sh
  ci/act/workflows/test.yml
Due: none

build: :construction_worker: Update docker files
  client/Dockerfile
  docker/docker-compose.prod.yml
Due: none

feat: :art: baudoin's review
  server/src/controllers/projects.js
  server/src/routes/project.js
Due: pnpm run format --filter server

example to get token
  client/src/router/index.js
  client/src/utils/keycloak/init-sso.js
Due: pnpm run format --filter client
