Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm --filter=@cpn-console/client run lint:style --",
  "**/apps/client/**/*": "pnpm --filter=@cpn-console/client run lint:ts --",
  "**/apps/server/**/*": "pnpm --filter=@cpn-console/server run lint --",
  "**/packages/**/*": "pnpm --filter=./packages/* run lint --",
  "**/plugins/**/*": "pnpm --filter=./plugins/* run lint --",
  "**/*": "pnpm run lint:root --"
}

fix: missing nestjs server on vscode coumpounds launch Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  .vscode/launch.json
  apps/server/package.json
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

feat: declarative resources sync via Alchemy Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  packages/miracle/eslint.config.js
  packages/miracle/package.json
  packages/miracle/src/index.ts
  packages/miracle/src/keycloack/index.ts
  packages/miracle/src/keycloack/keycloak-client.ts
  packages/miracle/src/keycloack/resources/client.ts
  packages/miracle/src/keycloack/resources/group-path.ts
  packages/miracle/src/keycloack/resources/user-group-membership.ts
  packages/miracle/src/keycloack/runtime.ts
  packages/miracle/src/keycloack/utils/groups.ts
  packages/miracle/tsconfig.eslint.json
  packages/miracle/tsconfig.json
  plugins/keycloak/package.json
  plugins/keycloak/src/client.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/index.ts
  plugins/keycloak/src/monitor.ts
  pnpm-lock.yaml
Due: pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

feat: add otel Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/src/cpin-module/infrastructure/telemetry/telemetry.service.ts
  apps/server/package.json
  apps/server/src/bootstrap.ts
  apps/server/src/prisma/migrations/20260402095325_dso/migration.sql
  apps/server/src/telemetry.ts
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

fix: nginx fails on non-bash style shell Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/package.json
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

fix: improve pagination search Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix: improve pagination search Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/src/bootstrap.ts
  apps/server/src/prepare-app.ts
  apps/server/src/runtime.ts
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix: improve pagination search Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/src/bootstrap.ts
  apps/server/src/prepare-app.ts
  apps/server/src/runtime.ts
  packages/shared/src/utils/functions.ts
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(gitlab-plugin): force all endpoint to have the same 1000rps rate-limit
  plugins/gitlab/src/utils.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(gitlab-plugin): acknowledge typing error after bumbing gitbeaker to v43
  plugins/gitlab/src/class.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(gitlab-plugin): bump gitbeaker to 43.8
  plugins/gitlab/package.json
  pnpm-lock.yaml
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

revert(gitlab-plugin): bump gitbeaker to 43.8
  plugins/gitlab/package.json
  pnpm-lock.yaml
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(nginx): change default proxy timeout from 60s to an explicit 180s one
  apps/client/nginx/default.conf
  apps/client/nginx/default.docker.conf
  apps/nginx-strangler/conf.d/routing.conf
  apps/nginx-strangler/nginx.conf
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --
