Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

refactor: :zap: improve cluster environments query
  apps/server/src/resources/cluster/admin/business.ts
  apps/server/src/resources/cluster/admin/controllers.spec.ts
  apps/server/src/resources/cluster/queries.ts
Due: pnpm run format --filter @cpn-console/server --

refactor: :zap: choice selector return array of valueKeys
  apps/client/src/components/ChoiceSelector.vue
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/QuotaForm.vue
  apps/client/src/components/StageForm.vue
  apps/client/src/components/ZoneForm.vue
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

fix: :lock: serialize sevice monitor response
  apps/server/src/resources/index.ts
Due: pnpm run format --filter @cpn-console/server --

feat: :necktie: hide private quotas for all on environment form
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/admin/quotas.e2e.ts
  apps/client/src/components/EnvironmentForm.vue
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

ci: :construction_worker: test chart deployment on each release flow
  .github/workflows/ci.yml
Due: none

ci: :technologist: fix turbo pipelines for cypress with UI
  package.json
  turbo.json
Due: none

ci: :green_heart: use chrome instead of electron in cypress
  .github/workflows/ci.yml
Due: none

fix: :bug: insert user when first accessing admin pages
  apps/server/src/resources/cluster/admin/business.ts
  apps/server/src/resources/cluster/business.ts
  apps/server/src/resources/quota/business.ts
  packages/eslintconfig/index.js
Due: pnpm run format --filter @cpn-console/server --

refactor: :necktie: auto signup from front
  apps/client/src/stores/user.spec.ts
  apps/client/src/stores/user.ts
  apps/server/src/resources/cluster/admin/business.ts
  apps/server/src/resources/cluster/business.ts
  apps/server/src/resources/organization/business.ts
  apps/server/src/resources/organization/controllers.spec.ts
  apps/server/src/resources/organization/router.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/controllers.spec.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/project/router.ts
  apps/server/src/resources/quota/business.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/queries.ts
  apps/server/src/resources/user/router.ts
  packages/eslintconfig/index.js
  packages/shared/src/contracts/user.ts
  packages/shared/src/schemas/user.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

style: :lipstick: rework cluster form
  apps/client/cypress/components/specs/cluster-form.ct.ts
  apps/client/cypress/components/specs/zone-form.ct.ts
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/cypress/e2e/specs/admin/stages.e2e.ts
  apps/client/cypress/e2e/specs/admin/zones.e2e.ts
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/ZoneForm.vue
  apps/client/src/stores/admin/cluster.spec.ts
  apps/client/src/stores/admin/cluster.ts
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListQuotas.vue
  apps/client/src/views/admin/ListStages.vue
  apps/client/src/views/admin/ListZones.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/resources/cluster/admin/business.ts
  apps/server/src/resources/cluster/admin/controllers.spec.ts
  apps/server/src/resources/cluster/admin/router.ts
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/resources/index-admin.ts
  apps/server/src/resources/index.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/repository/controllers.spec.ts
  apps/server/src/resources/stage/admin/business.ts
  apps/server/src/resources/zone/admin/controllers.spec.ts
  apps/server/src/resources/zone/business.ts
  apps/server/src/resources/zone/queries.ts
  apps/server/src/utils/fastify.ts
  packages/shared/src/contracts/cluster.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/zone.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/src/utils/random-project.ts
  packages/test-utils/src/utils/random-utils.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

chore: :recycle: minor changes
  README.md
  apps/server/src/server.ts
  ci/scripts/run-tests.sh
  packages/test-utils/src/utils/random-utils.ts
Due: pnpm run format --filter @cpn-console/server --

fix: :lipstick: repo should be able to change infra, not infra
  apps/client/cypress/components/specs/repo-form.ct.ts
  apps/client/cypress/e2e/specs/repos.e2e.ts
  apps/client/src/components/RepoForm.vue
  apps/server/src/resources/repository/router.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --

refactor: :fire: no need for projectId in environments routes
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/admin/quotas.e2e.ts
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/src/stores/project-environment.ts
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.spec.ts
  apps/server/src/resources/environment/router.ts
  packages/shared/src/contracts/environment.ts
  packages/shared/src/schemas/environment.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

refactor: :truck: move organizations route
  apps/client/cypress/e2e/specs/admin/organizations.e2e.ts
  apps/client/src/stores/admin/organization.spec.ts
  apps/client/src/stores/admin/organization.ts
  apps/client/src/stores/organization.spec.ts
  apps/client/src/stores/organization.ts
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListOrganizations.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/server/src/resources/index-admin.ts
  apps/server/src/resources/index.ts
  apps/server/src/resources/organization/admin/business.ts
  apps/server/src/resources/organization/admin/controllers.spec.ts
  apps/server/src/resources/organization/admin/router.ts
  apps/server/src/resources/organization/business.ts
  apps/server/src/resources/organization/controllers.spec.ts
  apps/server/src/resources/organization/queries.ts
  apps/server/src/resources/organization/router.ts
  apps/server/src/utils/controller.ts
  packages/shared/package.json
  packages/shared/src/api-client.ts
  packages/shared/src/contracts/organization.ts
  packages/shared/src/schemas/organization.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/shared/src/utils/schemas.ts
  pnpm-lock.yaml
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

feat: :sparkles: query filter admin projects
  apps/server/src/resources/project/admin/business.ts
  apps/server/src/resources/project/admin/router.ts
  apps/server/src/resources/project/queries.ts
  packages/shared/src/contracts/project.ts
  packages/shared/src/schemas/project.ts
Due: pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

refactor: :lock: remove sensitive keys in logs
  packages/hooks/src/utils/logger.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/utils.ts
Due: none

test: :white_check_mark: change path for e2e tests
  apps/client/cypress/e2e/specs/admin/organizations.e2e.ts
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/admin/quotas.e2e.ts
  apps/client/cypress/e2e/specs/admin/stages.e2e.ts
  apps/client/cypress/e2e/specs/create-project.e2e.ts
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/cypress/e2e/specs/projects.e2e.ts
  apps/client/cypress/e2e/specs/redirection.e2e.ts
  apps/client/cypress/e2e/specs/repos.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
Due: pnpm run format --filter @cpn-console/client --

test: ✅ change path for e2e tests
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/admin/quotas.e2e.ts
  apps/client/cypress/e2e/specs/environments.e2e.ts
Due: pnpm run format --filter @cpn-console/client --

fix: :bug: retrieve all clusters for an admin
  apps/server/src/resources/cluster/business.ts
  apps/server/src/resources/cluster/queries.ts
Due: pnpm run format --filter @cpn-console/server --

refactor: :recycle: calcul where in business
  apps/server/src/resources/cluster/business.ts
  apps/server/src/resources/cluster/queries.ts
Due: pnpm run format --filter @cpn-console/server --

refactor: :recycle: add response validations
  apps/client/cypress/components/specs/team-ct.ct.ts
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/TeamCt.vue
  apps/client/src/stores/admin/project.spec.ts
  apps/client/src/stores/admin/project.ts
  apps/client/src/utils/func.ts
  apps/client/src/views/admin/ListProjects.vue
  apps/server/src/resources/index-admin.ts
  apps/server/src/resources/index.ts
  apps/server/src/resources/log/admin/controllers.spec.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/controllers.spec.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/system/config/business.ts
  apps/server/src/resources/system/config/router.ts
  apps/server/src/resources/system/router.ts
  apps/server/src/resources/zone/admin/controllers.spec.ts
  packages/shared/src/schemas/system.ts
  packages/test-utils/src/utils/random-utils.ts
  packages/test-utils/src/utils/types.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

refactor: :recycle: calcul where in business
  apps/server/src/resources/cluster/business.ts
  apps/server/src/resources/cluster/queries.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter @cpn-console/server --

refactor: :truck: merge cluster routes
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/cypress/e2e/specs/admin/zones.e2e.ts
  apps/client/src/stores/admin/cluster.ts
  apps/client/src/stores/cluster.spec.ts
  apps/client/src/stores/cluster.ts
  apps/client/src/views/admin/ListClusters.vue
  apps/server/src/resources/cluster/admin/controllers.spec.ts
  apps/server/src/resources/cluster/admin/router.ts
  apps/server/src/resources/cluster/router.ts
  apps/server/src/resources/index-admin.ts
  packages/shared/src/api-client.ts
  packages/shared/src/contracts/cluster.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

refactor: 🚚 move log route
  apps/client/cypress/e2e/specs/admin/logs.e2e.ts
  apps/client/src/stores/admin/log.spec.ts
  apps/client/src/stores/admin/log.ts
  apps/server/src/resources/index-admin.ts
  apps/server/src/resources/index.ts
  apps/server/src/resources/log/admin/business.ts
  apps/server/src/resources/log/business.ts
  apps/server/src/resources/log/controllers.spec.ts
  apps/server/src/resources/log/queries.ts
  apps/server/src/resources/log/router.ts
  apps/server/src/resources/queries-index.ts
  packages/shared/src/api-client.ts
  packages/shared/src/contracts/log.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

refactor: :truck: merge projects routes
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/src/stores/admin/project.spec.ts
  apps/client/src/stores/admin/project.ts
  apps/client/src/stores/project.spec.ts
  apps/client/src/stores/project.ts
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/server/src/resources/index-admin.ts
  apps/server/src/resources/project/admin/business.ts
  apps/server/src/resources/project/admin/controllers.spec.ts
  apps/server/src/resources/project/admin/router.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/controllers.spec.ts
  apps/server/src/resources/project/router.ts
  packages/shared/src/api-client.ts
  packages/shared/src/contracts/project.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

refactor: :bug: give permissions on all environments to new owner
  apps/client/cypress/components/specs/permission-form.ct.ts
  apps/client/cypress/e2e/specs/permissions.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/src/components/PermissionForm.vue
  apps/client/src/components/RangeInput.vue
  apps/client/src/stores/project-permission.spec.ts
  apps/client/src/stores/project-permission.ts
  apps/server/src/app.ts
  apps/server/src/resources/permission/business.ts
  apps/server/src/resources/permission/controllers.spec.ts
  apps/server/src/resources/permission/queries.ts
  apps/server/src/resources/permission/router.ts
  apps/server/src/resources/user/admin/business.ts
  apps/server/src/resources/user/admin/router.ts
  apps/server/src/resources/user/business.ts
  packages/shared/src/contracts/permission.ts
  packages/shared/src/schemas/permission.ts
  packages/test-utils/src/utils/random-project.ts
  packages/test-utils/src/utils/random-utils.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

Path conditions:
  pnpm run format --filter @cpn-console/client --: any of: **/client/**/*.{js,ts,vue,cjs}
  pnpm run format:style --filter @cpn-console/client --: any of: **/client/**/*.{vue,css}
  pnpm run format --filter @cpn-console/server --: any of: **/server/**/*.{js,cjs,ts}
  pnpm run format --filter @cpn-console/shared --: any of: **/shared/**/*.{js,cjs,ts}
