Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

feat(argocd): add well known OIDC groups from ADR14 (#1946)
  plugins/argocd/src/functions.spec.ts
  plugins/argocd/src/functions.ts
  plugins/argocd/src/infos.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix: import missing Prisma mocks (#1976)
  apps/server-nestjs/src/__mocks__/prisma.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/utils.spec.ts
Due: pnpm run lint:root --

feat(server-nestjs): dockerize the service
  apps/server-nestjs/.env.docker-example
  apps/server-nestjs/Dockerfile
  apps/server-nestjs/package.json
  apps/server-nestjs/prisma.config.ts
  apps/server-nestjs/src/main.ts
Due: pnpm run lint:root --

chore: add nginx and server-nestjs to deployments
  ENVIRONMENTS.md
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
  docker/docker-compose.local.yml
  docker/docker-compose.prod.yml
Due: pnpm run lint:root --

fix(ci): fix server and server-nestjs being mixed up when downloading digests
  .github/workflows/job-build.yml
Due: pnpm run lint:root --

feat(nginx): add strangler nginx service
  apps/client/.env-example
  apps/client/nginx/default.docker.conf
  apps/server-nestjs/documentation/mise-en-place-nginx-etrangleur/PLAN.md
  nginx/Dockerfile
  nginx/README.md
  nginx/conf.d/routing.conf
  nginx/conf.d/routing.local.conf.example
  nginx/nginx.conf
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

chore(ci): add server-nestjs and its strangler nginx to workflows
  .github/workflows/job-lint.yml
  .github/workflows/job-playwright.yml
  ci/matrix-docker.json
Due: pnpm run lint:root --

chore(nginx-strangler): move nginx-strangler to apps directory
  .github/workflows/job-lint.yml
  .github/workflows/job-playwright.yml
  ENVIRONMENTS.md
  apps/client/nginx/README.md
  apps/nginx-strangler/Dockerfile
  apps/nginx-strangler/README.md
  apps/nginx-strangler/conf.d/routing.conf
  apps/nginx-strangler/conf.d/routing.local.conf.example
  apps/nginx-strangler/nginx.conf
  apps/server-nestjs/documentation/Modularisation-de-console-server/01-MODULARISATION-STRATEGIE.md
  apps/server-nestjs/documentation/mise-en-place-nginx-etrangleur/PLAN.md
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
  docker/docker-compose.local.yml
  docker/docker-compose.prod.yml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

chore: bump axios to 1.13.x
  apps/client/package.json
  apps/server-nestjs/package.json
  apps/server/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

feat(nginx-strangler): add new app to github published packages
  apps/nginx-strangler/Dockerfile
  ci/matrix-docker.json
Due: pnpm run lint:root --

chore: bump axios to 1.13.x (#1988)
  apps/client/package.json
  apps/server-nestjs/package.json
  apps/server/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: add instrumentation Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/instrumentation.ts
  apps/server-nestjs/src/main.ts
  docker/docker-compose.local.yml
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore: remove jest in profit to vitest
  AGENTS.md
  apps/server-nestjs/package.json
  apps/server-nestjs/test/jest-e2e.json
  pnpm-lock.yaml
Due: pnpm run lint:root --

refactor(keycloak): migrate Keycloak plugin to NestJS
  apps/server-nestjs/.env-example
  apps/server-nestjs/.env.docker-example
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/prisma.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/infrastructure.module.ts
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/iam/decorators/check-policies.decorator.ts
  apps/server-nestjs/src/modules/iam/factories/casl-ability.factory.ts
  apps/server-nestjs/src/modules/iam/guards/policies.guard.ts
  apps/server-nestjs/src/modules/iam/iam.module.ts
  apps/server-nestjs/src/modules/keycloak/keycloack.utils.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-client.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-controller.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-controller.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-datastore.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.constant.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.module.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.ts
  apps/server-nestjs/src/prisma/schema/project.prisma
  apps/server-nestjs/test/app.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

refactor(argocd): migrate ArgoCD to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-controller.service.spec.ts
  apps/server-nestjs/src/modules/argocd/argocd-controller.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-datastore.service.ts
  apps/server-nestjs/src/modules/argocd/argocd.module.ts
  apps/server-nestjs/src/modules/argocd/argocd.utils.ts
  apps/server-nestjs/src/modules/gitlab/files/.gitlab-ci.yml
  apps/server-nestjs/src/modules/gitlab/files/mirror.sh
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-controller.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-controller.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-datastore.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-datastore.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.constant.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.module.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.utils.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault.module.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
Due: pnpm run lint:root --

chore(vault): migrate Vault plugin to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/.envrc
  apps/server-nestjs/prisma.config.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault-datastore.service.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  apps/server-nestjs/src/modules/vault/vault.utils.ts
Due: pnpm run lint:root --

head Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  .vscode/launch.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloack.controller.ts
Due: pnpm run lint:root --

fix: shared package for nodenext module resolution
  packages/shared/package.json
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(argocd): migrate ArgoCD to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-controller.service.spec.ts
  apps/server-nestjs/src/modules/argocd/argocd-controller.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-datastore.service.ts
  apps/server-nestjs/src/modules/argocd/argocd.module.ts
  apps/server-nestjs/src/modules/argocd/argocd.utils.ts
  apps/server-nestjs/src/modules/gitlab/files/.gitlab-ci.yml
  apps/server-nestjs/src/modules/gitlab/files/mirror.sh
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-controller.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-controller.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-datastore.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-datastore.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.constant.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.module.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.utils.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault.module.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

head Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  .vscode/launch.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloack.controller.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-datastore.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.module.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.utils.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.ts
  apps/server-nestjs/src/modules/registry/registry.module.ts
  apps/server-nestjs/src/modules/registry/registry.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/src/modules/registry/registry.utils.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault-controller.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault-controller.service.ts
  apps/server-nestjs/src/modules/vault/vault-datastore.service.ts
  apps/server-nestjs/src/modules/vault/vault.module.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  apps/server-nestjs/src/modules/vault/vault.utils.ts
Due: pnpm run lint:root --

chore(vault): migrate Vault plugin to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/.envrc
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault-datastore.service.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  apps/server-nestjs/src/modules/vault/vault.utils.ts
Due: pnpm run lint:root --

fix: missing prisma client Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/prisma.config.ts
Due: pnpm run lint:root --

head Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  .vscode/launch.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloack.controller.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.module.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.utils.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.ts
  apps/server-nestjs/src/modules/registry/registry.module.ts
  apps/server-nestjs/src/modules/registry/registry.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/src/modules/registry/registry.utils.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault-controller.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault-controller.service.ts
  apps/server-nestjs/src/modules/vault/vault-datastore.service.ts
  apps/server-nestjs/src/modules/vault/vault.module.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  apps/server-nestjs/src/modules/vault/vault.utils.ts
Due: pnpm run lint:root --

Path conditions:
  pnpm --filter=@cpn-console/client run lint:style --: any of: **/apps/client/**/*.{vue,css}
  pnpm --filter=@cpn-console/client run lint:ts --: any of: **/apps/client/**/*
  pnpm --filter=@cpn-console/server run lint --: any of: **/apps/server/**/*
  pnpm --filter=./packages/* run lint --: any of: **/packages/**/*
  pnpm --filter=./plugins/* run lint --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
