Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore(client): ensure build fails if typing system is not sound
  apps/client/package.json
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

"refactor(revert): split Gitlab classes in separate files"
  plugins/argocd/src/functions.ts
  plugins/gitlab/package.json
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/gitlab-api.ts
  plugins/gitlab/src/gitlab-zone-api.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/members.ts
  plugins/gitlab/src/repositories.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: avoid deleting new Application (and subresources)
  plugins/argocd/src/functions.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

test(playwright): :bug: fix waitForAndClick input call
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm run lint:root --

fix: upgrade to dso-ns chart version 1.1.5 to use project slug in Vault secret path
  plugins/argocd/src/functions.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(ci): allow hotfixes with release-please
  .github/workflows/cd.yml
Due: pnpm run lint:root --

chore(ci): rename cd workflow to create-or-update-release
  .github/workflows/create-or-update-release.yml
Due: pnpm run lint:root --

chore(ci): move release-please job file to dedicated jobs directory
  .github/jobs/release-please.yml
Due: pnpm run lint:root --

chore(ci): rename ci to explicit continuous-integration workflow
  .github/workflows/continuous-integration.yml
Due: pnpm run lint:root --

chore(doc): update main README to fix/update how releases are performed
  README.md
Due: pnpm run lint:root --

chore(ci): move all jobs (not workflows) to dedicated directory
  .github/workflows/job-build.yml
  .github/workflows/job-cache.yml
  .github/workflows/job-label.yml
  .github/workflows/job-lint.yml
  .github/workflows/job-npm.yml
  .github/workflows/job-playwright.yml
  .github/workflows/job-release-please.yml
  .github/workflows/job-scan.yml
  .github/workflows/job-tests-component.yml
  .github/workflows/job-tests-deploy.yml
  .github/workflows/job-tests-e2e.yml
  .github/workflows/job-tests-unit.yml
  .github/workflows/workflow-continuous-integration.yml
  .github/workflows/workflow-create-or-update-release.yml
  .github/workflows/workflow-create-preview-release.yml
Due: pnpm run lint:root --

chore(ci): rename preview to explicit create-preview-release.yml workflow
  .github/workflows/create-preview-release.yml
Due: pnpm run lint:root --

chore(server-nestjs): add application to the version-bumpable ones
  ci/matrix-npm.json
Due: pnpm run lint:root --

feat(ci): change release-please config and job to allow for hotfixes
  .github/workflows/job-release-please.yml
  release-please-config.json
Due: pnpm run lint:root --

chore(ci): rename workflows
  .github/workflows/workflow-continuous-integration.yml
  .github/workflows/workflow-create-or-update-release.yml
  .github/workflows/workflow-create-preview-release.yml
Due: pnpm run lint:root --

feat(release-please): allow chore, docs, and other commit types to trigger new releases
  release-please-config.json
Due: pnpm run lint:root --

chore(ci): rename create-preview-comment to better explicit its purpose
  .github/workflows/workflow-create-preview-comment.yml
Due: pnpm run lint:root --

chore(ci): avoid checking out the repository for create-preview-comment
  .github/workflows/workflow-create-preview-comment.yml
Due: pnpm run lint:root --

docs(README): split release documentation into its own RELEASE.md file
  README.md
  RELEASE.md
Due: pnpm run lint:root --

feat: add OIDC group to project groups
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/utils/project-utils.ts
  apps/server/src/prisma/migrations/20260127154602_add_oidc_group_to_project_role/migration.sql
  apps/server/src/prisma/migrations/migration_lock.toml
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project-role/queries.ts
  packages/shared/src/contracts/project-role.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/role.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: add system roles on project creation
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/utils/project-utils.ts
  apps/client/src/views/admin/AdminRoles.vue
  apps/server/src/prisma/migrations/20260127164002_add_type_to_roles/migration.sql
  apps/server/src/prisma/schema/admin.prisma
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/queries.ts
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/project/queries.spec.ts
  apps/server/src/resources/project/queries.ts
  packages/shared/src/schemas/role.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore: fix business typing
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/utils/project-utils.ts
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/stage/business.spec.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/zone/business.spec.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

feat: add system roles on project creation
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/views/admin/AdminRoles.vue
  apps/server/src/prisma/migrations/20260127164002_add_type_to_roles/migration.sql
  apps/server/src/prisma/schema/admin.prisma
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/queries.ts
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/project/queries.ts
  packages/shared/src/schemas/role.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix: update and delete admin role is done on project instead of admin
  apps/server/src/resources/admin-role/queries.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

chore: add VSCode debugging configurations
  .vscode/launch.json
Due: pnpm run lint:root --

chore: add VSCode debugging configurations
  .vscode/extensions.json
  .vscode/launch.json
Due: pnpm run lint:root --

docs(README): split release section into its own RELEASE.md file
  README.md
  RELEASE.md
Due: pnpm run lint:root --

docs(RELEASE): document hotfixes creation workflow
  RELEASE.md
Due: pnpm run lint:root --

docs(RELEASE): add mermaidjs schema
  RELEASE.md
Due: pnpm run lint:root --

feat: add OIDC group to project groups
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/utils/project-utils.ts
  apps/server/src/prisma/migrations/20260127154602_add_oidc_group_to_project_role/migration.sql
  apps/server/src/prisma/migrations/migration_lock.toml
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/project/business.ts
  packages/shared/src/contracts/project-role.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/role.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: add OIDC group to project groups
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/utils/project-utils.ts
  apps/server/src/prisma/migrations/20260127154602_add_oidc_group_to_project_role/migration.sql
  apps/server/src/prisma/migrations/migration_lock.toml
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/stage/business.spec.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/zone/business.spec.ts
  packages/shared/src/contracts/project-role.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/role.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: add system roles to Keycloack
  plugins/keycloak/src/functions.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

Path conditions:
  pnpm run lint:style --filter=@cpn-console/client --: any of: **/apps/client/**/*.{vue,css}
  pnpm run lint:ts --filter=@cpn-console/client --: any of: **/apps/client/**/*
  pnpm run lint --filter=@cpn-console/server --: any of: **/apps/server/**/*
  pnpm run lint --filter=./packages/* --: any of: **/packages/**/*
  pnpm run lint --filter=./plugins/* --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
