Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

ci: :construction_worker: set the scope of the GH token for automatic Helm chart releases
  .github/workflows/cd.yml
Due: pnpm run lint:root --

feat: link cluster resources checkbox and privacy selector
  apps/client/cypress/components/specs/cluster-form.ct.ts
  apps/client/src/components/ClusterForm.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore: apply formatting on file
  plugins/argocd/src/app-project.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: fix formatting issue
  apps/client/src/views/projects/DsoProjects.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

fix: remove cluster resources to avoid confusion on its usage
  apps/client/cypress/components/specs/cluster-form.ct.ts
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/src/components/ClusterForm.vue
  plugins/argocd/src/app-project.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: ✨ Add the repo UID display on console
  apps/client/src/components/ProjectResources.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

feat: add README for ArgoCD plugin
  plugins/argocd/README.md
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix(1638): add validation for repo names in Zod schema
  packages/shared/src/schemas/repository.ts
  packages/shared/src/utils/const.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: :rocket: empty Vault url to use the default VaultConnection
  apps/server/.env.integ-example
  plugins/argocd/src/functions.ts
  plugins/vault/src/class.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :sparkles: create contact email environment variable
  apps/client/.env-example
  apps/client/.env.docker-example
  apps/client/cypress/e2e/specs/admin/system-settings.e2e.ts
  apps/client/src/utils/env.ts
  apps/client/src/views/DsoHome.vue
  apps/client/src/views/DsoMaintenance.vue
  apps/client/src/views/NotFound.vue
  apps/server/.env-example
  apps/server/.env.docker-example
  apps/server/src/utils/env.ts
  apps/server/vitest-init.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

feat: add Playwright E2E tests for Keycloak
  README.md
  e2e-tests/example.spec.ts
  e2e-tests/keycloak.spec.ts
  package.json
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore: requalify Cypress as such instead of just 'e2e' tests
  .github/workflows/ci.yml
  .github/workflows/tests-e2e.yml
Due: pnpm run lint:root --

chore: move Playwright tests to their own PNPM package
  .gitignore
  README.md
  package.json
  playwright/README.md
  playwright/e2e-tests/keycloak.spec.ts
  playwright/package.json
  playwright/playwright.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint:root --

chore: add Playwright
  .github/workflows/playwright.yml
  .gitignore
  e2e-tests/example.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

fix: fix docker build permissions to allow local path import
  ci/kind/run-build.sh
Due: pnpm run lint:root --

feat: configure Playwright Github workflow
  .github/workflows/ci.yml
  .github/workflows/playwright.yml
  apps/server/package.json
  playwright/e2e-tests/keycloak.spec.ts
  playwright/package.json
  playwright/playwright.config.ts
  pnpm-lock.yaml
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

chore: manage a dedicated Playwright dependencies cache
  .github/workflows/playwright.yml
Due: pnpm run lint:root --

fix: fix docker build permissions to allow local path import
  package.json
Due: pnpm run lint:root --

chore: clarify documentation regarding local integ deployment
  README.md
Due: pnpm run lint:root --

chore(playwright): add a tsconfig.json
  playwright/package.json
  playwright/tsconfig.json
  pnpm-lock.yaml
Due: pnpm run lint:root --

Path conditions:
  pnpm run lint:style --filter=@cpn-console/client --: any of: **/apps/client/**/*.{vue,css}
  pnpm run lint:ts --filter=@cpn-console/client --: any of: **/apps/client/**/*
  pnpm run lint --filter=@cpn-console/server --: any of: **/apps/server/**/*
  pnpm run lint --filter=./packages/* --: any of: **/packages/**/*
  pnpm run lint --filter=./plugins/* --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
