Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format --filter cypress

test: :white_check_mark: Fix unit tests for server
  apps/server/package.json
  apps/server/src/app.spec.js
  apps/server/src/controllers/project.js
  apps/server/src/routes/project.spec.js
  apps/server/src/server.spec.js
  pnpm-lock.yaml
Due: none

feat: :recycle: Baudoin's review, userProfile in store
  apps/client/src/App.vue
  apps/client/src/stores/user.js
  apps/client/src/views/OrderProject.vue
Due: pnpm run format --filter client

fix: :bug: kc logout
  apps/client/src/utils/keycloak/init-sso.js
Due: pnpm run format --filter client

feat: :card_file_box: Add owner from keycloak in project
  apps/client/src/components/SideMenu.vue
  apps/client/src/stores/user.js
  apps/client/src/utils/keycloak/init-sso.js
  apps/client/src/views/OrderProject.vue
  apps/server/src/controllers/project.js
  apps/server/src/utils/keycloak.js
  packages/shared/src/projects/schema.js
Due: pnpm run format --filter client

refactor: :coffin: Remove commented code
  ci/scripts/run-tests.sh
Due: none

refactor: :coffin: Remove unused comments and bode blocks
  apps/client/src/api/xhr-client.spec.js
  apps/client/src/router/index.js
  apps/client/src/stores/user.js
  apps/client/src/utils/keycloak/config-sso.js
  apps/client/src/views/DsoAuth.vue
  apps/server/src/utils/keycloak.js
  docker/docker-compose.dev.yml
  packages/cypress/e2e/support/commands.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :construction: Configure keycloak for frontend
  apps/client/package.json
  apps/client/src/App.vue
  apps/client/src/api/xhr-client.js
  apps/client/src/api/xhr-client.spec.js
  apps/client/src/main.js
  apps/client/src/router/index.js
  apps/client/src/stores/user.js
  apps/client/src/utils/keycloak/config-sso.js
  apps/client/src/utils/keycloak/init-sso.js
  apps/server/package.json
  apps/server/src/app.js
  apps/server/src/controllers/project.js
  apps/server/src/utils/keycloak.js
  apps/server/vitest.config.js
  ci/act/docker/registry/docker-compose.registry.yml
  docker/docker-compose.dev.yml
  env/.env-example
  keycloak/realms/realm-quickstart.json
Due: pnpm run format --filter client

test: :test_tube: Open cypress inside rn test sh
  ci/scripts/run-tests.sh
  package.json
Due: none

chore: :truck: Rename variable managerName
  apps/client/src/views/OrderProject.vue
  apps/server/src/utils/__tests__/random-util.js
  packages/cypress/e2e/specs/orderProject.e2e.js
  packages/shared/src/projects/schema.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

test: :test_tube: Distinct services for prod and server
  ci/scripts/run-tests.sh
  docker/docker-compose.e2e.yml
Due: none

chore: :arrow_up: Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

refactor: :truck: Move client utility functions to shared package
  .github/workflows/test.yml
  apps/client/src/components/RepoForm.vue
  apps/client/src/utils/func.spec.js
  apps/client/src/views/CreateProject.vue
  apps/server/src/controllers/project.js
  apps/server/src/models/project-queries.js
  apps/server/src/utils/__tests__/random-util.js
  docker/docker-compose.ci.yml
  package.json
  packages/shared/package.json
  packages/shared/src/index.js
  packages/shared/src/projects/index.js
  packages/shared/src/projects/schema.js
  packages/shared/src/projects/utils.js
  packages/shared/src/schemas/index.js
  packages/shared/src/schemas/project.js
  packages/shared/src/schemas/repo.js
  packages/shared/src/schemas/user.js
  packages/shared/src/utils/functions.js
  packages/shared/src/utils/functions.spec.js
  packages/shared/src/utils/index.js
  packages/shared/src/utils/schemas.js
  packages/shared/src/utils/schemas.spec.js
  packages/shared/vitest.config.js
  pnpm-lock.yaml
Due: pnpm run format --filter client

test: :truck: Remove globals: true from vite config and import needed modules in tests
  apps/client/src/api/api.spec.js
  apps/client/src/api/xhr-client.spec.js
  apps/client/src/utils/regex.spec.js
  apps/client/vite.config.js
  apps/server/src/app.spec.js
  apps/server/src/routes/project.spec.js
  apps/server/src/server.spec.js
  apps/server/src/utils/date.spec.js
  apps/server/vitest.config.js
Due: pnpm run format --filter client

chore: :fire: Remove unused watch
  apps/client/src/views/projects/DsoRepos.vue
Due: pnpm run format --filter client

ci: :construction_worker: Update docker compose files
  docker/docker-compose.ci.yml
Due: none

refactor: :truck: Rename project key repo to repos
  apps/client/src/views/projects/DsoRepos.vue
  apps/server/src/utils/__tests__/project-util.js
  apps/server/src/utils/__tests__/random-util.js
  docker/docker-compose.ci.yml
  docker/docker-compose.prod.yml
  package.json
  packages/cypress/e2e/specs/repos.e2e.js
  packages/cypress/e2e/support/commands.js
  packages/shared/dev-setup/projects.js
  packages/shared/src/projects/schema.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

refactor: :truck: Rename multiple repo schema keys
  apps/client/src/components/RepoForm.vue
  apps/client/src/utils/func.spec.js
  apps/client/src/views/projects/DsoRepos.vue
  apps/server/src/utils/__tests__/random-util.js
  packages/cypress/e2e/specs/repos.e2e.js
  packages/cypress/e2e/support/commands.js
  packages/shared/dev-setup/projects.js
  packages/shared/src/projects/schema.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

ci: :construction_worker: Update keycloak conf & variables
  .gitignore
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.e2e.yml
  docker/docker-compose.prod.yml
  env/.env-example
  env/.env.ci-example
  keycloak/realms/realm-dev.json
  keycloak/realms/realm-test.json
  package.json
Due: none

style: :fire: Remove comments
  apps/client/src/router/index.js
  apps/server/src/routes/project.spec.js
  packages/cypress/e2e/support/commands.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

chore: :fire: Remove unused vite config for cypress
  packages/cypress/cypress.config.js
  packages/cypress/vite.config.js
Due: pnpm run format --filter cypress

fix: :bug: Remove unintentionaly added import
  apps/client/src/utils/func.spec.js
Due: pnpm run format --filter client

test: :package: Update shared & cypress packages
  packages/cypress/.eslintrc.cjs
  packages/cypress/cypress.config.js
  packages/cypress/e2e/specs/create-project.e2e.js
  packages/cypress/e2e/specs/orderProject.e2e.js
  packages/cypress/e2e/specs/projects.e2e.js
  packages/cypress/e2e/specs/repos.e2e.js
  packages/cypress/e2e/specs/services.e2e.js
  packages/cypress/e2e/specs/sidebar.e2e.js
  packages/cypress/e2e/support/commands.js
  packages/cypress/package.json
  packages/cypress/vite.config.js
  packages/shared/dev-setup/projects.js
  packages/shared/dev-setup/projects.json
  packages/shared/src/projects/schema.js
Due: pnpm run format --filter cypress

fix: :bug: Improve backend & fix in adequation of front changes
  apps/server/.eslintrc.cjs
  apps/server/dev-setup/create-project.js
  apps/server/package.json
  apps/server/src/controllers/project.js
  apps/server/src/models/project-queries.js
  apps/server/src/routes/project.js
  apps/server/src/routes/project.spec.js
  apps/server/src/utils/__tests__/random-util.js
Due: none

test: :white_check_mark: Add updateProject to api test u
  apps/client/src/api/api.spec.js
Due: pnpm run format --filter client

test: :white_check_mark: Add unit test for schemaValidator func
  apps/client/src/utils/func.spec.js
  apps/client/src/views/projects/DsoRepos.vue
Due: pnpm run format --filter client

chore: :heavy_minus_sign: Remove nodemon for new native nodejs watch option
  apps/server/package.json
  pnpm-lock.yaml
Due: none

fix: :white_check_mark: Fix e2e tests on repo
  .github/workflows/test.yml
  apps/client/src/stores/project.js
  apps/client/src/views/projects/DsoRepos.vue
  ci/scripts/init-env.sh
  package.json
  packages/cypress/e2e/specs/create-project.e2e.js
  packages/cypress/e2e/specs/repos.e2e.js
  packages/cypress/e2e/specs/sidebar.e2e.js
  packages/cypress/e2e/support/commands.js
  pnpm-lock.yaml
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :bug: Fix potentital bugs
  apps/client/src/App.vue
  apps/client/src/components/RepoForm.vue
  apps/client/src/views/projects/DsoRepos.vue
Due: pnpm run format --filter client

refactor: :truck: Rename keycloak files in client
  apps/client/src/App.vue
  apps/client/src/api/xhr-client.js
  apps/client/src/api/xhr-client.spec.js
  apps/client/src/main.js
  apps/client/src/stores/user.js
  apps/client/src/utils/keycloak/config.js
  apps/client/src/utils/keycloak/init.js
  apps/client/vite.config.js
Due: pnpm run format --filter client

test: :construction: wip component testing
  apps/client/src/components/ReloadPrompt.vue
  packages/cypress/components/specs/repo-form.ct.js
  packages/cypress/cypress.config.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

chore: :arrow_up: Install project
  pnpm-lock.yaml
Due: none

test: :construction: Adding component test
  packages/cypress/components/support/commands.js
  packages/cypress/components/support/component-index.html
  packages/cypress/components/support/index.js
  packages/cypress/cypress.config.js
  packages/cypress/package.json
  packages/cypress/vite.config.js
  pnpm-lock.yaml
Due: pnpm run format --filter cypress

fix: :rewind: Readd vitest config in shared
  packages/shared/vitest.config.js
Due: none

test: :white_check_mark: Add port for cypress config
  apps/client/cypress.config.js
Due: pnpm run format --filter client

test: :white_check_mark: Deskip Poject and Service e2e tests
  apps/client/cypress/e2e/specs/projects.e2e.js
  apps/client/cypress/e2e/specs/services.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/views/projects/DsoSelectedProject.vue
Due: pnpm run format --filter client, pnpm run format --filter cypress

test: :building_construction: Move cypress folder inside client & update some tests
  .github/workflows/test.yml
  apps/client/.eslintrc.cjs
  apps/client/.stylelintrc.cjs
  apps/client/Dockerfile
  apps/client/cypress.config.js
  apps/client/cypress/Dockerfile
  apps/client/cypress/components/specs/repo-form.ct.js
  apps/client/cypress/components/support/commands.js
  apps/client/cypress/components/support/component-index.html
  apps/client/cypress/components/support/index.js
  apps/client/cypress/e2e/specs/create-project.e2e.js
  apps/client/cypress/e2e/specs/home.e2e.js
  apps/client/cypress/e2e/specs/projects.e2e.js
  apps/client/cypress/e2e/specs/repos.e2e.js
  apps/client/cypress/e2e/specs/services.e2e.js
  apps/client/cypress/e2e/specs/sidebar.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/cypress/e2e/support/index.js
  apps/client/cypress/e2e/support/mailhog-commands.js
  apps/client/package.json
  apps/client/src/api/xhr-client.spec.js
  apps/client/src/components/RepoForm.vue
  apps/client/src/utils/keycloak/init.js
  apps/client/src/utils/keycloak/init.spec.js
  apps/client/vite.config.js
  apps/server/Dockerfile
  docker/docker-compose.ci.yml
  package.json
  packages/cypress/.eslintrc.cjs
  packages/cypress/components/specs/repo-form.ct.js
  packages/cypress/package.json
  packages/cypress/vite.config.js
  pnpm-lock.yaml
Due: pnpm run format --filter client, pnpm run format --filter cypress

test: :white_check_mark: Complete component test
  apps/client/cypress/components/specs/repo-form.ct.js
  apps/client/src/components/RepoForm.vue
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :construction_worker: Remove prod flag for dev stage in server dockerfile
  apps/server/Dockerfile
Due: none

fix: remove double code in dockerfile
  apps/client/Dockerfile
  apps/server/Dockerfile
Due: none

fix: rename and add volumes for keycloak
  docker/docker-compose.dev.yml
  docker/docker-compose.e2e.yml
Due: none

Path conditions:
  pnpm run format --filter client: any of: **/client/**/*.{js,ts,vue,css}
  pnpm run format --filter cypress: any of: **/cypress/**/*.{js,cjs,ts}
