Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm --filter=@cpn-console/client run lint:style --",
  "**/apps/client/**/*": "pnpm --filter=@cpn-console/client run lint:ts --",
  "**/apps/server/**/*": "pnpm --filter=@cpn-console/server run lint --",
  "**/packages/**/*": "pnpm --filter=./packages/* run lint --",
  "**/plugins/**/*": "pnpm --filter=./plugins/* run lint --",
  "**/*": "pnpm run lint:root --"
}

chore(playwright): switch back to only one worker in CI
  playwright/playwright.config.ts
Due: pnpm run lint:root --

chore: update dev commands in package.json to account for server-nestjs
  package.json
Due: pnpm run lint:root --

chore(playwright): bump to 1.59.1
  playwright/package.json
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore(client): migrate from bitnamylegacy docker image
  apps/client/Dockerfile
  apps/client/nginx/default.conf
  apps/client/nginx/default.docker.conf
  apps/client/nginx/entrypoint.sh
  docker/docker-compose.ci.yml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

chore: cleanup tooling Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  AGENTS.md
  ENVIRONMENTS.md
  README.md
  apps/client/Dockerfile
  apps/client/package.json
  apps/server-nestjs/Dockerfile
  apps/server-nestjs/package.json
  apps/server/Dockerfile
  apps/server/package.json
  ci/scripts/run-tests.sh
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
  docker/docker-compose.local.yml
  migrations/v9/Dockerfile
  migrations/v9/Migrate v9-FR.md
  migrations/v9/Migrate v9.md
  migrations/v9/migrate.js
  migrations/v9/package.json
  package.json
  packages/hooks/package.json
  packages/logger/package.json
  packages/opencds/Dockerfile
  packages/shared/package.json
  packages/test-utils/package.json
  pgadmin/servers-docker.json
  pgadmin/servers-kube.json
  playwright/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: cleanup unused tooling Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  AGENTS.md
  ENVIRONMENTS.md
  README.md
  apps/client/Dockerfile
  apps/client/package.json
  apps/server-nestjs/Dockerfile
  apps/server-nestjs/package.json
  apps/server/Dockerfile
  apps/server/package.json
  ci/scripts/run-tests.sh
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
  docker/docker-compose.local.yml
  migrations/v9/Dockerfile
  migrations/v9/Migrate v9-FR.md
  migrations/v9/Migrate v9.md
  migrations/v9/migrate.js
  migrations/v9/package.json
  package.json
  packages/hooks/package.json
  packages/logger/package.json
  packages/opencds/Dockerfile
  packages/shared/package.json
  packages/test-utils/package.json
  pgadmin/servers-docker.json
  pgadmin/servers-kube.json
  playwright/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: cleanup unused tooling Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  AGENTS.md
  ENVIRONMENTS.md
  README.md
  apps/client/Dockerfile
  apps/client/package.json
  apps/server-nestjs/Dockerfile
  apps/server-nestjs/package.json
  apps/server/Dockerfile
  apps/server/package.json
  ci/scripts/run-tests.sh
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
  docker/docker-compose.local.yml
  migrations/v9/Dockerfile
  migrations/v9/Migrate v9-FR.md
  migrations/v9/Migrate v9.md
  migrations/v9/migrate.js
  migrations/v9/package.json
  package.json
  packages/hooks/package.json
  packages/logger/package.json
  packages/opencds/Dockerfile
  packages/shared/package.json
  packages/test-utils/package.json
  pgadmin/servers-docker.json
  pgadmin/servers-kube.json
  playwright/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
  scripts/update-hosts.sh
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(service-chain): fix env vars not being coherent between legacy and nestjs backends
  apps/server-nestjs/.env.docker-example
  docker/docker-compose.ci.yml
Due: pnpm run lint:root --

refactor(server-nestjs): migrate package managers to NestJS
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-datastore.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-health.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-http-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-testing.utils.ts
  apps/server-nestjs/src/modules/nexus/nexus.constants.ts
  apps/server-nestjs/src/modules/nexus/nexus.module.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.utils.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.ts
  apps/server-nestjs/src/modules/registry/registry-datastore.service.ts
  apps/server-nestjs/src/modules/registry/registry-health.service.ts
  apps/server-nestjs/src/modules/registry/registry-http-client.service.ts
  apps/server-nestjs/src/modules/registry/registry.constants.ts
  apps/server-nestjs/src/modules/registry/registry.module.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/src/modules/registry/registry.utils.ts
  apps/server-nestjs/src/modules/vault/vault-testing.utils.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
  apps/server-nestjs/test/registry.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
Due: pnpm run lint:root --

feat: add Registry and Nexus support for fined grained permissions Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/src/modules/nexus/nexus-datastore.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.constants.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/registry/registry-datastore.service.ts
  apps/server-nestjs/src/modules/registry/registry.constants.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/test/registry.e2e-spec.ts
Due: pnpm run lint:root --

chore(server-nestjs): move module to final modules directory
  apps/server-nestjs/src/cpin-module/cpin.module.ts
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/service-chain/open-cds-client.service.spec.ts
  apps/server-nestjs/src/modules/service-chain/open-cds-client.service.ts
  apps/server-nestjs/src/modules/service-chain/service-chain.controller.spec.ts
  apps/server-nestjs/src/modules/service-chain/service-chain.controller.ts
  apps/server-nestjs/src/modules/service-chain/service-chain.module.ts
  apps/server-nestjs/src/modules/service-chain/service-chain.service.spec.ts
  apps/server-nestjs/src/modules/service-chain/service-chain.service.ts
Due: pnpm run lint:root --

chore(server-nestjs): disable auth guard on service-chain (waiting on keycloak module implem)
  apps/server-nestjs/src/modules/service-chain/service-chain.controller.ts
  apps/server-nestjs/src/modules/service-chain/service-chain.module.ts
Due: pnpm run lint:root --

chore(nginx-strangler): change service-chain routing from server to server-nestjs
  apps/nginx-strangler/conf.d/routing.conf
Due: pnpm run lint:root --

chore(opencds): use 3100 instead of 6000 for exposed port
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.local.yml
  packages/opencds/Dockerfile
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(server-nestjs): add new ServiceChain (OpenCDS) module
  apps/server-nestjs/.env.docker-example
  apps/server-nestjs/README.md
  apps/server-nestjs/src/cpin-module/cpin.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/auth/admin-permission.decorator.ts
  apps/server-nestjs/src/cpin-module/infrastructure/auth/admin-permission.guard.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/auth/admin-permission.guard.ts
  apps/server-nestjs/src/cpin-module/infrastructure/auth/auth.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/auth/auth.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/auth/auth.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/cpin-module/service-chain/open-cds-client.service.spec.ts
  apps/server-nestjs/src/cpin-module/service-chain/open-cds-client.service.ts
  apps/server-nestjs/src/cpin-module/service-chain/service-chain.controller.spec.ts
  apps/server-nestjs/src/cpin-module/service-chain/service-chain.controller.ts
  apps/server-nestjs/src/cpin-module/service-chain/service-chain.module.ts
  apps/server-nestjs/src/cpin-module/service-chain/service-chain.service.spec.ts
  apps/server-nestjs/src/cpin-module/service-chain/service-chain.service.ts
  apps/server-nestjs/src/prisma/schema/admin.prisma
Due: pnpm run lint:root --

chore(server-nestjs): rework Dockerfile for dev mode
  apps/server-nestjs/Dockerfile
Due: pnpm run lint:root --

fix(server-nestjs): migrate opencds client from Axios to undici
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/service-chain/open-cds-client.service.spec.ts
  apps/server-nestjs/src/cpin-module/service-chain/open-cds-client.service.ts
  apps/server-nestjs/src/cpin-module/service-chain/service-chain.service.spec.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

docs(server-nestjs): update modularization documents
  apps/server-nestjs/documentation/Modularisation-de-console-server/00-OVERVIEW.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-CARTOGRAPHIE.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-STATUT.md
Due: pnpm run lint:root --

chore(server-nestjs): remove useless ApplicationInitializationService
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.ts
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization.module.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/database-initialization.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/database-initialization.service.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/utils.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/utils.ts
  apps/server-nestjs/src/cpin-module/application-initialization/plugin-management/plugin-management.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/plugin-management/plugin-management.service.ts
  apps/server-nestjs/src/cpin-module/cpin.module.ts
Due: pnpm run lint:root --

feat: add Registry and Nexus support for fined grained permissions Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/src/modules/nexus/nexus-client.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus-datastore.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.constants.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry-datastore.service.ts
  apps/server-nestjs/src/modules/registry/registry.constants.ts
  apps/server-nestjs/src/modules/registry/registry.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/test/registry.e2e-spec.ts
Due: pnpm run lint:root --

feat: add Vault support for fined grained permissions Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault-datastore.service.ts
  apps/server-nestjs/src/modules/vault/vault-http-client.service.ts
  apps/server-nestjs/src/modules/vault/vault.constant.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
Due: pnpm run lint:root --

feat: add Registry and Nexus support for fined grained permissions Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/src/modules/nexus/nexus-client.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus-datastore.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.constants.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry-datastore.service.ts
  apps/server-nestjs/src/modules/registry/registry-testing.utils.ts
  apps/server-nestjs/src/modules/registry/registry.constants.ts
  apps/server-nestjs/src/modules/registry/registry.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/test/registry.e2e-spec.ts
Due: pnpm run lint:root --
