Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:client-js --, npm run format:client-css --, npm run format:cypress --, npm run format:server --

.lintstagedrc:

{
  "client/**/*.{js,vue}": "npm run format:client-js --",
  "client/**/*.{vue, css}": "npm run format:client-css --",
  "cypress/**/*.{js}": "npm run format:cypress --",
  "server/**/**.{js, cjs}": "npm run format:server --"
}

chore(projectInit): :hammer: Remove jsx from vite config and source pre-push
  .husky/pre-push
  client/vite.config.js
Due: npm run format:client-js --

test(projectInit): :test_tube: Remove ct default test
  client/src/components/ReloadPrompt.spec.js
  cypress/components/specs/ReloadPrompt.ct.js
Due: npm run format:client-js --

test(projectInit): :test_tube: Add first func test
  client/src/utils/func.js
  client/src/utils/func.spec.js
Due: npm run format:client-js --

test(projectInit): :white_check_mark: Add cypress config for components
  cypress/cypress.config.js
Due: none

chore(projectInit): :see_no_evil: Add env in gitignore
  .gitignore
  cypress/cypress.config.js
  cypress/plugins/index.js
  env/.env-exemple
Due: none

chore(projectInit): :hammer: Add formatting scripts and update dependancies
  .husky/pre-push
  .lintstagedrc
  ci/init-project.sh
  client/.stylelintrc.js
  client/README.md
  client/package-lock.json
  client/package.json
  client/vite.config.js
  client/vitest-setup.js
  cypress/.dockerignore
  cypress/.eslintrc.js
  cypress/Dockerfile
  cypress/components/specs/ReloadPrompt.ct.js
  cypress/cypress.config.js
  cypress/e2e/specs/home.e2e.js
  cypress/e2e/support/commands.js
  cypress/e2e/support/index.js
  cypress/e2e/support/mailhog-commands.js
  cypress/package-lock.json
  cypress/package.json
  cypress/plugins/index.js
  e2e/cypress.config.js
  e2e/package-lock.json
  e2e/package.json
  e2e/plugins/index.js
  package-lock.json
  package.json
Due: npm run format:client-js --

chore(projectInit): :pushpin: Pin Dsfr version for icon problem
  client/package-lock.json
  client/package.json
Due: none

chore: :package: Improve packages.json
  client/package-lock.json
  client/package.json
  cypress/package-lock.json
  cypress/package.json
  package-lock.json
  package.json
Due: none

chore: :wrench: Update cypress conf
  cypress/cypress.config.js
Due: none

chore: :wrench: Update lintstaged config
  .lintstagedrc
Due: none

ci: :construction_worker: Update CI scripts
  ci/scripts/init-project.sh
  ci/scripts/run-tests.sh
Due: none

chore: :art: Put env file in subfolder to decrease dependency
  cypress/env/.env-example
  env/.env-exemple
Due: none

chore: :wrench: Update nginx client conf & remove remaining pwa stuff
  client/nginx/nginx.conf
  client/src/App.vue
Due: npm run format:client-js --, npm run format:client-css --

ci: :construction_worker: Update docker stuff
  client/.dockerignore
  client/Dockerfile
  cypress/Dockerfile
  docker-compose.e2e.yml
Due: none

chore: :wrench: Update husky config
  .husky/pre-push
Due: none

fix(projectInit): :hammer: Fix run test script for client
  ci/scripts/run-tests.sh
Due: none

chore(projectInit): :technologist: Configure workspace settings
  .vscode/extensions.json
  .vscode/settings.json
  client/.eslintrc.js
  client/jsconfig.json
Due: npm run format:client-js --

chore(projectInit): :hammer: Reunite client-js and client-css in root package
  .lintstagedrc
  package.json
Due: none

ci(projectInit): :technologist: Format js and css separately
  .lintstagedrc
  package.json
Due: none

feat: :construction: Handle menu collapse in sm mode
  client/src/components/SideMenu.vue
Due: npm run format:client-js --, npm run format:client-css --

chore(projectInit): :see_no_evil: Add cypress screenshots to gitignore
  .gitignore
Due: none

Revert "chore(projectInit): :technologist: Configure workspace settings"
  .vscode/extensions.json
  .vscode/settings.json
  client/.eslintrc.js
  client/jsconfig.json
Due: npm run format:client-js --

feat: :construction: Add SideMenu to app
  client/src/App.vue
  client/src/components/SideMenu.vue
  client/src/router/index.js
  cypress/e2e/specs/home.e2e.js
Due: npm run format:client-js --, npm run format:client-css --

fix: :globe_with_meridians: All english for dso-console
  client/src/components/SideMenu.vue
  client/src/router/index.js
  client/src/views/DsoHome.vue
Due: npm run format:client-js --, npm run format:client-css --

Revert "Revert "chore(projectInit): :technologist: Configure workspace settings""
  .vscode/extensions.json
  .vscode/settings.json
  client/.eslintrc.js
  client/jsconfig.json
Due: npm run format:client-js --

feat: :sparkles: Add sidemenu and tmp routes
  client/src/App.vue
  client/src/components/SideMenu.vue
  client/src/router/index.js
Due: npm run format:client-js --, npm run format:client-css --
