Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

feat: :sparkles: display cluster infos to users on environment form
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/EnvironmentForm.vue
  apps/server/src/resources/project/queries.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --

refactor: :label: add dto responses for project and org
  apps/client/src/api/api.ts
  apps/client/src/stores/admin/project.ts
  packages/shared/src/resources/organization/dto.ts
  packages/shared/src/resources/organization/openApiSchema.ts
  packages/shared/src/resources/project/dto.ts
  packages/shared/src/resources/project/openApiSchema.ts
Due: pnpm run format --filter client --, pnpm run format --filter shared --

refactor: :recycle: move AsyncReturnType in shared
  apps/server/src/plugins/core/keycloak/index.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/controller.ts
  packages/shared/src/utils/functions.ts
Due: pnpm run format --filter server --, pnpm run format --filter shared --

fix: :art: refactor of admin project types and refs
  apps/client/src/views/admin/ListProjects.vue
  packages/shared/src/resources/organization/openApiSchema.ts
  packages/shared/src/resources/project/openApiSchema.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter shared --

feat: :children_crossing: add filtering on admin projects view
  apps/client/src/views/admin/ListProjects.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

test: :white_check_mark: add tests for project filtering
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/src/api/api.ts
  apps/client/src/views/admin/ListProjects.vue
  packages/shared/src/resources/organization/dto.ts
  packages/shared/src/resources/project/dto.ts
  packages/shared/src/resources/project/openApiSchema.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter shared --

refactor: :recycle: delegate monitor intelligence to plugins
  apps/client/src/stores/services.ts
  apps/client/src/views/ServicesHealth.vue
  apps/server/src/plugins/core/argo/infos.ts
  apps/server/src/plugins/core/gitlab/infos.ts
  apps/server/src/plugins/core/harbor/infos.ts
  apps/server/src/plugins/core/harbor/monitor.ts
  apps/server/src/plugins/core/keycloak/infos.ts
  apps/server/src/plugins/core/nexus/infos.ts
  apps/server/src/plugins/core/vault/infos.ts
  apps/server/src/plugins/generic-monitor.ts
  apps/server/src/plugins/services.ts
  apps/server/src/resources/service/business.ts
  apps/server/src/resources/service/controllers.ts
  packages/shared/src/resources/index.ts
  packages/shared/src/resources/services/dto.ts
  packages/shared/src/resources/services/index.ts
  packages/shared/src/resources/services/model.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

feat: :speech_balloon: translate stage in front for better understanding
  apps/client/cypress/components/specs/stage-form.ct.ts
  apps/client/cypress/e2e/specs/admin/quotas.e2e.ts
  apps/client/cypress/e2e/specs/admin/stages.e2e.ts
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/QuotaForm.vue
  apps/client/src/components/SideMenu.vue
  apps/client/src/components/StageForm.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/admin/ListStages.vue
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/quota/admin/business.ts
  apps/server/src/resources/quota/admin/controllers.ts
  apps/server/src/resources/stage/admin/business.ts
  apps/server/src/resources/stage/admin/controllers.ts
  apps/server/src/routes/admin/quota.spec.ts
  apps/server/src/routes/admin/stage.spec.ts
  apps/server/src/routes/project-environment.spec.ts
  apps/server/src/routes/stage.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --

build: :art: import types as types
  apps/client/src/stores/ci-files.ts
  apps/client/src/stores/project-environment.ts
  apps/client/src/stores/project.ts
  apps/server/src/generate-files/generate-ci-files.ts
  apps/server/src/plugins/core/gitlab/index.ts
  apps/server/src/plugins/core/kubernetes/namespace.ts
  apps/server/src/plugins/core/sonarqube/check.ts
  apps/server/src/plugins/hooks/environment.ts
  apps/server/src/plugins/hooks/permission.ts
  apps/server/src/plugins/hooks/project.ts
  apps/server/src/plugins/hooks/team.ts
  apps/server/src/resources/cluster/admin/business.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/organization/admin/business.ts
  apps/server/src/resources/organization/business.ts
  apps/server/src/resources/organization/queries.ts
  apps/server/src/resources/permission/business.ts
  apps/server/src/resources/permission/controllers.ts
  apps/server/src/resources/project/admin/business.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/controllers.ts
  apps/server/src/resources/quota/admin/controllers.ts
  apps/server/src/resources/quota/queries.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/repository/controllers.ts
  apps/server/src/resources/repository/queries.ts
  apps/server/src/resources/service/business.ts
  apps/server/src/resources/stage/admin/controllers.ts
  apps/server/src/resources/stage/business.ts
  apps/server/src/resources/stage/queries.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/routes/project.ts
  apps/server/src/types/index.ts
  apps/server/src/utils/business.ts
  apps/server/src/utils/controller.ts
Due: pnpm run format --filter client --, pnpm run format --filter server --

docs: :memo: update documentation url
  .github/ISSUE_TEMPLATE/config.yml
  apps/client/src/components/SideMenu.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

refactor: :recycle: handle error types in front
  apps/client/src/components/CIForm.vue
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/components/TeamCt.vue
  apps/client/src/router/index.ts
  apps/client/src/stores/admin/cluster.ts
  apps/client/src/utils/func.ts
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListLogs.vue
  apps/client/src/views/admin/ListOrganizations.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/admin/ListQuotas.vue
  apps/client/src/views/admin/ListStages.vue
  apps/client/src/views/admin/ListUser.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoProjects.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/client/src/views/projects/ManageEnvironments.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

chore: :loud_sound: add log if cant import plugin
  apps/server/src/plugins/index.ts
  helm/templates/cm-scripts.yaml
Due: pnpm run format --filter server --

chore: :technologist: improve dev start
  ci/kind/run-build.sh
  ci/kind/run-create.sh
  ci/kind/run-load.sh
  ci/kind/run.sh
  package.json
Due: none

fix: :lipstick: now the snackbar can stack messages and limit the length
  apps/client/src/components/DsoSnackbar.vue
  apps/client/src/stores/snackbar.spec.ts
  apps/client/src/stores/snackbar.ts
  apps/client/src/utils/func.ts
  apps/client/src/views/projects/DsoDashboard.vue
  ci/kind/run-load.sh
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

refactor: :recycle: idempotent rest api, without patch and post
  apps/client/cypress/components/specs/repo-form.ct.ts
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/admin/quotas.e2e.ts
  apps/client/cypress/e2e/specs/admin/stages.e2e.ts
  apps/client/src/api/api.spec.ts
  apps/client/src/api/api.ts
  apps/client/src/stores/admin/project.spec.ts
  apps/client/src/stores/admin/quota.spec.ts
  apps/client/src/stores/admin/stage.spec.ts
  apps/client/src/stores/ci-files.spec.ts
  apps/client/src/stores/snackbar.spec.ts
  apps/client/src/stores/user.spec.ts
  apps/server/src/generate-files/generate-ci-files.spec.ts
  apps/server/src/routes/admin/project.spec.ts
  apps/server/src/routes/admin/project.ts
  apps/server/src/routes/admin/quota.spec.ts
  apps/server/src/routes/admin/quota.ts
  apps/server/src/routes/admin/stage.spec.ts
  apps/server/src/routes/admin/stage.ts
  apps/server/src/routes/ci-files.ts
Due: pnpm run format --filter client --, pnpm run format --filter server --

fix: :bug: bug run.sh not loading image when dev
  ci/kind/run.sh
Due: none

refactor: :recycle: cluster schemas, admin env logic
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/cypress/e2e/specs/admin/quotas.e2e.ts
  apps/client/cypress/e2e/specs/admin/stages.e2e.ts
  apps/client/src/api/api.ts
  apps/client/src/stores/admin/cluster.spec.ts
  apps/client/src/stores/admin/cluster.ts
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/admin/ListStages.vue
  apps/server/src/app.ts
  apps/server/src/resources/cluster/admin/controllers.ts
  apps/server/src/routes/admin/cluster.ts
  packages/shared/src/openApiSchemas/cluster.ts
  packages/shared/src/resources/cluster/openApiSchema.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :construction: repair e2e tests
  .vscode/settings.json
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/cypress/e2e/specs/permissions.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/src/views/projects/ManageEnvironments.vue
  packages/shared/src/openApiSchemas/cluster.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter shared --

refactor: :construction: repair tests
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/cypress/e2e/specs/admin/organizations.e2e.ts
  apps/client/src/components/ClusterForm.vue
  packages/shared/src/schemas/cluster.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter shared --

refactor: :construction: reapair tests
  apps/client/cypress/components/specs/cluster-form.ct.ts
  apps/client/cypress/components/specs/quota-form.ct.ts
  apps/client/cypress/components/specs/stage-form.ct.ts
  apps/client/cypress/e2e/specs/admin/quotas.e2e.ts
  apps/client/src/api/api.ts
  apps/client/src/stores/admin/cluster.spec.ts
  apps/client/src/views/admin/ListProjects.vue
  apps/server/src/resources/cluster/admin/controllers.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/quota/admin/business.ts
  apps/server/src/resources/user/controllers.ts
  apps/server/src/routes/admin/log.spec.ts
  apps/server/src/routes/admin/project.spec.ts
  apps/server/src/routes/admin/quota.spec.ts
  apps/server/src/routes/admin/stage.spec.ts
  apps/server/src/routes/admin/user.spec.ts
  apps/server/src/routes/project-user.spec.ts
  apps/server/src/routes/project.spec.ts
  packages/shared/src/resources/project/openApiSchema.ts
  packages/shared/src/resources/quota/openApiSchema.ts
  packages/shared/src/resources/stage/openApiSchema.ts
  packages/shared/src/utils/types.ts
  packages/test-utils/src/utils/func-utils.ts
  packages/test-utils/src/utils/random-project.ts
  packages/test-utils/src/utils/random-utils.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :rewind: revert fastify/session
  apps/server/package.json
  apps/server/src/__mocks__/app.ts
  apps/server/src/app.ts
  apps/server/src/resources/cluster/admin/controllers.ts
  apps/server/src/resources/cluster/controllers.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.ts
  apps/server/src/resources/organization/admin/controllers.ts
  apps/server/src/resources/organization/business.ts
  apps/server/src/resources/organization/controllers.ts
  apps/server/src/resources/permission/controllers.ts
  apps/server/src/resources/project/controllers.ts
  apps/server/src/resources/quota/controllers.ts
  apps/server/src/resources/repository/controllers.ts
  apps/server/src/resources/service/business.ts
  apps/server/src/resources/service/controllers.ts
  apps/server/src/resources/stage/controllers.ts
  apps/server/src/resources/user/controllers.ts
  apps/server/src/types/index.ts
  apps/server/src/utils/controller.ts
  apps/server/src/utils/keycloak.ts
  apps/server/src/utils/logger.ts
  ci/kind/run.sh
  packages/shared/src/resources/quota/openApiSchema.ts
  pnpm-lock.yaml
Due: pnpm run format --filter server --, pnpm run format --filter shared --

feat: :sparkles: download projects data button for admins
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/src/api/api.ts
  apps/client/src/components/CIForm.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/icons.ts
  apps/client/src/router/index.ts
  apps/client/src/stores/admin/project.ts
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/admin/ListQuotas.vue
  apps/client/src/views/admin/ListStages.vue
  apps/client/src/views/admin/ListUser.vue
  apps/client/src/views/projects/DsoProjects.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/package.json
  apps/server/src/resources/project/admin/business.ts
  apps/server/src/resources/project/admin/controllers.spec.ts
  apps/server/src/resources/project/admin/controllers.ts
  apps/server/src/resources/project/queries.ts
  packages/shared/src/resources/project/openApiSchema.ts
  pnpm-lock.yaml
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :art: cleaning schemas
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/team.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/src/components/TeamCt.vue
  apps/client/src/router/index.ts
  apps/client/src/views/projects/DsoTeam.vue
  apps/server/src/resources/project/queries.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --

refactor: :construction: remove users from getAllProjects and new endpoints
  apps/client/src/api/projects.ts
  apps/client/src/api/users.ts
  apps/client/src/stores/admin/project.spec.ts
  apps/client/src/stores/admin/project.ts
  apps/client/src/stores/project-user.ts
  apps/client/src/stores/project.ts
  apps/client/src/stores/users.ts
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoProjects.vue
  apps/server/src/resources/index.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/controllers.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/controllers.ts
  apps/server/src/resources/user/queries.ts
  apps/server/src/restore-db.ts
  packages/shared/src/resources/project/openApiSchema.ts
  packages/shared/src/resources/user/dto.ts
  packages/shared/src/resources/user/openApiSchema.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

feat: :sparkles: add project environments to hook payload
  apps/server/src/plugins/hooks/environment.ts
  apps/server/src/plugins/hooks/index.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.spec.ts
  apps/server/src/resources/environment/controllers.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/project/business.ts
Due: pnpm run format --filter server --

feat: :sparkles: disallow hyphen on project, environment and stage
  apps/client/cypress/components/specs/environment-form.ct.ts
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/StageForm.vue
  apps/client/src/views/CreateProject.vue
  packages/shared/src/schemas/environment.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/stage.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter shared --

test: :white_check_mark: cleaning and unskip a test
  apps/client/cypress/components/specs/team-ct.ct.ts
  apps/client/src/api/api.spec.ts
  apps/client/src/components/PermissionForm.vue
  apps/client/src/stores/project-user.spec.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

feat: :sparkles: to fn, more infos, multi tiles
  apps/server/src/plugins/services.ts
  apps/server/src/resources/project/business.ts
Due: pnpm run format --filter server --

refactor: :recycle: adapt frontend to recieve services as array
  apps/client/cypress/e2e/specs/services.e2e.ts
  apps/client/src/views/projects/DsoServices.vue
  apps/server/src/app.ts
  apps/server/src/plugins/services.ts
  apps/server/src/resources/environment/controllers.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/controllers.ts
  packages/shared/src/resources/project/model.ts
  packages/shared/src/resources/project/openApiSchema.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

test: :white_check_mark: fix tests
  apps/server/src/__mocks__/app.ts
  apps/server/src/resources/project/controllers.spec.ts
Due: pnpm run format --filter server --

refactor: :recycle: to fn add roles and stage
  apps/server/src/plugins/core/argo/index.ts
  apps/server/src/plugins/hooks/environment.ts
  apps/server/src/plugins/hooks/index.ts
  apps/server/src/plugins/hooks/permission.ts
  apps/server/src/plugins/services.ts
  apps/server/src/resources/environment/business.spec.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.spec.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/controllers.spec.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/types/index.ts
  packages/shared/src/resources/cluster/openApiSchema.ts
Due: pnpm run format --filter server --, pnpm run format --filter shared --

test: :green_heart: ignore queries files from code coverage
  .github/workflows/tests-unit.yml
Due: none

feat: :loud_sound: add payload and full hook response in validation hooks
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/business.ts
Due: pnpm run format --filter server --

feat: :loud_sound: add reqId in db logs
  apps/server/src/prisma/migrations/20240112135751_dso/migration.sql
  apps/server/src/prisma/schema.prisma
  apps/server/src/resources/cluster/admin/business.ts
  apps/server/src/resources/cluster/admin/controllers.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.ts
  apps/server/src/resources/log/admin/queries.ts
  apps/server/src/resources/organization/admin/business.ts
  apps/server/src/resources/organization/admin/controllers.ts
  apps/server/src/resources/permission/business.ts
  apps/server/src/resources/permission/controllers.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/controllers.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/repository/controllers.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/controllers.ts
  apps/server/src/utils/business.ts
Due: pnpm run format --filter server --

ci: :green_heart: fix npm publish workflow
  .github/workflows/npm.yml
Due: none

refactor: :wrench: update vite config for new vue-dsfr imports
  apps/client/.eslintrc-auto-import.json
  apps/client/.eslintrc.json
  apps/client/auto-imports.d.ts
  apps/client/package.json
  apps/client/sr/auto-imports.d.ts
  apps/client/src/App.vue
  apps/client/src/auto-imports.d.ts
  apps/client/src/components.d.ts
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/components/QuotaForm.vue
  apps/client/src/components/RepoForm.vue
  apps/client/src/components/SideMenu.vue
  apps/client/src/components/StageForm.vue
  apps/client/src/components/TeamCt.vue
  apps/client/src/main.ts
  apps/client/src/router/index.ts
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/DsoDoc.vue
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/admin/ListQuotas.vue
  apps/client/src/views/admin/ListStages.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoProjects.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/DsoServices.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/client/vite.config.ts
  pnpm-lock.yaml
  turbo.json
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

Path conditions:
  pnpm run format --filter client --: any of: **/client/**/*.{js,ts,vue,cjs}
  pnpm run format:style --filter client --: any of: **/client/**/*.{vue,css}
  pnpm run format --filter server --: any of: **/server/**/*.{js,cjs,ts}
  pnpm run format --filter shared --: any of: **/shared/**/*.{js,cjs,ts}
