Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

refactor: rearrange icons and service description
  apps/client/cypress/e2e/specs/02-profile.e2e.ts
  apps/client/cypress/e2e/specs/03-modal.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/public/img/harbor.svg
  apps/client/public/img/sonarqube.svg
  apps/client/src/components/ProjectBanner.vue
  apps/client/src/components/ProjectClustersInfos.vue
  apps/client/src/components/ProjectResources.vue
  apps/client/src/components/ServicesConfig.vue
  apps/client/src/components/TeamCt.vue
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListUser.vue
  apps/server/src/resources/project-service/business.ts
  packages/shared/src/schemas/services.ts
  packages/shared/src/utils/const.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix: :bug: auto re login when session expiry
  apps/client/src/api/xhr-client.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

refactor: :zap: improve gitlab project search
  plugins/gitlab/src/class.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :ambulance: forgot to use slug in gitlab group
  plugins/gitlab/src/class.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: :package: update package.json
  apps/server/src/resources/project-service/business.ts
  apps/server/src/resources/project/queries.ts
  packages/hooks/package.json
  packages/hooks/src/services.ts
  packages/shared/package.json
  plugins/argocd/package.json
  plugins/argocd/src/infos.ts
  plugins/gitlab/package.json
  plugins/gitlab/src/infos.ts
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/vault/package.json
  plugins/vault/src/infos.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :sparkles: auto create projectRootDir in Gitlab
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/utils.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :ambulance: bad migration
  apps/server/src/prisma/migrations/20250121222953_prevent_upgrade/migration.sql
  migrations/v9/Dockerfile
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

refactor: migrate script should not delete old group
  migrations/v9/Migrate v9-FR.md
  migrations/v9/Migrate v9.md
  migrations/v9/migrate.js
Due: pnpm run lint:root --

refactor: :lipstick: rework logs view
  apps/client/src/components/Badge.vue
  apps/client/src/components/LogsViewer.vue
  apps/client/src/components/PaginationCt.vue
  apps/client/src/components/ProjectLogsViewer.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

refactor: :lipstick: rework logs view
  apps/client/src/components/Badge.vue
  apps/client/src/components/LogsViewer.vue
  apps/client/src/components/PaginationCt.vue
  apps/client/src/components/ProjectBanner.vue
  apps/client/src/components/ProjectLogsViewer.vue
  apps/client/src/router/index.spec.ts
  apps/client/src/router/index.ts
  apps/client/src/stores/project.ts
  packages/shared/src/schemas/log.ts
  packages/shared/src/utils/schemas.spec.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

refactor: :test_tube: add some tests
  apps/server/src/resources/admin-token/business.spec.ts
  apps/server/src/resources/environment/business.spec.ts
  apps/server/src/resources/environment/business.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

feat: :children_crossing: improve project search
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/package.json
  apps/client/src/stores/user-preference.ts
  apps/client/src/views/admin/ListProjects.vue
  apps/server/src/resources/project/queries.ts
  packages/shared/src/utils/const.ts
  patches/@gouvminint__vue-dsfr.patch
  pnpm-lock.yaml
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

refactor: :children_crossing: change projects tils
  apps/client/src/views/projects/DsoProjects.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

feat: :children_crossing: improve project search
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/package.json
  apps/client/src/stores/user-preference.ts
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoProjects.vue
  apps/server/src/resources/project/queries.ts
  packages/shared/src/utils/const.ts
  patches/@gouvminint__vue-dsfr.patch
  pnpm-lock.yaml
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix: :bug: missing icons
  apps/client/scripts/icons.js
  apps/client/src/icon-collections.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

refactor: :fire: remove validation stap in hook
  packages/hooks/src/hooks/hook-cluster.ts
  packages/hooks/src/hooks/hook-misc.ts
  packages/hooks/src/hooks/hook-project.ts
  packages/hooks/src/hooks/hook-user.ts
  packages/hooks/src/hooks/hook-zone.ts
  packages/hooks/src/hooks/hook.spec.ts
  packages/hooks/src/hooks/hook.ts
  packages/hooks/src/index.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

refactor: :lipstick: improve project tiles
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/team.e2e.ts
  apps/client/package.json
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/ProjectResources.vue
  apps/client/src/components/TeamCt.vue
  apps/client/src/utils/func.ts
  apps/client/src/utils/project-utils.ts
  apps/client/src/views/ProjectDashboard.vue
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoProjects.vue
  apps/server/src/resources/project/queries.ts
  patches/@gouvminint__vue-dsfr.patch
  pnpm-lock.yaml
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

fix: :alien: fix nexus monitoring
  plugins/nexus/src/monitor.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :sparkles: display last refresh monitor and display cause to admins
  apps/client/src/stores/services-monitor.ts
  apps/client/src/views/ServicesHealth.vue
  apps/server/src/resources/service-monitor/business.ts
  apps/server/src/resources/service-monitor/router.spec.ts
  apps/server/src/resources/service-monitor/router.ts
  apps/server/src/utils/keycloak.ts
  packages/shared/src/contracts/service-monitor.ts
  packages/shared/src/schemas/services.ts
  packages/shared/src/utils/plugins.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: :children_crossing: improve project search
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/src/stores/user-preference.ts
  apps/client/src/views/admin/ListProjects.vue
  packages/shared/src/utils/const.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

refactor: :fire: remove old icons
  apps/client/README.md
  apps/client/scripts/icons.js
  apps/client/src/icon-collections.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

fix: :alien: fix nexus monitoring
  plugins/nexus/package.json
  plugins/nexus/src/monitor.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :bug: gitlab for
  plugins/gitlab/src/repositories.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

:bug: fix and improve mirror.sh
  plugins/gitlab/files/mirror.sh
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: :arrow_up: upgrade nodejs to v22.14.0
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  .prototools
  apps/client/Dockerfile
  apps/server/Dockerfile
  migrations/v9/Dockerfile
  package.json
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

ci: :construction_worker: use correct github variable on preview ci
  .github/workflows/preview.yml
Due: pnpm run lint:root --

chore: :arrow_up: upgrade pnpm to v10.5.2
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  .npmrc
  .prototools
  apps/client/.stylelintrc.js
  apps/client/Dockerfile
  apps/client/src/components/SelectProject.vue
  apps/server/Dockerfile
  apps/server/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

feat: :zap: limit gitlab api calls to list cicd variables in sonar plugin
  plugins/gitlab/src/class.ts
  plugins/sonarqube/src/functions.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :bug: update condition to allow private quota modification
  apps/client/src/components/EnvironmentForm.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

feat: :zap: optimization of gitlab API calls
  plugins/gitlab/src/class.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

test(knip): add knip run script for sniffer dead code
  knip.json
  package.json
  pnpm-lock.yaml
Due: pnpm run lint:root --

perf(gitlabe): trace the number of calls to gitlabe api
  plugins/gitlab/src/class.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :bug: add missing scope when creating keycloak client
  plugins/keycloak/src/functions.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :sparkles: enable the use of plugin in Argo application
  plugins/argocd/src/applications.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

Path conditions:
  pnpm run lint:style --filter=@cpn-console/client --: any of: **/apps/client/**/*.{vue,css}
  pnpm run lint:ts --filter=@cpn-console/client --: any of: **/apps/client/**/*
  pnpm run lint --filter=@cpn-console/server --: any of: **/apps/server/**/*
  pnpm run lint --filter=./packages/* --: any of: **/packages/**/*
  pnpm run lint --filter=./plugins/* --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
