Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: bump Node.js to v26 LTS
  .github/workflows/workflow-continuous-integration.yml
  .github/workflows/workflow-create-or-update-release.yml
  .github/workflows/workflow-merge-queue.yml
  .github/workflows/workflow-post-merge.yml
  AGENTS.md
  README.md
  apps/client/Dockerfile
  apps/server-nestjs/Dockerfile
  apps/server/Dockerfile
  package.json
  packages/opencds/Dockerfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(server-nestjs): make e2e timeout composable and fix undefined gitlab timeout
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/e2e-timeout.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/test/sonarqube.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  apps/server-nestjs/test/zone.e2e-spec.ts
Due: pnpm run lint:root --

fix: race condition protection
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/observability/observability.service.spec.ts
  apps/server-nestjs/src/modules/observability/observability.service.ts
Due: pnpm run lint:root --

chore: shared branch constant
  apps/client/src/components/ProjectResources.vue
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/observability/observability.service.spec.ts
  apps/server-nestjs/test/argocd.e2e-spec.ts
  packages/shared/src/utils/const.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(server-nestjs): migrate observability plugin to NestJS module
  ENVIRONMENTS.md
  apps/server-nestjs/.env-example
  apps/server-nestjs/.env.docker-example
  apps/server-nestjs/.env.integ-example
  apps/server-nestjs/src/config/observability.config.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/observability/observability-client.service.ts
  apps/server-nestjs/src/modules/observability/observability-datastore.service.ts
  apps/server-nestjs/src/modules/observability/observability-plugin.service.ts
  apps/server-nestjs/src/modules/observability/observability-testing.utils.ts
  apps/server-nestjs/src/modules/observability/observability.constants.ts
  apps/server-nestjs/src/modules/observability/observability.module.ts
  apps/server-nestjs/src/modules/observability/observability.service.spec.ts
  apps/server-nestjs/src/modules/observability/observability.service.ts
  apps/server-nestjs/src/modules/observability/observability.utils.spec.ts
  apps/server-nestjs/src/modules/observability/observability.utils.ts
  apps/server-nestjs/src/modules/plugin/plugin.module.ts
  apps/server-nestjs/src/modules/plugin/plugin.service.ts
Due: pnpm run lint:root --

fix(deps): bump direct catalog dependencies to patched versions
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint:root --

fix(deps): pin vulnerable transitive dependencies via pnpm overrides
  pnpm-workspace.yaml
Due: pnpm run lint:root --

fix(ci): fix preview client version
  .github/workflows/job-build.yml
Due: pnpm run lint:root --

fix(deps): pin vulnerable transitive dependencies via pnpm overrides
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint:root --

feat(server-nestjs): expose repository API v2 routes
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/repository/repository.controller.spec.ts
  apps/server-nestjs/src/modules/repository/repository.controller.ts
  apps/server-nestjs/src/modules/repository/repository.module.ts
  apps/server-nestjs/src/modules/repository/repository.service.spec.ts
  apps/server-nestjs/src/modules/repository/repository.service.ts
Due: pnpm run lint:root --

feat(server-nestjs): migrate repository sync route to API v2
  apps/server-nestjs/src/modules/events/app-events.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-testing.utils.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.constants.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
  apps/server-nestjs/src/modules/repository/repository.controller.spec.ts
  apps/server-nestjs/src/modules/repository/repository.controller.ts
  apps/server-nestjs/src/modules/repository/repository.service.spec.ts
  apps/server-nestjs/src/modules/repository/repository.service.ts
  packages/shared/src/contracts/v2/repository.ts
  packages/shared/src/schemas/v2/repository.spec.ts
  packages/shared/src/schemas/v2/repository.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(server-nestjs): implémenter le RBAC fins d'observability (ADR 014)
  apps/server-nestjs/src/modules/observability/observability.constants.ts
  apps/server-nestjs/src/modules/observability/observability.service.spec.ts
  apps/server-nestjs/src/modules/observability/observability.service.ts
  apps/server-nestjs/src/modules/observability/observability.utils.spec.ts
  apps/server-nestjs/src/modules/observability/observability.utils.ts
Due: pnpm run lint:root --

test(server-nestjs): align E2E specs with DSO orchestration
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/test/log.e2e-spec.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
  apps/server-nestjs/test/project-bulk.e2e-spec.ts
  apps/server-nestjs/test/project-hooks.e2e-spec.ts
  apps/server-nestjs/test/project-members.e2e-spec.ts
  apps/server-nestjs/test/project-roles.e2e-spec.ts
  apps/server-nestjs/test/project-secrets.e2e-spec.ts
  apps/server-nestjs/test/project-services.e2e-spec.ts
  apps/server-nestjs/test/project.e2e-spec.ts
  apps/server-nestjs/test/registry.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  apps/server-nestjs/test/zone.e2e-spec.ts
Due: pnpm run lint:root --

refactor(server-nestjs): rename Controller vars to Service in e2e specs
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
Due: pnpm run lint:root --

test(server-nestjs): centralize e2e timeouts by operation
  apps/server-nestjs/test/e2e-timeout.ts
Due: pnpm run lint:root --

refactor(server-nestjs): drive e2e specs via event emission
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
  apps/server-nestjs/test/registry.e2e-spec.ts
  apps/server-nestjs/test/sonarqube.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  apps/server-nestjs/test/zone.e2e-spec.ts
Due: pnpm run lint:root --

test(server-nestjs): assert resource exists before on-delete checks
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
  apps/server-nestjs/test/sonarqube.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  apps/server-nestjs/test/zone.e2e-spec.ts
Due: pnpm run lint:root --

feat(server-nestjs): await project reconciliation on environment mutations
  apps/server-nestjs/src/modules/environment/environment.module.ts
  apps/server-nestjs/src/modules/environment/environment.service.spec.ts
  apps/server-nestjs/src/modules/environment/environment.service.ts
  apps/server-nestjs/src/modules/events/app-events.module.ts
Due: pnpm run lint:root --

feat(server-nestjs): await project reconciliation on repositories mutations
  apps/server-nestjs/src/modules/repository/repository.service.spec.ts
  apps/server-nestjs/src/modules/repository/repository.service.ts
Due: pnpm run lint:root --

fix(client): serialize per-member role PATCH to prevent lost updates (#2089)
  apps/client/package.json
  apps/client/src/components/ProjectRoles.spec.ts
  apps/client/src/components/ProjectRoles.vue
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

refactor(shared): extract token foundations
  apps/server-nestjs/src/utils/crypto.spec.ts
  apps/server-nestjs/src/utils/crypto.utils.ts
  apps/server-nestjs/src/utils/schemas.ts
  apps/server-nestjs/vitest.config.ts
  packages/shared/src/schemas/index.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(user-tokens): migrate from server
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/infrastructure/clean-types/controller-body.types.ts
  apps/server-nestjs/src/modules/plugin/plugin.module.spec.ts
  apps/server-nestjs/src/modules/project-bulk/project-bulk.controller.ts
  apps/server-nestjs/src/modules/project-bulk/project-bulk.service.ts
  apps/server-nestjs/src/modules/project-roles/project-roles.controller.ts
  apps/server-nestjs/src/modules/project/project-testing.utils.ts
  apps/server-nestjs/src/modules/project/project.controller.ts
  apps/server-nestjs/src/modules/project/project.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens-queries.utils.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens-queries.utils.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.controller.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.module.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.utils.ts
  apps/server-nestjs/test/user-tokens.e2e-spec.ts
Due: pnpm run lint:root --

feat(client): switch environments to API v2
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/ProjectResources.vue
  apps/client/src/stores/project.spec.ts
  apps/client/src/utils/project-utils.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

feat(server-nestjs): implémenter le RBAC fins d'observability
  apps/server-nestjs/src/modules/observability/observability.constants.ts
  apps/server-nestjs/src/modules/observability/observability.service.spec.ts
  apps/server-nestjs/src/modules/observability/observability.service.ts
  apps/server-nestjs/src/modules/observability/observability.utils.spec.ts
  apps/server-nestjs/src/modules/observability/observability.utils.ts
Due: pnpm run lint:root --

fix(server-nestjs): register SystemConfigModule to unblock system/plugins routes
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-CARTOGRAPHIE.md
  apps/server-nestjs/src/main.module.ts
Due: pnpm run lint:root --

refactor(admin-token): migrate from server
  apps/server-nestjs/src/modules/admin-token/admin-token-queries.utils.spec.ts
  apps/server-nestjs/src/modules/admin-token/admin-token-queries.utils.ts
  apps/server-nestjs/src/modules/admin-token/admin-token.controller.ts
  apps/server-nestjs/src/modules/admin-token/admin-token.module.ts
  apps/server-nestjs/src/modules/admin-token/admin-token.service.spec.ts
  apps/server-nestjs/src/modules/admin-token/admin-token.service.ts
  apps/server-nestjs/src/modules/admin-token/admin-token.utils.ts
  apps/server-nestjs/test/admin-token.e2e-spec.ts
Due: pnpm run lint:root --

refactor(shared): add token pair generation and expiration schema
  apps/server-nestjs/src/utils/crypto.spec.ts
  apps/server-nestjs/src/utils/crypto.utils.ts
  apps/server-nestjs/src/utils/schemas.ts
  packages/shared/src/schemas/index.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

fix(shared): accept a private repository carrying a single credential
  packages/shared/src/schemas/v2/repository.spec.ts
  packages/shared/src/schemas/v2/repository.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(admin-roles): migrate from server
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-CARTOGRAPHIE.md
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/admin-role/admin-role-queries.utils.ts
  apps/server-nestjs/src/modules/admin-role/admin-role-testing.utils.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.controller.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.module.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.service.spec.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.service.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.utils.ts
Due: pnpm run lint:root --

Path conditions:
  pnpm --filter=@cpn-console/client run lint:style --: any of: **/apps/client/**/*.{vue,css}
  pnpm --filter=@cpn-console/client run lint:ts --: any of: **/apps/client/**/*
  pnpm --filter=@cpn-console/server run lint --: any of: **/apps/server/**/*
  pnpm --filter=./packages/* run lint --: any of: **/packages/**/*
  pnpm --filter=./plugins/* run lint --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
