Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm --filter=@cpn-console/client run lint:style --",
  "**/apps/client/**/*": "pnpm --filter=@cpn-console/client run lint:ts --",
  "**/apps/server/**/*": "pnpm --filter=@cpn-console/server run lint --",
  "**/packages/**/*": "pnpm --filter=./packages/* run lint --",
  "**/plugins/**/*": "pnpm --filter=./plugins/* run lint --",
  "**/*": "pnpm run lint:root --"
}

refactor(server-nestjs): replace InfrastructureModule with explicit module imports
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/argocd/argocd.module.ts
  apps/server-nestjs/src/modules/deployment/deployment.module.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.module.ts
  apps/server-nestjs/src/modules/infrastructure/infrastructure.module.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.module.ts
  apps/server-nestjs/src/modules/log/log.module.ts
  apps/server-nestjs/src/modules/nexus/nexus.module.ts
  apps/server-nestjs/src/modules/project-bulk/project-bulk.module.ts
  apps/server-nestjs/src/modules/project-hooks/project-hooks.module.ts
  apps/server-nestjs/src/modules/project-members/project-members.module.ts
  apps/server-nestjs/src/modules/project-roles/project-roles.module.ts
  apps/server-nestjs/src/modules/project-secrets/project-secrets.module.ts
  apps/server-nestjs/src/modules/project-services/project-services.module.ts
  apps/server-nestjs/src/modules/project/project.module.ts
  apps/server-nestjs/src/modules/registry/registry.module.ts
  apps/server-nestjs/src/modules/service-chain/service-chain.module.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.module.ts
  apps/server-nestjs/src/modules/system-config/system-config.module.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.module.ts
  apps/server-nestjs/src/modules/vault/vault.module.ts
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/test/log.e2e-spec.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
  apps/server-nestjs/test/project-bulk.e2e-spec.ts
  apps/server-nestjs/test/project-hooks.e2e-spec.ts
  apps/server-nestjs/test/project-members.e2e-spec.ts
  apps/server-nestjs/test/project-roles.e2e-spec.ts
  apps/server-nestjs/test/project-secrets.e2e-spec.ts
  apps/server-nestjs/test/project-services.e2e-spec.ts
  apps/server-nestjs/test/project.e2e-spec.ts
  apps/server-nestjs/test/sonarqube.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
Due: pnpm run lint:root --

feat(server-nestjs): add environment API v2
  apps/nginx-strangler/conf.d/routing.conf
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/environment/environment-datastore.service.spec.ts
  apps/server-nestjs/src/modules/environment/environment-datastore.service.ts
  apps/server-nestjs/src/modules/environment/environment-testing.utils.ts
  apps/server-nestjs/src/modules/environment/environment-validation.service.spec.ts
  apps/server-nestjs/src/modules/environment/environment-validation.service.ts
  apps/server-nestjs/src/modules/environment/environment.constants.ts
  apps/server-nestjs/src/modules/environment/environment.controller.spec.ts
  apps/server-nestjs/src/modules/environment/environment.controller.ts
  apps/server-nestjs/src/modules/environment/environment.module.ts
  apps/server-nestjs/src/modules/environment/environment.service.spec.ts
  apps/server-nestjs/src/modules/environment/environment.service.ts
  apps/server-nestjs/src/modules/events/app-events.service.ts
  packages/shared/src/api-client.ts
  packages/shared/src/contracts/environment.ts
  packages/shared/src/schemas/environment.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

docs: add contribution guide
  CONTRIBUTING.md
Due: pnpm run lint:root --

fix(server-nestjs/environment): exclude updated environment from quota sums
  apps/server-nestjs/src/modules/environment/environment-validation.service.spec.ts
  apps/server-nestjs/src/modules/environment/environment-validation.service.ts
Due: pnpm run lint:root --

feat(client): switch environments to API v2
  apps/client/src/api/xhr-client.ts
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/ProjectResources.vue
  apps/client/src/stores/project.spec.ts
  apps/client/src/utils/project-utils.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

doc: update advancement documentation
  apps/server-nestjs/documentation/Modularisation-de-console-server/00-OVERVIEW.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/01-MODULARISATION-STRATEGIE.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-CARTOGRAPHIE.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-STATUT.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/README.md
Due: pnpm run lint:root --

doc: document core vs plugin module structure
  apps/server-nestjs/documentation/Modularisation-de-console-server/02-ARCHITECTURE-MODULES.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-STATUT.md
Due: pnpm run lint:root --

fix(server-nestjs/nexus): fall back to public Nexus URL when internal URL is unset
  apps/server-nestjs/src/modules/nexus/nexus-client.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus-http-client.service.ts
Due: pnpm run lint:root --

fix(server-nestjs): add default env var for admin client ID
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
Due: pnpm run lint:root --

fix(nexus): remove unsupported aux component from new Nexus
  plugins/nexus/src/monitor.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix: playwright test expect mock
  apps/server-nestjs/.env.docker-example
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
  apps/server-nestjs/src/modules/infrastructure/auth/auth-testing.utils.ts
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/plugin/plugin.utils.spec.ts
  apps/server-nestjs/src/modules/plugin/plugin.utils.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  playwright/e2e-tests/project-logs.spec.ts
Due: pnpm run lint:root --

refactor(server-nestjs): offload project route to new implementation
  apps/nginx-strangler/conf.d/routing.conf
  apps/server-nestjs/documentation/Modularisation-de-console-server/00-OVERVIEW.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/01-MODULARISATION-STRATEGIE.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/02-ARCHITECTURE-MODULES.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-CARTOGRAPHIE.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-STATUT.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/README.md
Due: pnpm run lint:root --

fix: correctly type JWT non standard payload
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-jwt/keycloak-jwt.service.spec.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-jwt/keycloak-jwt.service.ts
Due: pnpm run lint:root --

feat(client): restrict deployment visibility to console admins
  apps/client/src/components/ProjectResources.vue
  apps/client/src/components/ProjectRoleForm.vue
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

revert(client): switch environments back from API v2
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/ProjectResources.vue
  apps/client/src/stores/project.spec.ts
  apps/client/src/utils/project-utils.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

revert: "fix: playwright test expect mock"
  apps/server-nestjs/.env.docker-example
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
  apps/server-nestjs/src/modules/infrastructure/auth/auth-testing.utils.ts
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/plugin/plugin.utils.spec.ts
  apps/server-nestjs/src/modules/plugin/plugin.utils.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  playwright/e2e-tests/project-logs.spec.ts
Due: pnpm run lint:root --

revert: "refactor(server-nestjs): offload project route to new implementation"
  apps/nginx-strangler/conf.d/routing.conf
  apps/server-nestjs/documentation/Modularisation-de-console-server/00-OVERVIEW.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/01-MODULARISATION-STRATEGIE.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/02-ARCHITECTURE-MODULES.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-CARTOGRAPHIE.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-STATUT.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/README.md
Due: pnpm run lint:root --

revert: fix: playwright test expect mock
  apps/server-nestjs/.env.docker-example
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
  apps/server-nestjs/src/modules/infrastructure/auth/auth-testing.utils.ts
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/plugin/plugin.utils.spec.ts
  apps/server-nestjs/src/modules/plugin/plugin.utils.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  playwright/e2e-tests/project-logs.spec.ts
Due: pnpm run lint:root --

revert: refactor(server-nestjs): offload project route to new implementation
  apps/nginx-strangler/conf.d/routing.conf
  apps/server-nestjs/documentation/Modularisation-de-console-server/00-OVERVIEW.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/01-MODULARISATION-STRATEGIE.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/02-ARCHITECTURE-MODULES.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-CARTOGRAPHIE.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-STATUT.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/README.md
Due: pnpm run lint:root --
