Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format --filter cypress

.lintstagedrc:

{
  "**/client/**/*.{js,ts,vue,css}": "pnpm run format --filter client",
  "**/cypress/**/*.{js,cjs,ts}": "pnpm run format --filter cypress"
}

test: :sparkles: add purge functions on plugins
  apps/server/src/plugins/core/argo/init.ts
  apps/server/src/plugins/core/argo/purge.ts
  apps/server/src/plugins/core/gitlab/init.ts
  apps/server/src/plugins/core/gitlab/purge.ts
  apps/server/src/plugins/core/harbor/init.ts
  apps/server/src/plugins/core/harbor/purge.ts
  apps/server/src/plugins/core/keycloak/init.ts
  apps/server/src/plugins/core/keycloak/purge.ts
  apps/server/src/plugins/core/kubernetes/api.ts
  apps/server/src/plugins/core/kubernetes/init.ts
  apps/server/src/plugins/core/kubernetes/purge.ts
  apps/server/src/plugins/core/nexus/api.ts
  apps/server/src/plugins/core/nexus/init.ts
  apps/server/src/plugins/core/nexus/purge.ts
  apps/server/src/plugins/core/sonarqube/group.ts
  apps/server/src/plugins/core/sonarqube/index.ts
  apps/server/src/plugins/core/sonarqube/init.ts
  apps/server/src/plugins/core/sonarqube/lib/index.ts
  apps/server/src/plugins/core/sonarqube/lib/types.ts
  apps/server/src/plugins/core/sonarqube/project.ts
  apps/server/src/plugins/core/sonarqube/purge.ts
  apps/server/src/plugins/core/sonarqube/types.ts
  apps/server/src/plugins/core/sonarqube/user.ts
  apps/server/src/plugins/core/vault/index.ts
  apps/server/src/plugins/core/vault/init.ts
  apps/server/src/plugins/core/vault/purge.ts
  apps/server/src/plugins/core/vault/secret.ts
  apps/server/src/plugins/hooks/misc.ts
  apps/server/src/plugins/index.ts
  apps/server/src/resources/system/purge/controllers.ts
  apps/server/src/routes/admin/db.ts
  apps/server/src/routes/admin/index.ts
  apps/server/src/routes/admin/system.ts
Due: none

fix: :bug: fix not updated argocd cluster and not using insecure in config
  apps/server/src/plugins/core/argo/cluster.ts
  apps/server/src/plugins/core/argo/init.ts
  apps/server/src/plugins/hooks/cluster.ts
Due: none

fix: :bug: fix not updated argocd cluster and not using insecure in config
  apps/server/src/plugins/core/argo/cluster.ts
  apps/server/src/plugins/core/argo/init.ts
  apps/server/src/plugins/hooks/cluster.ts
  apps/server/src/resources/cluster/admin/business.ts
Due: none

feat: :iphone: more responsive sideMenu and permissionForm
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/components/SideMenu.vue
Due: pnpm run format --filter client

ci: :green_heart: fix docker tags in ci build system
  .github/workflows/build.yml
  .github/workflows/cd.yml
Due: none

refactor: :recycle: typescript for client
  apps/client/src/components/DsoBadge.vue
  apps/client/src/views/projects/DsoDashboard.vue
  packages/shared/src/utils/const.ts
Due: pnpm run format --filter client

Revert "refactor: :recycle: typescript for client"
  packages/shared/src/utils/const.ts
Due: none

refactor: :recycle: change unit tests files to typescript
  apps/client/src/api/api.spec.ts
  apps/client/src/api/xhr-client.spec.ts
  apps/client/src/stores/admin/cluster.spec.ts
  apps/client/src/stores/admin/log.spec.ts
  apps/client/src/stores/admin/organization.spec.ts
  apps/client/src/stores/admin/project.spec.ts
  apps/client/src/stores/ci-files.spec.ts
  apps/client/src/stores/organization.spec.ts
  apps/client/src/stores/project-environment.spec.ts
  apps/client/src/stores/project-permission.spec.ts
  apps/client/src/stores/project-repository.spec.ts
  apps/client/src/stores/project-user.spec.ts
  apps/client/src/stores/project.spec.ts
  apps/client/src/stores/services.spec.ts
  apps/client/src/stores/snackbar.spec.ts
  apps/client/src/stores/user.spec.ts
  apps/client/src/utils/keycloak/keycloak.spec.ts
  apps/client/src/utils/regex.spec.ts
Due: pnpm run format --filter client

refactor: :recycle: update cypress files to typescript
  apps/client/cypress.config.ts
  apps/client/cypress/components/specs/cluster-form.ct.ts
  apps/client/cypress/components/specs/environment-form.ct.ts
  apps/client/cypress/components/specs/multi-selector.ct.ts
  apps/client/cypress/components/specs/permission-form.ct.ts
  apps/client/cypress/components/specs/range.input.ct.ts
  apps/client/cypress/components/specs/repo-form.ct.ts
  apps/client/cypress/components/specs/suggestion-input.ct.ts
  apps/client/cypress/components/support/commands.ts
  apps/client/cypress/components/support/index.ts
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/cypress/e2e/specs/admin/logs.e2e.ts
  apps/client/cypress/e2e/specs/admin/organizations.e2e.ts
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/admin/users.e2e.ts
  apps/client/cypress/e2e/specs/create-project.e2e.ts
  apps/client/cypress/e2e/specs/dashboard.e2e.ts
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/cypress/e2e/specs/home.e2e.ts
  apps/client/cypress/e2e/specs/permissions.e2e.ts
  apps/client/cypress/e2e/specs/projects.e2e.ts
  apps/client/cypress/e2e/specs/redirection.e2e.ts
  apps/client/cypress/e2e/specs/repos.e2e.ts
  apps/client/cypress/e2e/specs/services-health.e2e.ts
  apps/client/cypress/e2e/specs/services.e2e.ts
  apps/client/cypress/e2e/specs/sidebar.e2e.ts
  apps/client/cypress/e2e/specs/team.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/cypress/e2e/support/func.ts
  apps/client/cypress/e2e/support/index.ts
  apps/client/vitest.config.ts
Due: pnpm run format --filter client, pnpm run format --filter cypress

chore: :arrow_up: update client dependancies
  apps/client/cypress/components/specs/repo-form.ct.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/package.json
  apps/client/src/views/admin/ListOrganizations.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/admin/ListUser.vue
  apps/client/src/views/projects/DsoTeam.vue
  pnpm-lock.yaml
Due: pnpm run format --filter client, pnpm run format --filter cypress

chore: :arrow_up: upgrade root dependencies
  package.json
  pnpm-lock.yaml
Due: none

build: :arrow_up: upgrade shared dependencies
  packages/shared/package.json
  pnpm-lock.yaml
Due: none

build: :arrow_up: upgrade server dependencies
  apps/server/package.json
  pnpm-lock.yaml
Due: none

chore: :arrow_up: upgrade eslint dependencies
  packages/eslintconfig/package.json
  pnpm-lock.yaml
Due: none

build: :arrow_up: upgrade nodejs to v18.18.0
  .github/workflows/ci.yml
  apps/client/Dockerfile
  apps/server/Dockerfile
  ci/act/workflows/ci.yml
  package.json
Due: none

test: :white_check_mark: add wait for e2e tests
  apps/client/cypress/e2e/specs/admin/organizations.e2e.ts
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :sparkles: enable admin cluster update
  apps/client/cypress/components/specs/cluster-form.ct.ts
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/src/components/ClusterForm.vue
Due: pnpm run format --filter client, pnpm run format --filter cypress

ci: :green_heart: fix major and minor docker tags on release
  .github/workflows/build.yml
  .github/workflows/cd.yml
Due: none

feat: :sparkles: add quotas selection for environment
  apps/client/cypress/components/specs/environment-form.ct.ts
  apps/client/cypress/components/specs/range.input.ct.ts
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/cypress/e2e/specs/permissions.e2e.ts
  apps/client/src/api/api.ts
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/RangeInput.vue
  apps/client/src/stores/project-environment.spec.ts
  apps/client/src/stores/project-environment.ts
  apps/server/src/prisma/migrations/20231005155629_dso/migration.sql
  apps/server/src/prisma/schema.prisma
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/routes/project-environment.ts
  packages/shared/src/resources/environment/dto.ts
  packages/shared/src/resources/environment/model.ts
  packages/shared/src/schemas/environment.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter client, pnpm run format --filter cypress

refactor: :truck: rename business and query functions
  apps/server/src/resources/cluster/admin/business.ts
  apps/server/src/resources/cluster/admin/controllers.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.ts
  apps/server/src/resources/log/admin/business.ts
  apps/server/src/resources/log/admin/controllers.ts
  apps/server/src/resources/organization/admin/business.ts
  apps/server/src/resources/organization/admin/controllers.ts
  apps/server/src/resources/permission/business.ts
  apps/server/src/resources/permission/controllers.ts
  apps/server/src/resources/project/admin/business.ts
  apps/server/src/resources/project/admin/controllers.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/repository/controllers.ts
  apps/server/src/resources/service/business.ts
  apps/server/src/resources/service/controllers.ts
  apps/server/src/resources/system/db/business.ts
  apps/server/src/resources/system/db/controllers.ts
  apps/server/src/resources/user/admin/business.ts
  apps/server/src/resources/user/admin/controllers.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/controllers.ts
  apps/server/src/routes/admin/db.ts
Due: none

test: :label: add types for cypress
  apps/client/cypress/components/support/commands.ts
  apps/client/cypress/components/support/index.ts
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/support/func.ts
  apps/client/cypress/e2e/support/index.ts
  apps/client/cypress/tsconfig.json
  apps/client/cypress/types.ts
Due: pnpm run format --filter client, pnpm run format --filter cypress

refactor: :truck: rename route to sync organizations
  apps/client/cypress/e2e/specs/admin/organizations.e2e.ts
  apps/client/src/api/api.ts
  apps/client/src/stores/admin/organization.spec.ts
  apps/server/src/routes/admin/organization.spec.ts
  apps/server/src/routes/admin/organization.ts
  misc/business-rules.md
Due: pnpm run format --filter client, pnpm run format --filter cypress

build: :construction_worker: improve dockerfiles build time
  .dockerignore
  apps/client/Dockerfile
  apps/server/Dockerfile
Due: none

chore: :technologist: improve lint-staged config
  .lintstagedrc
Due: none

ci: :construction_worker: improve ci execution time
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-deploy.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  ci/act/workflows/lint.yml
  ci/act/workflows/tests-component.yml
  ci/act/workflows/tests-deploy.yml
  ci/act/workflows/tests-e2e.yml
  ci/act/workflows/tests-unit.yml
Due: none

ci: :construction_worker: build images on each pull request
  .github/workflows/build.yml
  .github/workflows/cache.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/scan.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-deploy.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  apps/client/Dockerfile
  apps/server/Dockerfile
  ci/act/workflows/tests-component.yml
  ci/kind/run.sh
  ci/scripts/build-tags.sh
  ci/scripts/delete-image.sh
  ci/scripts/run-tests.sh
Due: none

chore: :technologist: stop changing context when running package commands
  ci/kind/run.sh
Due: none

ci: :green_heart: bug fixed after runtime improvement
  .github/workflows/build.yml
  .github/workflows/cache.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: none

Revert "chore: :technologist: improve lint-staged config"
  .lintstagedrc
Due: none

Revert "feat: :sparkles: add quotas selection for environment"
  apps/client/cypress/components/specs/environment-form.ct.ts
  apps/client/cypress/components/specs/range.input.ct.ts
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/cypress/e2e/specs/permissions.e2e.ts
  apps/client/src/api/api.ts
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/RangeInput.vue
  apps/client/src/stores/project-environment.spec.ts
  apps/client/src/stores/project-environment.ts
  apps/server/src/prisma/migrations/20231005155629_dso/migration.sql
  apps/server/src/prisma/schema.prisma
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/routes/project-environment.ts
  packages/shared/src/resources/environment/dto.ts
  packages/shared/src/resources/environment/model.ts
  packages/shared/src/schemas/environment.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter client, pnpm run format --filter cypress

ci: :green_heart: fix cache management in ci/cd
  .github/workflows/cache.yml
  apps/client/cypress/e2e/specs/home.e2e.ts
  apps/client/src/App.vue
  ci/act/workflows/tests-component.yml
  ci/scripts/run-tests.sh
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :ambulance: send internalRepoName to plugins on updateRepository hook
  apps/client/src/views/projects/DsoRepos.vue
  apps/server/src/prisma/migrations/20231010111515_dso/migration.sql
  apps/server/src/prisma/schema.prisma
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/repository/controllers.ts
  apps/server/src/resources/repository/queries.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter client

ci: :bug: remote reverted commit from changelog
  CHANGELOG.md
  helm/Chart.yaml
  helm/values.yaml
  package.json
Due: none

ci: :green_heart: fix ci build workflow
  .github/workflows/build.yml
  .github/workflows/cache.yml
  .github/workflows/cd.yml
Due: none

fix: :goal_net: add try catch in checkApi func
  apps/client/src/router/index.ts
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/server/src/plugins/core/gitlab/index.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/user/business.ts
Due: pnpm run format --filter client

feat: :children_crossing: add default branch to sync in mirror pipeline
  .gitlab-ci-dso.yml
  apps/server/src/plugins/core/gitlab/files/.gitlab-ci.yml
Due: none
