Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :recycle: implement new apiClientV2
  apps/client/src/api/swagger/Api.ts
  apps/client/src/api/swagger/data-contracts.ts
  apps/client/src/api/swagger/http-client.ts
  apps/client/src/api/swagger/swagger.json
  apps/client/src/api/xhr-client.ts
Due: pnpm run format --filter client --

refactor: :construction: migrate api call from stores, to continue
  .vscode/settings.json
  apps/client/src/api/swagger/Api.ts
  apps/client/src/api/swagger/data-contracts.ts
  apps/client/src/api/swagger/http-client.ts
  apps/client/src/api/swagger/swagger.json
  apps/client/src/api/xhr-client.ts
  apps/client/src/stores/admin/cluster.ts
  apps/client/src/stores/admin/log.ts
  apps/client/src/stores/admin/organization.ts
  apps/client/src/stores/admin/project.ts
  apps/client/src/stores/admin/quota.ts
  apps/client/src/stores/admin/stage.ts
  apps/client/src/stores/admin/user.ts
  apps/client/src/stores/ci-files.ts
  apps/client/src/stores/organization.ts
  apps/client/src/stores/project-environment.ts
  apps/server/src/app.ts
  apps/server/src/server.ts
Due: pnpm run format --filter client --, pnpm run format --filter server --

fix: :label: add missing fastify keycloak adapter patch to improve types
  package.json
  patches/fastify-keycloak-adapter@2.1.10.patch
  pnpm-lock.yaml
Due: none

refactor: :label: add plugins types to enforce strict mode
  plugins/argo/src/app-project.ts
  plugins/argo/tsconfig.json
  plugins/harbor/src/permission.ts
  plugins/harbor/src/robot.ts
  plugins/harbor/src/utils.ts
  plugins/harbor/tsconfig.json
  plugins/keycloak/src/group.ts
  plugins/keycloak/tsconfig.json
  plugins/sonarqube/src/group.ts
  plugins/sonarqube/src/project.ts
  plugins/sonarqube/src/user.ts
  plugins/sonarqube/tsconfig.json
  plugins/vault/src/class.ts
  plugins/vault/src/functions.ts
  plugins/vault/tsconfig.json
Due: none

refactor: :label: add types on shared package
  packages/shared/package.json
  packages/shared/src/utils/date.ts
  packages/shared/src/utils/functions.ts
  packages/shared/src/utils/schemas.ts
  packages/shared/tsconfig.json
Due: pnpm run format --filter shared --

chore: :building_construction: uniform dependecies
  apps/client/package.json
  apps/server/package.json
  packages/eslintconfig/package.json
  packages/hooks/package.json
  packages/test-utils/package.json
  packages/tsconfig/package.json
  plugins/argo/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
Due: none

build: :wrench: add script to update all dependencies and versions
  ci/scripts/update-version.js
  package.json
  pnpm-lock.yaml
Due: none

chore: :construction_worker: enable multi arch build on new release
  .github/workflows/cd.yml
Due: none

refactor: :rotating_light: fix typescript errors in server
  apps/server/src/resources/cluster/admin/queries.ts
  apps/server/src/resources/organization/admin/controllers.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/repository/controllers.spec.ts
  apps/server/src/resources/repository/queries.ts
  apps/server/src/resources/service/business.ts
  apps/server/src/resources/service/controllers.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/controllers.spec.ts
  apps/server/src/resources/user/controllers.ts
  apps/server/src/resources/user/role-queries.ts
  apps/server/src/utils/business.ts
  apps/server/src/utils/controller.ts
  apps/server/src/utils/logger.ts
  apps/server/src/utils/response.ts
  packages/hooks/src/hooks/repository.ts
  packages/shared/src/openApiSchemas/repository.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/schemas/repository.ts
  packages/shared/src/utils/schemas.spec.ts
  plugins/gitlab/src/project.ts
Due: pnpm run format --filter server --, pnpm run format --filter shared --

ci: :construction_worker: upgrade cicd actions versions
  .github/workflows/build.yml
  .github/workflows/cache.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/release.yml
  .github/workflows/scan.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-deploy.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  .release-please-manifest.json
  ci/act/workflows/build.yml
  ci/act/workflows/cache.yml
  ci/act/workflows/ci.yml
  ci/act/workflows/lint.yml
  ci/act/workflows/release.yml
  ci/act/workflows/scan.yml
  ci/act/workflows/tests-component.yml
  ci/act/workflows/tests-deploy.yml
  ci/act/workflows/tests-e2e.yml
  ci/act/workflows/tests-unit.yml
  release-please-config.json
Due: none

refactor: :recycle: fix import problems in zod schemas
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/schemas/repository.ts
  packages/shared/vitest.config.js
Due: pnpm run format --filter shared --

refactor: :speech_balloon: update hooks readme
  packages/hooks/README.md
Due: none

ci: :green_heart: fix artifacts conflicts upload
  .github/workflows/scan.yml
  ci/act/workflows/scan.yml
Due: none

docs(projectInit): :hammer: remove outdated NPM vscode extension
  .vscode/extensions.json
Due: none

chore: :technologist: add a variable to define local external plugins dir
  apps/server/.env.integ-example
  docker/docker-compose.integ.yml
  package.json
Due: none

chore: :arrow_up: upgrade dep for plugins and server
  .gitignore
  apps/server/.env.integ-example
  apps/server/package.json
  package.json
  packages/hooks/src/services.ts
  packages/hooks/tsconfig.json
  plugins/argocd/package.json
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
Due: none

refactor: :recycle: refactor toResponse processing
  packages/hooks/src/services.ts
Due: none

fix: :technologist: fix docker volumes for integ mode
  docker/docker-compose.integ.yml
Due: none

refactor: :label: fix keycloak plugin group type
  plugins/keycloak/src/group.ts
Due: none

ci: :construction_worker: trigger ct and e2e tests on plugins changes
  .github/workflows/ci.yml
Due: none

feat: :sparkles: add stage in setPermission payload
  apps/server/src/resources/permission/business.ts
  apps/server/src/resources/permission/controllers.spec.ts
  apps/server/src/resources/user/business.ts
  packages/hooks/package.json
  packages/hooks/src/hooks/permission.ts
Due: pnpm run format --filter server --

refactor: :rotating_light: fix ts errors in server
  apps/server/src/__mocks__/app.ts
  apps/server/src/app.ts
  apps/server/src/resources/cluster/admin/business.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.spec.ts
  apps/server/src/resources/environment/controllers.ts
  apps/server/src/resources/log/admin/queries.ts
  apps/server/src/resources/organization/admin/business.ts
  apps/server/src/resources/organization/controllers.ts
  apps/server/src/resources/permission/business.ts
  apps/server/src/resources/permission/queries.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/controllers.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/quota/admin/business.ts
  apps/server/src/resources/quota/admin/controllers.ts
  apps/server/src/resources/stage/admin/business.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/controllers.spec.ts
  apps/server/src/utils/controller.ts
  packages/hooks/src/hooks/project.ts
  packages/shared/src/resources/environment/openApiSchema.ts
  packages/shared/src/resources/permission/openApiSchema.ts
  packages/shared/src/resources/project/openApiSchema.ts
  packages/shared/src/resources/quota/openApiSchema.ts
  packages/shared/src/resources/stage/openApiSchema.ts
  packages/shared/src/resources/user/openApiSchema.ts
Due: pnpm run format --filter server --, pnpm run format --filter shared --

fix: :bug: send cluster kubeconfig in hook paylaod
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/permission/business.ts
Due: pnpm run format --filter server --

chore: :technologist: fix files binding in docker-compose dev
  docker/docker-compose.dev.yml
Due: none

chore: :hammer: add nodejs debug option in dev mode
  .vscode/launch.json
  README.md
  apps/client/tsconfig.json
  apps/server/Dockerfile
  apps/server/package.json
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
  package.json
  packages/tsconfig/tsconfig.base.json
  plugins/gitlab/tsconfig.json
Due: none

chore: :technologist: improve packages build time
  apps/client/package.json
  apps/server/package.json
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
  package.json
  packages/hooks/package.json
  packages/shared/package.json
  packages/test-utils/package.json
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.base.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  turbo.json
Due: none

fix: :bug: update compile cmd to build in plugins pkgs
  README.md
  apps/server/Dockerfile
  packages/hooks/package.json
  packages/shared/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
Due: none

chore: :technologist: fix build clean commands
  apps/client/package.json
  apps/server/package.json
  packages/hooks/package.json
  packages/shared/package.json
  packages/test-utils/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
Due: none

fix: :bug: missing check in search group
  apps/server/src/plugins/core/gitlab/group.ts
Due: pnpm run format --filter server --

fix: :bug: missing check nexus find user
  apps/server/src/plugins/core/nexus/project.ts
Due: pnpm run format --filter server --

fix: :test_tube: trying to optimize dependancies for failing modules
  apps/client/vite.config.ts
Due: pnpm run format --filter client --

refactor: :recycle: fix monitor types and minor refactos
  apps/server/src/__mocks__/app.ts
  apps/server/src/plugins.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/service/business.ts
  apps/server/src/server.spec.ts
  apps/server/src/utils/env.ts
  apps/server/vite.config.ts
  ci/kind/upload-package.sh
  package.json
  packages/shared/src/utils/plugins.ts
  plugins/argo/src/index.ts
  plugins/argo/src/monitor.ts
  plugins/gitlab/src/monitor.ts
  plugins/harbor/src/monitor.ts
  plugins/nexus/src/monitor.ts
  plugins/sonarqube/src/monitor.ts
  plugins/sonarqube/src/tech.ts
  plugins/vault/src/monitor.ts
Due: pnpm run format --filter server --, pnpm run format --filter shared --

ci: :construction_worker: update ci caches with new plugins directory
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
Due: none

chore: :technologist: improve dx by passing external plugin dir
  .gitignore
  ci/kind/configs/cluster/Chart.yaml
  ci/kind/configs/cluster/templates/kind-config.yml
  ci/kind/configs/cluster/values.yaml
  ci/kind/run-create.sh
  env/dso-values-dev.yaml
  env/kind-values.example.yml
Due: none

refactor: :bug: missed check directory
  ci/kind/run-create.sh
Due: none

Path conditions:
  pnpm run format --filter client --: any of: **/client/**/*.{js,ts,vue,cjs}
  pnpm run format:style --filter client --: any of: **/client/**/*.{vue,css}
  pnpm run format --filter server --: any of: **/server/**/*.{js,cjs,ts}
  pnpm run format --filter shared --: any of: **/shared/**/*.{js,cjs,ts}
