Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format --filter cypress

refactor: :recycle: move admin user controller logic to business
  apps/server/src/resources/user/admin/business.ts
  apps/server/src/resources/user/admin/controllers.ts
Due: none

refactor: :recycle: move orm call from system controller to business
  apps/server/src/resources/system/db/business.ts
  apps/server/src/resources/system/db/controllers.ts
Due: none

refactor: :recycle: uncouple controller and orm
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/organization/admin/business.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/business.ts
  apps/server/src/utils/controller.ts
Due: none

refactor: :children_crossing: add text infos if empty resource
  apps/client/cypress/e2e/specs/admin/logs.e2e.js
  apps/client/cypress/e2e/specs/dashboard.e2e.js
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListLogs.vue
  apps/client/src/views/admin/ListOrganizations.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/resources/cluster/admin/business.ts
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :lipstick: fix padding
  apps/client/src/views/projects/DsoDashboard.vue
Due: pnpm run format --filter client

fix: :lipstick: restyle logs interface
  apps/client/src/views/admin/ListLogs.vue
  apps/client/src/views/projects/DsoDashboard.vue
Due: pnpm run format --filter client

refactor: :recycle: convert test-utils to TS
  .eslintignore
  .gitignore
  apps/server/src/__mocks__/prisma.ts
  apps/server/src/routes/organization.spec.ts
  apps/server/src/routes/project-repository.spec.ts
  apps/server/src/server.ts
  ci/kind/run.sh
  ci/scripts/run-tests.sh
  package.json
  packages/test-utils/.eslintrc.cjs
  packages/test-utils/.gitignore
  packages/test-utils/package.json
  packages/test-utils/src/func-utils.js
  packages/test-utils/src/imports/data.ts
  packages/test-utils/src/index.js
  packages/test-utils/src/index.ts
  packages/test-utils/src/utils/func-utils.ts
  packages/test-utils/src/utils/random-project.ts
  packages/test-utils/src/utils/random-utils.ts
  packages/test-utils/src/utils/types.ts
  packages/test-utils/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: none

refactor: :recycle: sonar 24082023 analysis
  apps/client/cypress/e2e/specs/environments.e2e.js
  apps/client/src/views/admin/ListProjects.vue
Due: pnpm run format --filter client, pnpm run format --filter cypress

refactor: :recycle: organization route TU
  apps/server/src/resources/organization/business.ts
  apps/server/src/routes/organization.spec.ts
  packages/test-utils/src/index.ts
  packages/test-utils/src/utils/random-utils.ts
  packages/test-utils/src/utils/types.ts
Due: none

refactor: :rotating_light: fix linter unused var
  apps/client/.eslintrc.cjs
  apps/client/src/router/index.js
  apps/server/.eslintrc.cjs
  apps/server/src/plugins/core/argo/index.ts
  apps/server/src/plugins/core/gitlab/user.ts
  apps/server/src/plugins/core/keycloak/permission.ts
  apps/server/src/plugins/core/sonarqube/user.ts
  apps/server/src/plugins/index.ts
  apps/server/src/resources/cluster/admin/business.ts
Due: pnpm run format --filter client

feat: :sparkles: better integration of sonarqube
  apps/server/src/plugins/core/gitlab/group.ts
  apps/server/src/plugins/core/gitlab/index.ts
  apps/server/src/plugins/core/gitlab/project.ts
  apps/server/src/plugins/core/keycloak/group.ts
  apps/server/src/plugins/core/keycloak/index.ts
  apps/server/src/plugins/core/keycloak/permission.ts
  apps/server/src/plugins/core/keycloak/user.ts
  apps/server/src/plugins/core/sonarqube/group.ts
  apps/server/src/plugins/core/sonarqube/index.ts
  apps/server/src/plugins/core/sonarqube/init.ts
  apps/server/src/plugins/core/sonarqube/project.ts
  apps/server/src/plugins/core/sonarqube/user.ts
  apps/server/src/plugins/hooks/hook.ts
  apps/server/src/resources/permission/business.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/repository/controllers.ts
Due: none

revert: :card_file_box: revert ProjectStatus enum
  apps/server/src/prisma/migrations/20230802143822_dso/migration.sql
  apps/server/src/prisma/schema.prisma
Due: none

revert: :card_file_box: jhdsbvjk
  apps/server/src/prisma/migrations/20230802143822_dso/migration.sql
  apps/server/src/prisma/schema.prisma
Due: none

fix: :ambulance: preserve status colum in project
  apps/server/src/prisma/migrations/20230802143822_dso/migration.sql
Due: none

test: :white_check_mark: add e2e test for snackbar error in create project form
  apps/client/.eslintignore
  apps/client/cypress/e2e/specs/create-project.e2e.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

test: :white_check_mark: deskip repo e2e tests
  apps/client/cypress/e2e/specs/repos.e2e.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

refactor: :recycle: check projet role and locked
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/permission/business.ts
  apps/server/src/resources/permission/controllers.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/repository/controllers.ts
  apps/server/src/utils/controller.ts
Due: none

test: :white_check_mark: update environment TU for prisma
  apps/client/cypress/components/specs/permission-form.ct.js
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.ts
  apps/server/src/resources/permission/business.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/routes/project-environment.spec.ts
  apps/server/src/utils/controller.ts
  apps/server/src/utils/random.spec.ts
  packages/test-utils/src/utils/random-project.ts
  packages/test-utils/src/utils/random-utils.ts
  packages/test-utils/src/utils/types.ts
Due: pnpm run format --filter client, pnpm run format --filter cypress

test: :white_check_mark: update permissions TU for prisma
  apps/server/src/resources/permission/business.ts
  apps/server/src/resources/permission/controllers.ts
  apps/server/src/routes/project-permission.spec.ts
Due: none

test: :white_check_mark: update admin organization test for prisma
  apps/server/src/resources/organization/admin/business.ts
  apps/server/src/routes/admin/organization.spec.ts
  apps/server/src/routes/organization.spec.ts
  apps/server/src/routes/project-environment.spec.ts
  apps/server/src/routes/project-permission.spec.ts
  apps/server/src/routes/project-repository.spec.ts
Due: none

test: :white_check_mark: update logs admin TU for prisma
  apps/server/src/routes/admin/log.spec.ts
Due: none

test: :white_check_mark: update admin project tu for prisma
  apps/server/src/routes/admin/log.spec.ts
  apps/server/src/routes/admin/project.spec.ts
Due: none

test: :white_check_mark: update admin user tu for prisma
  apps/server/src/routes/admin/log.spec.ts
  apps/server/src/routes/admin/organization.spec.ts
  apps/server/src/routes/admin/project.spec.ts
  apps/server/src/routes/admin/user.spec.ts
Due: none

refactor: ♻️ add non infra repository to appproject
  apps/server/src/plugins/core/argo/index.ts
Due: none

test: :white_check_mark: update repo TU for prisma
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/repository/controllers.ts
  apps/server/src/routes/project-repository.spec.ts
  apps/server/src/utils/business.ts
  packages/test-utils/src/utils/random-utils.ts
Due: none

test: :white_check_mark: update user TU for prisma
  apps/client/src/api/api.js
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/controllers.ts
  apps/server/src/routes/project-user.spec.ts
  apps/server/src/routes/project-user.ts
Due: pnpm run format --filter client

test: :white_check_mark: refactor connect tu
  apps/server/src/connect.spec.ts
Due: none

test: :white_check_mark: update app tu
  apps/server/src/app.spec.ts
Due: none

test: :white_check_mark: update ressources TU for prisma
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/routes/project-user.spec.ts
  apps/server/src/routes/project.spec.ts
  apps/server/src/utils/controller.ts
  apps/server/src/utils/queries-tools.ts
  packages/shared/src/schemas/project.ts
Due: none

refactor: :fire: delete unused files
  apps/client/Dockerfile
  apps/client/cypress/Dockerfile
  apps/server/Dockerfile
  ci/scripts/build-images.sh
  ci/scripts/push-to-quay.sh
  patches/sequelize-mock@0.10.2.patch
Due: none

refactor: :wrench: share eslint config between packages
  .eslintignore
  apps/client/.eslintrc.cjs
  apps/client/.eslintrc.json
  apps/client/Dockerfile
  apps/client/package.json
  apps/server/.eslintrc.cjs
  apps/server/.eslintrc.json
  apps/server/Dockerfile
  apps/server/package.json
  packages/eslintconfig/index.js
  packages/eslintconfig/package.json
  packages/shared/.eslintrc.cjs
  packages/shared/.eslintrc.json
  packages/shared/package.json
  packages/test-utils/.eslintrc.cjs
  packages/test-utils/.eslintrc.json
  packages/test-utils/package.json
  pnpm-lock.yaml
Due: none

ci: :construction_worker: improve CI maintenance
  .github/workflows/build.yml
  .github/workflows/cache.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/scan.yml
  .github/workflows/test.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-deploy.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  apps/server/Dockerfile
  apps/server/package.json
  ci/act/docker/Dockerfile
  ci/act/mock-ci.md
  ci/act/scripts/run-ci-locally.sh
  ci/kind/run.sh
  ci/scripts/run-tests.sh
Due: none

test: :white_check_mark: add prisma mock
  apps/server/src/generate-files/generate-ci-files.spec.ts
Due: none

test: :white_check_mark: unskip service and queries tools TU
  apps/server/src/resources/service/business.ts
  apps/server/src/routes/service.spec.ts
  apps/server/src/utils/queries-tools.spec.ts
  apps/server/src/utils/queries-tools.ts
  apps/server/src/utils/services.spec.ts
Due: none

test: :white_check_mark: unskip tests and update data.ts path
  apps/server/src/server.spec.ts
  apps/server/src/server.ts
Due: none

chore: :technologist: disable liveness probes in dev environment
  env/dso-values-dev.yaml
  helm/templates/deployment-server.yaml
  helm/values.yaml
Due: none

Path conditions:
  pnpm run format --filter client: any of: **/client/**/*.{js,ts,vue,css}
  pnpm run format --filter cypress: any of: **/cypress/**/*.{js,cjs,ts}
