Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm --filter=@cpn-console/client run lint:style --",
  "**/apps/client/**/*": "pnpm --filter=@cpn-console/client run lint:ts --",
  "**/apps/server/**/*": "pnpm --filter=@cpn-console/server run lint --",
  "**/packages/**/*": "pnpm --filter=./packages/* run lint --",
  "**/plugins/**/*": "pnpm --filter=./plugins/* run lint --",
  "**/*": "pnpm run lint:root --"
}

test(user-tokens): pass faker refDate as epoch number
  apps/server-nestjs/src/modules/user-tokens/user-tokens.controller.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
  apps/server-nestjs/test/user-tokens.e2e-spec.ts
Due: pnpm run lint:root --

refactor(client): type PAT create body via shared request alias
  apps/client/src/stores/token.ts
  packages/shared/src/contracts/personal-access-token.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(shared): upstream personal access token body schema
  apps/server-nestjs/src/modules/user-tokens/user-tokens.controller.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.utils.ts
  packages/shared/src/schemas/_utils.ts
  packages/shared/src/schemas/index.ts
  packages/shared/src/schemas/token.spec.ts
  packages/shared/src/schemas/token.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

test(user-tokens): anchor expiration fixtures at the schema boundary
  apps/server-nestjs/src/modules/user-tokens/user-tokens.controller.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
  apps/server-nestjs/test/user-tokens.e2e-spec.ts
Due: pnpm run lint:root --

test(playwright): add secrets and user-flow uat specs
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm run lint:root --

refactor(user-tokens): map records to contract in controller
  apps/server-nestjs/src/modules/user-tokens/user-tokens-queries.utils.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.controller.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.controller.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.utils.ts
Due: pnpm run lint:root --

test(playwright): trim project secrets journey spec
  playwright/e2e-tests/secrets.spec.ts
Due: pnpm run lint:root --

test(playwright): user-acceptance gap-fill secrets journeys
  playwright/e2e-tests/secrets.spec.ts
Due: pnpm run lint:root --

feat(server-nestjs): migrate personal access tokens
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.controller.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
  apps/server-nestjs/src/utils/time.utils.ts
  apps/server-nestjs/test/user-tokens.e2e-spec.ts
  packages/shared/src/schemas/token.spec.ts
  packages/shared/src/utils/date.ts
  packages/shared/src/utils/functions.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

fix(server-nestjs): consume projectMember events in gitlab module
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
Due: pnpm run lint:root --

fix(server-nestjs): decouple rename migration predicates
  apps/server-nestjs/src/prisma/migrations/20260615100000_rename_role_readonly_to_reader/migration.sql
Due: pnpm run lint:root --

test(project): lock readonly rename without over-locking role count
  apps/server-nestjs/src/modules/project/project.utils.spec.ts
Due: pnpm run lint:root --

fix(gitlab): sync project members on upsert and delete events
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
Due: pnpm run lint:root --

revert(server): restore frozen apps/server project queries to origin/main
  apps/server/src/resources/project/queries.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

fix(plugins/argocd): update remaining readonly references in functions
  plugins/argocd/src/functions.spec.ts
  plugins/argocd/src/functions.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

refactor(project): remove type assertions per repo rule
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/project/project.utils.spec.ts
Due: pnpm run lint:root --

test(project): lock seeded role names and reader oidcGroup
  apps/server-nestjs/src/modules/project/project.utils.spec.ts
Due: pnpm run lint:root --

fix(server-nestjs): align reader group paths and migrate plugin config keys
  apps/server-nestjs/src/modules/nexus/nexus-plugin.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.constants.ts
  apps/server-nestjs/src/prisma/migrations/20260615100000_rename_role_readonly_to_reader/migration.sql
  apps/server-nestjs/test/sonarqube.e2e-spec.ts
  plugins/gitlab/src/infos.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(server-nestjs): rename role readonly to reader
  apps/server-nestjs/src/modules/argocd/argocd-plugin.service.ts
  apps/server-nestjs/src/modules/argocd/argocd.constants.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.spec.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.constants.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.constants.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/project/project.utils.ts
  apps/server-nestjs/src/modules/registry/registry.constants.ts
  apps/server-nestjs/src/modules/registry/registry.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.constants.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.ts
  apps/server-nestjs/src/modules/vault/vault.constants.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  apps/server-nestjs/src/prisma/migrations/20260615100000_rename_role_readonly_to_reader/migration.sql
  apps/server/src/resources/project/queries.ts
  packages/shared/src/utils/permissions.ts
  plugins/argocd/src/infos.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

refactor(service-monitor): type the cause as a string in the contract
  apps/server-nestjs/src/modules/service-monitor/service-monitor.service.spec.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.service.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.utils.ts
  packages/shared/src/contracts/service-monitor.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

chore(nginx-strangler): tag the logs and system-config cutover wave markers
  apps/nginx-strangler/conf.d/routing.conf
Due: pnpm run lint:root --

feat(nginx-strangler): route logs and system plugins to server-nestjs
  apps/nginx-strangler/conf.d/routing.conf
Due: pnpm run lint:root --

refactor(service-monitor): pass the indicator key explicitly to fromHealthCheck
  apps/server-nestjs/src/modules/service-monitor/service-monitor.service.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.utils.ts
Due: pnpm run lint:root --

feat(nginx-strangler): route service-monitor to server-nestjs
  apps/nginx-strangler/conf.d/routing.conf
  apps/server-nestjs/src/modules/service-monitor/service-monitor.service.spec.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.service.ts
Due: pnpm run lint:root --

test(server-nestjs): drop cutover guard forbidding emitAdminRoleEvent
  apps/server-nestjs/src/modules/keycloak/keycloak.service.spec.ts
Due: pnpm run lint:root --

refactor(service-monitor): use a Set for core components and drop non-promise awaits
  apps/server-nestjs/src/modules/registry/registry.utils.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.controller.spec.ts
Due: pnpm run lint:root --

test(events): drop the emitZoneEvent absence guard superseded by the zone migration
  apps/server-nestjs/src/modules/events/app-events.service.spec.ts
Due: pnpm run lint:root --

test(service-monitor): cover probe payload and init branches
  apps/server-nestjs/src/modules/service-monitor/service-monitor.service.spec.ts
Due: pnpm run lint:root --

test(server-nestjs): assert app events emit surface parity
  apps/server-nestjs/src/modules/events/app-events.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.spec.ts
Due: pnpm run lint:root --

refactor(service-monitor): use DeepMockProxy instead of ReturnType aliases
  apps/server-nestjs/package.json
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/registry/registry-health.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry-health.service.ts
  apps/server-nestjs/src/modules/registry/registry.utils.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.constants.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.controller.spec.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.controller.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.module.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.service.spec.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.service.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.utils.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-health.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-health.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.constants.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --
