Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix: vscode not launching integration with envs Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  .vscode/launch.json
Due: pnpm run lint:root --

fix: dotenv doesn't overload existing env var
  .vscode/launch.json
  apps/server-nestjs/prisma.config.ts
  apps/server/prisma.config.ts
  apps/server/src/utils/env.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

chore(server-nestjs): remove useless ServerService service
  apps/server-nestjs/src/modules/infrastructure/infrastructure.module.ts
  apps/server-nestjs/src/modules/infrastructure/server/server.service.spec.ts
  apps/server-nestjs/src/modules/infrastructure/server/server.service.ts
Due: pnpm run lint:root --

refactor(server-nestjs): migrate package managers to NestJS
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-datastore.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-health.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-http-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-testing.utils.ts
  apps/server-nestjs/src/modules/nexus/nexus.constants.ts
  apps/server-nestjs/src/modules/nexus/nexus.module.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.utils.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.ts
  apps/server-nestjs/src/modules/registry/registry-datastore.service.ts
  apps/server-nestjs/src/modules/registry/registry-health.service.ts
  apps/server-nestjs/src/modules/registry/registry-http-client.service.ts
  apps/server-nestjs/src/modules/registry/registry-testing.utils.ts
  apps/server-nestjs/src/modules/registry/registry.constants.ts
  apps/server-nestjs/src/modules/registry/registry.module.ts
  apps/server-nestjs/src/modules/registry/registry.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/src/modules/registry/registry.utils.ts
  apps/server-nestjs/src/modules/vault/vault-testing.utils.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
  apps/server-nestjs/test/registry.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  plugins/harbor/src/policy.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(server-nestjs): remove useless HttpClientService
  apps/server-nestjs/src/cpin-module/infrastructure/http-client/http-client.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/http-client/http-client.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/infrastructure.module.ts
Due: pnpm run lint:root --

chore(server-nestjs): remove useless CpinModule core modules
  apps/server-nestjs/src/cpin-module/core/app/app.service.spec.ts
  apps/server-nestjs/src/cpin-module/core/app/app.service.ts
  apps/server-nestjs/src/cpin-module/core/core.module.ts
  apps/server-nestjs/src/cpin-module/core/fastify/fastify.service.spec.ts
  apps/server-nestjs/src/cpin-module/core/fastify/fastify.service.ts
Due: pnpm run lint:root --

fix: dotenv doesn't overload existing env var
  .vscode/launch.json
  apps/client/src/utils/env.ts
  apps/server-nestjs/prisma.config.ts
  apps/server/prisma.config.ts
  apps/server/src/utils/env.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

fix: dotenv doesn't overload existing env var
  apps/server-nestjs/prisma.config.ts
  apps/server/prisma.config.ts
  apps/server/src/utils/env.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

chore: remove duplicate admin config in example
  apps/server-nestjs/.env-example
  apps/server-nestjs/.env.integ-example
Due: pnpm run lint:root --

Path conditions:
  pnpm --filter=@cpn-console/client run lint:style --: any of: **/apps/client/**/*.{vue,css}
  pnpm --filter=@cpn-console/client run lint:ts --: any of: **/apps/client/**/*
  pnpm --filter=@cpn-console/server run lint --: any of: **/apps/server/**/*
  pnpm --filter=./packages/* run lint --: any of: **/packages/**/*
  pnpm --filter=./plugins/* run lint --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
