Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format --filter cypress

fix: :bug: clusters related bugs
  apps/client/src/components/ClusterForm.vue
  apps/server/src/plugins/core/argo/cluster.ts
  apps/server/src/resources/cluster/admin/business.ts
Due: pnpm run format --filter client

feat: :passport_control: update harbor project member role
  apps/server/src/plugins/core/harbor/index.ts
Due: none

feat: :technologist: add images auto-scan to harbor settings
  apps/server/src/plugins/core/harbor/project.ts
Due: none

revert: :poop: comment harbor projet member role update
  apps/server/src/plugins/core/harbor/index.ts
Due: none

feat: :sparkles: add tlsServerName input in cluster form
  apps/client/cypress/components/specs/cluster-form.ct.js
  apps/client/cypress/e2e/specs/admin/clusters.e2e.js
  apps/client/src/components/ClusterForm.vue
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :sparkles: add infos key for cluster
  apps/client/cypress/components/specs/cluster-form.ct.js
  apps/client/cypress/e2e/specs/admin/clusters.e2e.js
  apps/client/src/components/ClusterForm.vue
  apps/client/src/stores/admin/cluster.js
  apps/server/src/prisma/migrations/20230912084459_dso/migration.sql
  apps/server/src/prisma/schema.prisma
  apps/server/src/resources/cluster/admin/queries.ts
  packages/shared/src/schemas/cluster.ts
  packages/test-utils/src/imports/data.ts
  packages/test-utils/src/utils/random-utils.ts
  packages/test-utils/src/utils/types.ts
Due: pnpm run format --filter client, pnpm run format --filter cypress

chore: :wrench: add cm checksum on deploy for helm auto update
  helm/templates/_helpers.tpl
  helm/templates/deployment-client.yaml
  helm/templates/deployment-postgres.yaml
  helm/templates/deployment-server.yaml
  helm/values.yaml
Due: none

fix: :goal_net: throw error if catched in business
  apps/server/src/generate-files/generate-ci-files.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/organization/admin/business.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/service/business.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/routes/admin/log.spec.ts
  apps/server/src/routes/admin/organization.spec.ts
  apps/server/src/routes/admin/project.spec.ts
  apps/server/src/routes/admin/user.spec.ts
  apps/server/src/routes/project-environment.spec.ts
  apps/server/src/routes/project.spec.ts
  apps/server/src/utils/controller.ts
  apps/server/src/utils/errors.ts
  apps/server/src/utils/response.ts
Due: none

build: :green_heart: fix app version in image build
  .github/workflows/build.yml
Due: none

fix: :bug: error handle in project delete
  apps/client/src/components/ClusterForm.vue
  apps/server/src/plugins/core/kubernetes/api.ts
  apps/server/src/resources/cluster/admin/controllers.ts
  apps/server/src/resources/project/business.ts
Due: pnpm run format --filter client

build: :green_heart: fix tag var
  apps/server/Dockerfile
  apps/server/src/plugins/index.ts
Due: none

chore: :construction: filter plugins to start
  apps/server/src/plugins/index.ts
Due: none

fix: :construction: fix unit tests and server image
  apps/server/Dockerfile
  apps/server/src/routes/project.spec.ts
Due: none

fix: :bug: initialize global proxy agent
  apps/server/package.json
  apps/server/src/resources/project/business.ts
  apps/server/src/server.ts
  pnpm-lock.yaml
Due: none

refactor: :recycle: improve server env var management
  apps/server/src/plugins/index.ts
  apps/server/src/routes/service.spec.ts
  apps/server/src/utils/env.ts
  helm/templates/cm-server.yaml
  helm/values.yaml
  packages/shared/src/utils/functions.ts
Due: none

fix: :alien: fetch does not support proxy natively
  apps/server/package.json
  apps/server/src/server.ts
  pnpm-lock.yaml
Due: none

revert: :rewind: remove changes done in others PRs
  apps/client/src/components/ClusterForm.vue
  apps/server/package.json
  apps/server/src/plugins/core/kubernetes/api.ts
  apps/server/src/server.ts
Due: pnpm run format --filter client

fix: :heavy_plus_sign: fix pnpm-lock file
  pnpm-lock.yaml
Due: none

fix: :bug: now the admin can chosse skip tls api kube
  apps/client/cypress/components/specs/cluster-form.ct.js
  apps/client/cypress/e2e/specs/admin/clusters.e2e.js
  apps/client/src/components/ClusterForm.vue
  apps/client/src/stores/admin/cluster.js
  apps/client/src/views/admin/ListClusters.vue
  apps/server/src/plugins/core/kubernetes/api.ts
  packages/shared/src/resources/cluster/model.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :art: can disble plugins by name, and some fixes
  apps/server/src/plugins/index.ts
  apps/server/src/resources/cluster/admin/controllers.ts
  apps/server/src/routes/project.spec.ts
  apps/server/src/routes/service.spec.ts
  apps/server/src/utils/env.ts
  helm/templates/cm-server.yaml
  helm/values.yaml
  packages/shared/src/utils/functions.ts
Due: none

fix: :ambulance: bad logic register plugins
  apps/server/src/plugins/index.ts
Due: none

feat: :technologist: add swagger for server api
  apps/client/cypress/e2e/specs/home.e2e.js
  apps/client/src/App.vue
  apps/client/src/api/xhr-client.js
  apps/client/src/api/xhr-client.spec.js
  apps/server/package.json
  apps/server/src/app.spec.ts
  apps/server/src/app.ts
  apps/server/src/resources/service/business.ts
  apps/server/src/resources/service/controllers.ts
  apps/server/src/routes/service.spec.ts
  apps/server/src/utils/keycloak.ts
  apps/server/vitest-init.ts
  helm/templates/deployment-server.yaml
  pnpm-lock.yaml
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :wrench: handle no values for disabledPlugins
  helm/templates/cm-server.yaml
Due: none

fix: :safety_vest: validate user schema before trying to insert it in db
  apps/server/src/resources/organization/business.ts
  apps/server/src/resources/service/business.ts
  apps/server/src/resources/user/business.ts
Due: none

chore: :arrow_up: upgrade keycloak version to 22.0.1
  ci/helm-utils/values.yaml
  docker/docker-compose.dev.yml
Due: none

ci: :construction_worker: improve build perf
  .github/workflows/build.yml
  .github/workflows/cd.yml
  .github/workflows/release.yml
  ci/scripts/build-tags.sh
Due: none

ci: :construction_worker: update local workflows for act
  ci/act/workflows/build.yml
  ci/act/workflows/cache.yml
  ci/act/workflows/cd.yml
  ci/act/workflows/ci.yml
  ci/act/workflows/lint.yml
  ci/act/workflows/release.yml
  ci/act/workflows/scan.yml
  ci/act/workflows/test/test.yml
  ci/act/workflows/tests-component.yml
  ci/act/workflows/tests-deploy.yml
  ci/act/workflows/tests-e2e.yml
  ci/act/workflows/tests-unit.yml
Due: none

ci: :construction_worker: change kubeconfig context in kind script
  ci/kind/run.sh
Due: none

fix: :ambulance: register cluster destination via kubeconfig
  apps/client/src/components/ClusterForm.vue
  packages/shared/src/schemas/cluster.ts
Due: pnpm run format --filter client

ci: :construction_worker: improve kind script readibility
  ci/kind/run.sh
Due: none

ci: :green_heart: fix ci build system
  .github/workflows/build.yml
  .github/workflows/scan.yml
  ci/matrix.json
Due: none

refactor: :recycle: move services logic to plugins intelligence
  apps/server/src/utils/env.ts
Due: none

Path conditions:
  pnpm run format --filter client: any of: **/client/**/*.{js,ts,vue,css}
  pnpm run format --filter cypress: any of: **/cypress/**/*.{js,cjs,ts}
