Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

feat(sonarqube): make admin group path configurable though console
  packages/shared/src/utils/const.ts
  plugins/sonarqube/src/functions.ts
  plugins/sonarqube/src/group.ts
  plugins/sonarqube/src/index.ts
  plugins/sonarqube/src/infos.ts
  plugins/sonarqube/src/project.ts
  plugins/sonarqube/src/user.ts
  plugins/sonarqube/src/utils.ts
Due: pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(argocd): remove kubernetes ressource generation dead code
  plugins/argocd/src/app-project.ts
  plugins/argocd/src/applications.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

feat(argocd): add well known OIDC groups from ADR14
  plugins/argocd/src/functions.ts
  plugins/argocd/src/infos.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(argocd): remove kubernetes ressource generation dead code (#1945)
  plugins/argocd/src/app-project.ts
  plugins/argocd/src/applications.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(admin-role): add logs (#1928)
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/router.spec.ts
  apps/server/src/resources/admin-role/router.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

feat(gitlab): add builtin roles to GitLab
  apps/server/src/utils/hook-wrapper.spec.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-member.ts
  packages/hooks/src/hooks/hook-project-role.ts
  packages/hooks/src/hooks/hook-project.ts
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/infos.ts
  plugins/gitlab/src/members.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
  plugins/keycloak/src/functions.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

feat(argocd): add well known OIDC groups from ADR14
  plugins/argocd/src/functions.spec.ts
  plugins/argocd/src/functions.ts
  plugins/argocd/src/infos.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(keycloak): migrating admin roles from disabled purge to enabled by default
  plugins/keycloak/src/functions.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

feat(admin-role): migrate static permissions to system role everyone Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/client/src/stores/user.ts
  apps/server/src/utils/controller.ts
  packages/shared/src/utils/permissions.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(admin-role): migrate static permissions to system role everyone Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/client/src/stores/user.ts
  apps/server/src/prisma/migrations/20260226120000_add_tout_le_monde_system_role/migration.sql
  apps/server/src/prisma/migrations/20260226123000_update_tout_le_monde_permissions/migration.sql
  apps/server/src/utils/controller.ts
  packages/shared/src/utils/permissions.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(admin-role): migrate static permissions to system role everyone
  apps/client/src/stores/user.ts
  apps/server/src/prisma/migrations/20260226120000_add_tout_le_monde_system_role/migration.sql
  apps/server/src/prisma/migrations/20260226123000_update_tout_le_monde_permissions/migration.sql
  apps/server/src/utils/controller.ts
  packages/shared/src/utils/permissions.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(admin-role): migrate static permissions to system role everyone
  apps/client/src/stores/user.ts
  apps/server/src/prisma/migrations/20260226120000_add_tout_le_monde_system_role/migration.sql
  apps/server/src/prisma/migrations/20260226123000_update_tout_le_monde_permissions/migration.sql
  apps/server/src/prisma/migrations/20260226130000_remove_refined_permissions_setting/migration.sql
  apps/server/src/utils/controller.ts
  packages/shared/src/utils/permissions.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(admin-role): migrate static permissions to system role everyone
  apps/client/src/stores/user.ts
  apps/server/src/prisma/migrations/20260226120000_add_tout_le_monde_system_role/migration.sql
  apps/server/src/prisma/migrations/20260226123000_update_tout_le_monde_permissions/migration.sql
  apps/server/src/prisma/migrations/20260226130000_remove_refined_permissions_setting/migration.sql
  apps/server/src/prisma/migrations/20260226140000_update_tout_le_monde_oidc_group/migration.sql
  apps/server/src/utils/controller.ts
  packages/shared/src/utils/permissions.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(admin-role): migrate static permissions to system role everyone
  apps/client/src/stores/user.ts
  apps/server/src/prisma/migrations/20260226120000_add_tout_le_monde_system_role/migration.sql
  apps/server/src/prisma/migrations/20260226123000_update_tout_le_monde_permissions/migration.sql
  apps/server/src/prisma/migrations/20260226130000_remove_refined_permissions_setting/migration.sql
  apps/server/src/prisma/migrations/20260226140000_update_tout_le_monde_oidc_group/migration.sql
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/controller.ts
  packages/shared/src/utils/permissions.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(admin-role): migrate static permissions to system role everyone
  apps/client/src/stores/user.ts
  apps/server/src/prisma/migrations/20260226130000_remove_refined_permissions_setting/migration.sql
  apps/server/src/prisma/migrations/20260226140001_add_tout_le_monde/migration.sql
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/controller.ts
  packages/shared/src/utils/permissions.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(admin-role): migrate static permissions to system role everyone
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/stores/user.ts
  apps/server/src/prisma/migrations/20260226130000_remove_refined_permissions_setting/migration.sql
  apps/server/src/prisma/migrations/20260226140001_add_tout_le_monde/migration.sql
  apps/server/src/prisma/migrations/20260226141201_role_type/migration.sql
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/controller.ts
  packages/shared/src/utils/permissions.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(admin-role): migrate static permissions to system role everyone
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/stores/user.ts
  apps/server/src/prisma/migrations/20260226130000_remove_refined_permissions_setting/migration.sql
  apps/server/src/prisma/migrations/20260226140001_add_tout_le_monde/migration.sql
  apps/server/src/prisma/migrations/20260226141201_role_type/migration.sql
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/queries.ts
  apps/server/src/resources/admin-role/router.spec.ts
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/controller.ts
  packages/shared/src/schemas/role.ts
  packages/shared/src/utils/permissions.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(admin-role): migrate static permissions to system role everyone
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/stores/user.ts
  apps/server/src/prisma/migrations/20260226130000_remove_refined_permissions_setting/migration.sql
  apps/server/src/prisma/migrations/20260226140001_add_tout_le_monde/migration.sql
  apps/server/src/prisma/migrations/20260226141201_role_type/migration.sql
  apps/server/src/prisma/schema/admin.prisma
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/queries.ts
  apps/server/src/resources/admin-role/router.spec.ts
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/controller.ts
  packages/shared/src/schemas/role.ts
  packages/shared/src/utils/permissions.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(admin-role): migrate role type to exposure scope
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/stores/user.ts
  apps/server/src/prisma/migrations/20260226130000_remove_refined_permissions_setting/migration.sql
  apps/server/src/prisma/migrations/20260226140001_add_tout_le_monde/migration.sql
  apps/server/src/prisma/migrations/20260226141201_role_type/migration.sql
  apps/server/src/prisma/schema/admin.prisma
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/queries.ts
  apps/server/src/resources/admin-role/router.spec.ts
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/controller.ts
  packages/shared/src/schemas/role.ts
  packages/shared/src/utils/permissions.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(admin-role): migrate role type to exposure scope
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/stores/user.ts
  apps/server/src/prisma/migrations/20260226130000_remove_refined_permissions_setting/migration.sql
  apps/server/src/prisma/migrations/20260226140001_add_tout_le_monde/migration.sql
  apps/server/src/prisma/migrations/20260226141201_role_type/migration.sql
  apps/server/src/prisma/schema/admin.prisma
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/queries.ts
  apps/server/src/resources/admin-role/router.spec.ts
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/controller.ts
  packages/shared/src/schemas/role.ts
  packages/shared/src/utils/permissions.ts
  packages/test-utils/src/imports/data.ts
  playwright/e2e-tests/roles.spec.ts
  playwright/e2e-tests/system-roles.spec.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(admin-role): migrate role type to exposure scope
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/stores/user.ts
  apps/server/src/prisma/migrations/20260226130000_remove_refined_permissions_setting/migration.sql
  apps/server/src/prisma/migrations/20260226140001_add_tout_le_monde/migration.sql
  apps/server/src/prisma/migrations/20260226141201_role_type/migration.sql
  apps/server/src/prisma/schema/admin.prisma
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/queries.ts
  apps/server/src/resources/admin-role/router.spec.ts
  apps/server/src/resources/admin-role/router.ts
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/controller.ts
  packages/shared/src/schemas/role.ts
  packages/shared/src/utils/permissions.ts
  packages/test-utils/src/imports/data.ts
  playwright/e2e-tests/roles.spec.ts
  playwright/e2e-tests/system-roles.spec.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(admin-role): migrate role type to exposure scope
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/stores/user.ts
  apps/server/src/prisma/migrations/20260226130000_remove_refined_permissions_setting/migration.sql
  apps/server/src/prisma/migrations/20260226140001_add_tout_le_monde/migration.sql
  apps/server/src/prisma/migrations/20260226141201_role_type/migration.sql
  apps/server/src/prisma/schema/admin.prisma
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/queries.ts
  apps/server/src/resources/admin-role/router.spec.ts
  apps/server/src/resources/admin-role/router.ts
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/project-role/router.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/controller.ts
  packages/shared/src/schemas/role.ts
  packages/shared/src/utils/permissions.ts
  packages/test-utils/src/imports/data.ts
  playwright/e2e-tests/roles.spec.ts
  playwright/e2e-tests/system-roles.spec.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

chore(keycloak): migrate Keycloak plugin to NestJS
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/prisma.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/infrastructure.module.ts
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/iam/decorators/check-policies.decorator.ts
  apps/server-nestjs/src/modules/iam/factories/casl-ability.factory.ts
  apps/server-nestjs/src/modules/iam/guards/policies.guard.ts
  apps/server-nestjs/src/modules/iam/iam.module.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-reconciler.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-reconciler.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.module.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

Path conditions:
  pnpm --filter=@cpn-console/client run lint:style --: any of: **/apps/client/**/*.{vue,css}
  pnpm --filter=@cpn-console/client run lint:ts --: any of: **/apps/client/**/*
  pnpm --filter=@cpn-console/server run lint --: any of: **/apps/server/**/*
  pnpm --filter=./packages/* run lint --: any of: **/packages/**/*
  pnpm --filter=./plugins/* run lint --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
