Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format --filter cypress

.lintstagedrc:

{
  "**/client/**/*.{js,ts,vue,css}": "pnpm run format --filter client",
  "**/cypress/**/*.{js,cjs,ts}": "pnpm run format --filter cypress"
}

chore: :arrow_up: upgrade dependancies client
  apps/client/package.json
  package.json
  pnpm-lock.yaml
Due: none

fix: :bug: Finish removeUser feature
  apps/client/src/components/RepoForm.vue
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/projects/DsoTeam.vue
  packages/shared/src/utils/schemas.js
  packages/shared/src/utils/schemas.spec.js
Due: pnpm run format --filter client

refactor: :recycle: Generalize getTruthySchema in instanciateSchema
  apps/client/src/components/RepoForm.vue
  apps/client/src/views/CreateProject.vue
  packages/shared/src/utils/schemas.js
  packages/shared/src/utils/schemas.spec.js
Due: pnpm run format --filter client

feat: :necktie: Add removeuser func
  apps/client/src/stores/project.js
Due: pnpm run format --filter client

fix: :bug: Handle cases where no users
  apps/client/src/stores/project.js
  apps/client/src/views/projects/DsoTeam.vue
Due: pnpm run format --filter client

feat: :art: spread instead of push
  apps/client/src/stores/project.js
Due: pnpm run format --filter client

fix: :construction: Wip reinit newUser object
  apps/client/src/views/projects/DsoTeam.vue
  packages/shared/src/utils/functions.js
  packages/shared/src/utils/functions.spec.js
  packages/shared/src/utils/index.js
Due: pnpm run format --filter client

feat: :sparkles: Add user to project
  apps/client/src/views/projects/DsoTeam.vue
Due: pnpm run format --filter client

fix: :bug: Add tagName (type) so it's closeable
  apps/client/src/views/projects/DsoTeam.vue
Due: pnpm run format --filter client

feat: :construction: Add DsfrTable for users
  apps/client/src/components/RepoForm.vue
  apps/client/src/icons.js
  apps/client/src/views/AboutUs.vue
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/DsoHome.vue
  apps/client/src/views/projects/DsoTeam.vue
Due: pnpm run format --filter client

feat: :construction: Add removeUserFromProject function
  apps/client/src/stores/project.js
  apps/client/src/views/projects/DsoTeam.vue
Due: pnpm run format --filter client

feat: :construction: Func removeUserFromProject
  apps/client/src/main.css
  apps/client/src/views/projects/DsoTeam.vue
Due: pnpm run format --filter client

test: :white_check_mark: Add e2e test for team view
  apps/client/cypress/e2e/specs/team.e2e.js
  apps/client/src/views/projects/DsoTeam.vue
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :coffin: Remove unused function
  packages/shared/src/utils/functions.js
  packages/shared/src/utils/functions.spec.js
Due: none

feat: :construction: Add final todos
  apps/client/src/views/projects/DsoTeam.vue
Due: pnpm run format --filter client

feat: :construction: Add DsoTeam table
  apps/client/src/views/projects/DsoTeam.vue
Due: pnpm run format --filter client

chore: :arrow_up: upgrade dep for server
  apps/server/package.json
  pnpm-lock.yaml
Due: none

feat: :necktie: users[].email must be unique
  apps/client/src/stores/project.js
  apps/client/src/views/projects/DsoTeam.vue
  packages/shared/src/schemas/project.js
Due: pnpm run format --filter client

fix: :coffin: Remove test class
  apps/client/src/views/projects/DsoTeam.vue
Due: pnpm run format --filter client

fix: :bug: Review tobi, an array even empty is always true
  apps/client/src/stores/project.js
  apps/client/src/views/projects/DsoTeam.vue
Due: pnpm run format --filter client

build: :package: Add ansible in server container & update docker files
  apps/client/Dockerfile
  apps/server/Dockerfile
  docker/docker-compose.dev.yml
Due: none

feat: :sparkles: Prepare ansible call for project provisioning
  apps/server/src/ansible/index.js
  apps/server/src/controllers/project.js
Due: none

fix: :bug: Fix multiples bugs
  apps/client/src/App.vue
  apps/client/src/api/xhr-client.js
  apps/client/src/views/projects/DsoTeam.vue
Due: pnpm run format --filter client

fix: :bug: Handle cases where users key does not exist in project
  apps/client/src/stores/project.js
Due: pnpm run format --filter client

ci: :construction_worker: Skip tests if PR is draft
  .github/workflows/test.yml
Due: none

test: :white_check_mark: Add tests for ansible util
  apps/server/src/controllers/project.js
  apps/server/src/routes/project.spec.js
  apps/server/src/utils/ansible.js
  apps/server/src/utils/ansible.spec.js
  apps/server/src/utils/date.spec.js
Due: none

feat: :memo: Add documentation inside application
  apps/client/Dockerfile
  apps/client/package.json
  apps/client/src/documentation/doc.md
  apps/client/src/documentation/home.md
  apps/client/src/main.css
  apps/client/src/markdown.css
  apps/client/src/router/index.js
  apps/client/src/views/DsoDoc.vue
  apps/client/src/views/DsoHome.vue
  apps/client/vite.config.js
  pnpm-lock.yaml
Due: pnpm run format --filter client

fix: :alembic: Try to fix keycloak redirect
  apps/client/silent-check-sso.html
  apps/client/src/router/index.js
  apps/client/src/utils/keycloak/config.js
Due: pnpm run format --filter client

ci: :green_heart: Fix vite missing in e2e tests
  apps/client/Dockerfile
  apps/server/Dockerfile
Due: none

fix: :fire: Remove useless silentchecksso & move cypress/vue to optional dep
  apps/client/package.json
  apps/client/silent-check-sso.html
  apps/client/src/utils/keycloak/config.js
  pnpm-lock.yaml
Due: pnpm run format --filter client

chore: :arrow_up: Upgrade all dependencies including docker images
  apps/client/Dockerfile
  apps/client/cypress/Dockerfile
  apps/client/package.json
  apps/server/Dockerfile
  apps/server/package.json
  package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: none

test: :white_check_mark: Name fastify mocksession plugin for bugfix
  apps/server/src/routes/project.spec.js
Due: none

ci: :arrow_up: Upgrade nodejs version in ci
  .github/workflows/test.yml
Due: none

Change ansible installation method and add deps
  apps/server/Dockerfile
Due: none

add git packages
  apps/server/Dockerfile
Due: none

build: :construction_worker: Change ansible installation method and add deps
  apps/server/Dockerfile
Due: none

build: :construction_worker: add git packages
  apps/server/Dockerfile
Due: none

feat: :sparkles: Add specific endpoints to console api
  apps/client/src/api/api.js
  apps/client/src/api/xhr-client.js
  apps/client/src/router/index.js
  apps/client/src/stores/project.js
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/server/src/controllers/project.js
  apps/server/src/models/project-queries.js
  apps/server/src/routes/project.js
Due: pnpm run format --filter client

test: :white_check_mark: Update tests due to specific endpoints
  apps/client/src/api/api.spec.js
  apps/server/src/routes/project.spec.js
  apps/server/src/utils/__tests__/project-util.js
  apps/server/src/utils/__tests__/random-util.js
Due: pnpm run format --filter client

chore: :art: Improve conf delete files etc
  .vscode/settings.json
  apps/client/src/assets/logo.png
  apps/server/Dockerfile
  pnpm-lock.yaml
Due: none
