Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm run lint:style --filter=@cpn-console/client --",
  "**/apps/client/**/*": "pnpm run lint:ts --filter=@cpn-console/client --",
  "**/apps/server/**/*": "pnpm run lint --filter=@cpn-console/server --",
  "**/packages/**/*": "pnpm run lint --filter=./packages/* --",
  "**/plugins/**/*": "pnpm run lint --filter=./plugins/* --",
  "**/*": "pnpm run lint:root --"
}

test(playwright): :zap: optimize tests order
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm run lint:root --

test(playwright): :alembic: add Harbor tests
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm run lint:root --

test(playwright): :alembic: add Vault kv tests
  playwright/README.md
  playwright/e2e-tests/utils.ts
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm run lint:root --

feat: :sparkles: add autosync management on environment
  apps/client/src/components/EnvironmentForm.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

test: :alembic: print project list
  plugins/gitlab/src/class.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :bug: set non nullable and default constraints on Repository
  apps/server/src/prisma/migrations/20251218103526_alter_repository_defaults/migration.sql
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

fix: :bug: upgrade dso-ns chart to fix pull secret path
  plugins/argocd/src/functions.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

test(playwright): :alembic: add grafana checks
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm run lint:root --

test(playwright): :wrench: add instructions for ArgoCD deployment
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm run lint:root --

test(playwright): :bug: remove useless await instruction
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm run lint:root --

test(playwright): :alembic: add preliminary checks
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm run lint:root --

test(playwright): :wrench: fix ArgoCD deployment step and variabilize destination cluster name
  playwright/README.md
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm run lint:root --

refactor: add PluginResultBuilder for improved result management in project upsert
  .prototools
  packages/hooks/src/hooks/hook.ts
  packages/hooks/src/index.ts
  packages/hooks/src/utils/plugin-result-handler.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix: improve Keycloak error reporting in upsertProject function
  packages/hooks/src/utils/plugin-result-handler.ts
  plugins/keycloak/src/functions.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

test(playwright): :recycle: refactor integration tests for parallel run
  playwright/integration-tests/user-flow.spec.ts
  playwright/playwright.config.integration.ts
Due: pnpm run lint:root --

test(playwright): :alembic: add tests for project permissions
  playwright/README.md
  playwright/config/console.ts
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm run lint:root --

chore: initialize nestjs dedicated app
  apps/server-nestjs/.gitignore
  apps/server-nestjs/.prettierrc
  apps/server-nestjs/README.md
  apps/server-nestjs/eslint.config.mjs
  apps/server-nestjs/nest-cli.json
  apps/server-nestjs/package.json
  apps/server-nestjs/src/app.controller.spec.ts
  apps/server-nestjs/src/app.controller.ts
  apps/server-nestjs/src/app.module.ts
  apps/server-nestjs/src/app.service.ts
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/test/app.e2e-spec.ts
  apps/server-nestjs/test/jest-e2e.json
  apps/server-nestjs/tsconfig.build.json
  apps/server-nestjs/tsconfig.json
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore: fix all typescript import errors by massively creating NestJs services
  apps/server-nestjs/src/app.controller.spec.ts
  apps/server-nestjs/src/cpin-module/old-server/src/app.ts
  apps/server-nestjs/src/cpin-module/old-server/src/connect.ts
  apps/server-nestjs/src/cpin-module/old-server/src/init/db/index.ts
  apps/server-nestjs/src/cpin-module/old-server/src/prepare-app.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/admin-role/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/admin-token/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/cluster/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/environment/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/index.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/log/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/project-member/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/project-role/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/project-service/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/project/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/repository/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/service-chain/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/service-monitor/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/stage/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/system/config/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/system/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/system/settings/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/user/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/user/tokens/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/resources/zone/router.ts
  apps/server-nestjs/src/cpin-module/old-server/src/server.ts
  apps/server-nestjs/src/cpin-module/old-server/src/utils/fastify.ts
  apps/server-nestjs/src/cpin-module/old-server/src/utils/logger.ts
  apps/server-nestjs/src/cpin-module/old-server/tsconfig.json
Due: pnpm run lint:root --

chore: start integration old-server into nestjs
  apps/server-nestjs/src/app.controller.ts
  apps/server-nestjs/src/app.module.ts
  apps/server-nestjs/src/app.service.ts
  apps/server-nestjs/src/cpin-module/cpin/cpin.service.ts
  apps/server-nestjs/src/cpin-module/old-server/src/connect.ts
  apps/server-nestjs/src/cpin-module/old-server/src/prepare-app.ts
  apps/server-nestjs/src/main.ts
Due: pnpm run lint:root --

chore(gitlab-plugin): interalize awaited import to avoid top-level-await errors
  plugins/gitlab/src/project.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: convert plugin manager to NestJS service
  apps/server-nestjs/src/cpin-module/old-server/src/plugins.ts
Due: pnpm run lint:root --

chore: add old-server new Nest.js services to CpinModule
  apps/server-nestjs/src/cpin-module/cpin.module.ts
Due: pnpm run lint:root --

chore: fix any type in AppService
  apps/server-nestjs/src/cpin-module/old-server/src/app.ts
Due: pnpm run lint:root --

chore: disable tests from nest.js for now
  apps/server-nestjs/test.backup/app.e2e-spec.ts
  apps/server-nestjs/test.backup/jest-e2e.json
Due: pnpm run lint:root --

chore(server-nestjs): remove test scripts (we'll migrate to vitest soon)
  apps/server-nestjs/package.json
Due: pnpm run lint:root --

chore: add server-nestjs README to explain what we are doing
  apps/server-nestjs/README.md
Due: pnpm run lint:root --

chore: rename nest.js base AppModule to MainModule for clarification with our own AppService
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/main.ts
Due: pnpm run lint:root --
