Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(keycloak): propagate admin roles to Keycloack
  apps/client/src/components/AdminRoleForm.vue
  apps/server/src/__mocks__/utils/hook-wrapper.ts
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/queries.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-admin-role.ts
  packages/hooks/src/hooks/hook-project-role.ts
  packages/hooks/src/hooks/index.ts
  playwright/e2e-tests/roles.spec.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/index.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

docs: split environment configuration from main README into its own ENVIRONMENTS doc
  ENVIRONMENTS.md
  README.md
Due: pnpm run lint:root --

docs: add comments to .env files to clarify usage
  apps/client/.env-example
  apps/client/.env.docker-example
  apps/client/.env.integ-example
  apps/server-nestjs/.env-example
  apps/server-nestjs/.env.docker-example
  apps/server-nestjs/.env.integ-example
  apps/server/.env-example
  apps/server/.env.docker-example
  apps/server/.env.integ-example
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

chore: add VSCode debugging configurations
  .vscode/extensions.json
  .vscode/launch.json
  README.md
Due: pnpm run lint:root --

feat(keycloak): propagate admin roles to Keycloack
  apps/client/src/components/AdminRoleForm.vue
  apps/server/src/__mocks__/utils/hook-wrapper.ts
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/queries.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-admin-role.ts
  packages/hooks/src/hooks/hook-project-role.ts
  packages/hooks/src/hooks/index.ts
  playwright/e2e-tests/roles.spec.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/group.ts
  plugins/keycloak/src/index.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(keycloak): propagate admin roles to Keycloack
  apps/client/src/components/AdminRoleForm.vue
  apps/server/src/__mocks__/utils/hook-wrapper.ts
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/queries.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-admin-role.ts
  packages/hooks/src/hooks/index.ts
  playwright/e2e-tests/roles.spec.ts
  plugins/keycloak/src/client.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/group.ts
  plugins/keycloak/src/index.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(keycloak): propagate admin roles to Keycloack
  apps/client/src/components/AdminRoleForm.vue
  apps/server/src/__mocks__/utils/hook-wrapper.ts
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/queries.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-admin-role.ts
  packages/hooks/src/hooks/index.ts
  playwright/e2e-tests/roles.spec.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/group.ts
  plugins/keycloak/src/index.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(admin-roles): add builtin roles
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/views/admin/AdminRoles.vue
  apps/server/src/prisma/migrations/20260204140651_add_admin_role_type/migration.sql
  apps/server/src/prisma/migrations/migration_lock.toml
  apps/server/src/prisma/schema/admin.prisma
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/router.spec.ts
  apps/server/src/resources/admin-role/router.ts
  packages/shared/src/schemas/role.ts
  packages/shared/src/utils/permissions.ts
  packages/test-utils/src/imports/data.ts
  playwright/e2e-tests/roles.spec.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat(admin-roles): add builtin roles
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/views/admin/AdminRoles.vue
  apps/server/src/prisma/migrations/20260204140651_add_admin_role_type/migration.sql
  apps/server/src/prisma/migrations/20260204150335_add_system_roles/migration.sql
  apps/server/src/prisma/migrations/migration_lock.toml
  apps/server/src/prisma/schema/admin.prisma
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/router.spec.ts
  apps/server/src/resources/admin-role/router.ts
  packages/shared/src/schemas/role.ts
  packages/shared/src/utils/permissions.ts
  packages/test-utils/src/imports/data.ts
  playwright/e2e-tests/roles.spec.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat(shared): add admin role fine grained permissions
  apps/server/src/resources/admin-role/router.spec.ts
  apps/server/src/resources/admin-role/router.ts
  apps/server/src/resources/cluster/router.spec.ts
  apps/server/src/resources/cluster/router.ts
  apps/server/src/resources/project/router.spec.ts
  apps/server/src/resources/project/router.ts
  apps/server/src/resources/stage/router.spec.ts
  apps/server/src/resources/stage/router.ts
  apps/server/src/resources/system/config/router.spec.ts
  apps/server/src/resources/system/config/router.ts
  apps/server/src/resources/system/settings/router.spec.ts
  apps/server/src/resources/system/settings/router.ts
  apps/server/src/resources/user/router.spec.ts
  apps/server/src/resources/user/router.ts
  apps/server/src/resources/zone/router.spec.ts
  apps/server/src/resources/zone/router.ts
  apps/server/src/utils/mocks.ts
  packages/shared/src/utils/permissions.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat(shared): add admin role fine grained permissions
  apps/client/src/router/index.spec.ts
  apps/client/src/router/index.ts
  apps/client/src/views/projects/DsoProjects.vue
  apps/server/src/resources/admin-role/router.spec.ts
  apps/server/src/resources/admin-role/router.ts
  apps/server/src/resources/cluster/router.spec.ts
  apps/server/src/resources/cluster/router.ts
  apps/server/src/resources/project/router.spec.ts
  apps/server/src/resources/project/router.ts
  apps/server/src/resources/stage/router.spec.ts
  apps/server/src/resources/stage/router.ts
  apps/server/src/resources/system/config/router.spec.ts
  apps/server/src/resources/system/config/router.ts
  apps/server/src/resources/system/settings/router.spec.ts
  apps/server/src/resources/system/settings/router.ts
  apps/server/src/resources/user/router.spec.ts
  apps/server/src/resources/user/router.ts
  apps/server/src/resources/zone/router.spec.ts
  apps/server/src/resources/zone/router.ts
  apps/server/src/utils/mocks.ts
  packages/shared/src/utils/permissions.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore(hooks): change documentation to a sane pluging dependencies management
  packages/hooks/README.md
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat(keycloak): propagate admin roles to Keycloack
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/views/admin/AdminRoles.vue
  apps/server/src/__mocks__/utils/hook-wrapper.ts
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/queries.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-admin-role.ts
  packages/hooks/src/hooks/index.ts
  playwright/e2e-tests/roles.spec.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/group.ts
  plugins/keycloak/src/index.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(admin-roles): add builtin roles
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/views/admin/AdminRoles.vue
  apps/server/src/prisma/migrations/20260204140651_add_admin_role_type/migration.sql
  apps/server/src/prisma/migrations/20260204150335_add_system_roles/migration.sql
  apps/server/src/prisma/migrations/migration_lock.toml
  apps/server/src/prisma/schema/admin.prisma
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/router.spec.ts
  apps/server/src/resources/admin-role/router.ts
  packages/shared/src/contracts/admin-role.ts
  packages/shared/src/schemas/role.ts
  packages/shared/src/utils/permissions.ts
  packages/test-utils/src/imports/data.ts
  playwright/e2e-tests/roles.spec.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat(gitlab): add builtin admin roles to GitLab Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/user.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(gitlab): add builtin admin roles to GitLab Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/infos.ts
  plugins/gitlab/src/user.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(keycloak): add project role creation hook
  apps/server/src/resources/project/business.ts
  playwright/e2e-tests/project-logs.spec.ts
  playwright/e2e-tests/system-roles.spec.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/group.ts
  plugins/keycloak/src/index.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(keycloak): add project role creation hook
  apps/server/src/resources/project/business.ts
  playwright/e2e-tests/project-logs.spec.ts
  playwright/e2e-tests/service-chains.spec.ts
  playwright/e2e-tests/system-roles.spec.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/group.ts
  plugins/keycloak/src/index.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: add OIDC group to project groups
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/utils/project-utils.ts
  apps/server/src/prisma/migrations/20260127154602_add_oidc_group_to_project_role/migration.sql
  apps/server/src/prisma/migrations/migration_lock.toml
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/stage/business.spec.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/zone/business.spec.ts
  packages/shared/src/contracts/project-role.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/role.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat(hooks): add project role hooks
  apps/server/src/__mocks__/utils/hook-wrapper.ts
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-role.ts
  packages/hooks/src/hooks/index.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: add system roles on project creation
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/utils/project-utils.ts
  apps/client/src/views/admin/AdminRoles.vue
  apps/server/src/prisma/migrations/20260127164002_add_type_to_roles/migration.sql
  apps/server/src/prisma/schema/admin.prisma
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/queries.ts
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/project/queries.ts
  packages/shared/src/schemas/role.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

Path conditions:
  pnpm run lint:style --filter=@cpn-console/client --: any of: **/apps/client/**/*.{vue,css}
  pnpm run lint:ts --filter=@cpn-console/client --: any of: **/apps/client/**/*
  pnpm run lint --filter=@cpn-console/server --: any of: **/apps/server/**/*
  pnpm run lint --filter=./packages/* --: any of: **/packages/**/*
  pnpm run lint --filter=./plugins/* --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
