Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :sparkles: add npm support in npm
  apps/server/src/prisma/migrations/20241008125724_enabling_maven/migration.sql
  packages/hooks/package.json
  packages/hooks/src/utils/logger.ts
  packages/hooks/src/utils/utils.spec.ts
  packages/hooks/src/utils/utils.ts
  plugins/nexus/package.json
  plugins/nexus/src/index.ts
  plugins/nexus/src/infos.ts
  plugins/nexus/src/maven.ts
  plugins/nexus/src/npm.ts
  plugins/nexus/src/project.ts
  plugins/nexus/src/utils.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

ci: :green_heart: really fix re-deploy preview app
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: pnpm run lint:root --

feat: :lipstick: add argocd urls for each zone
  apps/server/src/resources/project-service/business.ts
  packages/hooks/src/services.ts
  plugins/argocd/package.json
  plugins/argocd/src/functions.ts
  plugins/argocd/src/infos.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :sparkles: return warns and errors message from plugins to user
  apps/client/src/components/LogsViewer.vue
  packages/hooks/src/hooks/hook.ts
  packages/shared/src/schemas/log.ts
  plugins/gitlab/package.json
  plugins/gitlab/src/functions.ts
  plugins/keycloak/package.json
  plugins/keycloak/src/functions.ts
  plugins/nexus/package.json
  plugins/nexus/src/project.ts
  plugins/sonarqube/package.json
  plugins/sonarqube/src/check.ts
  plugins/vault/package.json
  plugins/vault/src/functions.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

refactor: :bug: improve nexus plugin stability
  packages/hooks/package.json
  plugins/harbor/package.json
  plugins/harbor/src/functions.ts
  plugins/nexus/src/infos.ts
  plugins/nexus/src/project.ts
  plugins/nexus/tsconfig.json
Due: pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

refactor: :art: project route, align schemas
  apps/server/src/resources/environment/router.spec.ts
  apps/server/src/resources/project-service/business.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/project/router.ts
  apps/server/src/resources/repository/router.spec.ts
  apps/server/src/resources/system/config/business.ts
  apps/server/src/utils/mocks.ts
  packages/shared/src/contracts/environment.ts
  packages/shared/src/contracts/project.ts
  packages/shared/src/contracts/repository.ts
  packages/shared/src/schemas/environment.ts
  packages/shared/src/schemas/repository.ts
  packages/shared/src/utils/schemas.spec.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: :lipstick: adding the project id in namespace labels
  plugins/argocd/src/functions.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: :arrow_up: upgrade to node 22
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  .prototools
  apps/client/Dockerfile
  apps/client/package.json
  apps/server/Dockerfile
  apps/server/package.json
  ci/act/workflows/ci.yml
  package.json
  packages/hooks/package.json
  packages/shared/package.json
  packages/test-utils/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :bug: update depracated import assertion type syntax
  apps/server/src/plugins.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

chore: :lipstick: halloween theme
  apps/client/public/halloween.png
  apps/client/src/App.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

feat: :lipstick: disable cluster selection when creating a zone
  apps/client/cypress/components/specs/zone-form.ct.ts
  apps/client/cypress/e2e/specs/admin/zones.e2e.ts
  apps/client/src/components/ZoneForm.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

fix: :bug: minors plugins fix and front
  apps/client/src/components/RepoForm.vue
  apps/client/src/views/projects/DsoProjectWrapper.vue
  apps/server/src/resources/project/business.spec.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/system/router.ts
  apps/server/src/utils/env.ts
  apps/server/src/utils/fastify.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/shared/package.json
  packages/shared/src/utils/functions.spec.ts
  packages/shared/src/utils/functions.ts
  plugins/argocd/package.json
  plugins/argocd/src/app-project.ts
  plugins/argocd/src/applications.ts
  plugins/argocd/src/functions.ts
  plugins/argocd/src/index.ts
  plugins/argocd/src/utils.ts
  plugins/gitlab/package.json
  plugins/gitlab/src/class.ts
  plugins/harbor/package.json
  plugins/harbor/src/robot.ts
  plugins/kubernetes/package.json
  plugins/kubernetes/src/class.ts
  plugins/kubernetes/src/misc.ts
  plugins/nexus/package.json
  plugins/nexus/src/project.ts
  plugins/vault/package.json
  plugins/vault/src/class.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :lipstick: user list rework
  .vscode/settings.json
  apps/client/cypress/e2e/specs/admin/roles.e2e.ts
  apps/client/cypress/e2e/specs/admin/users.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/src/utils/project-utils.ts
  apps/client/src/views/admin/ListUser.vue
  apps/server/package.json
  apps/server/src/prisma/migrations/20241104232540_add_usertype/migration.sql
  apps/server/src/prisma/schema.prisma
  apps/server/src/prisma/schema/admin.prisma
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/prisma/schema/schema.prisma
  apps/server/src/prisma/schema/token.prisma
  apps/server/src/prisma/schema/topography.prisma
  apps/server/src/prisma/schema/user.prisma
  apps/server/src/resources/project/router.spec.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/queries.ts
  apps/server/src/resources/user/router.spec.ts
  apps/server/src/types/index.ts
  apps/server/src/utils/mocks.ts
  packages/shared/package.json
  packages/shared/src/schemas/token.ts
  packages/shared/src/schemas/user.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: :sparkles: nexus customizable write policy
  plugins/nexus/package.json
  plugins/nexus/src/infos.ts
  plugins/nexus/src/maven.ts
  plugins/nexus/src/npm.ts
  plugins/nexus/src/project.ts
  plugins/nexus/src/utils.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :sparkles: hooks returned store accept null
  apps/server/src/resources/project-service/business.ts
  apps/server/src/resources/project-service/queries.ts
  packages/hooks/package.json
  packages/hooks/src/hooks/hook.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: :sparkles: config items section
  apps/client/src/components/ServicesConfig.vue
  packages/shared/package.json
  packages/shared/src/schemas/config.ts
  plugins/nexus/src/infos.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :sparkles: nexus fine write policy
  apps/client/src/components/ServicesConfig.vue
  plugins/nexus/package.json
  plugins/nexus/src/infos.ts
  plugins/nexus/src/maven.ts
  plugins/nexus/src/project.ts
  plugins/nexus/src/utils.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :sparkles: record and display last time a user logged
  apps/client/src/views/admin/ListUser.vue
  apps/server/src/prisma/migrations/20241107142721_user_last_login/migration.sql
  apps/server/src/prisma/schema/user.prisma
  apps/server/src/resources/user/business.ts
  packages/shared/src/schemas/user.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: gitlab optional internal url
  plugins/gitlab/package.json
  plugins/gitlab/src/monitor.ts
  plugins/gitlab/src/utils.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :ambulance: fix not displayed repositories in admin view
  apps/client/src/views/admin/AdminProject.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

fix: :ambulance: internal gitlab url
  apps/client/src/views/admin/AdminProject.vue
  plugins/gitlab/package.json
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/config.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/infos.ts
  plugins/gitlab/src/monitor.ts
  plugins/gitlab/src/utils.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

refactor: :children_crossing: see env localization in admin project
  apps/client/src/views/admin/AdminProject.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

refactor: :art: add keycloak internal communication
  plugins/keycloak/src/client.ts
  plugins/keycloak/src/config.ts
  plugins/keycloak/src/functions.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :zap: disallow recursive list to avoid big latency
  plugins/argocd/package.json
  plugins/argocd/src/functions.ts
  plugins/gitlab/package.json
  plugins/gitlab/src/class.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: ✨ add PAT
  apps/client/cypress/e2e/specs/admin/roles.e2e.ts
  apps/client/cypress/e2e/specs/admin/tokens.e2e.ts
  apps/client/cypress/e2e/specs/admin/users.e2e.ts
  apps/client/src/views/admin/AdminTokens.vue
  apps/server/src/prisma/migrations/20241104232541_add_pat/migration.sql
  apps/server/src/prisma/schema/token.prisma
  apps/server/src/prisma/schema/user.prisma
  apps/server/src/resources/admin-token/business.spec.ts
  apps/server/src/resources/admin-token/business.ts
  apps/server/src/resources/admin-token/router.spec.ts
  apps/server/src/resources/admin-token/router.ts
  apps/server/src/resources/project-member/business.ts
  apps/server/src/resources/project/business.spec.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/project/router.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/router.spec.ts
  apps/server/src/resources/user/router.ts
  apps/server/src/utils/controller.ts
  packages/shared/src/schemas/token.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

refactor: :sparkles: nexus internal url
  plugins/nexus/README.md
  plugins/nexus/src/config.ts
  plugins/nexus/src/functions.ts
  plugins/nexus/src/maven.ts
  plugins/nexus/src/npm.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :sparkles: build project kv with config for projects
  apps/client/public/img/vault.svg
  plugins/argocd/package.json
  plugins/argocd/src/functions.ts
  plugins/kubernetes/package.json
  plugins/kubernetes/src/api.ts
  plugins/kubernetes/src/class.ts
  plugins/vault/README.md
  plugins/vault/package.json
  plugins/vault/src/class.ts
  plugins/vault/src/config.ts
  plugins/vault/src/env.d.ts
  plugins/vault/src/functions.ts
  plugins/vault/src/index.ts
  plugins/vault/src/infos.ts
  plugins/vault/src/monitor.ts
  plugins/vault/src/utils.ts
  plugins/vault/src/vso.ts
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

refactor: :children_crossing: publish personnal access tokens feature to users
  apps/client/cypress/components/specs/token-form.ct.ts
  apps/client/cypress/e2e/specs/02-profile.e2e.ts
  apps/client/cypress/e2e/specs/admin/tokens.e2e.ts
  apps/client/cypress/e2e/specs/home.e2e.ts
  apps/client/cypress/e2e/specs/not-found.e2e.ts
  apps/client/src/components/SideMenu.vue
  apps/client/src/components/TokenForm.vue
  apps/client/src/router/index.ts
  apps/client/src/stores/token.ts
  apps/client/src/views/profile/PersonalAccessTokens.vue
  apps/client/src/views/profile/ProfileWrapper.vue
  apps/client/src/views/profile/UserInfo.vue
  apps/server/src/resources/index.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/tokens/business.ts
  apps/server/src/resources/user/tokens/router.ts
  packages/shared/src/api-client.ts
  packages/shared/src/contracts/index.ts
  packages/shared/src/contracts/personal-access-token.ts
  packages/shared/src/schemas/token.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

refactor: :sparkles: option to disable Nexus
  plugins/nexus/src/infos.ts
  plugins/nexus/src/project.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :bug: fix weird front behviours
  apps/client/cypress/e2e/specs/02-profile.e2e.ts
  apps/client/cypress/e2e/specs/admin/organizations.e2e.ts
  apps/client/cypress/e2e/specs/not-found.e2e.ts
  apps/client/src/components/OperationPanel.vue
  apps/client/src/components/ProjectLogsViewer.vue
  apps/client/src/components/ReplayButton.vue
  apps/client/src/router/index.ts
  apps/client/src/stores/project.ts
  apps/client/src/utils/project-utils.ts
  apps/client/src/views/admin/AdminProject.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoProjectWrapper.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/resources/project-member/business.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

fix: :ambulance: fix pat migration
  apps/client/cypress/e2e/specs/admin/organizations.e2e.ts
  apps/server/src/prisma/migrations/20241104232541_add_pat/migration.sql
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

fix: :bug: fix vault detect api hashicorp
  .github/workflows/cd.yml
  plugins/vault/src/functions.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

ci: :construction_worker: improve build pipeline
  .github/workflows/build.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: pnpm run lint:root --

Path conditions:
  pnpm run lint:style --filter=@cpn-console/client --: any of: **/apps/client/**/*.{vue,css}
  pnpm run lint:ts --filter=@cpn-console/client --: any of: **/apps/client/**/*
  pnpm run lint --filter=@cpn-console/server --: any of: **/apps/server/**/*
  pnpm run lint --filter=./packages/* --: any of: **/packages/**/*
  pnpm run lint --filter=./plugins/* --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
