Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format --filter cypress

.lintstagedrc:

{
  "**/client/**/*.{js,ts,vue,css}": "pnpm run format --filter client",
  "**/cypress/**/*.{js,cjs,ts}": "pnpm run format --filter cypress"
}

fix: :bug: use flatMap to iterate over two arrays
  apps/client/src/components/PermissionForm.vue
Due: pnpm run format --filter client

fix: :bug: flatMap didn't work as expected
  apps/client/src/components/PermissionForm.vue
Due: pnpm run format --filter client

ci: :construction_worker: add cache for docker in ci
  .github/workflows/test.yml
  apps/client/cypress/Dockerfile
  ci/scripts/build-matrix.sh
  ci/scripts/run-tests.sh
  docker/docker-compose.ci.yml
  docker/docker-compose.ct.yml
  docker/docker-compose.dev.yml
Due: none

test: :white_check_mark: full e2e tests for environments and permissions
  apps/client/cypress/e2e/specs/permissions.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/api/api.js
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/router/index.js
  apps/client/src/stores/project.js
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/controllers/permission.js
  apps/server/src/controllers/project.js
  apps/server/src/routes/project-permission.js
  apps/server/src/routes/project-permission.spec.js
  apps/server/src/routes/project.js
  business-rules.md
  cypress.config.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

refactor: :test_tube: update createRandomDbSetup so it matches data.js format
  apps/server/src/generate-files/generate-ci-files.spec.js
  apps/server/src/routes/organization.spec.js
  apps/server/src/routes/project-environment.spec.js
  apps/server/src/routes/project-permission.spec.js
  apps/server/src/routes/project-repository.spec.js
  apps/server/src/routes/project-user.spec.js
  apps/server/src/routes/project.spec.js
  apps/server/src/utils/random.spec.js
  packages/test-utils/src/random-project.js
  packages/test-utils/src/random-utils.js
Due: none

test: :test_tube: fix permission-form ct
  apps/client/cypress/components/specs/permission-form.ct.js
  packages/test-utils/src/random-project.js
  packages/test-utils/src/random-utils.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

chore: :fire: remove docker cache for efficiency reasons
  .github/workflows/test.yml
Due: none

ci: :technologist: update act environment for local ci testing
  ci/act/docker/registry/docker-compose.registry.yml
  ci/act/env/.env-example
  ci/act/events/pr_base_main.json
  ci/act/events/pr_draft.json
  ci/act/events/pr_not_draft.json
  ci/act/events/push_base_main.json
  ci/act/events/push_tag.json
  ci/act/scripts/run-ci-locally.sh
  ci/act/workflows/scan/scan.yml
  ci/act/workflows/test.yml
  ci/act/workflows/test/test.yml
  ci/scripts/run-tests.sh
Due: none

ci: :construction_worker: add cache deletion on branch after closing a pr
  .github/workflows/cache.yml
Due: none

ci: :construction_worker: push images to ghcr after releasing new version
  .github/workflows/release.yml
Due: none

fix: :white_check_mark: e2e tests failed in open mode because of snackbar overlay
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/App.vue
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :construction: adding api implementation
  apps/client/src/api/api.js
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/components/SuggestionInput.vue
  apps/client/src/stores/project.js
  apps/client/src/views/projects/ManageEnvironments.vue
  business-rules.md
Due: pnpm run format --filter client

test: :test_tube: skip failing e2e test, SIGSEGV
  apps/client/cypress/e2e/specs/permissions.e2e.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :necktie: disable delete permission for owner
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/views/projects/ManageEnvironments.vue
Due: pnpm run format --filter client

feat: :sparkles: add environment page
  apps/client/cypress/components/specs/environment-form.ct.js
  apps/client/cypress/components/specs/repo-form.ct.js
  apps/client/cypress/e2e/specs/environments.e2e.js
  apps/client/cypress/e2e/specs/sidebar.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/api/api.js
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/RepoForm.vue
  apps/client/src/components/SideMenu.vue
  apps/client/src/router/index.js
  apps/client/src/stores/project.js
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/controllers/environment.js
  packages/shared/src/schemas/environment.js
  packages/test-utils/src/random-project.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

test: :white_check_mark: update component test for permission
  apps/client/cypress/components/specs/permission-form.ct.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :necktie: permission level goes from 0 to 3, 0 by default, 3 for owner
  apps/client/src/components/PermissionForm.vue
  apps/server/src/controllers/environment.js
  cypress.config.js
  packages/shared/src/schemas/permission.js
  packages/test-utils/src/imports/data.js
Due: pnpm run format --filter client

test: :test_tube: wip permission TU is failing
  apps/server/src/controllers/environment.js
  apps/server/src/controllers/permission.js
  apps/server/src/routes/project-permission.spec.js
Due: none

test: :test_tube: add component tests
  apps/client/cypress/components/specs/permission-form.ct.js
  apps/client/cypress/components/specs/range.input.ct.js
  apps/client/cypress/components/specs/suggestion-input.ct.js
  apps/client/src/components/PermissionForm.vue
  packages/shared/src/utils/iterables.js
  packages/test-utils/src/random-utils.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :bug: show permissionForm only when environment is created
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/PermissionForm.vue
Due: pnpm run format --filter client

feat: :sparkles: wip components for environment managing
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/components/RangeInput.vue
  apps/client/src/components/SuggestionInput.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/routes/project.js
  packages/test-utils/src/imports/data.js
Due: pnpm run format --filter client

test: :test_tube: wip : skipping failing TU and CT
  apps/client/cypress/components/specs/suggestion-input.ct.js
  apps/server/src/routes/project-permission.spec.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :sparkles: add delete trigger for environment
  apps/client/src/App.vue
  apps/client/src/api/api.js
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/RangeInput.vue
  apps/client/src/stores/project.js
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/models/queries/environment-queries.js
Due: pnpm run format --filter client

test: :test_tube: failing to set ownerId in permission spec
  apps/client/cypress/components/specs/suggestion-input.ct.js
  apps/client/cypress/e2e/specs/permissions.e2e.js
  apps/server/src/controllers/organization.js
  apps/server/src/controllers/permission.js
  apps/server/src/controllers/project.js
  apps/server/src/controllers/user.js
  apps/server/src/models/queries/permission-queries.js
  apps/server/src/routes/project-permission.js
  apps/server/src/routes/project-permission.spec.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

test: :test_tube: try fixing ct and e2e tests
  apps/client/cypress/components/specs/permission-form.ct.js
  apps/client/cypress/components/specs/suggestion-input.ct.js
  apps/client/cypress/e2e/specs/environments.e2e.js
  apps/client/cypress/e2e/specs/permissions.e2e.js
  apps/client/cypress/e2e/specs/team.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/components/RangeInput.vue
  apps/client/src/components/SuggestionInput.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  docker/docker-compose.ci.yml
  docker/docker-compose.ct.yml
Due: pnpm run format --filter client, pnpm run format --filter cypress

ci: :construction_worker: add workflow to build and push last tag
  .github/workflows/build.yml
  .github/workflows/cache.yml
  ci/scripts/build-matrix.sh
Due: none

ci: :construction_worker: add a workflow that build and push last tag
  .github/workflows/build.yml
  .github/workflows/cache.yml
  ci/scripts/build-matrix.sh
Due: none

revert: :egg: hide environments and permissions feature waiting for playbooks
  apps/client/cypress/e2e/specs/environments.e2e.js
  apps/client/cypress/e2e/specs/permissions.e2e.js
  apps/client/cypress/e2e/specs/sidebar.e2e.js
  apps/client/src/components/SideMenu.vue
  apps/client/src/views/projects/DsoTeam.vue
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :construction: add delete repo button
  apps/client/cypress/e2e/specs/repos.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/api/api.js
  apps/client/src/components/RepoForm.vue
  apps/client/src/stores/project.js
  apps/client/src/views/projects/DsoRepos.vue
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :sparkles: add delete playbook call in deleteRepo controller
  apps/client/cypress/e2e/support/commands.js
  apps/server/src/controllers/repository.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

ci: :construction_worker: build and release workflows separation
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

fix: :card_file_box: organization should be a FK in projects
  apps/server/src/models/organization.js
Due: none

ci: :construction_worker: fix ci build workflow
  .github/workflows/build.yml
Due: none
