Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format --filter cypress

chore: :art: Improve utils
  apps/server/src/utils/__tests__/random-util.js
  apps/server/src/utils/env.js
  apps/server/src/utils/response.js
Due: none

chore: :truck: Rename file
  apps/server/src/controllers/project.js
  apps/server/src/routes/project.js
Due: none

docs: :memo: Update project docs
  README.md
  apps/server/README.md
Due: none

chore: :wrench: Update linter conf
  .lintstagedrc
  apps/client/package.json
  package.json
  turbo.json
Due: none

chore: :see_no_evil: Update ignored files
  .dockerignore
  .gitignore
Due: none

test: :white_check_mark: Update api tests to match fastify
  apps/server/src/app.spec.js
  apps/server/src/routes/project.spec.js
  apps/server/src/server.spec.js
Due: none

ci: :construction_worker: Update ci & associated scripts
  .github/workflows/test.yml
  ci/scripts/run-tests.sh
Due: none

fix: update implicit flow in config keycloak
  keycloak/realms/realm-test.json
Due: none

fix: :green_heart: Fix e2e tests in ci & improve code structure
  .github/workflows/test.yml
  .gitignore
  apps/client/Dockerfile
  apps/client/nginx/default.conf
  apps/client/nginx/nginx.conf
  apps/client/package.json
  apps/client/src/stores/project.js
  apps/client/src/utils/keycloak/config-sso.js
  apps/client/src/views/OrderProject.vue
  apps/client/vite.config.js
  apps/server/Dockerfile
  apps/server/dev-setup/create-project.js
  apps/server/src/connect.js
  apps/server/src/controllers/project.js
  apps/server/src/models/project-queries.js
  apps/server/src/server.js
  apps/server/src/utils/env.js
  apps/server/src/utils/keycloak.js
  ci/scripts/run-tests.sh
  docker/docker-compose.dev.yml
  docker/docker-compose.e2e.yml
  docker/docker-compose.prod.yml
  env/.env.ci-example
  keycloak/realms/realm-quickstart.json
  package.json
  packages/cypress/Dockerfile
  packages/cypress/cypress.config.js
  packages/cypress/e2e/specs/orderProject.e2e.js
  packages/cypress/e2e/specs/sidebar.e2e.js
  packages/cypress/e2e/support/commands.js
  packages/cypress/package.json
  pnpm-lock.yaml
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :construction: Fix init keycloak in frontend
  apps/client/.eslintrc.js
  apps/client/src/App.vue
  apps/client/src/main.js
  apps/client/src/router/index.js
  apps/client/src/stores/user.js
  apps/client/src/utils/keycloak/init-sso.js
Due: pnpm run format --filter client

refactor: :mute: Remove console log in keycloak
  apps/server/src/utils/keycloak.js
Due: none

chore: :arrow_up: Update dependencies
  apps/client/package.json
  apps/server/package.json
  package.json
  pnpm-lock.yaml
Due: none

test: :test_tube: Fix unit test
  apps/server/src/connect.js
  apps/server/src/models/project-queries.js
  apps/server/src/routes/project.spec.js
  apps/server/src/utils/__tests__/random-util.js
Due: none

feat: :construction: (wip) trying to connect to keycloak with server
  apps/client/src/utils/keycloak/init-sso.js
  apps/server/src/app.js
  keycloak/realms/realm-test.json
Due: pnpm run format --filter client

fix: update pnpm lock
  pnpm-lock.yaml
Due: none

feat: :sparkles: Add users[i].id in query
  apps/server/src/models/project-queries.js
  packages/shared/src/projects/schema.js
Due: none

test: :white_check_mark: Fix e2e tests
  apps/client/Dockerfile
  ci/scripts/run-tests.sh
  docker/docker-compose.e2e.yml
  package.json
  packages/cypress/cypress.config.js
  packages/cypress/e2e/specs/orderProject.e2e.js
  packages/cypress/e2e/specs/sidebar.e2e.js
  packages/cypress/e2e/support/commands.js
Due: pnpm run format --filter cypress

fix: update gitignore for all node_modules
  .gitignore
Due: none

feat: :card_file_box: Add user id in project queries
  apps/server/src/controllers/project.js
  apps/server/src/models/project-queries.js
  apps/server/src/models/project.js
Due: none

chore: :hammer: Add initDb script
  apps/server/.eslintrc.cjs
  apps/server/dev-setup/create-project.js
  apps/server/dev-setup/init-db.js
  apps/server/package.json
  apps/server/src/connect.js
  apps/server/src/controllers/project.js
  apps/server/src/models/project-queries.js
  apps/server/src/routes/project.spec.js
  apps/server/src/server.js
  apps/server/src/server.spec.js
  apps/server/src/utils/__tests__/random-util.js
  pnpm-lock.yaml
Due: none

test: :white_check_mark: Fix unit tests on server
  apps/client/src/main.js
  apps/server/src/controllers/project.js
  apps/server/src/routes/project.spec.js
  apps/server/src/utils/__tests__/project-util.js
  apps/server/src/utils/__tests__/random-util.js
Due: pnpm run format --filter client

feat: :lipstick: Update navigation in frontend
  apps/client/.eslintrc.js
  apps/client/package.json
  apps/client/src/App.vue
  apps/client/src/api/api.js
  apps/client/src/api/xhr-client.js
  apps/client/src/api/xhr-client.spec.js
  apps/client/src/components/HelloWorld.vue
  apps/client/src/components/RepoForm.vue
  apps/client/src/components/SideMenu.vue
  apps/client/src/router/index.js
  apps/client/src/stores/project.js
  apps/client/src/stores/user.js
  apps/client/src/utils/func.js
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/DsoHome.vue
  apps/client/src/views/OrderProject.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoProjects.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/DsoSelectedProject.vue
  apps/client/src/views/projects/DsoServices.vue
  apps/client/src/views/projects/DsoTeam.vue
Due: pnpm run format --filter client

feat: :heavy_plus_sign: Add fastify keycloak adapter
  apps/server/package.json
  pnpm-lock.yaml
Due: none

feat: :card_file_box: Add owner from keycloak in project
  apps/server/src/controllers/project.js
Due: none

test: :test_tube: Fix api client test
  apps/client/src/api/api.spec.js
Due: pnpm run format --filter client

ci: :construction_worker: Continue ci even if conde scan fails
  .github/workflows/test.yml
Due: none

fix: :bug: Add case sensitivity for init deb script
  db/postgres/scripts/010-init-db.sql
  docker/docker-compose.dev.yml
Due: none

:wip: logout
  apps/client/src/router/index.js
  apps/client/src/stores/user.js
  apps/client/src/utils/keycloak/init-sso.js
  apps/client/src/views/DsoAuth.vue
Due: pnpm run format --filter client

feat: :recycle: Harmonize api's names
  apps/client/src/api/api.js
  apps/client/src/stores/project.js
  apps/client/src/views/projects/DsoProjects.vue
  apps/server/src/controllers/project.js
  apps/server/src/models/project-queries.js
  apps/server/src/routes/project.js
  apps/server/src/routes/project.spec.js
Due: pnpm run format --filter client

feat: :speech_balloon: Update app's title
  apps/client/src/App.vue
  apps/client/src/router/index.js
  business-rules.md
  packages/cypress/e2e/specs/home.e2e.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

refactor: :hammer: Add client healthcheck before cypress
  docker/docker-compose.e2e.yml
Due: none

test: :white_check_mark: Fix unit tests for client
  apps/client/src/api/api.js
  apps/client/src/api/api.spec.js
  apps/client/src/api/xhr-client.js
  apps/client/src/api/xhr-client.spec.js
Due: pnpm run format --filter client

chore: :building_construction: Change shared package structure
  packages/shared/dev-setup/projects.json
  packages/shared/src/index.js
  packages/shared/src/projects/index.js
  packages/shared/src/projects/schema.js
  packages/shared/src/projects/utils.js
Due: none

test: :white_check_mark: Fix e2e tests
  apps/client/src/main.js
  docker/docker-compose.dev.yml
Due: pnpm run format --filter client

fix: :construction: working on keyclock + pinia
  apps/client/src/api/xhr-client.js
  apps/client/src/router/index.js
  apps/client/src/stores/user.js
  apps/client/src/utils/keycloak/config-sso.js
  apps/client/src/utils/keycloak/init-sso.js
  apps/client/src/utils/keycloak/sso-config.js
  apps/client/vite.config.js
  apps/server/package.json
  apps/server/src/app.js
  apps/server/src/controllers/project.js
  docker/docker-compose.dev.yml
  keycloak/realms/realm-quickstart.json
  pnpm-lock.yaml
Due: pnpm run format --filter client

test: :test_tube: Fix project spec
  apps/server/src/routes/project.spec.js
Due: none

fix: :bug: Fix init db error
  db/postgres/scripts/010-init-db.sql
Due: none

test: :test_tube: Try to fix container stop
  ci/scripts/run-tests.sh
Due: none

test: :test_tube: Wip keycloak connexion in e2e tests
  apps/client/package.json
  apps/server/package.json
  ci/scripts/run-tests.sh
  docker/docker-compose.e2e.yml
  docker/docker-compose.prod.yml
  package.json
  packages/cypress/e2e/specs/sidebar.e2e.js
  packages/cypress/package.json
  pnpm-lock.yaml
Due: pnpm run format --filter cypress

fix: run with delay 10 second to wait keycloak initialize
  apps/server/src/app.js
  docker/docker-compose.dev.yml
Due: none

Path conditions:
  pnpm run format --filter client: any of: **/client/**/*.{js,ts,vue,css}
  pnpm run format --filter cypress: any of: **/cypress/**/*.{js,cjs,ts}
