Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

refactor(argocd): migrate ArgoCD to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/Dockerfile
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-datastore.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-health.service.ts
  apps/server-nestjs/src/modules/argocd/argocd.module.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.spec.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
  apps/server-nestjs/src/modules/gitlab/files/.gitlab-ci.yml
  apps/server-nestjs/src/modules/gitlab/files/mirror.sh
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-datastore.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-health.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-testing.utils.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.constants.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.module.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault-datastore.service.ts
  apps/server-nestjs/src/modules/vault/vault-health.service.ts
  apps/server-nestjs/src/modules/vault/vault-http-client.service.ts
  apps/server-nestjs/src/modules/vault/vault.module.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  apps/server-nestjs/src/modules/vault/vault.utils.ts
  apps/server-nestjs/src/prisma/schema/project.prisma
  apps/server-nestjs/src/utils/iterable.ts
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  apps/server-nestjs/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

fix: root admin role should be externally managed Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/src/prisma/migrations/20260415103000_set_root_admin_to_system_external/migration.sql
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

chore: remove dotenv dep Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/client/package.json
  apps/client/vite.config.ts
  apps/server-nestjs/package.json
  apps/server-nestjs/prisma.config.ts
  apps/server/package.json
  apps/server/prisma.config.ts
  apps/server/src/utils/env.ts
  playwright/package.json
  playwright/playwright.config.integration.ts
  playwright/playwright.config.ts
  playwright/tsconfig.json
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

chore: upstream static env var to infos
  plugins/argocd/src/functions.spec.ts
  plugins/argocd/src/functions.ts
  plugins/argocd/src/infos.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: add hook wrapper second retry logging Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/src/utils/hook-wrapper.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

chore: add GitLab e2e test
  playwright/config/console.ts
  playwright/helpers/project.ts
  playwright/integration-tests/gitlab.spec.ts
Due: pnpm run lint:root --

refactor(argocd): migrate ArgoCD to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/Dockerfile
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-datastore.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-health.service.ts
  apps/server-nestjs/src/modules/argocd/argocd.module.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.spec.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
  apps/server-nestjs/src/modules/gitlab/files/.gitlab-ci.yml
  apps/server-nestjs/src/modules/gitlab/files/mirror.sh
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-datastore.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-health.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-testing.utils.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.constants.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.module.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-client.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault-datastore.service.ts
  apps/server-nestjs/src/modules/vault/vault-health.service.ts
  apps/server-nestjs/src/modules/vault/vault-http-client.service.ts
  apps/server-nestjs/src/modules/vault/vault.module.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  apps/server-nestjs/src/modules/vault/vault.utils.ts
  apps/server-nestjs/src/prisma/schema/project.prisma
  apps/server-nestjs/src/utils/iterable.ts
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  apps/server-nestjs/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore: add GitLab e2e test
  apps/server/src/utils/env.ts
  playwright/config/console.ts
  playwright/helpers/cluster.ts
  playwright/helpers/constants.ts
  playwright/helpers/environment.ts
  playwright/helpers/navigation.ts
  playwright/helpers/project.ts
  playwright/helpers/repository.ts
  playwright/helpers/snackbar.ts
  playwright/helpers/stage.ts
  playwright/helpers/zone.ts
  playwright/integration-tests/gitlab.spec.ts
  playwright/integration-tests/helper.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

chore: add GitLab e2e test
  apps/server/src/utils/env.ts
  playwright/config/console.ts
  playwright/helpers/cluster.ts
  playwright/helpers/constants.ts
  playwright/helpers/environment.ts
  playwright/helpers/navigation.ts
  playwright/helpers/project.ts
  playwright/helpers/repository.ts
  playwright/helpers/snackbar.ts
  playwright/helpers/stage.ts
  playwright/helpers/zone.ts
  playwright/integration-tests/gitlab.spec.ts
  playwright/integration-tests/helper.ts
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

chore: add GitLab e2e test
  apps/server/src/utils/env.ts
  playwright/config/console.ts
  playwright/e2e-tests/admin-stages.spec.ts
  playwright/e2e-tests/clusters.spec.ts
  playwright/e2e-tests/dashboard.spec.ts
  playwright/e2e-tests/environments.spec.ts
  playwright/e2e-tests/project-logs.spec.ts
  playwright/e2e-tests/project-roles.spec.ts
  playwright/e2e-tests/projects.spec.ts
  playwright/e2e-tests/repos.spec.ts
  playwright/helpers/checkbox.ts
  playwright/helpers/cluster.ts
  playwright/helpers/constants.ts
  playwright/helpers/environment.ts
  playwright/helpers/navigation.ts
  playwright/helpers/project.ts
  playwright/helpers/repository.ts
  playwright/helpers/snackbar.ts
  playwright/helpers/stage.ts
  playwright/helpers/zone.ts
  playwright/integration-tests/admin-setup.spec.ts
  playwright/integration-tests/gitlab.spec.ts
  playwright/integration-tests/helper.ts
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

chore: add GitLab e2e test
  playwright/config/console.ts
  playwright/e2e-tests/admin-stages.spec.ts
  playwright/e2e-tests/clusters.spec.ts
  playwright/e2e-tests/dashboard.spec.ts
  playwright/e2e-tests/environments.spec.ts
  playwright/e2e-tests/project-logs.spec.ts
  playwright/e2e-tests/project-roles.spec.ts
  playwright/e2e-tests/projects.spec.ts
  playwright/e2e-tests/repos.spec.ts
  playwright/helpers/checkbox.ts
  playwright/helpers/cluster.ts
  playwright/helpers/constants.ts
  playwright/helpers/environment.ts
  playwright/helpers/navigation.ts
  playwright/helpers/project.ts
  playwright/helpers/repository.ts
  playwright/helpers/snackbar.ts
  playwright/helpers/stage.ts
  playwright/helpers/zone.ts
  playwright/integration-tests/admin-setup.spec.ts
  playwright/integration-tests/gitlab.spec.ts
  playwright/integration-tests/helper.ts
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm run lint:root --

chore: remove js-yaml e18e warning Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/client/package.json
  apps/client/src/components/ClusterForm.vue
  plugins/argocd/package.json
  plugins/argocd/src/functions.ts
  plugins/argocd/src/utils.ts
  plugins/gitlab/package.json
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: add GitLab e2e test
  playwright/config/console.ts
  playwright/e2e-tests/admin-stages.spec.ts
  playwright/e2e-tests/clusters.spec.ts
  playwright/e2e-tests/dashboard.spec.ts
  playwright/e2e-tests/environments.spec.ts
  playwright/e2e-tests/project-logs.spec.ts
  playwright/e2e-tests/project-roles.spec.ts
  playwright/e2e-tests/projects.spec.ts
  playwright/e2e-tests/repos.spec.ts
  playwright/helpers/checkbox.ts
  playwright/helpers/cluster.ts
  playwright/helpers/constants.ts
  playwright/helpers/environment.ts
  playwright/helpers/global.d.ts
  playwright/helpers/navigation.ts
  playwright/helpers/project.ts
  playwright/helpers/repository.ts
  playwright/helpers/snackbar.ts
  playwright/helpers/stage.ts
  playwright/helpers/zone.ts
  playwright/integration-tests/admin-setup.spec.ts
  playwright/integration-tests/gitlab.spec.ts
  playwright/integration-tests/helper.ts
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm run lint:root --

refactor(server-nestjs): migrate package managers to NestJS
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-datastore.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-health.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-http-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-testing.utils.ts
  apps/server-nestjs/src/modules/nexus/nexus.constants.ts
  apps/server-nestjs/src/modules/nexus/nexus.module.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.utils.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.ts
  apps/server-nestjs/src/modules/registry/registry-datastore.service.ts
  apps/server-nestjs/src/modules/registry/registry-health.service.ts
  apps/server-nestjs/src/modules/registry/registry-http-client.service.ts
  apps/server-nestjs/src/modules/registry/registry.constants.ts
  apps/server-nestjs/src/modules/registry/registry.module.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/src/modules/registry/registry.utils.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
  apps/server-nestjs/test/registry.e2e-spec.ts
Due: pnpm run lint:root --

Path conditions:
  pnpm --filter=@cpn-console/client run lint:style --: any of: **/apps/client/**/*.{vue,css}
  pnpm --filter=@cpn-console/client run lint:ts --: any of: **/apps/client/**/*
  pnpm --filter=@cpn-console/server run lint --: any of: **/apps/server/**/*
  pnpm --filter=./packages/* run lint --: any of: **/packages/**/*
  pnpm --filter=./plugins/* run lint --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
