Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm run lint:style --filter=@cpn-console/client --",
  "**/apps/client/**/*": "pnpm run lint:ts --filter=@cpn-console/client --",
  "**/apps/server/**/*": "pnpm run lint --filter=@cpn-console/server --",
  "**/packages/**/*": "pnpm run lint --filter=./packages/* --",
  "**/plugins/**/*": "pnpm run lint --filter=./plugins/* --",
  "**/*": "pnpm run lint:root --"
}

test(playwright): :recycle: rewrite e2e tests with functions
  playwright/e2e-tests/admin-stages.spec.ts
  playwright/e2e-tests/clusters.spec.ts
  playwright/e2e-tests/environments.spec.ts
  playwright/e2e-tests/projects.spec.ts
  playwright/e2e-tests/service-chains.spec.ts
  playwright/e2e-tests/utils.ts
Due: pnpm run lint:root --

test(playwright): :recycle: align login configurations
  playwright/config/console.ts
  playwright/config/keycloak.ts
  playwright/e2e-tests/admin-stages.spec.ts
  playwright/e2e-tests/clusters.spec.ts
  playwright/e2e-tests/environments.spec.ts
  playwright/e2e-tests/keycloak.spec.ts
  playwright/e2e-tests/projects.spec.ts
  playwright/e2e-tests/service-chains.spec.ts
Due: pnpm run lint:root --

test(playwright): :tada: add console integration tests
  playwright/e2e-tests/integration.spec.ts
Due: pnpm run lint:root --

test(playwright): :technologist: add Playwright integration tests for Sonarqube
  playwright/config/sonarqube.ts
  playwright/e2e-tests/sonarqube.spec.ts
Due: pnpm run lint:root --

docs: :memo: add Playwright code conventions
  playwright/README.md
Due: pnpm run lint:root --

ci: :construction_worker: step should execute only when there is a release
  .github/workflows/release.yml
Due: pnpm run lint:root --

feat: :sparkles: add support for SonarQube and Harbor internal url
  plugins/harbor/src/utils.ts
  plugins/sonarqube/src/tech.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

test(playwright): :tada: add console integration tests
  playwright/config/console.ts
  playwright/e2e-tests/integration.spec.ts
  playwright/e2e-tests/utils.ts
Due: pnpm run lint:root --

fix: :bug: use the renamed path of repository/group being deleted
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/group.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: release please condition
  .github/workflows/release.yml
Due: pnpm run lint:root --

feat: :poop: change the naming convention of cluster secret
  packages/hooks/src/hooks/index.ts
  packages/test-utils/src/utils/types.ts
  plugins/argocd/src/cluster.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :fire: de-duplicates Argo CD links for default zone
  apps/server/src/prisma/migrations/20251028150522_rename_default_zone/migration.sql
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/index.ts
  playwright/e2e-tests/utils.ts
  plugins/argocd/README.md
  plugins/argocd/src/infos.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore(playwright): bump to v1.56.1
  playwright/package.json
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore: bump @kubernetes/client-node to 1.4.0 to avoid a security issue
  apps/server/package.json
  packages/shared/package.json
  plugins/argocd/package.json
  plugins/kubernetes/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: :construction: bump Zod to v4.1.12
  packages/hooks/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore: :construction: bump @ts-rest/{core,fastify,openapi} to v4.1.12
  apps/client/package.json
  apps/server/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore: :construction: downgrade zod to v3.25.76
  packages/hooks/package.json
  packages/shared/package.json
  packages/shared/src/contracts/cluster.ts
  packages/shared/src/contracts/log.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/schemas/config.ts
  packages/shared/src/schemas/environment.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/repository.ts
  packages/shared/src/schemas/role.ts
  packages/shared/src/schemas/service-chain.ts
  packages/shared/src/schemas/services.ts
  packages/shared/src/schemas/stage.ts
  packages/shared/src/schemas/system.ts
  packages/shared/src/schemas/token.ts
  packages/shared/src/schemas/user.ts
  packages/shared/src/schemas/zone.ts
  pnpm-lock.yaml
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore: :construction: bump vite to v7.1.12
  apps/client/package.json
  apps/server/package.json
  packages/shared/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: :construction: bump vue3-json-viewer to v2.4.1
  apps/client/package.json
  apps/client/src/icon-collections.ts
  apps/client/src/main.ts
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore: :construction: bump cypress to v15.5.0
  apps/client/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore: :construction: remove node-vault-client (unused)
  apps/server/package.json
  pnpm-lock.yaml
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

chore: bump pnpm to v10.20.0
  package.json
  playwright/package.json
Due: pnpm run lint:root --

chore: fix pnpm warning
  package.json
Due: pnpm run lint:root --

fix(shared): explicitely import Zod type
  packages/shared/src/contracts/cluster.ts
  packages/shared/src/contracts/log.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/schemas/config.ts
  packages/shared/src/schemas/environment.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/repository.ts
  packages/shared/src/schemas/role.ts
  packages/shared/src/schemas/service-chain.ts
  packages/shared/src/schemas/services.ts
  packages/shared/src/schemas/stage.ts
  packages/shared/src/schemas/system.ts
  packages/shared/src/schemas/token.ts
  packages/shared/src/schemas/user.ts
  packages/shared/src/schemas/zone.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix: rely on packageManager property to retrieve the right version of pnpm
  apps/client/Dockerfile
  apps/server/Dockerfile
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

chore: :construction: upgrade zod to v3.25.76
  packages/hooks/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore: :construction: bump @ts-rest/{core,fastify,openapi} to v3.52.1
  apps/client/package.json
  apps/server/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix(ci): remove PNPM_VERSION from Github Actions
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/playwright.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
Due: pnpm run lint:root --

chore: :construction: bump vite to v7.2.1 (and also related deps)
  apps/client/package.json
  apps/server/package.json
  packages/shared/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: :construction: bump cypress to v15.6.0
  apps/client/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --
