Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm --filter=@cpn-console/client run lint:style --",
  "**/apps/client/**/*": "pnpm --filter=@cpn-console/client run lint:ts --",
  "**/apps/server/**/*": "pnpm --filter=@cpn-console/server run lint --",
  "**/packages/**/*": "pnpm --filter=./packages/* run lint --",
  "**/plugins/**/*": "pnpm --filter=./plugins/* run lint --",
  "**/*": "pnpm run lint:root --"
}

Update
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
Due: pnpm run lint:root --

Update (base update)
  apps/server-nestjs/Dockerfile
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/opencds/opencds-health.service.ts
  apps/server-nestjs/src/modules/opencds/opencds.module.ts
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
Due: pnpm run lint:root --

fix: remove opencds-mockoon depends_on (optional service)
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
Due: pnpm run lint:root --

Revert "fix: remove opencds-mockoon depends_on (optional service)"
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
Due: pnpm run lint:root --

fix: correct NestJS healthcheck and add opencds health service
  apps/server-nestjs/Dockerfile
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/opencds/opencds-health.service.ts
  apps/server-nestjs/src/modules/opencds/opencds.module.ts
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
Due: pnpm run lint:root --

fix(playwright): correct heading matcher and checkbox helper in e2e tests
  playwright/e2e-tests/repos.spec.ts
Due: pnpm run lint:root --

chore: remove unused packages and fix otel configuration
  apps/server-nestjs/package.json
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/src/modules/infrastructure/infrastructure.module.ts
  apps/server-nestjs/src/modules/infrastructure/telemetry/telemetry.module.ts
  apps/server-nestjs/src/modules/infrastructure/telemetry/telemetry.service.ts
  apps/server/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

feat: add support for Keycloak based token
  apps/server-nestjs/.env-example
  apps/server-nestjs/.env.docker-example
  apps/server-nestjs/.env.integ-example
  apps/server-nestjs/package.json
  apps/server-nestjs/src/modules/infrastructure/auth/admin-permission.guard.spec.ts
  apps/server-nestjs/src/modules/infrastructure/auth/admin-permission.guard.ts
  apps/server-nestjs/src/modules/infrastructure/auth/auth-testing.utils.ts
  apps/server-nestjs/src/modules/infrastructure/auth/auth.module.ts
  apps/server-nestjs/src/modules/infrastructure/auth/auth.service.spec.ts
  apps/server-nestjs/src/modules/infrastructure/auth/auth.service.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-jwt/keycloak-jwt-client.service.spec.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-jwt/keycloak-jwt-client.service.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-jwt/keycloak-jwt-testing.utils.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-jwt/keycloak-jwt.module.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-jwt/keycloak-jwt.service.spec.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-jwt/keycloak-jwt.service.ts
  apps/server-nestjs/src/modules/infrastructure/auth/user.decorator.ts
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.spec.ts
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/infrastructure/infrastructure.module.ts
  apps/server/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

fix(playwright): increase timeout for service chain details heading
  playwright/e2e-tests/environments.spec.ts
  playwright/e2e-tests/repos.spec.ts
  playwright/e2e-tests/service-chains.spec.ts
Due: pnpm run lint:root --

fix: resolve 72 of 79 Dependabot security alerts via dependency upgrades
  apps/server-nestjs/package.json
  apps/server/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

refactor: extract secret provider code from JWT module
  apps/server-nestjs/src/modules/infrastructure/auth/auth.module.ts
  apps/server-nestjs/src/modules/infrastructure/auth/auth.service.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-jwt/keycloak-jwt-client.service.spec.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-jwt/keycloak-jwt-client.service.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-jwt/keycloak-jwt-testing.utils.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-jwt/keycloak-jwt.module.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-jwt/keycloak-jwt.service.spec.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-jwt/keycloak-jwt.service.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-secret-provider/keycloak-secret-provider-testing.utils.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-secret-provider/keycloak-secret-provider.constant.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-secret-provider/keycloak-secret-provider.module.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-secret-provider/keycloak-secret-provider.service.spec.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-secret-provider/keycloak-secret-provider.service.ts
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-secret-provider/keycloak-secret-provider.utils.ts
  apps/server-nestjs/src/modules/infrastructure/permission/project/project-loader.service.ts
  apps/server-nestjs/src/modules/infrastructure/permission/project/project.guard.ts
  apps/server-nestjs/src/modules/infrastructure/permission/project/project.testing.utils.ts
Due: pnpm run lint:root --

fix: update lodash to 4.18.1 and fix vite build for LightningCSS compat
  apps/client/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

refactor(admin-roles): migrate from server
  apps/nginx-strangler/conf.d/routing.conf
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-CARTOGRAPHIE.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-STATUT.md
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.controller.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.module.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.service.spec.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.service.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.utils.ts
Due: pnpm run lint:root --

fix(admin-role): return single role from create() instead of full list
  apps/server-nestjs/src/modules/admin-role/admin-role.service.spec.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.service.ts
Due: pnpm run lint:root --

fix: launch.json to read envfiles
  .vscode/launch.json
Due: pnpm run lint:root --

fix: fix .env examples files having outdated default values
  apps/client/.env-example
  apps/client/.env.docker-example
  apps/server-nestjs/.env-example
  apps/server-nestjs/.env.docker-example
  apps/server-nestjs/.env.integ-example
  apps/server/.env-example
  apps/server/.env.docker-example
  apps/server/.env.integ-example
  docker/docker-compose.ci.yml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

fix: default NestJS port
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
Due: pnpm run lint:root --

chore: enforce port config
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
Due: pnpm run lint:root --

fix: replace magic port constant and add startup URL logging
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
Due: pnpm run lint:root --

fix: defaulting to 0.0.0.0 is a well known security issue
  apps/server-nestjs/.env-example
  apps/server-nestjs/.env.docker-example
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
Due: pnpm run lint:root --

fix(release-please): restore default versioning strategy
  release-please-config.json
Due: pnpm run lint:root --

fix: Keycloak JWT validation against public URL
  apps/server-nestjs/.env-example
  apps/server-nestjs/.env.docker-example
  apps/server-nestjs/.env.integ-example
  apps/server-nestjs/src/modules/infrastructure/auth/keycloak-jwt/keycloak-jwt.service.ts
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.spec.ts
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-health.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.module.ts
Due: pnpm run lint:root --

chore(client): use official nginx unprivileged image instead of unmaintained bitnamilegacy
  apps/client/Dockerfile
  apps/client/nginx/entrypoint.sh
  apps/client/src/utils/env.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

chore: add docker:ci commands for targer=prod images tests
  package.json
Due: pnpm run lint:root --
