Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :wrench: duplicate changelog entries
  CHANGELOG.md
Due: pnpm run lint:root --

fix: :wrench: duplicate changelog entries (#1587)
  CHANGELOG.md
Due: pnpm run lint:root --

fix: allowed sources repositories
  plugins/argocd/package.json
  plugins/argocd/src/functions.ts
  plugins/gitlab/package.json
  plugins/gitlab/src/class.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :zap: optimization of gitlab API calls
  plugins/gitlab/src/class.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :bug: add missing scope when creating keycloak client
  plugins/keycloak/src/functions.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :bug: adapt status analysis to Nexus 3.78 response
  plugins/nexus/src/monitor.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: fix hiding tile header for all tiles instead of just the projects ones
  apps/client/src/views/projects/DsoProjects.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

docs: add quickstart section to README for a better onboarding
  README.md
Due: pnpm run lint:root --

fix: fix admin roles not being retrieved when a new user logs in for the first time
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

fix: :bug: add missing custom source repositories in argocd values (pulling mode)
  plugins/argocd/src/app-project.ts
  plugins/argocd/src/functions.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :bug: fix gitlab deletion API request
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/group.ts
  plugins/gitlab/src/repositories.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

ci: :construction_worker: generate a GH token for automatic Helm chart releases
  .github/workflows/cd.yml
Due: pnpm run lint:root --

Create test.yml
  .github/workflows/test.yml
Due: pnpm run lint:root --

Update test.yml
  .github/workflows/test.yml
Due: pnpm run lint:root --

ci: :construction_worker: set the scope of the GH token for automatic Helm chart releases
  .github/workflows/cd.yml
Due: pnpm run lint:root --

fix: fix resources checkbox not allowing cluster-level resource creation
  plugins/argocd/src/app-project.ts
  plugins/argocd/src/functions.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: add unit test capabilities to ArgoCD plugin
  plugins/argocd/package.json
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: add cluster resources unit test to ArgoCD plugin
  plugins/argocd/package.json
  plugins/argocd/src/app-project.spec.ts
  plugins/argocd/src/app-project.ts
  pnpm-lock.yaml
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: fix formatting issue
  apps/client/src/views/projects/DsoProjects.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

Path conditions:
  pnpm run lint:style --filter=@cpn-console/client --: any of: **/apps/client/**/*.{vue,css}
  pnpm run lint:ts --filter=@cpn-console/client --: any of: **/apps/client/**/*
  pnpm run lint --filter=@cpn-console/server --: any of: **/apps/server/**/*
  pnpm run lint --filter=./packages/* --: any of: **/packages/**/*
  pnpm run lint --filter=./plugins/* --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
