Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix(ci): correct keycloak healthcheck flag typo (fsS -> -fsS)
  docker/docker-compose.ci.yml
Due: pnpm run lint:root --

fix(ci): surface keycloak boot logs on Playwright failure
  .github/workflows/job-playwright.yml
Due: pnpm run lint:root --

fix(ci): query keycloak health endpoint on management port 9000
  docker/docker-compose.ci.yml
Due: pnpm run lint:root --

refactor(user): remove unused imports flagged by code-quality bot
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/user/user-queries.utils.ts
  apps/server-nestjs/src/modules/user/user-testing.utils.ts
  apps/server-nestjs/src/modules/user/user.controller.ts
  apps/server-nestjs/src/modules/user/user.module.ts
  apps/server-nestjs/src/modules/user/user.service.spec.ts
  apps/server-nestjs/src/modules/user/user.service.ts
Due: pnpm run lint:root --

chore: add a CODEOWNERS
  CODEOWNERS
Due: pnpm run lint:root --

chore(client): remove (apparently) useless script
  apps/client/scripts/create-collections.js
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

fix(client): fix currently used icons
  apps/client/scripts/icons.js
  apps/client/src/icon-collections.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

feat(client): add a script to generate src/icon-collections.ts
  apps/client/scripts/generate-icons.sh
  apps/client/scripts/icons.js
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

chore(client): refresh icons (with icons generation script)
  apps/client/src/icon-collections.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

chore(client): use new icons generation script
  apps/client/package.json
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

chore(docker): migrate keycloak to official quay.io image
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.local.yml
Due: pnpm run lint:root --

refactor(user): strangler offload routes to server-nestjs
  apps/nginx-strangler/conf.d/routing.conf
Due: pnpm run lint:root --

fix(deps): resolve 17 dependabot alerts via pnpm overrides
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint:root --

chore(docker): replace deprecated KEYCLOAK_ADMIN_* with KC_BOOTSTRAP_ADMIN_*
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.local.yml
Due: pnpm run lint:root --

chore(client): remove useless chown/chmod from Dockerfile
  apps/client/Dockerfile
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

feat(server-nestjs): migrate apps/server-nestjs to Zod 4 in isolation
  apps/server-nestjs/package.json
  apps/server-nestjs/src/config/base.config.ts
  apps/server-nestjs/src/config/config.utils.ts
  apps/server-nestjs/src/config/validators.ts
  apps/server-nestjs/src/modules/infrastructure/pipe/zod-validation.pipe.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-client.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.utils.ts
  apps/server-nestjs/src/modules/project-services/project-services.utils.ts
  apps/server-nestjs/src/modules/project/project.utils.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.spec.ts
  apps/server-nestjs/src/modules/system-config/system-config.service.ts
  apps/server-nestjs/test/sonarqube.e2e-spec.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint:root --

fix(client): avoid footer link icon appearing over snackbar
  apps/client/src/main.css
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

chore(client): bump vue-dsfr to 8.19.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint:root --

chore(ci): ensure Playwright tests are executed in Merge Queue when a docker-compose is updated
  .github/workflows/workflow-merge-queue.yml
Due: pnpm run lint:root --

chore: fix health-checks in local docker-compose
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.local.yml
Due: pnpm run lint:root --

chore: harmonize quotes in local docker-compose
  docker/docker-compose.ci.yml
Due: pnpm run lint:root --

chore(ci): dump every container docker compose state on Playwright startup failure
  .github/workflows/job-playwright.yml
Due: pnpm run lint:root --

revert(docker): replace deprecated KEYCLOAK_ADMIN_* with KC_BOOTSTRAP_ADMIN_*
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.local.yml
Due: pnpm run lint:root --

fix(docker): restore KEYCLOAK_ADMIN for persistent keycloak admin
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.local.yml
Due: pnpm run lint:root --

Path conditions:
  pnpm --filter=@cpn-console/client run lint:style --: any of: **/apps/client/**/*.{vue,css}
  pnpm --filter=@cpn-console/client run lint:ts --: any of: **/apps/client/**/*
  pnpm --filter=@cpn-console/server run lint --: any of: **/apps/server/**/*
  pnpm --filter=./packages/* run lint --: any of: **/packages/**/*
  pnpm --filter=./plugins/* run lint --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
