Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

refactor: :fire: no need for projectId in environments routes
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/admin/quotas.e2e.ts
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/src/stores/project-environment.ts
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.spec.ts
  apps/server/src/resources/environment/router.ts
  packages/shared/src/contracts/environment.ts
  packages/shared/src/schemas/environment.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

refactor: :truck: merge projects routes
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/src/stores/admin/project.spec.ts
  apps/client/src/stores/admin/project.ts
  apps/client/src/stores/project.spec.ts
  apps/client/src/stores/project.ts
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/server/src/resources/index-admin.ts
  apps/server/src/resources/project/admin/business.ts
  apps/server/src/resources/project/admin/controllers.spec.ts
  apps/server/src/resources/project/admin/router.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/controllers.spec.ts
  apps/server/src/resources/project/router.ts
  packages/shared/src/api-client.ts
  packages/shared/src/contracts/project.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

refactor: :truck: merge cluster routes
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/cypress/e2e/specs/admin/zones.e2e.ts
  apps/client/src/stores/admin/cluster.ts
  apps/client/src/stores/cluster.spec.ts
  apps/client/src/stores/cluster.ts
  apps/client/src/views/admin/ListClusters.vue
  apps/server/src/resources/cluster/admin/controllers.spec.ts
  apps/server/src/resources/cluster/admin/router.ts
  apps/server/src/resources/cluster/router.ts
  apps/server/src/resources/index-admin.ts
  packages/shared/src/api-client.ts
  packages/shared/src/contracts/cluster.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

feat: :sparkles: query filter admin projects
  apps/server/src/resources/project/admin/business.ts
  apps/server/src/resources/project/admin/router.ts
  apps/server/src/resources/project/queries.ts
  packages/shared/src/contracts/project.ts
  packages/shared/src/schemas/project.ts
Due: pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

fix: :ambulance: hot fix project response schema
  packages/shared/src/schemas/project.ts
Due: pnpm run format --filter @cpn-console/shared --

fix: :ambulance: not ready for project reponse validation
  apps/server/src/resources/index.ts
Due: pnpm run format --filter @cpn-console/server --

fix: :ambulance: second try to fix
  .release-please-manifest.json
  packages/shared/src/schemas/organization.ts
  packages/shared/src/schemas/project.ts
Due: pnpm run format --filter @cpn-console/shared --

fix: :test_tube: owner permission level should be 2
  packages/test-utils/src/utils/random-project.ts
  packages/test-utils/src/utils/types.ts
Due: none

chore: :arrow_up: upgrade dsfr-gouv
  apps/client/cypress/components/specs/cluster-form.ct.ts
  apps/client/cypress/components/specs/quota-form.ct.ts
  apps/client/cypress/components/specs/repo-form.ct.ts
  apps/client/cypress/components/specs/stage-form.ct.ts
  apps/client/cypress/components/specs/zone-form.ct.ts
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/admin/quotas.e2e.ts
  apps/client/cypress/e2e/specs/admin/stages.e2e.ts
  apps/client/cypress/e2e/specs/admin/users.e2e.ts
  apps/client/cypress/e2e/specs/admin/zones.e2e.ts
  apps/client/cypress/e2e/specs/create-project.e2e.ts
  apps/client/cypress/e2e/specs/permissions.e2e.ts
  apps/client/cypress/e2e/specs/repos.e2e.ts
  apps/client/cypress/e2e/specs/team.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/package.json
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/QuotaForm.vue
  apps/client/src/components/RepoForm.vue
  apps/client/src/components/SuggestionInput.vue
  pnpm-lock.yaml
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

chore: :arrow_up: upgrade nodejs to v20.15.1
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  .prototools
  apps/client/Dockerfile
  apps/client/cypress/components/specs/repo-form.ct.ts
  apps/client/package.json
  apps/server/Dockerfile
  package.json
  pnpm-lock.yaml
Due: pnpm run format --filter @cpn-console/client --

chore: :arrow_up: upgrade pnpm to v9.5.0
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  .prototools
  apps/client/Dockerfile
  apps/server/Dockerfile
  package.json
Due: none

fix: :bug: env name error not displayed
  apps/client/src/components/EnvironmentForm.vue
  plugins/gitlab/package.json
  pnpm-lock.yaml
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

fix: :art: harmonize hook calling in business
  apps/server/src/resources/cluster/admin/business.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/organization/business.ts
  apps/server/src/resources/permission/business.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/hook-wrapper.ts
Due: pnpm run format --filter @cpn-console/server --

fix: :bug: require tls serverName
  apps/client/src/components/ClusterForm.vue
  packages/shared/src/schemas/cluster.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/shared --

fix: :bug: don't ignore user token when testing cluster deployment mode
  plugins/argocd/src/functions.ts
  plugins/kubernetes/src/api.ts
Due: none

feat: :rocket: add helm detection and list values files
  plugins/argocd/src/functions.ts
Due: none

chore: :recycle: review corrections
  apps/client/cypress/e2e/specs/repos.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/components/RepoForm.vue
  apps/client/src/components/TeamCt.vue
  apps/client/src/router/index.ts
  apps/client/src/stores/project-repository.ts
  apps/client/src/stores/project-user.spec.ts
  apps/client/src/stores/project-user.ts
  apps/client/src/stores/project.ts
  apps/client/src/views/admin/ListUser.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/connect.spec.ts
  apps/server/src/resources/cluster/business.ts
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/resources/cluster/router.ts
  apps/server/src/resources/environment/controllers.spec.ts
  apps/server/src/resources/log/router.ts
  apps/server/src/resources/organization/router.ts
  apps/server/src/resources/project/router.ts
  apps/server/src/resources/quota/router.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/repository/router.ts
  apps/server/src/resources/stage/router.ts
  apps/server/src/resources/system/config/router.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/controllers.spec.ts
  apps/server/src/resources/user/router.ts
  apps/server/src/resources/zone/router.ts
  apps/server/src/utils/controller.ts
  packages/shared/package.json
  packages/shared/src/contracts/repository.ts
  packages/shared/src/schemas/repository.ts
  packages/test-utils/src/utils/random-utils.ts
  pnpm-lock.yaml
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

fix: :bug: search on HEAD ref instead of main
  plugins/argocd/src/functions.ts
Due: none

fix: :ambulance: clone private repositories in gitlab plugin
  packages/shared/src/schemas/cluster.ts
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/repositories.ts
Due: pnpm run format --filter @cpn-console/shared --

fix: :bug: use patch instead of merge patch in argocd plugin
  plugins/argocd/src/functions.ts
Due: none

fix: add label to page update cluster
  apps/client/src/components/ClusterForm.vue
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

refactor: :technologist: improve import and export models
  apps/server/src/connect.spec.ts
  apps/server/src/connect.ts
  apps/server/src/init/db/dump.ts
  apps/server/src/init/db/index.ts
  apps/server/src/init/db/utils.spec.ts
  apps/server/src/init/db/utils.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter @cpn-console/server --

refactor: :card_file_box: drop null values on project description
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/src/views/admin/ListProjects.vue
  apps/server/src/prisma/migrations/20240717084709_dso/migration.sql
  apps/server/src/prisma/schema.prisma
  apps/server/src/resources/project/business.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --

ci: :construction_worker: handle app preview
  .github/labeler/build.yml
  .github/workflows/ci.yml
  .github/workflows/label.yml
  .github/workflows/preview.yml
  ci/preview/applicationset.yaml
Due: none

fix: :lock: do not display credentials in error messages
  packages/hooks/src/utils/logger.ts
Due: none

fix: :ambulance: fix error on getArgoRepo when the infra repository is empty (zero commit)
  plugins/gitlab/src/class.ts
Due: none

Path conditions:
  pnpm run format --filter @cpn-console/client --: any of: **/client/**/*.{js,ts,vue,cjs}
  pnpm run format:style --filter @cpn-console/client --: any of: **/client/**/*.{vue,css}
  pnpm run format --filter @cpn-console/server --: any of: **/server/**/*.{js,cjs,ts}
  pnpm run format --filter @cpn-console/shared --: any of: **/shared/**/*.{js,cjs,ts}
