Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm --filter=@cpn-console/client run lint:style --",
  "**/apps/client/**/*": "pnpm --filter=@cpn-console/client run lint:ts --",
  "**/apps/server/**/*": "pnpm --filter=@cpn-console/server run lint --",
  "**/packages/**/*": "pnpm --filter=./packages/* run lint --",
  "**/plugins/**/*": "pnpm --filter=./plugins/* run lint --",
  "**/*": "pnpm run lint:root --"
}

fix(server-nestjs): permanently remove GitLab groups and repos on cleanup
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
Due: pnpm run lint:root --

fix(server-nestjs): use full path for repo permanent removal
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
Due: pnpm run lint:root --

fix(server-nestjs): make Keycloak root group creation idempotent (409 race)
  apps/server-nestjs/src/modules/keycloak/keycloak-client.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-client.service.ts
Due: pnpm run lint:root --

fix(server-nestjs): make Nexus create paths idempotent (409 conflict tolerance)
  apps/server-nestjs/src/modules/nexus/nexus-client.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
Due: pnpm run lint:root --

chore: ignore agents tasks directories
  .gitignore
Due: pnpm run lint:root --

feat(ci): add hotfixes alongside (pre)releases with separate worflows/jobs
  .github/hotfix-release-please-config.json
  .github/workflows/job-release-please-hotfixes.yml
  .github/workflows/workflow-handle-hotfix.yml
  .github/workflows/workflow-handle-main.yml
  RELEASE.md
Due: pnpm run lint:root --

refactor(harbor): use async generator for listRepositories
  apps/server-nestjs/src/modules/registry/registry-client.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.ts
  apps/server-nestjs/src/modules/registry/registry.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
Due: pnpm run lint:root --

fix(nexus): re-add NexusError import dropped by idempotence refactor
  apps/server-nestjs/src/modules/nexus/nexus-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.utils.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.utils.ts
Due: pnpm run lint:root --

fix(server-nestjs): purge Harbor repositories before deleting project
  apps/server-nestjs/src/modules/registry/registry-client.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.ts
  apps/server-nestjs/src/modules/registry/registry.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/src/modules/registry/registry.utils.spec.ts
  apps/server-nestjs/src/modules/registry/registry.utils.ts
Due: pnpm run lint:root --

refactor(gitlab): rename ensureCreated to ensure and extract race detection
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.utils.ts
Due: pnpm run lint:root --

test(gitlab): cover ensure util and race-commit idempotency
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.utils.spec.ts
Due: pnpm run lint:root --

fix(server-nestjs): make SonarQube user creation idempotent on create race
  apps/server-nestjs/src/modules/sonarqube/sonarqube-client.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-client.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.utils.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.utils.ts
Due: pnpm run lint:root --

refactor(server-nestjs): route Keycloak group creation through shared ensure util
  apps/server-nestjs/src/modules/keycloak/keycloak-client.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.utils.ts
Due: pnpm run lint:root --

feat(environment): warn about linked deployments before environment deletion
  apps/client/src/components/DeploymentModal.vue
  apps/client/src/components/DeploymentResources.vue
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/ProjectResources.vue
  apps/client/src/utils/project-utils.ts
  apps/server-nestjs/src/modules/environment/environment-datastore.service.spec.ts
  apps/server-nestjs/src/modules/environment/environment-datastore.service.ts
  apps/server-nestjs/src/modules/environment/environment-testing.utils.ts
  apps/server-nestjs/src/modules/environment/environment.controller.spec.ts
  apps/server-nestjs/src/modules/environment/environment.service.spec.ts
  apps/server-nestjs/src/modules/environment/environment.service.ts
  packages/shared/src/contracts/environment.ts
  packages/shared/src/schemas/environment.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(shared): add token pair generation and expiration schema
  apps/server-nestjs/src/utils/crypto.spec.ts
  apps/server-nestjs/src/utils/crypto.utils.ts
  apps/server-nestjs/src/utils/schemas.ts
  packages/shared/src/schemas/index.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(user-tokens): migrate from server
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/infrastructure/clean-types/controller-body.types.ts
  apps/server-nestjs/src/modules/plugin/plugin.module.spec.ts
  apps/server-nestjs/src/modules/project-bulk/project-bulk.controller.ts
  apps/server-nestjs/src/modules/project-bulk/project-bulk.service.ts
  apps/server-nestjs/src/modules/project-roles/project-roles.controller.ts
  apps/server-nestjs/src/modules/project/project-testing.utils.ts
  apps/server-nestjs/src/modules/project/project.controller.ts
  apps/server-nestjs/src/modules/project/project.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens-queries.utils.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens-queries.utils.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.controller.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.module.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.utils.ts
  apps/server-nestjs/test/user-tokens.e2e-spec.ts
Due: pnpm run lint:root --

test(user-tokens): assert orderBy status then createdAt in list
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
Due: pnpm run lint:root --

revert: restrict deployment visibility to console admins
  apps/client/src/components/ProjectResources.vue
  apps/client/src/components/ProjectRoleForm.vue
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

fix(server-nestjs): tolerate Harbor create races (400 CONFLICT / 409) in ensure paths
  apps/server-nestjs/src/modules/registry/registry-client.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.ts
  apps/server-nestjs/src/modules/registry/registry.utils.spec.ts
  apps/server-nestjs/src/modules/registry/registry.utils.ts
Due: pnpm run lint:root --

revert: remove useless chown/chmod from Dockerfile"
  apps/client/Dockerfile
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

fix(server-nestjs): grant SonarQube project-admin permissions to the project owner
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.ts
Due: pnpm run lint:root --

fix(keycloak): add project owner to the maintainer role group
  apps/server-nestjs/src/modules/keycloak/keycloak.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.utils.ts
Due: pnpm run lint:root --

fix(server-nestjs): reconcile single Harbor retention policy on re-sync
  apps/server-nestjs/src/modules/registry/registry-client.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.ts
  apps/server-nestjs/src/modules/registry/registry-testing.utils.ts
  apps/server-nestjs/src/modules/registry/registry.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/src/modules/registry/registry.utils.spec.ts
  apps/server-nestjs/src/modules/registry/registry.utils.ts
  apps/server-nestjs/test/registry.e2e-spec.ts
Due: pnpm run lint:root --

refactor(admin-roles): migrate from server
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-CARTOGRAPHIE.md
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/admin-role/admin-role-queries.utils.ts
  apps/server-nestjs/src/modules/admin-role/admin-role-testing.utils.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.controller.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.module.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.service.spec.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.service.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.utils.ts
Due: pnpm run lint:root --

test(admin-role): cover patch coherent-position path
  apps/server-nestjs/src/modules/admin-role/admin-role.service.spec.ts
Due: pnpm run lint:root --

refactor(admin-role): remove dead testing-utils exports
  apps/server-nestjs/src/modules/admin-role/admin-role-testing.utils.ts
  apps/server-nestjs/src/utils/crypto.utils.ts
  apps/server-nestjs/src/utils/schemas.ts
  packages/shared/src/schemas/index.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

fix(client): use bundled ri icon for deployment sources
  apps/client/src/components/DeploymentCard.vue
  apps/client/src/icon-collections.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

chore(server-nestjs): rename role readonly to reader
  apps/server-nestjs/src/modules/argocd/argocd-plugin.service.ts
  apps/server-nestjs/src/modules/argocd/argocd.constants.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.spec.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.constants.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.constants.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/project/project.utils.ts
  apps/server-nestjs/src/modules/registry/registry.constants.ts
  apps/server-nestjs/src/modules/registry/registry.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.constants.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.ts
  apps/server-nestjs/src/modules/vault/vault.constants.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  apps/server-nestjs/src/prisma/migrations/20260615100000_rename_role_readonly_to_reader/migration.sql
  apps/server/src/resources/project/queries.ts
  packages/shared/src/utils/permissions.ts
  plugins/argocd/src/infos.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix(plugins/argocd): update remaining readonly references in functions
  plugins/argocd/src/functions.spec.ts
  plugins/argocd/src/functions.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

refactor(user-tokens): realign module with server-nestjs conventions
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/infrastructure/clean-types/controller-body.types.ts
  apps/server-nestjs/src/modules/plugin/plugin.module.spec.ts
  apps/server-nestjs/src/modules/project-bulk/project-bulk.controller.ts
  apps/server-nestjs/src/modules/project-bulk/project-bulk.service.ts
  apps/server-nestjs/src/modules/project-roles/project-roles.controller.ts
  apps/server-nestjs/src/modules/project/project-testing.utils.ts
  apps/server-nestjs/src/modules/project/project.controller.ts
  apps/server-nestjs/src/modules/project/project.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens-queries.utils.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.module.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.utils.ts
  apps/server-nestjs/src/utils/schemas.ts
  apps/server-nestjs/test/user-tokens.e2e-spec.ts
  packages/shared/src/schemas/index.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --
