Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

feat(server-nestjs): consume adminRole events in keycloak and gitlab modules
  apps/server-nestjs/src/modules/events/app-events.service.ts
  apps/server-nestjs/src/modules/gitlab/admin-role-bridge.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
  apps/server-nestjs/src/modules/keycloak/admin-role-bridge.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.ts
Due: pnpm run lint:root --

docs(release-patch): wrap lines over 80 columns
  .agents/skills/cpn-release-patch/SKILL.md
Due: pnpm run lint:root --

docs: add pi transition skill design
  docs/superpowers/specs/2026-09-18-pi-transition-skill-design.md
Due: pnpm run lint:root --

docs: add pi transition skill
  .agents/skills/cpn-pi-transition/SKILL.md
  docs/superpowers/plans/2026-09-18-pi-transition-skill.md
Due: pnpm run lint:root --

refactor(shared): upstream personal access token body schema
  apps/server-nestjs/src/modules/user-tokens/user-tokens.controller.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.utils.ts
  packages/shared/src/schemas/_utils.ts
  packages/shared/src/schemas/index.ts
  packages/shared/src/schemas/token.spec.ts
  packages/shared/src/schemas/token.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

fix(server-nestjs): register AdminTokenModule for downstream stacks
  apps/server-nestjs/src/main.module.ts
Due: pnpm run lint:root --

refactor(cluster): reuse shared cluster body type aliases in controller
  apps/server-nestjs/src/modules/cluster/cluster.controller.ts
Due: pnpm run lint:root --

refactor(cluster): migrate module from server
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/cluster/cluster-queries.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster-testing.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster.controller.ts
  apps/server-nestjs/src/modules/cluster/cluster.module.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.spec.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.ts
Due: pnpm run lint:root --

fix(server-nestjs): drop AdminTokenModule registration, owned by stacked admin-token PR
  apps/server-nestjs/src/main.module.ts
Due: pnpm run lint:root --

chore(nginx-strangler): route /api/v1/clusters to server-nestjs
  apps/nginx-strangler/conf.d/routing.conf
Due: pnpm run lint:root --

refactor(cluster): upstream named body schemas and apply review fixes
  apps/server-nestjs/src/modules/cluster/cluster-queries.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster-testing.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster.controller.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.spec.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.ts
  packages/shared/src/contracts/cluster.ts
  packages/shared/src/schemas/cluster.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(shared): upstream admin-token schema and validate at boundary
  apps/server-nestjs/src/modules/admin-token/admin-token.controller.ts
  apps/server-nestjs/src/modules/admin-token/admin-token.service.spec.ts
  apps/server-nestjs/src/modules/admin-token/admin-token.service.ts
  apps/server-nestjs/src/modules/admin-token/admin-token.utils.ts
  apps/server-nestjs/src/utils/schemas.ts
  packages/shared/src/schemas/_utils.ts
  packages/shared/src/schemas/index.ts
  packages/shared/src/schemas/token.spec.ts
  packages/shared/src/schemas/token.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

chore(server-nestjs): drop section divider comments in deployment utils
  apps/server-nestjs/src/modules/deployment/deployment.utils.ts
Due: pnpm run lint:root --

style(server-nestjs): eslint autofix import ordering
  apps/server-nestjs/src/main.module.ts
Due: pnpm run lint:root --

fix(admin-token): optional withRevoked, service-level expiration check, module wiring
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/admin-token/admin-token-queries.utils.spec.ts
  apps/server-nestjs/src/modules/admin-token/admin-token-queries.utils.ts
  apps/server-nestjs/src/modules/admin-token/admin-token.controller.ts
  apps/server-nestjs/src/modules/admin-token/admin-token.module.ts
  apps/server-nestjs/src/modules/admin-token/admin-token.service.spec.ts
  apps/server-nestjs/src/modules/admin-token/admin-token.service.ts
  apps/server-nestjs/src/modules/admin-token/admin-token.utils.ts
  apps/server-nestjs/src/utils/schemas.ts
Due: pnpm run lint:root --

fix(project): reject archiving an already archived project
  apps/server-nestjs/src/modules/project/project.service.spec.ts
  apps/server-nestjs/src/modules/project/project.service.ts
Due: pnpm run lint:root --

feat(server-nestjs): register AdminRoleModule
  apps/server-nestjs/src/main.module.ts
Due: pnpm run lint:root --

docs: add cpn-release-patch skill
  .agents/skills/cpn-release-patch/SKILL.md
Due: pnpm run lint:root --

docs: readapt cpn-release-patch skill to plain git
  .agents/skills/cpn-release-patch/SKILL.md
Due: pnpm run lint:root --

refactor(cluster): upstream named body schemas and apply review fixes
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/cluster/cluster-queries.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster-testing.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster.controller.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.spec.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.ts
  packages/shared/src/contracts/cluster.ts
  packages/shared/src/schemas/cluster.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(cluster): use shared ClusterUsage type and plain string ids
  apps/server-nestjs/src/modules/cluster/cluster-queries.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.ts
  packages/shared/src/schemas/cluster.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(server-nestjs): share Effect helpers and route environments through pipeline
  apps/server-nestjs/package.json
  apps/server-nestjs/src/modules/cluster/cluster.controller.ts
  apps/server-nestjs/src/modules/cluster/cluster.pipeline.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.spec.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.ts
  apps/server-nestjs/src/utils/effect.utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint:root --

refactor(server-nestjs): inject cluster deps via Effect Context.Tags
  apps/client/scripts/generate-icons.sh
  apps/server-nestjs/package.json
  apps/server-nestjs/src/modules/cluster/cluster-queries.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster.controller.ts
  apps/server-nestjs/src/modules/cluster/cluster.module.ts
  apps/server-nestjs/src/modules/cluster/cluster.pipeline.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.spec.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

docs: add cpn-release-notes skill
  .agents/skills/cpn-release-notes/SKILL.md
Due: pnpm run lint:root --

docs(server-nestjs): drop dead method link, prune unused graph, date revision
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-CARTOGRAPHIE.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/graph-dependances-server-avant.png
Due: pnpm run lint:root --

docs(server-nestjs): reconcile modularisation status
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-CARTOGRAPHIE.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-STATUT.md
Due: pnpm run lint:root --

docs: add pi transition skill
  .agents/skills/cpn-pi-transition/SKILL.md
Due: pnpm run lint:root --

docs: udpate release notes skill
  .agents/skills/cpn-release-notes/SKILL.md
  .agents/skills/cpn-release-notes/evals.json
  .agents/skills/cpn-release-notes/references/output-format.md
Due: pnpm run lint:root --

fix: let console and project admin view project deployments
  apps/client/src/components/DeploymentResources.vue
  apps/client/src/components/ProjectResources.vue
  packages/shared/src/utils/permissions.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(skills): add cpn skill creation guide
  .agents/skills/cpn-create-skill/SKILL.md
  .agents/skills/cpn-create-skill/evals/evals.json
  .agents/skills/cpn-create-skill/references/agentskills-cpn.md
  .agents/skills/cpn-create-skill/references/evaluation-protocol.md
Due: pnpm run lint:root --

Path conditions:
  pnpm --filter=@cpn-console/client run lint:style --: any of: **/apps/client/**/*.{vue,css}
  pnpm --filter=@cpn-console/client run lint:ts --: any of: **/apps/client/**/*
  pnpm --filter=@cpn-console/server run lint --: any of: **/apps/server/**/*
  pnpm --filter=./packages/* run lint --: any of: **/packages/**/*
  pnpm --filter=./plugins/* run lint --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
