Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix(client): restrict deployment visibility to console admins
  apps/client/src/components/ProjectResources.vue
  apps/client/src/components/ProjectRoleForm.vue
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

revert(client): switch environments back from API v2
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/ProjectResources.vue
  apps/client/src/stores/project.spec.ts
  apps/client/src/utils/project-utils.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

fix(harbor): migrate robot management off removed robotv1 API for Harbor 2.13+
  .gitattributes
  apps/server-nestjs/src/modules/registry/registry-client.service.ts
  apps/server-nestjs/src/modules/registry/registry-http-client.service.ts
  apps/server-nestjs/src/modules/registry/registry.constants.ts
  apps/server-nestjs/src/modules/registry/registry.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/test/registry.e2e-spec.ts
  plugins/harbor/eslint.config.js
  plugins/harbor/package.json
  plugins/harbor/scripts/generate-api.mjs
  plugins/harbor/src/api/Api.ts
  plugins/harbor/src/functions.ts
  plugins/harbor/src/robot.ts
  pnpm-lock.yaml
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix(server-nestjs): align @types/node to v24 to keep workspace libs linked
  apps/server-nestjs/package.json
  pnpm-lock.yaml
Due: pnpm run lint:root --

fix(plugins/nexus): remove invalid cleanup policy from repo provisioning to fix Nexus 3.85+
  plugins/nexus/src/maven.ts
  plugins/nexus/src/npm.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

feat: clarify default config value
  apps/client/src/components/ConfigParam.vue
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

fix: client dockerfile is missing hook package.json
  apps/client/Dockerfile
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

refactor: migrate exploded deps management to central catalog
  apps/client/package.json
  apps/server-nestjs/package.json
  apps/server-nestjs/src/modules/infrastructure/auth/auth-testing.utils.ts
  apps/server/package.json
  migrations/v9/package.json
  package.json
  packages/eslintconfig/package.json
  packages/hooks/package.json
  packages/logger/package.json
  packages/shared/package.json
  packages/test-utils/package.json
  packages/tsconfig/package.json
  playwright/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix: remove root group from Dockerfile copy
  apps/client/Dockerfile
  apps/server-nestjs/Dockerfile
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

refactor(admin-roles): migrate from server
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-CARTOGRAPHIE.md
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-STATUT.md
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/admin-role/admin-role-queries.utils.ts
  apps/server-nestjs/src/modules/admin-role/admin-role-testing.utils.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.controller.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.module.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.service.spec.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.service.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.utils.ts
  apps/server-nestjs/src/modules/infrastructure/auth/auth-testing.utils.ts
Due: pnpm run lint:root --

refactor: use HTTP code constant from NestJS instead of static values
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-CARTOGRAPHIE.md
  apps/server-nestjs/src/modules/argocd/argocd-health.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-health.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-health.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-health.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-http-client.service.ts
  apps/server-nestjs/src/modules/opencds/opencds-health.service.ts
  apps/server-nestjs/src/modules/project/project.controller.ts
  apps/server-nestjs/src/modules/registry/registry-health.service.ts
  apps/server-nestjs/src/modules/registry/registry-http-client.service.ts
  apps/server-nestjs/src/modules/registry/registry-testing.utils.ts
  apps/server-nestjs/src/modules/registry/registry.service.spec.ts
  apps/server-nestjs/src/modules/service-chain/open-cds-client.service.ts
  apps/server-nestjs/src/modules/service-chain/service-chain.utils.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-health.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-http-client.service.ts
  apps/server-nestjs/src/modules/vault/vault-health.service.ts
  apps/server-nestjs/src/modules/vault/vault-http-client.service.ts
Due: pnpm run lint:root --

chore(ci): use PAX runner for playwright job
  .github/workflows/job-playwright.yml
Due: pnpm run lint:root --

refactor(user-tokens): migrate from server
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/admin-token/admin-token-queries.utils.ts
  apps/server-nestjs/src/modules/admin-token/admin-token.controller.ts
  apps/server-nestjs/src/modules/admin-token/admin-token.module.ts
  apps/server-nestjs/src/modules/admin-token/admin-token.service.spec.ts
  apps/server-nestjs/src/modules/admin-token/admin-token.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens-queries.utils.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.controller.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.module.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.ts
  apps/server-nestjs/src/utils/crypto.spec.ts
  apps/server-nestjs/src/utils/crypto.ts
  apps/server-nestjs/test/admin-token.e2e-spec.ts
  apps/server-nestjs/test/user-tokens.e2e-spec.ts
Due: pnpm run lint:root --

docs(nestjs): correct migration stats in MODULARISATION-STATUT
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-STATUT.md
Due: pnpm run lint:root --

fix: ArgoCD internal url for health check
  apps/server-nestjs/src/modules/argocd/argocd-health.service.ts
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
Due: pnpm run lint:root --

fix(ci): merge digests after both arch image builds
  .github/workflows/job-build.yml
  .github/workflows/workflow-create-or-update-release.yml
Due: pnpm run lint:root --

ci: always merge digests from normal build path
  .github/workflows/job-build.yml
  .github/workflows/workflow-create-or-update-release.yml
Due: pnpm run lint:root --

ci: build multiarch once so merge sees both digests
  .github/workflows/workflow-create-or-update-release.yml
Due: pnpm run lint:root --

ci: keep separated arch builds and merge digests at the end
  .github/workflows/job-build.yml
  .github/workflows/workflow-create-or-update-release.yml
Due: pnpm run lint:root --

ci: restore image-aware matrix merge and folder-safe download
  .github/workflows/job-build.yml
  .github/workflows/workflow-create-or-update-release.yml
Due: pnpm run lint:root --

chore(ci): ensure hotfixes always produce patch, main produces minor versions
  RELEASE.md
  release-please-config.json
Due: pnpm run lint:root --

ci: always merge digests and fix argo auth header syntax
  .github/workflows/job-build.yml
  .github/workflows/workflow-create-or-update-release.yml
Due: pnpm run lint:root --

feat: clarify default config value
  .hermes/plans/2026-07-21_000000-client-config-default-reset.md
  apps/client/src/components/ConfigParam.vue
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

refactor: migrate exploded deps management to central catalog
  apps/client/package.json
  apps/server-nestjs/package.json
  apps/server-nestjs/src/modules/infrastructure/auth/auth-testing.utils.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-client.service.spec.ts
  apps/server/package.json
  migrations/v9/package.json
  package.json
  packages/eslintconfig/package.json
  packages/hooks/package.json
  packages/logger/package.json
  packages/shared/package.json
  packages/test-utils/package.json
  packages/tsconfig/package.json
  playwright/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(doc): insist on backported tags issues for release-please changelog management
  RELEASE.md
Due: pnpm run lint:root --

Path conditions:
  pnpm --filter=@cpn-console/client run lint:style --: any of: **/apps/client/**/*.{vue,css}
  pnpm --filter=@cpn-console/client run lint:ts --: any of: **/apps/client/**/*
  pnpm --filter=@cpn-console/server run lint --: any of: **/apps/server/**/*
  pnpm --filter=./packages/* run lint --: any of: **/packages/**/*
  pnpm --filter=./plugins/* run lint --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
