Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

.lintstagedrc:

{
  "**/client/**/*.{js,ts,vue,cjs}": "pnpm run format --filter @cpn-console/client --",
  "**/client/**/*.{vue,css}": "pnpm run format:style --filter @cpn-console/client --",
  "**/server/**/*.{js,cjs,ts}": "pnpm run format --filter @cpn-console/server --",
  "**/shared/**/*.{js,cjs,ts}": "pnpm run format --filter @cpn-console/shared --"
}

ci: :construction_worker: handle app preview
  .github/labeler/build.yml
  .github/workflows/ci.yml
  .github/workflows/label.yml
  .github/workflows/preview.yml
  ci/preview/applicationset.yaml
Due: none

fix: :lock: do not display credentials in error messages
  packages/hooks/src/utils/logger.ts
Due: none

refactor: :card_file_box: drop null values on project description
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/src/views/admin/ListProjects.vue
  apps/server/src/prisma/migrations/20240717084709_dso/migration.sql
  apps/server/src/prisma/schema.prisma
  apps/server/src/resources/project/business.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --

feat: :sparkles: maintenance mode
  apps/client/cypress/e2e/specs/admin/system-settings.e2e.ts
  apps/client/src/App.vue
  apps/client/src/api/xhr-client.ts
  apps/client/src/components/SideMenu.vue
  apps/client/src/icons.ts
  apps/client/src/router/index.ts
  apps/client/src/stores/system-settings.spec.ts
  apps/client/src/stores/system-settings.ts
  apps/client/src/views/DsoMaintenance.vue
  apps/client/src/views/admin/SystemSettings.vue
  apps/server/src/prisma/migrations/20240808082632_dso/migration.sql
  apps/server/src/prisma/schema.prisma
  apps/server/src/resources/index.ts
  apps/server/src/resources/queries-index.ts
  apps/server/src/resources/system/settings/business.ts
  apps/server/src/resources/system/settings/controllers.spec.ts
  apps/server/src/resources/system/settings/queries.ts
  apps/server/src/resources/system/settings/router.ts
  apps/server/src/utils/controller.ts
  apps/server/src/utils/errors.ts
  packages/shared/src/api-client.ts
  packages/shared/src/contracts/system.ts
  packages/shared/src/schemas/system.ts
  packages/shared/src/utils/functions.ts
  packages/shared/src/utils/types.ts
  packages/test-utils/src/imports/data.ts
  pnpm-lock.yaml
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

chore: :arrow_up: Upgrade eslint & dependencies
  apps/client/package.json
  apps/client/src/App.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/server/src/resources/cluster/business.ts
  packages/tsconfig/tsconfig.base.json
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --

refactor: :recycle: group admin routes
  apps/client/src/App.vue
  apps/client/src/router/index.ts
  packages/tsconfig/tsconfig.base.json
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

fix: :ambulance: handle missing commit in gitlab repo
  plugins/gitlab/src/class.ts
  pnpm-lock.yaml
Due: none

feat: :sparkles: add project dedicated approle and policy in vault, to be used by argocd
  plugins/argocd/package.json
  plugins/argocd/src/env.d.ts
  plugins/argocd/src/functions.ts
  plugins/vault/src/class.ts
  plugins/vault/src/functions.ts
  plugins/vault/src/index.ts
  pnpm-lock.yaml
Due: none

feat: :art: use stores for api calls
  apps/client/src/stores/ci-files.spec.ts
  apps/client/src/views/admin/ListProjects.vue
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

test: :white_check_mark: fix hook-wrapper test
  apps/server/src/utils/hook-wrapper.spec.ts
  apps/server/src/utils/hook-wrapper.ts
Due: pnpm run format --filter @cpn-console/server --

test: :white_check_mark: fix shared tests
  apps/client/src/stores/user.spec.ts
  packages/shared/src/utils/schemas.spec.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format --filter @cpn-console/shared --

refactor: :zap: revert feature on admin perms
  apps/client/public/img/logo-marianne.png
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ChoiceSelector.vue
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/QuotaForm.vue
  apps/client/src/components/SideMenu.vue
  apps/client/src/components/StageForm.vue
  apps/client/src/icons.ts
  apps/client/src/stores/services-monitor.ts
  apps/client/src/stores/users.ts
  apps/client/src/views/ServicesHealth.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/server/src/app.ts
  apps/server/src/resources/admin-role/router.ts
  apps/server/src/resources/cluster/router.ts
  apps/server/src/resources/environment/router.ts
  apps/server/src/resources/log/router.ts
  apps/server/src/resources/organization/router.ts
  apps/server/src/resources/project-role/router.ts
  apps/server/src/resources/project-service/router.ts
  apps/server/src/resources/project/router.ts
  apps/server/src/resources/quota/router.ts
  apps/server/src/resources/stage/router.ts
  apps/server/src/resources/system/config/router.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/router.ts
  apps/server/src/resources/zone/router.ts
  packages/shared/src/contracts/user.ts
  packages/shared/src/utils/permissions.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

test: :white_check_mark: add business tests
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/stage/business.ts
  apps/server/src/resources/system/config/business.spec.ts
  apps/server/src/resources/system/config/business.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/zone/business.spec.ts
  apps/server/src/resources/zone/business.ts
  apps/server/src/resources/zone/queries.ts
Due: pnpm run format --filter @cpn-console/server --

ci: :construction_worker: upgrade github actions
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/release.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  ci/act/workflows/lint.yml
  ci/act/workflows/tests-component.yml
  ci/act/workflows/tests-deploy.yml
  ci/act/workflows/tests-e2e.yml
  ci/act/workflows/tests-unit.yml
Due: none

refactor: :recycle: group admin routes
  apps/client/src/router/index.ts
Due: pnpm run format --filter @cpn-console/client --

ci: :construction_worker: check for package version update and publish on release
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/npm.yml
Due: none

ci: :construction_worker: fix npm package version check
  .github/workflows/npm.yml
Due: none

feat: :sparkles: option to mirror all branches
  apps/client/cypress/e2e/specs/repos.e2e.ts
  apps/client/src/stores/project-repository.ts
  apps/client/src/views/projects/DsoRepos.vue
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/repository/controllers.spec.ts
  apps/server/src/resources/repository/router.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/package.json
  packages/hooks/src/hooks/hook-misc.ts
  packages/shared/package.json
  packages/shared/src/schemas/repository.ts
  plugins/gitlab/files/.gitlab-ci.yml
  plugins/gitlab/package.json
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

build: :arrow_up: upgrade nodejs to v20.16.0
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  .prototools
  apps/client/Dockerfile
  apps/client/cypress/components/specs/repo-form.ct.ts
  apps/server/Dockerfile
  package.json
Due: pnpm run format --filter @cpn-console/client --

chore: :arrow_up: upgrade pnpm to v9.7.1
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  .prototools
  apps/client/Dockerfile
  apps/server/Dockerfile
  package.json
Due: none

chore: :truck: improve dev files structure
  README.md
  apps/server/.env.integ-example
  ci/helm-utils/templates/deployment-pgadmin.yaml
  ci/kind/env/dso-values-integ-example.yaml
  ci/kind/run.sh
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
  docker/docker-compose.local.yml
  env/.env.integ-example
  package.json
  pgadmin/servers-docker.json
  pgadmin/servers-kube.json
Due: none

style: :fire: fix sonar issues
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/system/config/business.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/utils/proxy.ts
Due: pnpm run format --filter @cpn-console/server --

refactor: :zap: some improvements
  apps/client/cypress/e2e/specs/admin/organizations.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/server/src/resources/cluster/business.spec.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --

refactor: :art: rework router admin access control
  apps/client/cypress/e2e/specs/dashboard.e2e.ts
  apps/client/src/router/index.ts
  apps/client/src/stores/user.ts
Due: pnpm run format --filter @cpn-console/client --
