Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

refactor(keycloak): migrate Keycloak plugin to NestJS
  apps/server-nestjs/.env-example
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/prisma.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/infrastructure.module.ts
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/iam/decorators/check-policies.decorator.ts
  apps/server-nestjs/src/modules/iam/factories/casl-ability.factory.ts
  apps/server-nestjs/src/modules/iam/guards/policies.guard.ts
  apps/server-nestjs/src/modules/iam/iam.module.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-client.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-controller.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-controller.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-datastore.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.constant.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.module.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.ts
  apps/server-nestjs/test/app.e2e-spec.ts
  apps/server-nestjs/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

refactor(keycloak): migrate Keycloak plugin to NestJS
  apps/server-nestjs/.env-example
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/prisma.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/infrastructure.module.ts
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/iam/decorators/check-policies.decorator.ts
  apps/server-nestjs/src/modules/iam/factories/casl-ability.factory.ts
  apps/server-nestjs/src/modules/iam/guards/policies.guard.ts
  apps/server-nestjs/src/modules/iam/iam.module.ts
  apps/server-nestjs/src/modules/keycloak/keycloack.utils.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-client.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-controller.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-controller.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-datastore.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.constant.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.module.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.ts
  apps/server-nestjs/test/app.e2e-spec.ts
  apps/server-nestjs/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

refactor(argocd): migrate ArgoCD to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-controller.service.spec.ts
  apps/server-nestjs/src/modules/argocd/argocd-controller.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-datastore.service.ts
  apps/server-nestjs/src/modules/argocd/argocd.module.ts
  apps/server-nestjs/src/modules/argocd/argocd.utils.ts
  apps/server-nestjs/src/modules/gitlab/files/.gitlab-ci.yml
  apps/server-nestjs/src/modules/gitlab/files/mirror.sh
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-controller.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-controller.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-datastore.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-datastore.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.constant.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.module.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.utils.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault.module.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore: remove useless failing tests (#1967)
  apps/server-nestjs/test/app.e2e-spec.ts
Due: pnpm run lint:root --

head Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  .vscode/launch.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-controller.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloack.controller.ts
Due: pnpm run lint:root --

fix: module DI conflict with eslint Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.ts
  apps/server-nestjs/src/cpin-module/core/app/app.service.spec.ts
  apps/server-nestjs/src/cpin-module/core/app/app.service.ts
  apps/server-nestjs/src/cpin-module/core/fastify/fastify.service.spec.ts
  apps/server-nestjs/src/cpin-module/core/fastify/fastify.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database.service.ts
Due: pnpm run lint:root --

fix: bind "this" context in process hook
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.ts
Due: pnpm run lint:root --

fix: buffered logs not flushed on init error
  apps/server-nestjs/src/main.ts
Due: pnpm run lint:root --

fix: shared package for nodenext module resolution
  packages/shared/package.json
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

fix: import missing Prisma mocks
  apps/server-nestjs/src/__mocks__/prisma.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/utils.spec.ts
Due: pnpm run lint:root --

chore: add instrumentation Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/instrumentation.ts
  apps/server-nestjs/src/main.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

Remove purge feature from Keycloack
  apps/client/src/utils/env.ts
  apps/server/src/prisma/migrations/20260306092544_dso/migration.sql
  ci/scripts/init-env.sh
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/infos.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: translate role type in French
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

feat(gitlab): add builtin roles to GitLab
  apps/server/src/utils/hook-wrapper.spec.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-member.ts
  packages/hooks/src/hooks/hook-project-role.ts
  packages/hooks/src/hooks/hook-project.ts
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/infos.ts
  plugins/gitlab/src/members.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
  plugins/keycloak/src/functions.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: remove purge feature from Keycloack
  apps/client/src/utils/env.ts
  apps/server/src/prisma/migrations/20260306092544_dso/migration.sql
  ci/scripts/init-env.sh
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/infos.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: remove purge feature from Keycloack
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/infos.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: remove purge option from Keycloack
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/infos.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

feat(gitlab): add builtin roles to GitLab
  apps/server/src/utils/hook-wrapper.spec.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-member.ts
  packages/hooks/src/hooks/hook-project-role.ts
  packages/hooks/src/hooks/hook-project.ts
  playwright/e2e-tests/system-roles.spec.ts
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/infos.ts
  plugins/gitlab/src/members.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
  plugins/keycloak/src/functions.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: remove purge option from Keycloack (#1979)
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/infos.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix: module DI conflict with eslint (#1966)
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.ts
  apps/server-nestjs/src/cpin-module/core/app/app.service.spec.ts
  apps/server-nestjs/src/cpin-module/core/app/app.service.ts
  apps/server-nestjs/src/cpin-module/core/fastify/fastify.service.spec.ts
  apps/server-nestjs/src/cpin-module/core/fastify/fastify.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database.service.ts
Due: pnpm run lint:root --

fix: ensure all packages are properly built before pushing to NPM registry
  .github/workflows/job-npm.yml
Due: pnpm run lint:root --

chore: translate role type in French (#1978)
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

Path conditions:
  pnpm --filter=@cpn-console/client run lint:style --: any of: **/apps/client/**/*.{vue,css}
  pnpm --filter=@cpn-console/client run lint:ts --: any of: **/apps/client/**/*
  pnpm --filter=@cpn-console/server run lint --: any of: **/apps/server/**/*
  pnpm --filter=./packages/* run lint --: any of: **/packages/**/*
  pnpm --filter=./plugins/* run lint --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
