Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm --filter=@cpn-console/client run lint:style --",
  "**/apps/client/**/*": "pnpm --filter=@cpn-console/client run lint:ts --",
  "**/apps/server/**/*": "pnpm --filter=@cpn-console/server run lint --",
  "**/packages/**/*": "pnpm --filter=./packages/* run lint --",
  "**/plugins/**/*": "pnpm --filter=./plugins/* run lint --",
  "**/*": "pnpm run lint:root --"
}

chore: add GitLab e2e test Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  playwright/e2e-tests/gitlab-repos.spec.ts
  playwright/helpers/project.ts
Due: pnpm run lint:root --

fix: admin auth on master realm Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/src/modules/keycloak/keycloak-client.service.ts
Due: pnpm run lint:root --

chore(logger): bump version to 1.0.1 to test GHA NPM publish
  packages/logger/package.json
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

chore: add GitLab e2e test Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  playwright/e2e-tests/gitlab.ts
  playwright/helpers/project.ts
Due: pnpm run lint:root --

chore: add GitLab e2e test Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  playwright/e2e-tests/gitlab.spec.ts
  playwright/helpers/project.ts
Due: pnpm run lint:root --

chore: add GitLab e2e test Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  playwright/config/console.ts
  playwright/e2e-tests/gitlab.spec.ts
  playwright/helpers/project.ts
Due: pnpm run lint:root --

chore: add GitLab e2e test Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  playwright/config/console.ts
  playwright/helpers/project.ts
  playwright/integration-tests/gitlab.spec.ts
Due: pnpm run lint:root --

chore(system-settings): migrate to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/src/modules/system-settings/dto/list-system-settings-query.dto.ts
  apps/server-nestjs/src/modules/system-settings/dto/system-setting.dto.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.module.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.service.ts
  apps/server-nestjs/test/system-settings.e2e-spec.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore(ci): add a dedicated workflow for commenting on merge requests
  .github/workflows/job-comment-merge-request.yml
Due: pnpm run lint:root --

chore(ci): pin EVERY GitHub action to their SHA
  .github/workflows/job-build.yml
  .github/workflows/job-label.yml
  .github/workflows/job-lint.yml
  .github/workflows/job-npm.yml
  .github/workflows/job-playwright.yml
  .github/workflows/job-release-please.yml
  .github/workflows/job-scan.yml
  .github/workflows/job-tests-unit.yml
  .github/workflows/workflow-clean-cache.yml
  .github/workflows/workflow-continuous-integration.yml
  .github/workflows/workflow-create-or-update-release.yml
  .github/workflows/workflow-create-preview-comment.yml
  .github/workflows/workflow-merge-queue.yml
  .github/workflows/workflow-post-merge.yml
Due: pnpm run lint:root --

chore(ci): add pinact configuration to pin GHAs to their SHA
  .pinact.yaml
Due: pnpm run lint:root --

chore(ci): update merge request comment action to use appropriate property following the GHA upgrade
  .github/workflows/job-scan.yml
  .github/workflows/workflow-create-preview-comment.yml
Due: pnpm run lint:root --

chore(ci): upgrade EVERY GitHub action to their latest SHA version
  .github/workflows/job-build.yml
  .github/workflows/job-label.yml
  .github/workflows/job-lint.yml
  .github/workflows/job-npm.yml
  .github/workflows/job-playwright.yml
  .github/workflows/job-release-please.yml
  .github/workflows/job-scan.yml
  .github/workflows/job-tests-unit.yml
  .github/workflows/workflow-clean-cache.yml
  .github/workflows/workflow-continuous-integration.yml
  .github/workflows/workflow-create-or-update-release.yml
  .github/workflows/workflow-create-preview-comment.yml
  .github/workflows/workflow-merge-queue.yml
  .github/workflows/workflow-post-merge.yml
Due: pnpm run lint:root --

chore(ci): disable trivy cache to avoid using action-cache version that is in Node.js v20
  .github/workflows/job-scan.yml
Due: pnpm run lint:root --

fix(ci): fix merge request comment job
  .github/workflows/job-comment-merge-request.yml
Due: pnpm run lint:root --

chore: remove unused migrate local database scripts Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/migrate-db.sh
  apps/server/package.json
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

chore: remove unused migrate local database scripts Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  README.md
  apps/server/migrate-db.sh
  apps/server/package.json
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

fix: direct login and console username generation Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  plugins/gitlab/src/user.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix: missmatch between direct login and console username generation Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  plugins/gitlab/src/user.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --
