Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm --filter=@cpn-console/client run lint:style --",
  "**/apps/client/**/*": "pnpm --filter=@cpn-console/client run lint:ts --",
  "**/apps/server/**/*": "pnpm --filter=@cpn-console/server run lint --",
  "**/packages/**/*": "pnpm --filter=./packages/* run lint --",
  "**/plugins/**/*": "pnpm --filter=./plugins/* run lint --",
  "**/*": "pnpm run lint:root --"
}

chore: document constant usage Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/src/modules/argocd/argocd.constant.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.constants.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.constants.ts
  apps/server-nestjs/src/modules/nexus/nexus.constants.ts
  apps/server-nestjs/src/modules/vault/vault.constant.ts
Due: pnpm run lint:root --

refactor(server-nestjs): migrate Sonarqube to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/client/src/utils/env.ts
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/registry/registry.constants.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-client.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-client.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-datastore.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-health.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-http-client.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-testing.utils.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.constants.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.module.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.utils.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault.utils.ts
  apps/server-nestjs/test/sonarqube.e2e-spec.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

refactor(server-nestjs): migrate package managers to NestJS
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-CARTOGRAPHIE.md
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-datastore.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-health.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-http-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-testing.utils.ts
  apps/server-nestjs/src/modules/nexus/nexus.constants.ts
  apps/server-nestjs/src/modules/nexus/nexus.module.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.utils.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.ts
  apps/server-nestjs/src/modules/registry/registry-datastore.service.ts
  apps/server-nestjs/src/modules/registry/registry-health.service.ts
  apps/server-nestjs/src/modules/registry/registry-http-client.service.ts
  apps/server-nestjs/src/modules/registry/registry-testing.utils.ts
  apps/server-nestjs/src/modules/registry/registry.constants.ts
  apps/server-nestjs/src/modules/registry/registry.module.ts
  apps/server-nestjs/src/modules/registry/registry.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/src/modules/registry/registry.utils.ts
  apps/server-nestjs/src/modules/vault/vault-testing.utils.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
  apps/server-nestjs/test/registry.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  plugins/harbor/src/policy.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: remove any cast from tests Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/src/modules/argocd/argocd.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault-testing.utils.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
Due: pnpm run lint:root --

feat: add deployment model
  apps/nginx-strangler/conf.d/routing.conf
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/argocd/argocd-testing.utils.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.spec.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
  apps/server-nestjs/src/modules/deployment/deployment-datastore.service.spec.ts
  apps/server-nestjs/src/modules/deployment/deployment-datastore.service.ts
  apps/server-nestjs/src/modules/deployment/deployment.controller.spec.ts
  apps/server-nestjs/src/modules/deployment/deployment.controller.ts
  apps/server-nestjs/src/modules/deployment/deployment.module.ts
  apps/server-nestjs/src/modules/deployment/deployment.service.spec.ts
  apps/server-nestjs/src/modules/deployment/deployment.service.ts
  apps/server-nestjs/src/modules/infrastructure/pipe/zod-validation.pipe.spec.ts
  apps/server-nestjs/src/modules/infrastructure/pipe/zod-validation.pipe.ts
  apps/server-nestjs/src/modules/project/project-datastore.service.spec.ts
  apps/server-nestjs/src/modules/project/project-datastore.service.ts
  apps/server-nestjs/src/modules/project/project.module.ts
  apps/server-nestjs/src/modules/project/project.service.spec.ts
  apps/server-nestjs/src/modules/project/project.service.ts
  apps/server-nestjs/src/prisma/migrations/20260429142158_add_deployment/migration.sql
  apps/server-nestjs/src/prisma/schema/project.prisma
  apps/server/src/prisma/migrations/20260429142158_add_deployment/migration.sql
  apps/server/src/prisma/schema/project.prisma
  packages/shared/src/schemas/deployment.ts
  packages/shared/src/schemas/index.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

chore: rework docker compose commands to use --menu option
  package.json
Due: pnpm run lint:root --

refactor(server-nestjs): migrate Sonarqube to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/registry/registry.constants.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-client.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-client.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-datastore.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-health.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-http-client.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-testing.utils.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.constants.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.module.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.utils.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault.utils.ts
  apps/server-nestjs/test/sonarqube.e2e-spec.ts
Due: pnpm run lint:root --

refactor(server-nestjs): migrate Sonarqube to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-client.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-client.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-datastore.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-health.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-http-client.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-testing.utils.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.constants.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.module.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.utils.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault.utils.ts
  apps/server-nestjs/test/sonarqube.e2e-spec.ts
Due: pnpm run lint:root --

feat: add Registry and Nexus support for fined grained permissions Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/src/modules/nexus/nexus-client.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
Due: pnpm run lint:root --
