Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

fix: :bug: correctly handle external plugins init
  apps/server/src/plugins.ts
Due: pnpm run format --filter server --

ci: :green_heart: fallback to trigger branch name on manual build
  .github/workflows/build.yml
Due: none

fix: :bug: unuseful requiredEnv
  plugins/argocd/src/utils.ts
Due: none

fix: :bug: add a common error parser for logs
  packages/hooks/src/index.ts
  packages/hooks/src/utils/logger.ts
  plugins/argocd/src/cluster.ts
  plugins/argocd/src/functions.ts
  plugins/argocd/src/utils.ts
  plugins/gitlab/src/functions.ts
  plugins/harbor/src/functions.ts
  plugins/keycloak/src/functions.ts
  plugins/kubernetes/src/namespace.ts
  plugins/kubernetes/src/secret.ts
  plugins/nexus/src/project.ts
  plugins/sonarqube/src/check.ts
  plugins/sonarqube/src/group.ts
  plugins/sonarqube/src/project.ts
  plugins/sonarqube/src/user.ts
  plugins/vault/src/functions.ts
Due: none

fix: :bug: add a common error parser for logs
  packages/hooks/src/utils/logger.ts
Due: none

ci: :green_heart: fix release packages version auto bump
  .github/workflows/release.yml
Due: none

feat!: :sparkles: simplify hooks for idempotency
  packages/hooks/package.json
  packages/hooks/src/hooks/cluster.ts
  packages/hooks/src/hooks/environment.ts
  packages/hooks/src/hooks/hook-cluster.ts
  packages/hooks/src/hooks/hook-misc.ts
  packages/hooks/src/hooks/hook-project.ts
  packages/hooks/src/hooks/index.ts
  packages/hooks/src/hooks/misc.ts
  packages/hooks/src/hooks/permission.ts
  packages/hooks/src/hooks/project.ts
  packages/hooks/src/hooks/repository.ts
  packages/hooks/src/hooks/team.ts
  packages/hooks/src/utils/crypto.ts
  pnpm-lock.yaml
Due: none

refactor: :recycle: refactor sonarqube plugin
  plugins/sonarqube/package.json
  plugins/sonarqube/src/env.d.ts
  plugins/sonarqube/src/functions.ts
  plugins/sonarqube/src/group.ts
  plugins/sonarqube/src/index.ts
  plugins/sonarqube/src/project.ts
  plugins/sonarqube/src/tech.ts
  plugins/sonarqube/src/user.ts
Due: none

refactor: :recycle: refactor harbor plugin
  plugins/harbor/package.json
  plugins/harbor/src/api/Api.ts
  plugins/harbor/src/env.d.ts
  plugins/harbor/src/functions.ts
  plugins/harbor/src/index.ts
  plugins/harbor/src/monitor.ts
  plugins/harbor/src/permission.ts
  plugins/harbor/src/project.ts
  plugins/harbor/src/robot.ts
  plugins/harbor/src/utils.ts
Due: none

refactor: :recycle: refactor gitlab plugin
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/group.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/members.ts
  plugins/gitlab/src/permission.ts
  plugins/gitlab/src/project.ts
  plugins/gitlab/src/repositories.ts
  plugins/gitlab/src/triggers.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
Due: none

refactor: :recycle: refactor nexus plugin
  plugins/nexus/package.json
  plugins/nexus/src/env.d.ts
  plugins/nexus/src/index.ts
  plugins/nexus/src/project.ts
Due: none

refactor: :recycle: keycloak and vault plugins refactored
  plugins/keycloak/src/class.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/group.ts
  plugins/keycloak/src/index.ts
  plugins/keycloak/src/permission.ts
  plugins/keycloak/src/user.ts
  plugins/vault/src/class.ts
  plugins/vault/src/functions.ts
  plugins/vault/src/index.ts
Due: none

refactor: :recycle: argocd plugin refactor
  plugins/argocd/package.json
  plugins/argocd/src/app-project.ts
  plugins/argocd/src/applications.ts
  plugins/argocd/src/cluster.ts
  plugins/argocd/src/env.d.ts
  plugins/argocd/src/functions.ts
  plugins/argocd/src/index.ts
  plugins/argocd/src/label-fix.ts
  plugins/argocd/src/utils.ts
Due: none

refactor: :recycle: plugin kubernetes refactor
  plugins/harbor/package.json
  plugins/harbor/src/env.d.ts
  plugins/harbor/src/functions.ts
  plugins/harbor/src/kubeSecret.ts
  plugins/kubernetes/package.json
  plugins/kubernetes/src/api.ts
  plugins/kubernetes/src/class.ts
  plugins/kubernetes/src/customApiClass.ts
  plugins/kubernetes/src/index.ts
  plugins/kubernetes/src/misc.ts
  plugins/kubernetes/src/namespace.ts
  plugins/kubernetes/src/quota.ts
  plugins/kubernetes/src/secret.ts
  pnpm-lock.yaml
Due: none

refactor: :recycle: rework business logics
  apps/client/cypress/e2e/specs/admin/organizations.e2e.ts
  apps/server/src/app.ts
  apps/server/src/resources/cluster/admin/business.ts
  apps/server/src/resources/cluster/admin/controllers.spec.ts
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.spec.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/log/admin/queries.ts
  apps/server/src/resources/organization/admin/business.ts
  apps/server/src/resources/permission/business.ts
  apps/server/src/resources/permission/controllers.spec.ts
  apps/server/src/resources/project/admin/business.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/controllers.spec.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/repository/controllers.spec.ts
  apps/server/src/resources/repository/queries.ts
  apps/server/src/resources/system/db/controllers.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/controllers.spec.ts
  apps/server/src/utils/business.ts
  apps/server/src/utils/hook-wrapper.ts
  apps/server/src/utils/mocks.ts
  packages/test-utils/src/utils/random-utils.ts
  packages/test-utils/src/utils/types.ts
  plugins/harbor/src/robot.ts
  pnpm-lock.yaml
Due: pnpm run format --filter client --, pnpm run format --filter server --

refactor: :fire: remove status on repository and environment
  apps/client/cypress/components/specs/repo-form.ct.ts
  apps/client/cypress/e2e/specs/dashboard.e2e.ts
  apps/client/cypress/e2e/specs/repos.e2e.ts
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/RepoForm.vue
  apps/client/src/stores/admin/cluster.ts
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/prisma/migrations/20240321123436_dso/migration.sql
  apps/server/src/prisma/schema.prisma
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/repository/queries.ts
  packages/shared/src/schemas/environment.ts
  packages/shared/src/schemas/repository.ts
  packages/shared/src/utils/const.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

feat!: :sparkles: simplify hooks for idempotency
  packages/hooks/package.json
  packages/hooks/src/hooks/cluster.ts
  packages/hooks/src/hooks/environment.ts
  packages/hooks/src/hooks/hook-cluster.ts
  packages/hooks/src/hooks/hook-misc.ts
  packages/hooks/src/hooks/hook-project.ts
  packages/hooks/src/hooks/hook.ts
  packages/hooks/src/hooks/index.ts
  packages/hooks/src/hooks/misc.ts
  packages/hooks/src/hooks/permission.ts
  packages/hooks/src/hooks/project.ts
  packages/hooks/src/hooks/repository.ts
  packages/hooks/src/hooks/team.ts
  packages/hooks/src/utils/crypto.ts
  packages/shared/src/resources/log/model.ts
  packages/shared/src/utils/functions.ts
  pnpm-lock.yaml
Due: pnpm run format --filter shared --

refactor: :recycle: refactor gitlab plugin
  plugins/gitlab/package.json
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/group.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/members.ts
  plugins/gitlab/src/permission.ts
  plugins/gitlab/src/project.ts
  plugins/gitlab/src/repositories.ts
  plugins/gitlab/src/triggers.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
  pnpm-lock.yaml
Due: none

refactor: :fire: remove status on repository and environment
  apps/client/cypress/components/specs/repo-form.ct.ts
  apps/client/cypress/e2e/specs/dashboard.e2e.ts
  apps/client/cypress/e2e/specs/repos.e2e.ts
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/RepoForm.vue
  apps/client/src/stores/admin/cluster.ts
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/prisma/migrations/20240321123436_dso/migration.sql
  apps/server/src/prisma/schema.prisma
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/log/admin/queries.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/repository/queries.ts
  apps/server/src/resources/user/role-queries.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/shared/src/schemas/environment.ts
  packages/shared/src/schemas/repository.ts
  packages/shared/src/utils/const.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

chore: :bookmark: update all package.json version
  packages/hooks/package.json
  packages/shared/package.json
  packages/test-utils/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
Due: none

test: :white_check_mark: split server.ts and test
  apps/server/src/prepare-app.spec.ts
  apps/server/src/prepare-app.ts
  apps/server/src/server.spec.ts
  apps/server/src/server.ts
  apps/server/vitest.config.ts
Due: pnpm run format --filter server --

refactor: :recycle: static test, and logic rework
  apps/client/cypress/components/specs/pagination-ct.ct.ts
  apps/client/cypress/e2e/specs/admin/logs.e2e.ts
  apps/client/src/components/PaginationCt.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

fix: :lipstick: improve logs ui
  apps/client/cypress/components/specs/pagination-ct.ct.ts
  apps/client/cypress/e2e/specs/admin/logs.e2e.ts
  apps/client/package.json
  apps/client/src/components/MultiSelector.vue
  apps/client/src/components/PaginationCt.vue
  apps/client/src/icons.ts
  apps/client/src/router/index.ts
  apps/client/src/stores/admin/log.ts
  apps/client/src/views/admin/ListLogs.vue
  apps/client/uno.config.ts
  packages/test-utils/src/imports/data.ts
  pnpm-lock.yaml
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

refactor: :art: rework slice logic
  apps/client/.eslintrc.json
  apps/client/cypress/e2e/specs/repos.e2e.ts
  apps/client/src/views/admin/ListLogs.vue
  packages/shared/src/resources/log/model.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter shared --

refactor: :recycle: small fix before release on api
  plugins/keycloak/package.json
  plugins/keycloak/src/class.ts
Due: none

feat: 🚧 création du repo infra-apps à la création du projet
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/repositories.ts
  plugins/gitlab/src/utils.ts
Due: none

chore: :rotating_light: remove unecessary ts-ignores and add some
  apps/client/src/stores/admin/log.spec.ts
  apps/server/src/connect.spec.ts
  apps/server/src/resources/cluster/admin/business.ts
  apps/server/src/resources/cluster/admin/controllers.spec.ts
  apps/server/src/resources/cluster/admin/router.ts
  apps/server/src/resources/cluster/business.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/log/admin/queries.ts
  apps/server/src/resources/organization/admin/business.ts
  apps/server/src/resources/organization/business.ts
  apps/server/src/resources/organization/queries.ts
  apps/server/src/resources/organization/router.ts
  apps/server/src/resources/permission/business.ts
  apps/server/src/resources/permission/queries.ts
  apps/server/src/resources/project/admin/business.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/quota/queries.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/stage/admin/business.ts
  apps/server/src/resources/stage/business.ts
  apps/server/src/resources/stage/queries.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/queries.ts
  apps/server/src/resources/user/role-queries.ts
  apps/server/src/resources/utils/business.ts
  apps/server/src/utils/controller.ts
  apps/server/src/utils/hook-wrapper.ts
  apps/server/src/utils/mocks.ts
  misc/business-rules.md
  packages/shared/src/contracts/user.ts
  packages/shared/src/schemas/cluster.ts
Due: pnpm run format --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

chore: :rotating_light: remove unecessary ts-ignores and add some
  apps/server/src/resources/cluster/business.ts
Due: pnpm run format --filter server --

feat: :sparkles: add replay hooks button for project
  apps/client/cypress/e2e/specs/admin/logs.e2e.ts
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/dashboard.e2e.ts
  apps/client/src/api/projects.spec.ts
  apps/client/src/api/projects.ts
  apps/client/src/stores/project.ts
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/server/src/resources/cluster/business.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/controllers.spec.ts
  apps/server/src/resources/project/router.ts
  packages/shared/src/contracts/project.ts
  packages/shared/src/schemas/project.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

feat: :sparkles: adding the value file commit
  plugins/argocd/package.json
  plugins/argocd/src/functions.ts
  plugins/gitlab/package.json
  plugins/gitlab/src/class.ts
  pnpm-lock.yaml
Due: none

feat: :seedling: Adding internal helm charts for resources managed by the console
  helm-charts-internal/README.md
  helm-charts-internal/dso-app/Chart.yaml
  helm-charts-internal/dso-app/example-values.yaml
  helm-charts-internal/dso-env/Chart.yaml
  helm-charts-internal/dso-env/example-values.yaml
  helm-charts-internal/dso-env/templates/application-app.yaml
  helm-charts-internal/dso-env/templates/application-env.yaml
  helm-charts-internal/dso-env/templates/project-app.yaml
  helm-charts-internal/dso-env/templates/project-env.yaml
  helm-charts-internal/dso-ns-resources/Chart.yaml
  helm-charts-internal/dso-ns-resources/example-values.yaml
  helm-charts-internal/dso-ns-resources/templates/ns.yaml
  helm-charts-internal/dso-ns-resources/templates/quota.yaml
Due: none

Path conditions:
  pnpm run format --filter client --: any of: **/client/**/*.{js,ts,vue,cjs}
  pnpm run format:style --filter client --: any of: **/client/**/*.{vue,css}
  pnpm run format --filter server --: any of: **/server/**/*.{js,cjs,ts}
  pnpm run format --filter shared --: any of: **/shared/**/*.{js,cjs,ts}
