Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

feat(server-nestjs): paginate sonarqube search via async generators
  apps/server-nestjs/src/modules/sonarqube/sonarqube-client.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-client.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.constants.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.ts
  apps/server-nestjs/test/sonarqube.e2e-spec.ts
Due: pnpm run lint:root --

fix(server-nestjs): use project owner email for sonarqube user creation
  README.md
  apps/server-nestjs/src/modules/sonarqube/sonarqube-datastore.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-testing.utils.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
Due: pnpm run lint:root --

feat(shared): add repository v2 write schemas
  packages/shared/src/schemas/index.ts
  packages/shared/src/schemas/v2/index.ts
  packages/shared/src/schemas/v2/repository.spec.ts
  packages/shared/src/schemas/v2/repository.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

fix(server-nestjs): harden gitlab token and user handling
  apps/server-nestjs/src/config/gitlab.config.spec.ts
  apps/server-nestjs/src/config/gitlab.config.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
Due: pnpm run lint:root --

docs: update CONTRIBUTING
  CONTRIBUTING.md
Due: pnpm run lint:root --

fix: remove root group from Dockerfile copy
  apps/server-nestjs/Dockerfile
Due: pnpm run lint:root --

feat(shared): add repository v2 ts-rest contract
  packages/shared/src/api-client.ts
  packages/shared/src/contracts/index.ts
  packages/shared/src/contracts/v2/index.ts
  packages/shared/src/contracts/v2/repository.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

chore: remove dangling agent comment
  apps/server-nestjs/src/modules/sonarqube/sonarqube-client.service.ts
Due: pnpm run lint:root --

fix: vault secret path
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.utils.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.utils.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault.utils.spec.ts
  apps/server-nestjs/src/modules/vault/vault.utils.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
Due: pnpm run lint:root --

fix(server-nestjs): regenerate sonarqube password when vault secret is missing
  apps/server-nestjs/src/modules/sonarqube/sonarqube-client.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.ts
Due: pnpm run lint:root --

fix(server-nestjs): make sonarqube SONAR_PASSWORD required
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
Due: pnpm run lint:root --

feat(server-nestjs): add repository datastore service
  apps/server-nestjs/src/modules/repository/repository-datastore.service.spec.ts
  apps/server-nestjs/src/modules/repository/repository-datastore.service.ts
  apps/server-nestjs/src/modules/repository/repository-testing.utils.ts
Due: pnpm run lint:root --

refactor(server-nestjs): drive e2e specs via event emission
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
  apps/server-nestjs/test/registry.e2e-spec.ts
  apps/server-nestjs/test/sonarqube.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  apps/server-nestjs/test/zone.e2e-spec.ts
Due: pnpm run lint:root --

test(server-nestjs): align E2E specs with DSO orchestration
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/test/log.e2e-spec.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
  apps/server-nestjs/test/project-bulk.e2e-spec.ts
  apps/server-nestjs/test/project-hooks.e2e-spec.ts
  apps/server-nestjs/test/project-members.e2e-spec.ts
  apps/server-nestjs/test/project-roles.e2e-spec.ts
  apps/server-nestjs/test/project-secrets.e2e-spec.ts
  apps/server-nestjs/test/project-services.e2e-spec.ts
  apps/server-nestjs/test/project.e2e-spec.ts
  apps/server-nestjs/test/registry.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  apps/server-nestjs/test/zone.e2e-spec.ts
Due: pnpm run lint:root --

refactor(server-nestjs): rename Controller vars to Service in e2e specs
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
Due: pnpm run lint:root --

feat(server-nestjs): add repository service and mapping utils
  apps/server-nestjs/src/modules/events/app-events.service.ts
  apps/server-nestjs/src/modules/repository/repository.service.spec.ts
  apps/server-nestjs/src/modules/repository/repository.service.ts
  apps/server-nestjs/src/modules/repository/repository.utils.spec.ts
  apps/server-nestjs/src/modules/repository/repository.utils.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
Due: pnpm run lint:root --

chore: bump Node.js to v26 LTS
  .github/workflows/workflow-continuous-integration.yml
  .github/workflows/workflow-create-or-update-release.yml
  .github/workflows/workflow-merge-queue.yml
  .github/workflows/workflow-post-merge.yml
  AGENTS.md
  README.md
  apps/client/Dockerfile
  apps/server-nestjs/Dockerfile
  apps/server/Dockerfile
  package.json
  packages/opencds/Dockerfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(server-nestjs): migrate observability plugin to NestJS module
  ENVIRONMENTS.md
  apps/server-nestjs/.env-example
  apps/server-nestjs/.env.docker-example
  apps/server-nestjs/.env.integ-example
  apps/server-nestjs/src/config/observability.config.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/observability/observability-client.service.ts
  apps/server-nestjs/src/modules/observability/observability-datastore.service.ts
  apps/server-nestjs/src/modules/observability/observability-plugin.service.ts
  apps/server-nestjs/src/modules/observability/observability-testing.utils.ts
  apps/server-nestjs/src/modules/observability/observability.constants.ts
  apps/server-nestjs/src/modules/observability/observability.module.ts
  apps/server-nestjs/src/modules/observability/observability.service.spec.ts
  apps/server-nestjs/src/modules/observability/observability.service.ts
  apps/server-nestjs/src/modules/observability/observability.utils.spec.ts
  apps/server-nestjs/src/modules/observability/observability.utils.ts
  apps/server-nestjs/src/modules/plugin/plugin.module.ts
  apps/server-nestjs/src/modules/plugin/plugin.service.ts
Due: pnpm run lint:root --

fix: race condition protection
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/observability/observability.service.spec.ts
  apps/server-nestjs/src/modules/observability/observability.service.ts
Due: pnpm run lint:root --

chore: shared branch constant
  apps/client/src/components/ProjectResources.vue
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/observability/observability.service.spec.ts
  apps/server-nestjs/test/argocd.e2e-spec.ts
  packages/shared/src/utils/const.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

chore(server): fix funky value for default external plugin path
  apps/server/.env-example
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

test(server-nestjs): centralize e2e timeouts by operation
  apps/server-nestjs/test/e2e-timeout.ts
Due: pnpm run lint:root --

test(server-nestjs): assert resource exists before on-delete checks
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
  apps/server-nestjs/test/sonarqube.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  apps/server-nestjs/test/zone.e2e-spec.ts
Due: pnpm run lint:root --

doc: fix duplciate OpenCDS documentation
  ENVIRONMENTS.md
Due: pnpm run lint:root --

Path conditions:
  pnpm --filter=@cpn-console/client run lint:style --: any of: **/apps/client/**/*.{vue,css}
  pnpm --filter=@cpn-console/client run lint:ts --: any of: **/apps/client/**/*
  pnpm --filter=@cpn-console/server run lint --: any of: **/apps/server/**/*
  pnpm --filter=./packages/* run lint --: any of: **/packages/**/*
  pnpm --filter=./plugins/* run lint --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
