Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

.lintstagedrc:

{
  "**/client/**/*.{js,ts,vue,cjs}": "pnpm run format --filter client --",
  "**/client/**/*.{vue,css}": "pnpm run format:style --filter client --",
  "**/server/**/*.{js,cjs,ts}": "pnpm run format --filter server --",
  "**/shared/**/*.{js,cjs,ts}": "pnpm run format --filter shared --"
}

ci: :construction_worker: add more ram to node in sonar analysis
  .github/workflows/tests-unit.yml
Due: none

ci: :construction_worker: exclude test-utils package from sonar
  .github/workflows/ci.yml
  .github/workflows/tests-unit.yml
Due: none

chore: :technologist: add github templates for issues, PR and security
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
Due: none

ci: :construction_worker: improve CI cache management
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  apps/client/package.json
  apps/server/package.json
  ci/scripts/run-tests.sh
  package.json
  packages/shared/package.json
  packages/test-utils/package.json
  turbo.json
Due: none

fix: :bug: add conditional chaining to avoid error in dsobadge
  apps/client/cypress/e2e/support/commands.ts
  apps/client/src/components/DsoBadge.vue
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/LoadingCt.vue
  apps/client/src/components/RepoForm.vue
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoTeam.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

fix: :bug: launch e2e test in open mode without turbo
  package.json
Due: none

refactor: :card_file_box: edit migrations
  apps/server/src/prisma/migrations/20231010163443_dso/migration.sql
  apps/server/src/prisma/migrations/20231011125839_dso/migration.sql
  apps/server/src/prisma/schema.prisma
Due: none

refactor: :truck: write DSO environments in DB rather than in code
  apps/client/cypress/components/specs/environment-form.ct.ts
  apps/client/cypress/components/specs/permission-form.ct.ts
  apps/client/cypress/components/specs/range.input.ct.ts
  apps/client/cypress/e2e/specs/dashboard.e2e.ts
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/cypress/e2e/specs/permissions.e2e.ts
  apps/client/src/api/api.ts
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/components/RangeInput.vue
  apps/client/src/stores/project-environment.spec.ts
  apps/client/src/stores/project-environment.ts
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/connect.ts
  apps/server/src/plugins/hooks/repository.ts
  apps/server/src/prisma/migrations/20231010153241_dso/migration.sql
  apps/server/src/prisma/schema.prisma
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/routes/project-environment.spec.ts
  apps/server/src/routes/project-environment.ts
  apps/server/src/routes/project-repository.spec.ts
  apps/server/src/utils/random.spec.ts
  packages/shared/src/resources/environment/dto.ts
  packages/shared/src/resources/environment/model.ts
  packages/shared/src/schemas/environment.ts
  packages/shared/src/utils/const.ts
  packages/shared/src/utils/functions.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/src/imports/data.ts
  packages/test-utils/src/utils/random-project.ts
  packages/test-utils/src/utils/random-utils.ts
  packages/test-utils/src/utils/types.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

chore: :technologist: expose database container on host
  ci/kind/configs/kind-config.yml
  env/dso-values-dev.yaml
  helm/templates/services.yaml
  helm/values.yaml
Due: none

feat: :card_file_box: rewrite data.ts for new db schema
  apps/client/src/components/ClusterForm.vue
  apps/server/src/connect.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --

refactor: :card_file_box: redo the models and finish migrations
  apps/server/src/prisma/migrations/20231011125838_dso/migration.sql
  apps/server/src/prisma/migrations/20231011125839_dso/migration.sql
  apps/server/src/prisma/migrations/20231011125841_dso/migration.sql
  apps/server/src/prisma/migrations/20231012105520_dso/migration.sql
  apps/server/src/prisma/schema.prisma
Due: none

refactor: :boom: refactor environment and its link to other resources
  .eslintignore
  apps/client/cypress/components/specs/environment-form.ct.ts
  apps/client/cypress/components/specs/permission-form.ct.ts
  apps/client/cypress/e2e/specs/dashboard.e2e.ts
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/src/api/api.ts
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/stores/project-environment.ts
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/connect.ts
  apps/server/src/init/db/index.ts
  apps/server/src/prisma/migrations/20231010153241_dso/migration.sql
  apps/server/src/prisma/migrations/20231010163443_dso/migration.sql
  apps/server/src/prisma/schema.prisma
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/routes/project-environment.spec.ts
  apps/server/src/routes/project-environment.ts
  apps/server/src/routes/project-repository.spec.ts
  apps/server/src/utils/random.spec.ts
  packages/shared/src/resources/environment/dto.ts
  packages/shared/src/resources/environment/model.ts
  packages/shared/src/schemas/environment.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/src/imports/data.ts
  packages/test-utils/src/utils/random-project.ts
  packages/test-utils/src/utils/random-utils.ts
  packages/test-utils/src/utils/types.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

feat: :boom: update front for new db
  apps/client/cypress/components/specs/environment-form.ct.ts
  apps/client/cypress/components/specs/permission-form.ct.ts
  apps/client/src/api/api.ts
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/prisma/migrations/20231011125838_dso/migration.sql
  apps/server/src/prisma/schema.prisma
  apps/server/src/resources/cluster/admin/queries.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/routes/project-environment.spec.ts
  apps/server/src/routes/project-environment.ts
  apps/server/src/utils/business.ts
  apps/server/src/utils/controller.ts
  apps/server/src/utils/random.spec.ts
  packages/shared/src/resources/environment/dto.ts
  packages/shared/src/resources/environment/model.ts
  packages/shared/src/resources/user/dto.ts
  packages/shared/src/schemas/environment.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/src/utils/random-project.ts
  packages/test-utils/src/utils/random-utils.ts
  packages/test-utils/src/utils/types.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

fix: :green_heart: postgres port conflict
  apps/client/cypress/e2e/specs/dashboard.e2e.ts
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/cypress/e2e/specs/permissions.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/cypress/e2e/support/func.ts
  apps/client/cypress/e2e/support/index.ts
  apps/client/src/components/EnvironmentForm.vue
  apps/server/src/connect.ts
  ci/helm-utils/templates/deployment-postgres.yaml
  ci/helm-utils/templates/service-postgres.yaml
  ci/helm-utils/values.yaml
  ci/kind/configs/kind-config.yml
  helm/values.yaml
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --

refactor: :recycle: change hook for environments
  apps/server/src/plugins/core/argo/app-project.ts
  apps/server/src/plugins/core/argo/applications.ts
  apps/server/src/plugins/core/argo/index.ts
  apps/server/src/plugins/core/argo/init.ts
  apps/server/src/plugins/core/argo/utils.ts
  apps/server/src/plugins/core/kubernetes/init.ts
  apps/server/src/plugins/core/kubernetes/namespace.ts
  apps/server/src/plugins/core/kubernetes/quota.ts
  apps/server/src/plugins/core/sonarqube/group.ts
  apps/server/src/plugins/core/sonarqube/project.ts
  apps/server/src/plugins/hooks/environment.ts
  env/dso-values-dev.yaml
Due: pnpm run format --filter server --

test: :white_check_mark: update e2e tests
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/cypress/e2e/specs/permissions.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/server/src/routes/admin/user.spec.ts
  apps/server/src/routes/project-environment.spec.ts
Due: pnpm run format --filter client --, pnpm run format --filter server --

refactor: :truck: dedicated resources for quota and stage
  apps/client/cypress/components/specs/environment-form.ct.ts
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/src/api/api.ts
  apps/client/src/stores/project-environment.spec.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/queries-index.ts
  apps/server/src/resources/quota/business.ts
  apps/server/src/resources/quota/controllers.ts
  apps/server/src/resources/quota/queries.ts
  apps/server/src/resources/stage/business.ts
  apps/server/src/resources/stage/controllers.ts
  apps/server/src/resources/stage/queries.ts
  apps/server/src/routes/index.ts
  apps/server/src/routes/project-environment.spec.ts
  apps/server/src/routes/project-environment.ts
  apps/server/src/routes/quota.ts
  apps/server/src/routes/stage.ts
Due: pnpm run format --filter client --, pnpm run format --filter server --

refactor: :recycle: move envData var
  apps/server/src/plugins/core/argo/index.ts
  apps/server/src/plugins/core/vault/init.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/routes/project-environment.spec.ts
Due: pnpm run format --filter server --

refactor: :recycle: change hook on kube secret plugin
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/server/src/plugins/core/kubernetes/secret.ts
  apps/server/src/resources/environment/controllers.ts
  apps/server/src/routes/project-environment.spec.ts
Due: pnpm run format --filter client --, pnpm run format --filter server --

refactor: :fire: remove owner from plugin payload on env update
  apps/server/src/plugins/core/argo/app-project.ts
  apps/server/src/plugins/hooks/environment.ts
  apps/server/src/resources/environment/business.ts
Due: pnpm run format --filter server --

refactor: :recycle: fix bad nsName in secret
  apps/server/src/plugins/core/kubernetes/secret.ts
Due: pnpm run format --filter server --

refactor: :zap: link cluster to all stages at creation
  apps/server/src/resources/cluster/admin/business.ts
  apps/server/src/resources/stage/business.ts
  apps/server/src/resources/stage/queries.ts
Due: pnpm run format --filter server --

feat: :sparkles: modif spec choix du cluster à la création d'un environnement
  apps/client/src/components/EnvironmentForm.vue
  apps/server/src/resources/environment/business.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --

feat: :sparkles: add stages choice in cluster form
  apps/client/cypress/components/specs/cluster-form.ct.ts
  apps/client/cypress/components/specs/multi-selector.ct.ts
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/MultiSelector.vue
  apps/client/src/stores/admin/cluster.spec.ts
  apps/client/src/views/admin/ListClusters.vue
  apps/server/src/resources/cluster/admin/business.ts
  apps/server/src/resources/cluster/admin/controllers.ts
  apps/server/src/resources/cluster/admin/queries.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/stage/business.ts
  apps/server/src/resources/stage/queries.ts
  packages/shared/src/resources/cluster/dto.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/src/imports/data.ts
  packages/test-utils/src/utils/random-utils.ts
  packages/test-utils/src/utils/types.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

build: :arrow_up: bump fastify-keycloak-adapter
  apps/server/package.json
  pnpm-lock.yaml
Due: none

refactor: 🎨 vault is now served as API
  apps/server/src/plugins/core/argo/app-project.ts
  apps/server/src/plugins/core/gitlab/index.ts
  apps/server/src/plugins/core/gitlab/init.ts
  apps/server/src/plugins/core/harbor/index.ts
  apps/server/src/plugins/core/kubernetes/namespace.ts
  apps/server/src/plugins/core/kubernetes/secret.ts
  apps/server/src/plugins/core/nexus/project.ts
  apps/server/src/plugins/core/sonarqube/user.ts
  apps/server/src/plugins/core/vault/class.ts
  apps/server/src/plugins/core/vault/index.ts
  apps/server/src/plugins/core/vault/init.ts
  apps/server/src/plugins/core/vault/secret.ts
  apps/server/src/plugins/hooks/hook.ts
Due: pnpm run format --filter server --

fix: :alien: change logo for svg
  apps/client/public/img/argocd.png
  apps/client/public/img/argocd.svg
  apps/client/public/img/harbor.png
  apps/client/public/img/harbor.svg
  apps/client/public/img/quay.png
  apps/server/src/plugins/core/argo/infos.ts
  apps/server/src/plugins/core/harbor/infos.ts
Due: pnpm run format --filter server --

chore: :recycle: reword or remove code
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/tests-component.yml
  .github/workflows/tests-deploy.yml
  .github/workflows/tests-e2e.yml
  ci/kind/run.sh
  ci/scripts/run-tests.sh
  env/.env.int-example
Due: none

chore: :recycle: reword or remove code
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
Due: none

docs: :memo: update convention link in readme
  README.md
Due: none

chore: :card_file_box: lock all projects cause of v6.0.0 breaking changes
  apps/server/src/prisma/migrations/20231024155020_dso/migration.sql
Due: none

feat: :sparkles: services secrets improvement
  apps/server/src/plugins/core/gitlab/index.ts
  apps/server/src/plugins/core/harbor/index.ts
  apps/server/src/plugins/core/harbor/init.ts
  apps/server/src/plugins/core/kubernetes/init.ts
  apps/server/src/plugins/core/kubernetes/misc.ts
  apps/server/src/plugins/index.ts
  apps/server/src/server.ts
Due: pnpm run format --filter server --

fix: :card_file_box: set all project status to failed for v6 release
  apps/server/src/prisma/migrations/20231026150220_dso/migration.sql
Due: none

refactor: :art: change vault write api parameters order
  apps/server/src/plugins/core/gitlab/index.ts
  apps/server/src/plugins/core/harbor/index.ts
  apps/server/src/plugins/core/nexus/project.ts
  apps/server/src/plugins/core/sonarqube/user.ts
  apps/server/src/plugins/core/vault/class.ts
Due: pnpm run format --filter server --

refactor: :fire: misc removes
  apps/server/src/plugins/core/keycloak/index.ts
  apps/server/src/plugins/core/sonarqube/project.ts
  packages/shared/src/resources/cluster/dto.ts
Due: pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :art: plugin can no longer subscribe to 'all' hooks
  apps/server/src/plugins/hooks/hook.ts
  apps/server/src/plugins/index.ts
Due: pnpm run format --filter server --

test: :white_check_mark: add tests on shared functions
  packages/shared/src/utils/functions.spec.ts
  packages/shared/src/utils/functions.ts
Due: pnpm run format --filter shared --
