Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(sonarqube): make admin group path configurable though console
  packages/shared/src/utils/const.ts
  plugins/sonarqube/src/functions.ts
  plugins/sonarqube/src/group.ts
  plugins/sonarqube/src/index.ts
  plugins/sonarqube/src/infos.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

refactor(hooks): merge projectmember and projectrole to project hook Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/src/resources/project-member/business.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/utils/hook-wrapper.spec.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-member.ts
  packages/hooks/src/hooks/hook-project-role.ts
  packages/hooks/src/hooks/hook-project.ts
  packages/hooks/src/hooks/index.ts
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/index.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore(playwright): add full cross service e2e tests
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/views/admin/ListPlugins.vue
  playwright/e2e-tests/cross-services.spec.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

feat(gitlab): add builtin roles to GitLab Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-member.ts
  packages/hooks/src/hooks/hook-project-role.ts
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/infos.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
  plugins/keycloak/src/functions.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix(gitlab): iterate over pagination
  plugins/argocd/src/functions.ts
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
  plugins/sonarqube/src/functions.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(sonarqube): make admin group path configurable though console
  packages/shared/src/utils/const.ts
  plugins/sonarqube/src/functions.ts
  plugins/sonarqube/src/group.ts
  plugins/sonarqube/src/index.ts
  plugins/sonarqube/src/infos.ts
  plugins/sonarqube/src/project.ts
  plugins/sonarqube/src/user.ts
  plugins/sonarqube/src/utils.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

refactor(hooks): merge projectmember and projectrole to project hook Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/src/resources/project-member/business.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/utils/hook-wrapper.spec.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-member.ts
  packages/hooks/src/hooks/hook-project-role.ts
  packages/hooks/src/hooks/hook-project.ts
  packages/hooks/src/hooks/index.ts
  plugins/argocd/src/functions.ts
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/utils.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/index.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix(gitlab): iterate over pagination
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
  plugins/sonarqube/src/functions.ts
  plugins/sonarqube/src/user.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(admin-roles): add builtin roles
  apps/server/src/prisma/migrations/20260204140651_add_admin_role_type/migration.sql
  apps/server/src/resources/admin-role/business.spec.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

feat(shared): add admin role fine grained permissions
  apps/client/src/router/index.spec.ts
  apps/client/src/router/index.ts
  apps/client/src/views/projects/DsoProjects.vue
  apps/server/src/resources/admin-role/router.spec.ts
  apps/server/src/resources/admin-role/router.ts
  apps/server/src/resources/cluster/router.spec.ts
  apps/server/src/resources/cluster/router.ts
  apps/server/src/resources/project/router.spec.ts
  apps/server/src/resources/project/router.ts
  apps/server/src/resources/stage/router.spec.ts
  apps/server/src/resources/stage/router.ts
  apps/server/src/resources/system/config/router.spec.ts
  apps/server/src/resources/system/config/router.ts
  apps/server/src/resources/system/settings/router.spec.ts
  apps/server/src/resources/system/settings/router.ts
  apps/server/src/resources/user/router.spec.ts
  apps/server/src/resources/user/router.ts
  apps/server/src/resources/zone/router.spec.ts
  apps/server/src/resources/zone/router.ts
  apps/server/src/utils/mocks.ts
  packages/shared/src/utils/permissions.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat(shared): add admin role fine grained permissions
  apps/client/src/components/SelectProject.vue
  apps/client/src/router/index.spec.ts
  apps/client/src/router/index.ts
  apps/client/src/views/projects/DsoProjects.vue
  apps/server/src/resources/admin-role/router.spec.ts
  apps/server/src/resources/admin-role/router.ts
  apps/server/src/resources/cluster/router.spec.ts
  apps/server/src/resources/cluster/router.ts
  apps/server/src/resources/project/router.spec.ts
  apps/server/src/resources/project/router.ts
  apps/server/src/resources/stage/router.spec.ts
  apps/server/src/resources/stage/router.ts
  apps/server/src/resources/system/config/router.spec.ts
  apps/server/src/resources/system/config/router.ts
  apps/server/src/resources/system/settings/router.spec.ts
  apps/server/src/resources/system/settings/router.ts
  apps/server/src/resources/user/router.spec.ts
  apps/server/src/resources/user/router.ts
  apps/server/src/resources/zone/router.spec.ts
  apps/server/src/resources/zone/router.ts
  apps/server/src/utils/mocks.ts
  packages/shared/src/utils/permissions.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore(argocd): remove now useless code
  apps/client/src/components/ClusterForm.vue
  plugins/argocd/package.json
  plugins/argocd/src/cluster.ts
  plugins/argocd/src/functions.ts
  plugins/argocd/src/utils.ts
  plugins/kubernetes/src/api.ts
  plugins/kubernetes/src/class.ts
  plugins/kubernetes/src/namespace.ts
  pnpm-lock.yaml
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: remove 'external' cluster property
  apps/client/src/components/ClusterForm.vue
  apps/server-nestjs/src/prisma/schema/topography.prisma
  apps/server/src/prisma/migrations/20260211143048_dso/migration.sql
  apps/server/src/prisma/schema/topography.prisma
  apps/server/src/resources/cluster/business.spec.ts
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/resources/cluster/router.spec.ts
  apps/server/src/resources/project/queries.ts
  packages/hooks/src/hooks/index.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/utils/const.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/src/utils/random-utils.ts
  plugins/argocd/README.md
  plugins/argocd/src/functions.ts
  plugins/kubernetes/src/api.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: remove every reference to kubernetes client-node dependency
  .github/workflows/job-npm.yml
  apps/server-nestjs/package.json
  apps/server/Dockerfile
  apps/server/package.json
  ci/matrix-npm.json
  packages/shared/package.json
  plugins/argocd/src/env.d.ts
  plugins/argocd/src/functions.ts
  plugins/harbor/src/functions.ts
  plugins/vault/package.json
  pnpm-lock.yaml
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: remove kubernetes plugin
  apps/server-nestjs/package.json
  apps/server/package.json
  apps/server/src/plugins.ts
  plugins/argocd/src/functions.ts
  plugins/harbor/package.json
  plugins/harbor/src/env.d.ts
  plugins/harbor/src/functions.ts
  plugins/kubernetes/.gitignore
  plugins/kubernetes/eslint.config.js
  plugins/kubernetes/package.json
  plugins/kubernetes/src/class.ts
  plugins/kubernetes/src/customApiClass.ts
  plugins/kubernetes/src/index.ts
  plugins/kubernetes/src/infos.ts
  plugins/kubernetes/src/misc.ts
  plugins/kubernetes/src/namespace.ts
  plugins/kubernetes/src/quota.ts
  plugins/kubernetes/src/secret.ts
  plugins/kubernetes/tsconfig.eslint.json
  plugins/kubernetes/tsconfig.json
  plugins/vault/package.json
  plugins/vault/src/env.d.ts
  plugins/vault/src/functions.ts
  plugins/vault/src/index.ts
  pnpm-lock.yaml
  turbo.json
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore(harbor): remove deprecated code
  packages/test-utils/src/utils/types.ts
  plugins/harbor/src/api/Api.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: bump packages
  packages/hooks/package.json
  packages/shared/package.json
  plugins/argocd/package.json
  plugins/harbor/package.json
  plugins/vault/package.json
Due: pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore(playwright): optimize configuration for execution duration and trace retention
  playwright/playwright.config.ts
Due: pnpm run lint:root --

chore: bump node docker image base
  apps/client/Dockerfile
  apps/server/Dockerfile
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

Fix typo in 'Environement' to 'Environnement'
  packages/shared/src/utils/permissions.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

Path conditions:
  pnpm run lint:style --filter=@cpn-console/client --: any of: **/apps/client/**/*.{vue,css}
  pnpm run lint:ts --filter=@cpn-console/client --: any of: **/apps/client/**/*
  pnpm run lint --filter=@cpn-console/server --: any of: **/apps/server/**/*
  pnpm run lint --filter=./packages/* --: any of: **/packages/**/*
  pnpm run lint --filter=./plugins/* --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
