Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format --filter cypress

fix: :goal_net: optional chaining to avoid errors on selected project
  apps/client/cypress/components/specs/permission-form.ct.js
  apps/client/cypress/e2e/specs/repos.e2e.js
  apps/client/src/components/CIForm.vue
  apps/client/src/components/SideMenu.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/client/src/views/projects/ManageEnvironments.vue
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :ambulance: log more of ansible output
  apps/ansible-api/src/ansible.js
Due: none

ci: :green_heart: try to build rootless image for postgress 14.5
  apps/ansible-api/src/ansible.js
  db/Dockerfile
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.e2e.yml
  docker/docker-compose.prod.yml
  helm/templates/deployment-postgres.yml
Due: none

fix: :wrench: update postgres image
  helm/templates/cm-postgres.yml
  helm/templates/deployment-postgres.yml
Due: none

fix: :bug: error in ansible route
  apps/server/src/controllers/environment.js
  apps/server/src/controllers/project.js
  apps/server/src/models/queries/project-queries.js
  apps/server/src/routes/project.spec.js
Due: none

fix: :lipstick: enforce ui on disabled dsfrtiles
  apps/client/src/main.css
Due: pnpm run format --filter client

fix: :bug: error in ansible route
  apps/server/src/controllers/project.js
Due: none

fix: :goal_net: return if user does not have project
  .github/workflows/release.yml
  .github/workflows/test.yml
  apps/server/src/controllers/project.js
  apps/server/src/models/queries/user-queries.js
Due: none

Revert "revert: :rewind: hide snackbar for now"
  apps/client/src/App.vue
  apps/client/src/components/DsoSnackbar.vue
  apps/client/src/stores/snackbar.js
  apps/client/src/views/CreateProject.vue
Due: pnpm run format --filter client

revert: :rewind: rebase error
  apps/client/src/App.vue
Due: pnpm run format --filter client

feat: :sparkles: add snackbar to handle errors
  README.md
  apps/ansible-api/README.md
  apps/client/README.md
  apps/client/cypress/e2e/specs/home.e2e.js
  apps/client/src/App.vue
  apps/client/src/components/CIForm.vue
  apps/client/src/components/DsoSnackbar.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/documentation/doc.md
  apps/client/src/documentation/home.md
  apps/client/src/router/index.js
  apps/client/src/stores/snackbar.js
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoProjects.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/README.md
  apps/server/src/controllers/environment.js
  apps/server/src/controllers/permission.js
  apps/server/src/controllers/project.js
  apps/server/src/controllers/repository.js
  apps/server/src/controllers/user.js
  apps/server/src/models/queries/project-queries.js
  apps/server/src/models/queries/user-queries.js
  apps/server/src/routes/project-environment.spec.js
  apps/server/src/routes/project-permission.spec.js
  apps/server/src/routes/project-user.spec.js
  apps/server/src/routes/project.spec.js
  business-rules.md
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :ambulance: bad owner w/ new queries
  apps/server/src/controllers/project.js
Due: none

build: :arrow_up: node 18.14.1
  .github/workflows/test.yml
  apps/ansible-api/Dockerfile
  apps/client/Dockerfile
  apps/server/Dockerfile
  ci/act/workflows/test/test.yml
  package.json
Due: none

ci: :construction_worker: improve ci system
  .github/workflows/test.yml
  apps/ansible-api/Dockerfile
  apps/client/Dockerfile
  apps/client/cypress/Dockerfile
  apps/server/Dockerfile
  ci/act/docker/Dockerfile
  db/Dockerfile
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.e2e.yml
  docker/docker-compose.prod.yml
Due: none

feat: :children_crossing: redirect to services when selecting a project
  apps/client/cypress/e2e/specs/projects.e2e.js
  apps/client/cypress/e2e/specs/redirection.e2e.js
  apps/client/cypress/e2e/specs/sidebar.e2e.js
  apps/client/src/views/projects/DsoProjects.vue
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: add active column on organization table
  apps/server/src/controllers/organization.js
  apps/server/src/models/organization.js
  apps/server/src/models/queries/organization-queries.js
  apps/server/src/routes/organization.spec.js
Due: none

feat: add active column on organization table, and client get only active: true
  apps/server/src/controllers/organization.js
  apps/server/src/models/organization.js
  apps/server/src/models/queries/organization-queries.js
  apps/server/src/routes/organization.spec.js
Due: none

feat: :necktie: add constraint for project name length
  apps/client/src/views/CreateProject.vue
  packages/shared/src/schemas/project.js
  packages/shared/src/utils/functions.js
  packages/shared/src/utils/iterables.js
  packages/shared/src/utils/schemas.spec.js
Due: pnpm run format --filter client

ci: :green_heart: do not start ci jobs if pr is draft
  .github/workflows/test.yml
Due: none

chore: :memo: add resources table
  README.md
Due: none

feat: :memo: ajout d'un schéma d'architecture
  apps/client/public/img/architecture.png
  apps/client/src/documentation/doc.md
  architecture.drawio
Due: none

fix: :globe_with_meridians: translate error messages in french
  apps/server/src/controllers/environment.js
  apps/server/src/controllers/organization.js
  apps/server/src/controllers/permission.js
  apps/server/src/controllers/project.js
  apps/server/src/controllers/repository.js
  apps/server/src/controllers/user.js
  apps/server/src/routes/project-permission.spec.js
  apps/server/src/routes/project-user.spec.js
  apps/server/src/routes/project.spec.js
Due: none

fix: :truck: rename generated gitlab ci file
  apps/client/cypress/components/specs/repo-form.ct.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/documentation/doc.md
  apps/server/src/generate-files/generate-ci-files.js
  apps/server/src/generate-files/templates/rules.yml
Due: pnpm run format --filter client, pnpm run format --filter cypress

ci: :green_heart: add check-out in matrix job for release workflow
  .github/workflows/release.yml
Due: none

fix: :bug: wrong key for project archived
  apps/server/src/controllers/project.js
  apps/server/src/routes/project.spec.js
Due: none

template gitlab-ci
  apps/server/src/generate-files/templates/gitlab-ci.yml
  apps/server/src/generate-files/templates/vault.yml
Due: none

test: :white_check_mark: update TU for new templates
  apps/client/src/components/CIForm.vue
  apps/server/src/generate-files/generate-ci-files.spec.js
Due: pnpm run format --filter client

fix: :bug: add joi schema validation in repo form
  apps/client/cypress/e2e/specs/repos.e2e.js
  apps/client/src/components/RepoForm.vue
  packages/shared/src/schemas/repository.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :sparkles: display project and repositories statuses in dashboard and repo pages
  apps/client/cypress/e2e/specs/create-project.e2e.js
  apps/client/cypress/e2e/specs/dashboard.e2e.js
  apps/client/cypress/e2e/specs/repos.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/App.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoRepos.vue
  packages/test-utils/src/imports/data.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

refactor: :recycle: use project store call
  apps/client/src/stores/project-environment.js
  apps/client/src/stores/project-permission.js
  apps/client/src/stores/project-repository.js
  apps/client/src/stores/project-user.js
Due: pnpm run format --filter client

refactor: :bug: fix store removing .value as it is not a ref
  apps/client/src/stores/project-environment.js
  apps/client/src/stores/project-permission.js
  apps/client/src/stores/project-repository.js
  apps/client/src/stores/project-user.js
Due: pnpm run format --filter client

refactor: :recycle: divide project store
  apps/client/src/components/PermissionForm.vue
  apps/client/src/stores/project-environment.js
  apps/client/src/stores/project-permission.js
  apps/client/src/stores/project-repository.js
  apps/client/src/stores/project-user.js
  apps/client/src/stores/project.js
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/client/src/views/projects/ManageEnvironments.vue
Due: pnpm run format --filter client

fix: :bug: do nothing when tile is disabled
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/components/RepoForm.vue
  apps/client/src/views/projects/DsoProjects.vue
  apps/client/src/views/projects/DsoRepos.vue
Due: pnpm run format --filter client, pnpm run format --filter cypress

refactor: :art: review Tobi
  apps/client/src/views/projects/DsoProjects.vue
  apps/client/src/views/projects/DsoRepos.vue
Due: pnpm run format --filter client

perf: :fire: no external token in database, no crypto needed
  apps/server/src/controllers/repository.js
  apps/server/src/models/queries/repository-queries.js
  apps/server/src/utils/crypto.js
  apps/server/src/utils/crypto.spec.js
Due: none

chore: :wrench: default config for deployment
  helm/values.yaml
Due: none

Path conditions:
  pnpm run format --filter client: any of: **/client/**/*.{js,ts,vue,css}
  pnpm run format --filter cypress: any of: **/cypress/**/*.{js,cjs,ts}
