Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :bug: can't retrieved enc ns name for gitops cluster
  plugins/kubernetes/package.json
  plugins/kubernetes/src/class.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :triangular_flag_on_post: no more cloned repository at gitlab createProject
  apps/server/src/resources/repository/business.ts
  plugins/gitlab/package.json
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/repositories.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :bug: add a better patch capability for kubernetes
  plugins/harbor/package.json
  plugins/harbor/src/functions.ts
  plugins/kubernetes/src/class.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: :arrow_up: upgrade pnpm to v9.15.4
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  .prototools
  apps/client/Dockerfile
  apps/server/Dockerfile
  package.json
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

chore: :arrow_up: upgrade nodejs to v22.13.0
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  .prototools
  apps/client/Dockerfile
  apps/client/cypress/e2e/specs/redirection.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/package.json
  apps/server/Dockerfile
  package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

fix: :ambulance: fix gitlab ci config file
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/repositories.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :sparkles: add an 'external' boolean properties on clusters
  apps/client/src/components/ClusterForm.vue
  apps/server/src/prisma/migrations/20250107104749_dso/migration.sql
  apps/server/src/prisma/schema/topography.prisma
  apps/server/src/resources/cluster/business.spec.ts
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/resources/cluster/router.spec.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/repository/router.spec.ts
  packages/hooks/src/hooks/index.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/src/utils/random-utils.ts
  plugins/argocd/src/functions.ts
  plugins/kubernetes/src/api.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: fix gitlab, no first commit on cloned repository
  plugins/gitlab/package.json
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/repositories.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :bug: duplicates name should not be already allowed
  apps/client/cypress/e2e/specs/create-project.e2e.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

refactor: :recycle: avoid unuseful computed
  apps/client/package.json
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/views/profile/PersonalAccessTokens.vue
  pnpm-lock.yaml
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

fix: :bug: names displayed twice at project creation
  apps/client/src/stores/project.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

feat: :sparkles: vault plugin, switch to deploy or not vaultconnections
  plugins/kubernetes/package.json
  plugins/kubernetes/src/class.ts
  plugins/vault/README.md
  plugins/vault/package.json
  plugins/vault/src/config.ts
  plugins/vault/src/functions.ts
  plugins/vault/src/vso.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :alien: gitlab response changed on upgrade
  plugins/gitlab/src/class.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: :package: update package.json
  apps/server/src/resources/project-service/business.ts
  apps/server/src/resources/project/queries.ts
  packages/hooks/package.json
  packages/hooks/src/services.ts
  packages/shared/package.json
  plugins/argocd/package.json
  plugins/argocd/src/infos.ts
  plugins/gitlab/package.json
  plugins/gitlab/src/infos.ts
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/vault/package.json
  plugins/vault/src/infos.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :bug: auto re login when session expiry
  apps/client/src/api/xhr-client.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

fix: :ambulance: owner of a project cannot see attached private quota
  apps/server/src/resources/quota/queries.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

fix: :ambulance: bad migration
  apps/server/src/prisma/migrations/20250121222953_prevent_upgrade/migration.sql
  migrations/v9/Dockerfile
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

fix: :ambulance: forgot to use slug in gitlab group
  plugins/gitlab/src/class.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

refactor: migrate script should not delete old group
  migrations/v9/Migrate v9-FR.md
  migrations/v9/Migrate v9.md
  migrations/v9/migrate.js
Due: pnpm run lint:root --

refactor: rearrange icons and service description
  apps/client/cypress/e2e/specs/02-profile.e2e.ts
  apps/client/cypress/e2e/specs/03-modal.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/public/img/harbor.svg
  apps/client/public/img/sonarqube.svg
  apps/client/src/components/ProjectBanner.vue
  apps/client/src/components/ProjectClustersInfos.vue
  apps/client/src/components/ProjectResources.vue
  apps/client/src/components/ServicesConfig.vue
  apps/client/src/components/TeamCt.vue
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListUser.vue
  apps/server/src/resources/project-service/business.ts
  packages/shared/src/schemas/services.ts
  packages/shared/src/utils/const.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: :sparkles: auto create projectRootDir in Gitlab
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/utils.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

refactor: :zap: improve gitlab project search
  plugins/gitlab/src/class.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

refactor: :recycle: add projectId to url params
  apps/server/src/resources/project-service/business.ts
  apps/server/src/resources/project/queries.ts
  packages/hooks/package.json
  packages/hooks/src/services.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix: :recycle: add projectId to url params
  apps/server/src/resources/project-service/business.ts
  apps/server/src/resources/project/queries.ts
  packages/hooks/package.json
  packages/hooks/src/services.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

Path conditions:
  pnpm run lint:style --filter=@cpn-console/client --: any of: **/apps/client/**/*.{vue,css}
  pnpm run lint:ts --filter=@cpn-console/client --: any of: **/apps/client/**/*
  pnpm run lint --filter=@cpn-console/server --: any of: **/apps/server/**/*
  pnpm run lint --filter=./packages/* --: any of: **/packages/**/*
  pnpm run lint --filter=./plugins/* --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
