Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format --filter cypress

.lintstagedrc:

{
  "**/client/**/*.{js,ts,vue,css}": "pnpm run format --filter client",
  "**/cypress/**/*.{js,cjs,ts}": "pnpm run format --filter cypress"
}

refactor: :construction: testing to implement style in pluginManager and new register function
  apps/server/src/controllers/admin/organizations.ts
  apps/server/src/controllers/environment.ts
  apps/server/src/controllers/project.ts
  apps/server/src/controllers/repository.ts
  apps/server/src/models/queries/project-queries.ts
  apps/server/src/plugins/core/argo/index.ts
  apps/server/src/plugins/core/argo/init.ts
  apps/server/src/plugins/core/gitlab/init.ts
  apps/server/src/plugins/core/harbor/init.ts
  apps/server/src/plugins/core/keycloak/init.ts
  apps/server/src/plugins/core/kubernetes/init.ts
  apps/server/src/plugins/core/nexus/init.ts
  apps/server/src/plugins/core/sonarqube/init.ts
  apps/server/src/plugins/core/vault/init.ts
  apps/server/src/plugins/hooks/environment.ts
  apps/server/src/plugins/hooks/hook.ts
  apps/server/src/plugins/hooks/index.ts
  apps/server/src/plugins/hooks/misc.ts
  apps/server/src/plugins/hooks/permission.ts
  apps/server/src/plugins/hooks/project.ts
  apps/server/src/plugins/hooks/repository.ts
  apps/server/src/plugins/hooks/team.ts
  apps/server/src/plugins/index.ts
  apps/server/src/routes/admin/organization.spec.ts
  apps/server/src/server.spec.ts
  apps/server/src/server.ts
  apps/server/src/types/index.ts
  apps/server/src/utils/type.ts
  apps/server/vitest-init.ts
  packages/shared/.eslintrc.cjs
Due: none

feat: :sparkles: introduce cluster managment frontend
  apps/client/src/api/api.js
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/MultiSelector.vue
  apps/client/src/components/SideMenu.vue
  apps/client/src/router/index.js
  apps/client/src/stores/admin/cluster.js
  apps/client/src/views/admin/ListClusters.vue
  apps/server/package.json
  packages/shared/src/schemas/index.ts
  pnpm-lock.yaml
Due: pnpm run format --filter client

fix: :alien: change gitlab api calls
  apps/server/src/controllers/project.ts
  apps/server/src/plugins/core/gitlab/group.ts
  apps/server/src/plugins/core/gitlab/index.ts
  apps/server/src/plugins/core/gitlab/permission.ts
  apps/server/src/plugins/core/gitlab/project.ts
  apps/server/src/plugins/core/gitlab/triggers.ts
  apps/server/src/plugins/core/gitlab/user.ts
  apps/server/src/plugins/core/gitlab/utils.ts
Due: none

chore: :label: add types for resources
  apps/server/src/controllers/admin/organizations.ts
  apps/server/src/controllers/environment.ts
  apps/server/src/plugins/hooks/environment.ts
  apps/server/src/plugins/hooks/repository.ts
  apps/server/src/types/index.ts
  apps/server/src/utils/logger.ts
  apps/server/src/utils/type.ts
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/resources/cluster/dto.ts
  packages/shared/src/resources/cluster/index.ts
  packages/shared/src/resources/cluster/misc.ts
  packages/shared/src/resources/cluster/model.ts
  packages/shared/src/resources/environment/dto.ts
  packages/shared/src/resources/environment/index.ts
  packages/shared/src/resources/environment/model.ts
  packages/shared/src/resources/index.ts
  packages/shared/src/resources/log/dto.ts
  packages/shared/src/resources/log/index.ts
  packages/shared/src/resources/log/model.ts
  packages/shared/src/resources/organization/dto.ts
  packages/shared/src/resources/organization/index.ts
  packages/shared/src/resources/organization/model.ts
  packages/shared/src/resources/project/dto.ts
  packages/shared/src/resources/project/index.ts
  packages/shared/src/resources/project/model.ts
  packages/shared/src/resources/repository/dto.ts
  packages/shared/src/resources/repository/index.ts
  packages/shared/src/resources/repository/model.ts
  packages/shared/src/resources/user/dto.ts
  packages/shared/src/resources/user/index.ts
  packages/shared/src/resources/user/model.ts
  packages/shared/src/utils/const.ts
  pnpm-lock.yaml
Due: none

feat: :construction: share progress
  apps/server/src/controllers/admin/cluster.ts
  apps/server/src/models/cluster.ts
  apps/server/src/models/environments-clusters.ts
  apps/server/src/models/projects-clusters.ts
  apps/server/src/models/queries/cluster-queries.ts
  apps/server/src/models/queries/environments-clusters-queries.ts
  apps/server/src/models/queries/projects-queries.ts
  apps/server/src/plugins/hooks/cluster.ts
  apps/server/src/plugins/hooks/environment.ts
  apps/server/src/routes/admin/cluster.ts
  apps/server/src/routes/admin/index.ts
  packages/shared/src/resources/cluster/dto.ts
  packages/shared/src/resources/index.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/schemas/index.ts
Due: none

feat: :sparkles: introduce cluster managment frontend
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/MultiSelector.vue
  apps/client/src/components/SideMenu.vue
  apps/client/src/router/index.js
  apps/client/src/stores/admin/cluster.js
  apps/client/src/views/admin/ListClusters.vue
  packages/shared/package.json
  packages/shared/src/schemas/index.ts
  pnpm-lock.yaml
Due: pnpm run format --filter client

build: :construction_worker: build shared in dev mode
  apps/client/Dockerfile
  apps/server/Dockerfile
Due: none

feat: :sparkles: wip refacto ClusterForm
  apps/client/src/components/ClusterForm.vue
Due: pnpm run format --filter client

feat: :sparkles: wip refacto ClusterForm
  apps/client/cypress/components/specs/cluster-form.ct.js
  apps/client/cypress/components/specs/multi-selector.ct.js
  apps/client/cypress/e2e/specs/admin/clusters.e2e.js
  apps/client/package.json
  apps/client/src/api/api.js
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/MultiSelector.vue
  apps/client/src/main.css
  apps/client/src/stores/admin/cluster.js
  apps/client/src/stores/admin/cluster.spec.js
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListLogs.vue
  apps/server/src/controllers/admin/cluster.ts
  apps/server/src/routes/admin/cluster.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/schemas/index.ts
  packages/test-utils/src/random-utils.js
  pnpm-lock.yaml
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :bug: fix logs pagination bug
  apps/client/src/views/admin/ListLogs.vue
  packages/test-utils/src/imports/data.js
Due: pnpm run format --filter client

feat: :technologist: add config for codespace
  .gitignore
  docker/docker-compose.dev.yml
  env/.env.codespace-example
  package.json
Due: none

feat: :sparkles: always show ci form
  apps/client/src/components/RepoForm.vue
Due: pnpm run format --filter client

feat: :sparkles: allow updating repo
  apps/client/cypress/components/specs/repo-form.ct.js
  apps/client/cypress/e2e/specs/repos.e2e.js
  apps/client/src/components/RepoForm.vue
  apps/client/src/stores/project-repository.js
  apps/client/src/views/projects/DsoRepos.vue
  apps/server/src/controllers/repository.ts
  apps/server/src/models/queries/repository-queries.ts
  apps/server/src/plugins/core/vault/index.ts
  apps/server/src/plugins/core/vault/init.ts
  apps/server/src/plugins/hooks/repository.ts
  packages/shared/src/schemas/repository.ts
  packages/shared/src/utils/schemas.spec.ts
Due: pnpm run format --filter client, pnpm run format --filter cypress

chore: :construction: schema of existing tables
  apps/server/package.json
Due: none

chore: :construction: schema of existing tables
  apps/server/package.json
  apps/server/src/prisma/schema.prisma
  pnpm-lock.yaml
Due: none

feat: :construction: prisma migrate & install client
  apps/server/package.json
  apps/server/src/connectPrisma.ts
  apps/server/src/prisma/migrations/20230608113127_test_toto/migration.sql
  apps/server/src/prisma/migrations/20230608113854_add_table_test/migration.sql
  apps/server/src/prisma/migrations/migration_lock.toml
  apps/server/src/prisma/schema.prisma
  pnpm-lock.yaml
Due: none

perf: :art: uuid & type prismaclient
  apps/server/src/connect.ts
  apps/server/src/models/queries/project-queries.ts
  apps/server/src/prisma/schema.prisma
Due: none

refactor: :art: push no verify
  apps/server/package.json
  apps/server/src/connectSeq.ts
  apps/server/src/init/db/index.ts
  apps/server/src/models/environment.ts
  apps/server/src/models/log.ts
  apps/server/src/models/organization.ts
  apps/server/src/models/permission.ts
  apps/server/src/models/project.ts
  apps/server/src/models/queries/environment-queries.ts
  apps/server/src/models/queries/log-queries.ts
  apps/server/src/models/queries/organization-queries.ts
  apps/server/src/models/queries/permission-queries.ts
  apps/server/src/models/queries/project-queries.ts
  apps/server/src/models/queries/repository-queries.ts
  apps/server/src/models/queries/user-queries.ts
  apps/server/src/models/queries/users-projects-queries.ts
  apps/server/src/models/repository.ts
  apps/server/src/models/user.ts
  apps/server/src/models/users-projects.ts
  apps/server/src/prisma/schema.prisma
  apps/server/src/server.ts
  apps/server/src/utils/queries-tools.ts
  pnpm-lock.yaml
Due: none

chore: :white_check_mark: add database dump for tests
  tests/docker-entrypoint-initdb.d/dso-console-db.sql
Due: none

perf: :art: queries
  apps/server/src/models/queries/environment-queries.ts
  apps/server/src/models/queries/log-queries.ts
  apps/server/src/models/queries/organization-queries.ts
  apps/server/src/models/queries/permission-queries.ts
  apps/server/src/models/queries/project-queries.ts
  apps/server/src/models/queries/repository-queries.ts
  apps/server/src/models/queries/user-queries.ts
  apps/server/src/models/queries/users-projects-queries.ts
  apps/server/src/prisma/schema.prisma
  apps/server/src/utils/queries-tools.ts
  packages/shared/src/utils/const.ts
Due: none

fix: :art: conf prisma
  apps/server/src/__mocks__/prisma.ts
  apps/server/src/connect.ts
  apps/server/src/connectPrisma.ts
  apps/server/src/connectSeq.ts
  apps/server/src/init/db/index.ts
  apps/server/src/init/db/setup-projects.ts
  apps/server/src/models/environment.ts
  apps/server/src/models/log.ts
  apps/server/src/models/organization.ts
  apps/server/src/models/permission.ts
  apps/server/src/models/project.ts
  apps/server/src/models/queries/environment-queries.ts
  apps/server/src/models/queries/log-queries.ts
  apps/server/src/models/queries/organization-queries.ts
  apps/server/src/models/queries/permission-queries.ts
  apps/server/src/models/queries/project-queries.ts
  apps/server/src/models/queries/repository-queries.ts
  apps/server/src/models/queries/user-queries.ts
  apps/server/src/models/queries/users-projects-queries.ts
  apps/server/src/models/repository.ts
  apps/server/src/models/user.ts
  apps/server/src/models/users-projects.ts
  apps/server/src/prisma.ts
  apps/server/src/prisma/schema.prisma
  apps/server/src/routes/organization.spec.ts
  apps/server/src/server.ts
Due: none

fix: :bug: retrieve also inactive orgs on admin project list page
  apps/client/cypress/e2e/specs/create-project.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/views/admin/ListOrganizations.vue
  apps/client/src/views/admin/ListProjects.vue
  packages/shared/src/utils/const.ts
  packages/test-utils/src/imports/data.js
  packages/test-utils/src/random-utils.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :bug: do not send group to createUser request
  apps/server/src/controllers/project.ts
Due: none

fix: :bug: dto project, fix no type for data
  apps/server/src/controllers/project.ts
  packages/shared/src/resources/project/dto.ts
  packages/shared/src/resources/project/index.ts
Due: none

fix: :bug: wip controller
  apps/client/cypress/e2e/specs/admin/organizations.e2e.js
  apps/client/cypress/e2e/specs/create-project.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/api/api.js
  apps/client/src/api/api.spec.js
  apps/client/src/stores/project.js
  apps/client/src/views/CreateProject.vue
  apps/server/src/controllers/project.ts
  apps/server/src/queries/project-queries.ts
  packages/shared/src/schemas/environment.ts
  packages/shared/src/schemas/organization.ts
  packages/shared/src/schemas/permission.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/repository.ts
  packages/shared/src/schemas/user.ts
  packages/shared/src/utils/schemas.spec.ts
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :bug: fix return Array
  apps/server/src/utils/queries-tools.ts
Due: none

fix: :bug: missing DB_URL in example
  env/.env-example
Due: none

fix: :bug: update project
  apps/server/src/controllers/project.ts
Due: none

fix: :bug: admin projects
  apps/client/src/views/admin/ListProjects.vue
  apps/server/src/controllers/admin/project.ts
  apps/server/src/controllers/project.ts
  apps/server/src/queries/project-queries.ts
Due: pnpm run format --filter client

refactor: :construction: wip logs admin page
  apps/client/src/api/api.js
  apps/client/src/stores/admin/log.js
  apps/client/src/stores/admin/log.spec.js
  apps/client/src/views/admin/ListLogs.vue
  apps/server/src/controllers/admin/logs.ts
  apps/server/src/queries/log-queries.ts
  apps/server/src/routes/admin/log.spec.ts
  packages/shared/src/utils/schemas.spec.ts
Due: pnpm run format --filter client

refactor: :recycle: dso team
  apps/client/src/views/projects/DsoTeam.vue
  apps/server/src/controllers/user.ts
Due: pnpm run format --filter client

refactor: :recycle: repos
  apps/server/src/controllers/project.ts
  apps/server/src/controllers/repository.ts
  apps/server/src/controllers/user.ts
Due: none

refactor: :recycle: permission
  apps/client/src/components/PermissionForm.vue
  apps/server/src/controllers/permission.ts
Due: pnpm run format --filter client

chore: :art: update data.js, split models, simplify things
  apps/server/src/connect.ts
  apps/server/src/init/db/index.ts
  apps/server/src/queries/environment-queries.ts
  apps/server/src/queries/log-queries.ts
  apps/server/src/queries/organization-queries.ts
  apps/server/src/queries/permission-queries.ts
  apps/server/src/queries/project-queries.ts
  apps/server/src/queries/repository-queries.ts
  apps/server/src/queries/roles-queries.ts
  apps/server/src/queries/tech.ts
  apps/server/src/queries/user-queries.ts
  packages/test-utils/src/imports/data.js
Due: none

chore: :hammer: update dev script for prisma
  apps/server/package.json
  apps/server/src/prisma/migrations/20230608113127_test_toto/migration.sql
  apps/server/src/prisma/migrations/20230608113854_add_table_test/migration.sql
  apps/server/src/prisma/migrations/20230703194019_dso/migration.sql
  env/.env.codespace-example
  pnpm-lock.yaml
  tests/docker-entrypoint-initdb.d/dso-console-db.sql
Due: none

fix: :art: rewrite model
  apps/client/cypress/e2e/support/func.js
  apps/server/src/init/db/setup-projects.ts
  apps/server/src/init/db/setup-users.ts
  apps/server/src/prisma/schema.prisma
  apps/server/src/queries/environment-queries.ts
  apps/server/src/queries/log-queries.ts
  apps/server/src/queries/organization-queries.ts
  apps/server/src/queries/permission-queries.ts
  apps/server/src/queries/project-queries.ts
  apps/server/src/queries/repository-queries.ts
  apps/server/src/queries/roles-queries.ts
  apps/server/src/queries/tech.ts
  apps/server/src/queries/user-queries.ts
  apps/server/src/utils/controller.ts
  apps/server/src/utils/services.ts
  packages/test-utils/src/imports/data.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :art: rewrite model
  apps/client/cypress/e2e/specs/admin/organizations.e2e.js
  apps/client/cypress/e2e/specs/admin/projects.e2e.js
  apps/client/cypress/e2e/specs/admin/users.e2e.js
  apps/client/cypress/e2e/specs/create-project.e2e.js
  apps/client/cypress/e2e/specs/dashboard.e2e.js
  apps/client/cypress/e2e/specs/environments.e2e.js
  apps/client/cypress/e2e/specs/home.e2e.js
  apps/client/cypress/e2e/specs/permissions.e2e.js
  apps/client/cypress/e2e/specs/projects.e2e.js
  apps/client/cypress/e2e/specs/redirection.e2e.js
  apps/client/cypress/e2e/specs/repos.e2e.js
  apps/client/cypress/e2e/specs/services.e2e.js
  apps/client/cypress/e2e/specs/sidebar.e2e.js
  apps/client/cypress/e2e/specs/team.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/cypress/e2e/support/func.js
  packages/test-utils/src/imports/data.js
Due: pnpm run format --filter client, pnpm run format --filter cypress
