Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm run lint:style --filter=@cpn-console/client --",
  "**/apps/client/**/*": "pnpm run lint:ts --filter=@cpn-console/client --",
  "**/apps/server/**/*": "pnpm run lint --filter=@cpn-console/server --",
  "**/packages/**/*": "pnpm run lint --filter=./packages/* --",
  "**/plugins/**/*": "pnpm run lint --filter=./plugins/* --",
  "**/*": "pnpm run lint:root --"
}

refactor: :recycle: support disabling vault-secrets
  apps/client/src/components/DsoSnackbar.vue
  packages/hooks/src/hooks/hook.spec.ts
  packages/hooks/src/utils/utils.ts
  plugins/vault/README.md
  plugins/vault/src/config.ts
  plugins/vault/src/functions.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :sparkles: easy in-cluster config
  apps/client/src/components/ClusterForm.vue
  apps/server/src/resources/cluster/router.spec.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/utils/const.ts
  plugins/argocd/src/cluster.ts
  plugins/argocd/src/functions.ts
  plugins/kubernetes/src/api.ts
  plugins/kubernetes/src/class.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :art: use upsert zone hook to manage infra repo
  plugins/argocd/package.json
  plugins/argocd/src/functions.ts
  plugins/argocd/src/index.ts
  plugins/gitlab/package.json
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/env.d.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/repositories.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :bug: vault forgot to set kv to v2
  plugins/vault/package.json
  plugins/vault/src/class.ts
  plugins/vault/src/utils.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :sparkles: enable pwa on frontend
  apps/client/package.json
  apps/client/src/App.vue
  apps/client/src/components/ReloadPrompt.vue
  apps/client/src/env.d.ts
  apps/client/src/main.ts
  apps/client/tsconfig.json
  apps/client/vite.config.ts
  pnpm-lock.yaml
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

fix: :ambulance: broken admin token
  apps/client/cypress/e2e/specs/admin/tokens.e2e.ts
  apps/server/src/resources/user/business.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

feat: :sparkles: bulk actions on projects
  apps/client/cypress.config.ts
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/src/utils/func.ts
  apps/client/src/views/admin/AdminProject.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoProjectWrapper.vue
  apps/client/src/views/projects/DsoRoles.vue
  apps/server/src/resources/project/business.spec.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/project/router.spec.ts
  apps/server/src/resources/project/router.ts
  apps/server/src/utils/env.ts
  packages/shared/src/contracts/project.ts
  packages/shared/src/utils/functions.ts
  packages/shared/src/utils/permissions.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: :construction: zone kv store management
  plugins/argocd/src/functions.ts
  plugins/keycloak/package.json
  plugins/keycloak/src/env.d.ts
  plugins/keycloak/src/functions.ts
  plugins/vault/src/class.ts
  plugins/vault/src/functions.ts
  plugins/vault/src/index.ts
  pnpm-lock.yaml
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

refactor: :lipstick: improve layout
  apps/client/src/App.vue
  apps/client/src/components/ChoiceSelector.vue
  apps/client/src/components/DsoSnackbar.vue
  apps/client/src/components/ServicesConfig.vue
  apps/client/src/utils/project-utils.ts
  apps/client/src/views/admin/ListUser.vue
  apps/client/vite.config.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

ci: :construction_worker: improve ci workflow
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: pnpm run lint:root --

refactor: :lipstick: improve user component
  apps/client/cypress/e2e/specs/admin/users.e2e.ts
  apps/client/package.json
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/PaginationCt.vue
  apps/client/src/components/SideMenu.vue
  apps/client/src/components/SuggestionInput.vue
  apps/client/src/components/TeamCt.vue
  apps/client/src/components/UserCt.vue
  apps/client/src/main.css
  apps/client/src/router/index.ts
  apps/client/src/stores/admin-role.ts
  apps/client/src/stores/users.ts
  apps/client/src/utils/func.ts
  apps/client/src/views/admin/AdminProject.vue
  apps/client/src/views/admin/AdminTokens.vue
  apps/client/src/views/admin/AdminUser.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/admin/ListUser.vue
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/project/router.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/queries.ts
  apps/server/src/resources/user/router.spec.ts
  apps/server/src/resources/user/router.ts
  packages/shared/src/contracts/_utils.ts
  packages/shared/src/contracts/project.ts
  packages/shared/src/contracts/user.ts
  packages/shared/src/schemas/user.ts
  pnpm-lock.yaml
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: :sparkles: store cluster secret in Vault
  plugins/argocd/src/cluster.ts
  plugins/vault/src/index.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :bug: retry delete project is failed
  apps/server/src/resources/project/business.spec.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/utils/hook-wrapper.ts
  plugins/kubernetes/src/namespace.ts
  plugins/sonarqube/src/functions.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :bug: fix not displaying swagger
  apps/client/cypress/e2e/specs/redirection.e2e.ts
  apps/client/src/router/index.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

Revert "refactor: :lipstick: improve layout"
  apps/client/src/App.vue
  apps/client/src/views/admin/ListUser.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

refactor: :ambulance: fix the fix about swagger
  apps/client/cypress/e2e/specs/redirection.e2e.ts
  apps/client/src/App.vue
  apps/client/src/router/index.ts
  apps/client/src/views/Swagger.vue
  apps/server/src/utils/keycloak.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

refactor: :ambulance: fix the fix about swagger
  apps/client/src/router/index.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

build: :arrow_up: upgrade nodejs and pnpm
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  .prototools
  apps/client/Dockerfile
  apps/client/cypress.config.ts
  apps/client/vite.config.ts
  apps/server/Dockerfile
  apps/server/src/prisma/migrations/20241216131342_dso/migration.sql
  ci/act/workflows/ci.yml
  package.json
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

fix: :bug: downgrade gitlab lib to avoid upsert user warning
  apps/server/package.json
  plugins/gitlab/package.json
  pnpm-lock.yaml
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :sparkles: store cluster secret in Vault
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/index.ts
  plugins/argocd/src/cluster.ts
  plugins/argocd/src/functions.ts
  plugins/argocd/src/index.ts
  plugins/argocd/src/zone.ts
  plugins/gitlab/src/index.ts
  plugins/vault/src/class.ts
  plugins/vault/src/functions.ts
  plugins/vault/src/index.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :sparkles: add an 'external' boolean properties on clusters
  apps/client/src/components/ClusterForm.vue
  apps/server/src/prisma/migrations/20250107104749_dso/migration.sql
  apps/server/src/prisma/schema/topography.prisma
  apps/server/src/resources/cluster/business.spec.ts
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/resources/cluster/router.spec.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/repository/router.spec.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/src/utils/random-utils.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix: :bug: nexus auto disable repo config on delete
  plugins/nexus/src/project.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: track project version provisioning
  apps/server/src/prisma/migrations/20241112102015_add_provisionning_version/migration.sql
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/log/queries.ts
  apps/server/src/utils/hook-wrapper.spec.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project.ts
  plugins/kubernetes/package.json
  plugins/kubernetes/src/class.ts
  plugins/kubernetes/src/namespace.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

Revert "feat: :sparkles: store cluster secret in Vault"
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/index.ts
  plugins/argocd/src/cluster.ts
  plugins/argocd/src/functions.ts
  plugins/argocd/src/index.ts
  plugins/argocd/src/zone.ts
  plugins/gitlab/src/index.ts
  plugins/vault/src/class.ts
  plugins/vault/src/functions.ts
  plugins/vault/src/index.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

refactor: :recycle: add internal urls
  plugins/harbor/README.md
  plugins/harbor/src/config.ts
  plugins/harbor/src/functions.ts
  plugins/harbor/src/infos.ts
  plugins/harbor/src/utils.ts
  plugins/sonarqube/README.md
  plugins/sonarqube/src/config.ts
  plugins/sonarqube/src/infos.ts
  plugins/sonarqube/src/monitor.ts
  plugins/sonarqube/src/tech.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

refactor: :sparkles: display last version to users
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/src/components/ProjectBanner.vue
  apps/client/src/utils/project-utils.ts
  apps/client/src/views/admin/AdminProject.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/project/router.spec.ts
  packages/shared/src/contracts/project.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/utils/schemas.spec.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix: :zap: package icons in client
  apps/client/Dockerfile
  apps/client/package.json
  apps/client/scripts/create-collections.js
  apps/client/scripts/icons.js
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/TeamCt.vue
  apps/client/src/icon-collections.ts
  apps/client/src/main.ts
  apps/client/src/utils/project-utils.ts
  apps/client/src/views/admin/AdminProject.vue
  apps/client/src/views/admin/ListOrganizations.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/client/vite.config.ts
  pnpm-lock.yaml
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

fix: patch vue-dsfr
  package.json
  patches/@gouvminint__vue-dsfr.patch
  pnpm-lock.yaml
Due: pnpm run lint:root --

refactor: :lipstick: uniformize icons
  apps/client/scripts/icons.js
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/LogsViewer.vue
  apps/client/src/components/PaginationCt.vue
  apps/client/src/components/ProjectBanner.vue
  apps/client/src/components/ReplayButton.vue
  apps/client/src/components/SelectProject.vue
  apps/client/src/components/SideMenu.vue
  apps/client/src/components/TokenForm.vue
  apps/client/src/icon-collections.ts
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/DsoHome.vue
  apps/client/src/views/DsoMaintenance.vue
  apps/client/src/views/ServicesHealth.vue
  apps/client/src/views/admin/AdminProject.vue
  apps/client/src/views/projects/DsoDashboard.vue
  packages/shared/src/utils/const.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

Update DsoHome.vue
  apps/client/src/views/DsoHome.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

fix: :bug: test if description is string before using replaceAll function
  plugins/argocd/src/functions.ts
  plugins/gitlab/src/utils.ts
  plugins/kubernetes/src/api.ts
  plugins/kubernetes/src/namespace.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: :ambulance: bad gitlab url fn
  plugins/gitlab/src/infos.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --
