Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix(server-nestjs): provide EventEmitter2 to ClusterModule
  apps/server-nestjs/src/modules/cluster/cluster.module.ts
Due: pnpm run lint:root --

fix(cluster): wire missing module imports
  apps/server-nestjs/src/modules/cluster/cluster.module.ts
Due: pnpm run lint:root --

fix(server-nestjs): wire ClusterModule provider imports
  apps/server-nestjs/src/modules/cluster/cluster.module.ts
Due: pnpm run lint:root --

test(cluster): lock controller permission matrix
  apps/server-nestjs/src/modules/cluster/cluster.controller.spec.ts
Due: pnpm run lint:root --

refactor(cluster): use shared ClusterUsage type and plain string ids
  apps/server-nestjs/src/modules/cluster/cluster-queries.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.ts
  packages/shared/src/schemas/cluster.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(events): move plugin-failure throws into AppEventsService
  apps/server-nestjs/src/modules/argocd/argocd-datastore.service.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
  apps/server-nestjs/src/modules/argocd/argocd.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster-testing.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster.controller.spec.ts
  apps/server-nestjs/src/modules/cluster/cluster.controller.ts
  apps/server-nestjs/src/modules/cluster/cluster.module.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.spec.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.ts
  apps/server-nestjs/src/modules/cluster/cluster.utils.ts
  apps/server-nestjs/src/modules/environment/environment.service.spec.ts
  apps/server-nestjs/src/modules/environment/environment.service.ts
  apps/server-nestjs/src/modules/events/app-events.service.ts
  apps/server-nestjs/src/modules/repository/repository.service.spec.ts
  apps/server-nestjs/src/modules/repository/repository.service.ts
  packages/shared/src/contracts/cluster.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

fix(argocd): align vault secret-id helper with renamed ensure method
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
Due: pnpm run lint:root --

test(project): lock seeded role names and reader oidcGroup
  apps/server-nestjs/src/modules/project/project.utils.spec.ts
Due: pnpm run lint:root --

test(project): lock readonly rename without over-locking role count
  apps/server-nestjs/src/modules/project/project.utils.spec.ts
Due: pnpm run lint:root --

fix(server-nestjs): decouple rename migration predicates
  apps/server-nestjs/src/prisma/migrations/20260615100000_rename_role_readonly_to_reader/migration.sql
Due: pnpm run lint:root --

fix(server-nestjs): align reader group paths and migrate plugin config keys
  apps/server-nestjs/src/modules/nexus/nexus-plugin.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.constants.ts
  apps/server-nestjs/src/prisma/migrations/20260615100000_rename_role_readonly_to_reader/migration.sql
  apps/server-nestjs/test/sonarqube.e2e-spec.ts
  plugins/gitlab/src/infos.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(server-nestjs): rename role readonly to reader
  apps/server-nestjs/src/modules/argocd/argocd-plugin.service.ts
  apps/server-nestjs/src/modules/argocd/argocd.constants.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.spec.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.constants.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.constants.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/project/project.utils.ts
  apps/server-nestjs/src/modules/registry/registry.constants.ts
  apps/server-nestjs/src/modules/registry/registry.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.constants.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.ts
  apps/server-nestjs/src/modules/vault/vault.constants.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  apps/server-nestjs/src/prisma/migrations/20260615100000_rename_role_readonly_to_reader/migration.sql
  apps/server/src/resources/project/queries.ts
  packages/shared/src/utils/permissions.ts
  plugins/argocd/src/infos.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix(plugins/argocd): update remaining readonly references in functions
  plugins/argocd/src/functions.spec.ts
  plugins/argocd/src/functions.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: update GitHub issue and MR templates
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/ISSUE_TEMPLATE/INTERNAL-REQUEST.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: pnpm run lint:root --

refactor(events): return failed-event handling to calling services
  apps/server-nestjs/src/modules/cluster/cluster-queries.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.spec.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.ts
  apps/server-nestjs/src/modules/events/app-events.service.ts
  apps/server-nestjs/src/modules/events/app-events.utils.ts
Due: pnpm run lint:root --

chore: refine GitHub issue templates
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/ISSUE_TEMPLATE/IMPROVEMENT.yml
  .github/ISSUE_TEMPLATE/INTERNAL-REQUEST.yml
Due: pnpm run lint:root --

refactor(sonarqube): use DeepMockProxy instead of ReturnType alias
  apps/server-nestjs/src/modules/sonarqube/sonarqube-client.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-client.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.ts
Due: pnpm run lint:root --

refactor(service-monitor): use DeepMockProxy instead of ReturnType aliases
  apps/server-nestjs/package.json
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/registry/registry-health.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry-health.service.ts
  apps/server-nestjs/src/modules/registry/registry.utils.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.constants.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.controller.spec.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.controller.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.module.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.service.spec.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.service.ts
  apps/server-nestjs/src/modules/service-monitor/service-monitor.utils.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-health.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-health.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.constants.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

refactor(project): remove type assertions per repo rule
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/project/project.utils.spec.ts
Due: pnpm run lint:root --

refactor(cluster): drop Query import aliases for query utils
  apps/server-nestjs/src/modules/cluster/cluster-queries.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster-testing.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.ts
  apps/server-nestjs/src/modules/cluster/cluster.utils.ts
  packages/shared/src/contracts/cluster.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

fix(server-nestjs): register AdminTokenModule for downstream stacks
  apps/server-nestjs/src/main.module.ts
Due: pnpm run lint:root --

fix(server-nestjs): drop AdminTokenModule registration, owned by stacked admin-token PR
  apps/server-nestjs/src/main.module.ts
Due: pnpm run lint:root --

refactor(server-nestjs): inject cluster deps via Effect Context.Tags
  apps/client/scripts/generate-icons.sh
  apps/server-nestjs/package.json
  apps/server-nestjs/src/modules/cluster/cluster.module.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

refactor(events): move plugin-failure throws into AppEventsService
  packages/shared/src/contracts/cluster.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(cluster): remove type assertions per repo rule
  apps/server-nestjs/src/modules/cluster/cluster-queries.utils.spec.ts
Due: pnpm run lint:root --

test(cluster): cover cluster listing authorization filter
  apps/server-nestjs/src/modules/cluster/cluster-queries.utils.spec.ts
Due: pnpm run lint:root --

chore(cluster): drop the unused @effect/vitest dependency
  apps/server-nestjs/package.json
  apps/server-nestjs/src/modules/cluster/cluster-queries.utils.spec.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint:root --

fix(vault): avoid double slash in KV list path for Vault 2.0
  plugins/vault/src/vault-project-api.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix: create temp icons file with final name and dedupe EventsModule import
  apps/client/scripts/generate-icons.sh
  apps/server-nestjs/src/modules/cluster/cluster.module.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

test(system-settings): drop guard metadata specs
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.spec.ts
Due: pnpm run lint:root --

fix(system-settings): restore UserGuard import for overrideGuard
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.spec.ts
Due: pnpm run lint:root --

docs: trim AGENTS.md rules moved to sks-code-authoring
  AGENTS.md
Due: pnpm run lint:root --

docs: add cpn-code-authoring skill for console conventions
  .agents/skills/cpn-code-authoring/SKILL.md
Due: pnpm run lint:root --

Path conditions:
  pnpm --filter=@cpn-console/client run lint:style --: any of: **/apps/client/**/*.{vue,css}
  pnpm --filter=@cpn-console/client run lint:ts --: any of: **/apps/client/**/*
  pnpm --filter=@cpn-console/server run lint --: any of: **/apps/server/**/*
  pnpm --filter=./packages/* run lint --: any of: **/packages/**/*
  pnpm --filter=./plugins/* run lint --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
