Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format --filter cypress

.lintstagedrc:

{
  "**/client/**/*.{js,ts,vue,css}": "pnpm run format --filter client",
  "**/cypress/**/*.{js,cjs,ts}": "pnpm run format --filter cypress"
}

perf: :art: use map instead of forEach for array generation
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/components/CIForm.vue
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :sparkles: add GitlabCI generated file
  .gitignore
  .lintstagedrc
  apps/ansible-api/Dockerfile
  apps/client/Dockerfile
  apps/client/cypress/Dockerfile
  apps/client/cypress/components/specs/repo-form.ct.js
  apps/client/cypress/e2e/specs/repos.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/index.html
  apps/client/package.json
  apps/client/src/api/api.js
  apps/client/src/api/xhr-client.js
  apps/client/src/components/CIForm.vue
  apps/client/src/components/RepoForm.vue
  apps/client/src/icons.js
  apps/client/src/stores/ciFiles.js
  apps/client/src/views/CreateProject.vue
  apps/server/package.json
  apps/server/src/generateFile/generateCIFiles.js
  apps/server/src/generateFile/generateCIFiles.spec.js
  apps/server/src/generateFile/templates/docker.yml
  apps/server/src/generateFile/templates/gitlab-ci.yml
  apps/server/src/generateFile/templates/java.yml
  apps/server/src/generateFile/templates/node.yml
  apps/server/src/generateFile/templates/python.yml
  apps/server/src/generateFile/templates/rules.yml
  apps/server/src/generateFile/templates/vault.yml
  apps/server/src/models/project-queries.js
  apps/server/src/routes/ciFiles.js
  apps/server/src/routes/index.js
  ci/act/docker/Dockerfile
  docker/docker-compose.ci.yml
  docker/docker-compose.ct.yml
  package.json
  packages/shared/src/schemas/project.js
  pnpm-lock.yaml
Due: pnpm run format --filter client, pnpm run format --filter cypress

test: :white_check_mark: fix copy to clipboard in e2e tests
  apps/client/cypress/e2e/support/commands.js
  apps/client/cypress/e2e/support/index.js
  docker/docker-compose.ci.yml
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :sparkles: Add gitlabCi form for repo
  apps/client/src/components/CIForm.vue
  apps/client/src/components/RepoForm.vue
Due: pnpm run format --filter client

test: :test_tube: remove then after invoke
  apps/client/cypress/e2e/support/commands.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

chore: :hammer: remove kubeconfig from volumes
  docker/docker-compose.dev.yml
  docker/docker-compose.e2e.yml
  docker/docker-compose.prod.yml
Due: none

chore: :arrow_up: upgrade dependencies except cypress
  apps/ansible-api/package.json
  apps/client/package.json
  apps/server/package.json
  apps/server/src/server.spec.js
  package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: none

chore: :hammer: remove vault-secret
  .gitignore
  apps/ansible-api/Dockerfile
  apps/ansible-api/src/ansible.spec.js
  ci/scripts/init-env.sh
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.e2e.yml
  docker/docker-compose.prod.yml
Due: none

chore: :arrow_up: upgrade apps dependencies including cypress and fixes for vite v4
  apps/client/cypress.config.js
  apps/client/cypress/Dockerfile
  apps/client/cypress/components/specs/repo-form.ct.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/cypress/e2e/support/index.js
  apps/client/nginx/entrypoint.sh
  apps/client/package.json
  docker/docker-compose.ci.yml
  pnpm-lock.yaml
Due: pnpm run format --filter client, pnpm run format --filter cypress

chore: :hammer: keep volume in dev mode and upgrade commitlint
  package.json
  pnpm-lock.yaml
Due: none

refactor: :fire: remove dead code
  apps/client/vite.config.js
Due: pnpm run format --filter client

test: :construction_worker: use vite in cypress for e2e tests
  apps/client/cypress.config.js
  apps/client/cypress/Dockerfile
  apps/client/package.json
  docker/docker-compose.ci.yml
  pnpm-lock.yaml
Due: pnpm run format --filter client

feat: :sparkles: ansible-api respond playbook rc, server stores it in db
  apps/ansible-api/src/ansible.js
  apps/ansible-api/src/ansible.spec.js
  apps/ansible-api/src/controllers/project.js
  apps/ansible-api/src/routes/project.spec.js
  apps/ansible-api/src/utils/tools.js
  apps/client/src/views/projects/DsoProjects.vue
  apps/server/src/controllers/project.js
  apps/server/src/models/project-queries.js
  apps/server/src/server.js
  apps/server/src/utils/maintenance.js
  apps/server/src/utils/tools.js
  packages/shared/src/schemas/project.js
  packages/shared/src/schemas/repo.js
  packages/test-utils/src/random-project.js
  packages/test-utils/src/random-utils.js
Due: pnpm run format --filter client

refactor: :recycle: remove double const for allEnv
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/views/CreateProject.vue
  packages/shared/dev-setup/projects.js
  packages/shared/src/schemas/project.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :construction: add status and locked for project
  apps/server/src/controllers/project.js
  apps/server/src/models/project-queries.js
  apps/server/src/routes/project.spec.js
  packages/shared/src/schemas/project.js
Due: none

feat: :construction: wip fix unit tests
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/views/CreateProject.vue
  apps/server/src/controllers/project.js
  apps/server/src/models/project-queries.js
  apps/server/src/utils/project.js
  packages/shared/src/schemas/env.js
  packages/shared/src/schemas/project.js
  packages/shared/src/schemas/repo.js
  packages/shared/src/schemas/user.js
  packages/shared/src/utils/iterables.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

test: :test_tube: wip failing tests
  apps/server/src/routes/project.spec.js
  packages/test-utils/src/random-project.js
  packages/test-utils/src/random-utils.js
Due: none

fix: :card_file_box: turn envList into array of objects
  packages/shared/src/schemas/env.js
  packages/shared/src/schemas/project.js
Due: none

test: :test_tube: fix unit test
  apps/server/src/controllers/project.js
  apps/server/src/routes/project.spec.js
  packages/shared/src/utils/schemas.spec.js
Due: none

feat: :sparkles: ansible-api respond playbook rc, server stores it in db
  apps/ansible-api/src/ansible.js
  apps/ansible-api/src/ansible.spec.js
  apps/ansible-api/src/controllers/project.js
  apps/ansible-api/src/routes/project.spec.js
  apps/ansible-api/src/utils/tools.js
  apps/client/src/views/projects/DsoProjects.vue
  apps/server/src/controllers/project.js
  apps/server/src/models/project-queries.js
  apps/server/src/utils/tools.js
  packages/shared/dev-setup/projects.js
  packages/shared/src/schemas/env.js
  packages/shared/src/schemas/project.js
  packages/shared/src/schemas/repo.js
  packages/shared/src/schemas/user.js
Due: pnpm run format --filter client

fix: :recycle: fix
  apps/server/src/controllers/project.js
Due: none

fix: :recycle: use sequelize querytypes
  apps/server/src/models/project-queries.js
Due: none

fix: :bug: import env
  packages/test-utils/src/random-ansible.js
Due: none

refactor: :recycle: review
  apps/server/src/models/project-queries.js
Due: none

refactor: :recycle: dsfr badges
  apps/client/cypress/e2e/specs/create-project.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoProjects.vue
  apps/server/src/controllers/project.js
  apps/server/src/routes/project.spec.js
  packages/shared/src/schemas/env.js
  packages/shared/src/schemas/repo.js
  packages/shared/src/schemas/user.js
  packages/shared/src/utils/schemas.spec.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :construction: feature to achieve later, keep asking for project status
  apps/client/src/views/projects/DsoDashboard.vue
Due: pnpm run format --filter client

style: :fire: unuseful file
  apps/server/src/utils/tools.js
Due: none

fix: :bug: isInfra & isPrivate false if undefined
  apps/client/src/components/RepoForm.vue
  apps/server/src/controllers/project.js
  apps/server/src/models/project-queries.js
  packages/shared/src/schemas/project.js
Due: pnpm run format --filter client

test: :test_tube: provisioning repo creation fails
  apps/server/src/controllers/project.js
  apps/server/src/routes/project.spec.js
  packages/test-utils/src/random-project.js
Due: none

test: :test_tube: update e2e tests to match new schema
  apps/server/src/controllers/project.js
  apps/server/src/routes/project.spec.js
  packages/shared/dev-setup/projects.js
Due: none

refactor: :recycle: refactor code according to review
  apps/client/src/components/RepoForm.vue
  apps/client/src/views/projects/DsoProjects.vue
  apps/server/src/controllers/project.js
  packages/shared/src/schemas/project.js
  packages/shared/src/schemas/repo.js
  packages/shared/src/schemas/user.js
Due: pnpm run format --filter client

fix: :lipstick: update UI for new DSFR version
  apps/client/package.json
  apps/client/src/components/SideMenu.vue
  apps/client/src/main.css
  apps/client/src/views/CreateProject.vue
  pnpm-lock.yaml
Due: pnpm run format --filter client

feat: :sparkles: display current user name in closeable alert
  apps/client/src/App.vue
  apps/client/src/views/projects/DsoSelectedProject.vue
  apps/client/src/views/projects/DsoTeam.vue
Due: pnpm run format --filter client

perf: :construction: à revert !!!
  apps/server/dev-setup/init-db.js
  apps/server/src/server.js
Due: none

refactor: :construction: ajout de requetes sequelize
  apps/server/src/controllers/project.js
  apps/server/src/models/organization-queries.js
  apps/server/src/models/project-queries2.js
  apps/server/src/models/users-queries.js
Due: none

build: :construction_worker: refacto ansible build
  apps/ansible-api/Dockerfile
Due: none

feat: :construction: first database model
  apps/server/src/connect.js
  apps/server/src/models/project.js
Due: none

feat: :card_file_box: set definitive version of database
  apps/server/dev-setup/init-db.js
  apps/server/src/connect.js
  apps/server/src/controllers/project.js
  apps/server/src/models/environment-queries.js
  apps/server/src/models/organization-queries.js
  apps/server/src/models/permission-queries.js
  apps/server/src/models/project-queries2.js
  apps/server/src/models/project.js
  apps/server/src/models/repository-queries.js
  apps/server/src/models/users-queries.js
Due: none

refactor: :card_file_box: add queries for all sql tables
  apps/server/dev-setup/init-db.js
  apps/server/src/connect.js
  apps/server/src/controllers/project.js
  apps/server/src/models/environment-queries.js
  apps/server/src/models/models.js
  apps/server/src/models/organization-queries.js
  apps/server/src/models/permission-queries.js
  apps/server/src/models/project-queries.js
  apps/server/src/models/project-queries2.js
  apps/server/src/models/repository-queries.js
  apps/server/src/models/users-queries.js
  apps/server/src/routes/project.spec.js
  apps/server/src/utils/queries-tools.js
  packages/shared/src/schemas/project.js
  packages/shared/src/utils/iterables.js
  packages/test-utils/src/random-utils.js
Due: none

feat: :card_file_box: add queries
  apps/server/dev-setup/init-db.js
  apps/server/src/models/environment-queries.js
  apps/server/src/models/repository-queries.js
Due: none
