Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :mute: remove logs from getProjectsecrets
  apps/server/src/plugins/index.ts
  apps/server/src/resources/project/business.ts
Due: pnpm run format --filter server --

refactor: :card_file_box: rewrite last migration
  apps/server/src/prisma/migrations/20231026150220_dso/migration.sql
Due: none

ci: :construction_worker: enable manual trigger on unit tests in ci
  .github/workflows/tests-unit.yml
  .vscode/settings.json
Due: none

ci: :construction_worker: fix cypress cache in ci
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  turbo.json
Due: none

ci: :construction_worker: enable multi browsers tests through cypress
  .github/workflows/cache.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-deploy.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  apps/client/cypress.config.ts
  apps/client/cypress/components/specs/repo-form.ct.ts
  apps/client/package.json
  ci/scripts/run-tests.sh
  package.json
Due: pnpm run format --filter client --

build: :arrow_up: upgrade nodejs dependencies
  apps/client/package.json
  apps/server/package.json
  package.json
  packages/eslintconfig/package.json
  packages/shared/package.json
  packages/test-utils/package.json
  pnpm-lock.yaml
Due: none

build: :arrow_up: upgrade nodejs to v20.9.0
  .github/workflows/ci.yml
  apps/client/Dockerfile
  apps/server/Dockerfile
  ci/act/workflows/ci.yml
  package.json
Due: none

refactor: :wrench: update ES module or lib to benefit from latest array functions
  apps/client/.eslintrc.json
  apps/client/jsconfig.json
  apps/client/src/components/PermissionForm.vue
  apps/client/src/views/admin/ListClusters.vue
  apps/client/tsconfig.app.json
  apps/client/tsconfig.json
  apps/client/vite.config.ts
  packages/shared/src/resources/environment/model.ts
  packages/shared/src/resources/permission/model.ts
  packages/shared/src/utils/functions.ts
  packages/shared/tsconfig.json
  packages/test-utils/tsconfig.json
  packages/tsconfig/tsconfig.base.json
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter shared --

refactor: :children_crossing: reword infra repository description
  apps/client/src/components/RepoForm.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

fix: :ambulance: add endpoint to reprovision gitlab vars
  apps/server/src/plugins/core/gitlab/group.ts
  apps/server/src/plugins/core/gitlab/index.ts
  apps/server/src/plugins/core/gitlab/init.ts
  apps/server/src/plugins/core/gitlab/project.ts
  apps/server/src/plugins/core/harbor/index.ts
  apps/server/src/plugins/core/harbor/init.ts
  apps/server/src/plugins/core/harbor/robot.ts
  apps/server/src/plugins/core/nexus/init.ts
  apps/server/src/plugins/core/nexus/project.ts
  apps/server/src/plugins/core/sonarqube/init.ts
  apps/server/src/plugins/core/sonarqube/project.ts
  apps/server/src/plugins/hooks/project.ts
  apps/server/src/plugins/hooks/repository.ts
  apps/server/src/resources/system/plugin/business.ts
  apps/server/src/resources/system/plugin/controllers.ts
  apps/server/src/resources/system/plugin/queries.ts
  apps/server/src/routes/admin/index.ts
  apps/server/src/routes/admin/plugin.ts
Due: pnpm run format --filter server --

fix: :bug: fix endless redirect on login if authenticated
  apps/client/cypress/e2e/specs/redirection.e2e.ts
  apps/client/src/router/index.ts
Due: pnpm run format --filter client --

fix: :bug: should not set caData if skipTLSVerify is true
  apps/server/src/plugins/core/argo/cluster.ts
Due: pnpm run format --filter server --

fix: :bug: add missing await in gitlab createProjectMirror
  apps/server/src/plugins/core/gitlab/project.ts
Due: pnpm run format --filter server --

refactor: :art: refactor initialization level
  apps/server/src/resources/environment/queries.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter server --

refactor: :art: change rangeInput to levels 0,10,20
  apps/client/src/components/RangeInput.vue
  packages/shared/src/utils/const.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter shared --

fix: :lock: root token is not used in new repo credential when synced
  apps/server/src/plugins/core/gitlab/index.ts
  apps/server/src/plugins/core/gitlab/project.ts
Due: pnpm run format --filter server --

ci: :construction_worker: fix branch name on manually triggered sonar scan
  .github/workflows/tests-unit.yml
Due: none

feat: :sparkles: delete cluster if no environment suscribed
  apps/client/cypress/components/specs/cluster-form.ct.ts
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/cypress/e2e/specs/admin/quotas.e2e.ts
  apps/client/src/api/api.ts
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/QuotaForm.vue
  apps/client/src/stores/admin/cluster.spec.ts
  apps/client/src/stores/admin/cluster.ts
  apps/client/src/views/admin/ListClusters.vue
  apps/server/src/resources/cluster/admin/business.ts
  apps/server/src/resources/cluster/admin/controllers.ts
  apps/server/src/resources/cluster/admin/queries.ts
  apps/server/src/routes/admin/cluster.spec.ts
  apps/server/src/routes/admin/cluster.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --

ci: :construction_worker: remove test files duplication count in sonar
  .github/workflows/lint.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
Due: none

fix: :alien: add owner in archiveProject hookpayload
  apps/server/src/plugins/hooks/project.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/routes/project.spec.ts
Due: pnpm run format --filter server --

fix: :bug: use argoCD regex for internalRepoName
  apps/client/cypress/e2e/specs/repos.e2e.ts
  apps/client/src/components/RepoForm.vue
  packages/shared/src/schemas/repository.ts
  packages/shared/src/utils/schemas.spec.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter shared --

refactor: :label: do not infer gitbeaker type
  apps/server/package.json
  apps/server/src/plugins/core/gitlab/group.ts
  apps/server/src/plugins/core/gitlab/permission.ts
  apps/server/src/plugins/core/gitlab/project.ts
  apps/server/src/plugins/core/gitlab/triggers.ts
  apps/server/src/plugins/core/gitlab/utils.ts
Due: pnpm run format --filter server --

build: :green_heart: add a ci to publish server types
  .github/workflows/cd.yml
  .github/workflows/npm.yml
  .github/workflows/tests-deploy.yml
  .gitignore
  apps/client/package.json
  apps/server/.eslintrc.json
  apps/server/package.json
  apps/server/tsconfig.json
  package.json
  packages/shared/package.json
  packages/test-utils/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  turbo.json
Due: none

chore: :green_heart: fix yq expression
  .github/workflows/npm.yml
Due: none

chore: :green_heart: script to edit packages version before publish
  .github/workflows/npm.yml
  .github/workflows/release.yml
Due: none

chore: :arrow_up: upgrade nodejs to v20.10.0
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  apps/client/Dockerfile
  apps/server/Dockerfile
  ci/act/workflows/ci.yml
  package.json
Due: none

fix: :bug: fix gitlab group deletion
  apps/server/src/plugins/core/gitlab/group.ts
Due: pnpm run format --filter server --

feat: :sparkles: add backoffice for admins
  apps/client/cypress/components/specs/team-ct.ct.ts
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/team.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/src/api/api.ts
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/TeamCt.vue
  apps/client/src/icons.ts
  apps/client/src/router/index.ts
  apps/client/src/stores/admin/project.spec.ts
  apps/client/src/stores/admin/project.ts
  apps/client/src/stores/project-environment.ts
  apps/client/src/stores/project-user.spec.ts
  apps/client/src/stores/project-user.ts
  apps/client/src/views/ServicesHealth.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoSelectedProject.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.ts
  apps/server/src/resources/project/admin/business.ts
  apps/server/src/resources/project/admin/controllers.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/user/controllers.ts
  apps/server/src/routes/admin/project.spec.ts
  apps/server/src/routes/admin/project.ts
  apps/server/src/routes/project.spec.ts
  packages/shared/src/resources/environment/openApiSchema.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

fix: :bug: missed limits
  apps/server/src/plugins/core/kubernetes/quota.ts
Due: pnpm run format --filter server --

Path conditions:
  pnpm run format --filter client --: any of: **/client/**/*.{js,ts,vue,cjs}
  pnpm run format:style --filter client --: any of: **/client/**/*.{vue,css}
  pnpm run format --filter server --: any of: **/server/**/*.{js,cjs,ts}
  pnpm run format --filter shared --: any of: **/shared/**/*.{js,cjs,ts}
