Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm --filter=@cpn-console/client run lint:style --",
  "**/apps/client/**/*": "pnpm --filter=@cpn-console/client run lint:ts --",
  "**/apps/server/**/*": "pnpm --filter=@cpn-console/server run lint --",
  "**/packages/**/*": "pnpm --filter=./packages/* run lint --",
  "**/plugins/**/*": "pnpm --filter=./plugins/* run lint --",
  "**/*": "pnpm run lint:root --"
}

refactor(server-nestjs): migrate package managers to NestJS
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-datastore.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-health.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-http-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-testing.utils.ts
  apps/server-nestjs/src/modules/nexus/nexus.constants.ts
  apps/server-nestjs/src/modules/nexus/nexus.module.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.utils.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.ts
  apps/server-nestjs/src/modules/registry/registry-datastore.service.ts
  apps/server-nestjs/src/modules/registry/registry-health.service.ts
  apps/server-nestjs/src/modules/registry/registry-http-client.service.ts
  apps/server-nestjs/src/modules/registry/registry-testing.utils.ts
  apps/server-nestjs/src/modules/registry/registry.constants.ts
  apps/server-nestjs/src/modules/registry/registry.module.ts
  apps/server-nestjs/src/modules/registry/registry.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/src/modules/registry/registry.utils.ts
  apps/server-nestjs/src/modules/vault/vault-testing.utils.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
  apps/server-nestjs/test/registry.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  plugins/harbor/src/policy.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

refactor(server-nestjs): migrate package managers to NestJS
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-CARTOGRAPHIE.md
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-datastore.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-health.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-http-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-testing.utils.ts
  apps/server-nestjs/src/modules/nexus/nexus.constants.ts
  apps/server-nestjs/src/modules/nexus/nexus.module.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.utils.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.ts
  apps/server-nestjs/src/modules/registry/registry-datastore.service.ts
  apps/server-nestjs/src/modules/registry/registry-health.service.ts
  apps/server-nestjs/src/modules/registry/registry-http-client.service.ts
  apps/server-nestjs/src/modules/registry/registry-testing.utils.ts
  apps/server-nestjs/src/modules/registry/registry.constants.ts
  apps/server-nestjs/src/modules/registry/registry.module.ts
  apps/server-nestjs/src/modules/registry/registry.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/src/modules/registry/registry.utils.ts
  apps/server-nestjs/src/modules/vault/vault-testing.utils.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
  apps/server-nestjs/test/registry.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  plugins/harbor/src/policy.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: cleanup unused tooling Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  AGENTS.md
  ENVIRONMENTS.md
  README.md
  apps/client/Dockerfile
  apps/client/package.json
  apps/server-nestjs/Dockerfile
  apps/server-nestjs/package.json
  apps/server/Dockerfile
  apps/server/package.json
  ci/scripts/run-tests.sh
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
  docker/docker-compose.local.yml
  migrations/v9/Dockerfile
  migrations/v9/Migrate v9-FR.md
  migrations/v9/Migrate v9.md
  migrations/v9/migrate.js
  migrations/v9/package.json
  package.json
  packages/hooks/package.json
  packages/logger/package.json
  packages/opencds/Dockerfile
  packages/shared/package.json
  packages/test-utils/package.json
  pgadmin/servers-docker.json
  pgadmin/servers-kube.json
  playwright/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/update-hosts.sh
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

feat(opencds): add opencds-mockoon to the list of published images
  .github/workflows/job-playwright.yml
  apps/server-nestjs/.env.integ-example
  apps/server/.env.docker-example
  apps/server/.env.integ-example
  ci/matrix-docker.json
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
  docker/docker-compose.local.yml
  package.json
  packages/opencds/Dockerfile
  packages/opencds/opencds_api.json
Due: pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

chore(system-settings): migrate to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/src/modules/system-settings/dto/list-system-settings-query.dto.ts
  apps/server-nestjs/src/modules/system-settings/dto/system-setting.dto.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.module.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.service.ts
  apps/server-nestjs/test/system-settings.e2e-spec.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore(system-settings): migrate to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/src/modules/infrastructure/pipe/zod-validation.pipe.spec.ts
  apps/server-nestjs/src/modules/infrastructure/pipe/zod-validation.pipe.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.module.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.service.ts
  apps/server-nestjs/test/system-settings.e2e-spec.ts
  packages/shared/src/schemas/system.ts
  pnpm-lock.yaml
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

chore(system-settings): migrate to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/src/modules/infrastructure/pipe/zod-validation.pipe.spec.ts
  apps/server-nestjs/src/modules/infrastructure/pipe/zod-validation.pipe.ts
  apps/server-nestjs/src/modules/system-settings/service-chain.service.spec.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.spec.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.module.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.service.ts
  apps/server-nestjs/test/system-settings.e2e-spec.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore(system-settings): migrate to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/src/modules/infrastructure/pipe/zod-validation.pipe.spec.ts
  apps/server-nestjs/src/modules/infrastructure/pipe/zod-validation.pipe.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.spec.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.module.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.service.spec.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.service.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore(system-settings): migrate to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/src/modules/infrastructure/pipe/zod-validation.pipe.spec.ts
  apps/server-nestjs/src/modules/infrastructure/pipe/zod-validation.pipe.ts
  apps/server-nestjs/src/modules/system-settings/system-settings-testing.utils.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.spec.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.module.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.service.spec.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.service.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore(system-settings): migrate to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/src/modules/infrastructure/pipe/zod-validation.pipe.spec.ts
  apps/server-nestjs/src/modules/infrastructure/pipe/zod-validation.pipe.ts
  apps/server-nestjs/src/modules/system-settings/system-settings-testing.utils.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.module.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.service.spec.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.service.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore(system-settings): migrate to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/infrastructure/pipe/zod-validation.pipe.spec.ts
  apps/server-nestjs/src/modules/infrastructure/pipe/zod-validation.pipe.ts
  apps/server-nestjs/src/modules/system-settings/system-settings-testing.utils.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.module.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.service.spec.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.service.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore(system-settings): migrate to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/infrastructure/pipe/zod-validation.pipe.spec.ts
  apps/server-nestjs/src/modules/infrastructure/pipe/zod-validation.pipe.ts
  apps/server-nestjs/src/modules/system-settings/system-settings-testing.utils.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.module.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.service.spec.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.service.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore: update modularisation status Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-CARTOGRAPHIE.md
Due: pnpm run lint:root --

refactor(server-nestjs): migrate Sonarqube to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/client/src/utils/env.ts
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-client.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-client.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-datastore.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-health.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-http-client.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-testing.utils.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.constants.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.module.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.utils.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault.utils.ts
  apps/server-nestjs/test/sonarqube.e2e-spec.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --
