Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm --filter=@cpn-console/client run lint:style --",
  "**/apps/client/**/*": "pnpm --filter=@cpn-console/client run lint:ts --",
  "**/apps/server/**/*": "pnpm --filter=@cpn-console/server run lint --",
  "**/packages/**/*": "pnpm --filter=./packages/* run lint --",
  "**/plugins/**/*": "pnpm --filter=./plugins/* run lint --",
  "**/*": "pnpm run lint:root --"
}

chore(ci): improve debug for merge queues (add vars as reusable env vars)
  .github/workflows/workflow-continuous-integration.yml
Due: pnpm run lint:root --

chore(ci): improve debug for merge queues (test stuff on lint and build jobs)
  .github/workflows/job-build.yml
  .github/workflows/job-lint.yml
  .github/workflows/workflow-continuous-integration.yml
Due: pnpm run lint:root --

fix(ci): ensure build job is ran both from PRs and MQs
  .github/workflows/job-build.yml
  .github/workflows/job-lint.yml
  .github/workflows/workflow-continuous-integration.yml
Due: pnpm run lint:root --

fix(ci): avoid making PR number mandatory (issue with create-release job)
  .github/workflows/job-build.yml
Due: pnpm run lint:root --

fix(gitlab): iterate over pagination
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
  plugins/sonarqube/src/functions.ts
  plugins/sonarqube/src/user.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(admin-role): add logs Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/router.spec.ts
  apps/server/src/resources/admin-role/router.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

feat(sonarqube): make admin group path configurable though console
  packages/shared/src/utils/const.ts
  plugins/sonarqube/src/functions.ts
  plugins/sonarqube/src/group.ts
  plugins/sonarqube/src/index.ts
  plugins/sonarqube/src/infos.ts
  plugins/sonarqube/src/project.ts
  plugins/sonarqube/src/user.ts
  plugins/sonarqube/src/utils.ts
Due: pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

feat(gitlab): add builtin roles to GitLab
  apps/client/src/utils/env.ts
  apps/server/src/utils/hook-wrapper.spec.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-member.ts
  packages/hooks/src/hooks/hook-project-role.ts
  packages/hooks/src/hooks/hook-project.ts
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/infos.ts
  plugins/gitlab/src/members.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
  plugins/keycloak/src/functions.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix(create-release): fix pnpm command when publishing to NPM registry
  .github/workflows/job-npm.yml
Due: pnpm run lint:root --

fix(create-release): fix pnpm command when publishing to NPM registry (#1941)
  .github/workflows/job-npm.yml
Due: pnpm run lint:root --

feat(gitlab): add builtin roles to GitLab
  apps/server/src/utils/hook-wrapper.spec.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-member.ts
  packages/hooks/src/hooks/hook-project-role.ts
  packages/hooks/src/hooks/hook-project.ts
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/infos.ts
  plugins/gitlab/src/members.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
  plugins/keycloak/src/functions.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix(gitlab): iterate over pagination (#1918)
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
  plugins/sonarqube/src/functions.ts
  plugins/sonarqube/src/user.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(argocd): remove dead kubernetes ressource generation code
  plugins/argocd/src/app-project.ts
  plugins/argocd/src/applications.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(argocd): remove kubernetes ressource generation dead code
  plugins/argocd/src/app-project.ts
  plugins/argocd/src/applications.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(argocd): remove kubernetes ressource generation dead code
  apps/client/src/utils/env.ts
  plugins/argocd/src/app-project.ts
  plugins/argocd/src/applications.ts
  plugins/argocd/src/functions.ts
  plugins/argocd/src/infos.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --
