Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter server, pnpm run format --filter shared, pnpm run format --filter cypress

feat: :construction: Add postgres and pgadmin
  client/package-lock.json
  client/package.json
  docker/docker-compose.dev.yml
  package.json
  server/package-lock.json
  server/package.json
  server/src/utils/date.js
  server/src/utils/date.spec.js
  server/src/utils/loggers.js
  server/src/utils/project.js
Due: pnpm run format --filter server

ci: :technologist: Nammed volume for pgadmin/data
  .gitignore
  db/pgadmin/data/.gitkeep
  docker/docker-compose.dev.yml
Due: none

feat: :card_file_box: Add postgres and pgadmin
  .gitignore
  db/pgadmin/config/servers.json
  docker/docker-compose.dev.yml
Due: none

feat: :construction: (wip) add project mongoose model
  server/src/controllers/project.js
  server/src/models/project-model.js
  server/src/models/project-queries.js
  server/src/routes/project.js
Due: pnpm run format --filter server

fix: :bug: Fix endless redirection
  client/src/views/DsoAuth.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

ci: :construction_worker: Update tools scripts
  ci/scripts/build-images.sh
  ci/scripts/build-matrix.sh
  ci/scripts/init-project.sh
  ci/scripts/run-tests.sh
Due: none

chore(projectInit): :building_construction: Add server folder
  docker/docker-compose.dev.yml
  docker/docker-compose.e2e.yml
  docker/docker-compose.prod.yml
  env/.env-example
  server/.dockerignore
  server/Dockerfile
  server/package-lock.json
  server/package.json
  server/src/app.js
  server/src/routes/index.js
  server/src/utils/env.js
Due: pnpm run format --filter server

test: :construction: wip tests
  server/package-lock.json
  server/package.json
  server/src/controllers/project.js
  server/src/routes/project.js
  server/src/routes/project.spec.js
  server/src/server.spec.js
  server/src/utils/__tests__/project-util.js
  server/src/utils/__tests__/random-util.js
  server/src/utils/project.js
Due: pnpm run format --filter server

chore: :construction: Remove keycloak wip from pr
  client/src/utils/keycloak/init-sso.js
Due: pnpm run format --filter client

feat: :construction: Add routes for projects
  server/src/routes/project.js
Due: pnpm run format --filter server

fix: :rotating_light: Warn in console for missing required id
  client/src/components/SideMenu.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

feat: :technologist: Add watch src for hot reload
  server/package.json
Due: none

chore: :truck: Rename DsoAuth to be compliant with rest of the app
  client/src/router/index.js
  client/src/views/DsoAuth.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

docs: :memo: Add jsdoc in project
  client/src/api/api.js
  client/src/stores/project.js
  client/src/stores/user.js
  client/src/utils/func.js
  client/src/views/OrderProject.vue
  client/src/views/projects/DsoServices.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

chore: :construction: Remove keycloak wip from pr
  client/src/api/xhr-client.js
  client/src/router/index.js
  client/src/utils/keycloak/init-sso.js
Due: pnpm run format --filter client

chore: :arrow_up: Npm i
  package-lock.json
Due: none

chore: :heavy_plus_sign: Add coverage dependency & update scripts
  client/package-lock.json
  client/package.json
  package-lock.json
  package.json
Due: none

chore: :arrow_up: Npm i everywhere
  client/package-lock.json
  client/package.json
  package-lock.json
Due: none

ci: :construction_worker: Fix coverage output on server for sonar
  ci/scripts/run-tests.sh
  server/package.json
  server/vitest.config.js
Due: pnpm run format --filter server

feat: :card_file_box: Wip add createProject api
  client/src/api/api.js
  client/src/views/OrderProject.vue
  server/src/models/project-queries.js
Due: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter server

feat: :boom: first query successfull
  client/src/api/api.js
  client/src/api/index.js
  client/src/stores/project.js
  client/src/views/projects/DsoProjects.vue
  client/vite.config.js
  docker/docker-compose.dev.yml
  package.json
  server/package-lock.json
  server/package.json
  server/src/connect.js
  server/src/controllers/projects.js
  server/src/models/project-queries.js
  server/src/routes/index.js
  server/src/server.js
  server/src/utils/response.js
Due: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter server

test: :test_tube: Update artifact upload
  .github/workflows/test.yml
  docker/docker-compose.prod.yml
Due: none

chore: :see_no_evil: Add gitkeep for rights in db/pgadmin/data
  db/pgadmin/data/.gitkeep
Due: none

fix: :bug: Reinit projects in store before pushing query result
  client/src/api/api.js
  client/src/stores/project.js
  client/src/views/projects/DsoProjects.vue
  cypress/e2e/specs/dsoProjects.e2e.js
  cypress/e2e/specs/dsoServices.e2e.js
Due: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter cypress

feat: :boom: first query successfull
  client/vite.config.js
  server/src/controllers/projects.js
  server/src/routes/index.js
Due: pnpm run format --filter client, pnpm run format --filter server

ci: :technologist: Nammed volume for pgadmin/data
  db/pgadmin/data/.gitkeep
Due: none

fix: :technologist: Add env exemple
  env/.env-example
Due: none

feat: :technologist: Add husky unit tests for server
  .github/workflows/test.yml
  .husky/pre-push
  ci/scripts/run-tests.sh
  client/package-lock.json
  client/package.json
  package.json
  server/package-lock.json
  server/package.json
  server/src/app.js
Due: pnpm run format --filter server

feat: :card_file_box: Add api getProjectById
  client/package-lock.json
  client/package.json
  client/src/api/api.js
  client/src/stores/project.js
  client/src/views/projects/DsoProjects.vue
  client/src/views/projects/DsoServices.vue
  server/src/controllers/projects.js
  server/src/models/project-queries.js
  server/src/routes/project.js
  server/src/routes/project.spec.js
Due: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter server

feat: :card_file_box: Add api getProjectById
  client/src/views/projects/DsoProjects.vue
  server/src/controllers/projects.js
Due: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter server

feat: :card_file_box: Add createProject query
  client/src/views/OrderProject.vue
  server/package-lock.json
  server/package.json
  server/src/models/project-queries.js
Due: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter server

feat: :construction: trying to access server /api/v-4/version
  server/Dockerfile
  server/src/routes/index.js
  server/src/utils/date.js
  server/src/utils/loggers.js
Due: pnpm run format --filter server

feat: :construction: Add postgres and pgadmin
  client/package-lock.json
  server/package-lock.json
  server/src/routes/project.js
  server/src/utils/date.js
  server/src/utils/loggers.js
  server/src/utils/project.js
Due: pnpm run format --filter server

refactor: :truck: Move api requests in store
  client/src/stores/project.js
  client/src/views/OrderProject.vue
  server/src/models/project-queries.js
Due: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter server

refactor: :recycle: Sonar review
  client/src/stores/project.js
Due: pnpm run format --filter client

fix: :memo: Last review
  docker/docker-compose.prod.yml
  server/src/server.spec.js
Due: pnpm run format --filter server

docs: :poop: test
  text.txt
Due: none

feat: :poop: test 2
  .gitignore
  text.txt
Due: none

chore: :loud_sound: Update dev logger
  apps/server/src/utils/logger.js
Due: pnpm run format --filter server

Path conditions:
  pnpm run format --filter client: any of: **/client/**/*.{js,ts,vue}
  pnpm run format:style --filter client: any of: **/client/**/*.{vue,css}
  pnpm run format --filter server: any of: **/server/**/*.{js,cjs,ts}
  pnpm run format --filter shared: any of: **/shared/**/*.{js,cjs,ts}
  pnpm run format --filter cypress: any of: **/cypress/**/*.{js,cjs,ts}
