Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

fix: :bug: reload user projects after hooks replay
  apps/client/src/stores/admin/project.spec.ts
  apps/client/src/stores/admin/project.ts
  apps/client/src/stores/project.spec.ts
  apps/client/src/stores/project.ts
  apps/client/src/views/admin/ListProjects.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

feat: :safety_vest: allow + sign for repo externalUserName
  apps/client/cypress/components/specs/repo-form.ct.ts
  apps/client/cypress/e2e/specs/repos.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/src/components/RepoForm.vue
  packages/shared/src/schemas/repository.ts
  packages/shared/src/utils/schemas.spec.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter shared --

test: :white_check_mark: fix server unit tests
  apps/server/src/generate-files/controllers.spec.ts
  apps/server/vitest.config.ts
Due: pnpm run format --filter server --

fix: :ambulance: gitlab plugin deleted public repo secret
  plugins/gitlab/package.json
  plugins/gitlab/src/repositories.ts
Due: none

fix: :ambulance: gitlab plugin deleted public repo secret
  plugins/gitlab/src/repositories.ts
Due: none

test: :wrench: update to vitest 1.4
  apps/server/package.json
  apps/server/vite.config.ts
  apps/server/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm run format --filter server --

feat: :sparkles: add sonar properties var file to gitlab
  plugins/sonarqube/package.json
  plugins/sonarqube/src/functions.ts
  plugins/sonarqube/src/index.ts
  plugins/sonarqube/src/project.ts
Due: none

build: :green_heart: add sonar test
  .gitlab-ci-dso.yml
Due: none

fix: :zap: manage hook concurrency execution
  apps/server/src/utils/hook-wrapper.ts
  apps/server/src/utils/mocks.ts
  apps/server/src/utils/proxy.spec.ts
  apps/server/src/utils/proxy.ts
Due: pnpm run format --filter server --

ci: :green_heart: upgrade cypress to fix firefox broken tests
  apps/client/package.json
  pnpm-lock.yaml
Due: none

ci: :construction_worker: add postgres annotations in helm chart
  helm/templates/deployment-postgres.yaml
  helm/values.yaml
Due: none

fix: :ambulance: change kubernetes logic
  plugins/kubernetes/package.json
  plugins/kubernetes/src/class.ts
Due: none

refactor: :recycle: add zone label in some plugins resources
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/resources/project/queries.ts
  packages/hooks/src/hooks/index.ts
  plugins/argocd/package.json
  plugins/argocd/src/cluster.ts
  plugins/kubernetes/package.json
  plugins/kubernetes/src/class.ts
  plugins/kubernetes/src/namespace.ts
Due: pnpm run format --filter server --

refactor: :recycle: add zone label in some plugins resources
  apps/client/src/components/ZoneForm.vue
  apps/server/src/prisma/migrations/20240329172938_dso/migration.sql
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/resources/project/queries.ts
  packages/hooks/src/hooks/index.ts
  plugins/argocd/package.json
  plugins/argocd/src/cluster.ts
  plugins/kubernetes/package.json
  plugins/kubernetes/src/class.ts
  plugins/kubernetes/src/namespace.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --

fix: :bug: app version in client footer
  apps/client/vite.config.ts
Due: pnpm run format --filter client --

ci: :construction_worker: restore all files on unit tests cache hit
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
Due: none

feat: :safety_vest: allow unlogged users to access services health
  apps/client/cypress/e2e/specs/services-health.e2e.ts
  apps/client/src/api/xhr-client.ts
  apps/client/src/components/SideMenu.vue
  apps/client/src/router/index.ts
  apps/server/src/resources/service/business.ts
  apps/server/src/resources/service/controllers.spec.ts
  apps/server/src/resources/service/router.ts
  apps/server/src/utils/keycloak.ts
  packages/test-utils/src/utils/random-utils.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --

refactor: :label: changes data.ts structure and imports
  apps/server/src/init/db/index.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter server --

feat: :safety_vest: check existing zone slug before creating one
  apps/client/cypress/e2e/specs/admin/zones.e2e.ts
  apps/server/src/resources/zone/admin/business.ts
  apps/server/src/resources/zone/admin/controllers.spec.ts
  apps/server/src/resources/zone/admin/queries.ts
Due: pnpm run format --filter client --, pnpm run format --filter server --

fix: :lock: remove old robot permission that harbor does not support anymore
  plugins/harbor/src/robot.ts
Due: none

fix: :bug: handle stage and zone changes in environment form
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/src/components/EnvironmentForm.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

fix: :bug: get only client app version from env on production build
  apps/client/vite.config.ts
Due: pnpm run format --filter client --

refactor: :art: add ts-rest to generate api in client
  apps/client/package.json
  apps/client/src/App.vue
  apps/client/src/api/api.spec.ts
  apps/client/src/api/api.ts
  apps/client/src/api/projects.spec.ts
  apps/client/src/api/projects.ts
  apps/client/src/api/users.spec.ts
  apps/client/src/api/users.ts
  apps/client/src/api/xhr-client.spec.ts
  apps/client/src/api/xhr-client.ts
  apps/client/src/components/DsoSnackbar.vue
  apps/client/src/components/SideMenu.vue
  apps/client/src/stores/admin/cluster.spec.ts
  apps/client/src/stores/admin/log.spec.ts
  apps/client/src/stores/admin/organization.spec.ts
  apps/client/src/stores/admin/project.spec.ts
  apps/client/src/stores/admin/quota.spec.ts
  apps/client/src/stores/admin/stage.spec.ts
  apps/client/src/stores/admin/zone.spec.ts
  apps/client/src/stores/ci-files.spec.ts
  apps/client/src/stores/organization.spec.ts
  apps/client/src/stores/project-environment.spec.ts
  apps/client/src/stores/project-permission.spec.ts
  apps/client/src/stores/project-repository.spec.ts
  apps/client/src/stores/project-user.spec.ts
  apps/client/src/stores/project.spec.ts
  apps/client/src/stores/services.spec.ts
  apps/client/src/stores/snackbar.spec.ts
  apps/client/src/stores/user.spec.ts
  apps/client/src/stores/zone.spec.ts
  apps/server/package.json
  apps/server/src/app.ts
  apps/server/src/utils/keycloak.ts
  packages/shared/package.json
  packages/shared/src/api-client.ts
  packages/shared/src/contracts/user.ts
  packages/shared/src/schemas/project.ts
  pnpm-lock.yaml
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

docs: :memo: update readme
  README.md
Due: none

feat: :seedling: Adding internal helm charts for resources managed by the console
  helm-charts-internal/README.md
  helm-charts-internal/dso-env/Chart.yaml
  helm-charts-internal/dso-env/example-values.yaml
  helm-charts-internal/dso-env/templates/application-app.yaml
  helm-charts-internal/dso-env/templates/application-env.yaml
  helm-charts-internal/dso-env/templates/project-app.yaml
  helm-charts-internal/dso-env/templates/project-env.yaml
  helm-charts-internal/dso-ns-resources/Chart.yaml
  helm-charts-internal/dso-ns-resources/example-values.yaml
  helm-charts-internal/dso-ns-resources/templates/ns.yaml
  helm-charts-internal/dso-ns-resources/templates/quota.yaml
  helm-charts-internal/root-application-example.yaml
Due: none

feat: :sparkles: add standalone repo
  apps/client/package.json
  apps/client/src/components/RepoForm.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/server/src/prisma/migrations/20240415082430_dso/migration.sql
  apps/server/src/prisma/schema.prisma
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/repository/queries.ts
  packages/hooks/src/hooks/hook-project.ts
  packages/hooks/src/hooks/index.ts
  packages/shared/src/schemas/repository.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/shared/src/utils/types.ts
  packages/test-utils/src/imports/data.ts
  plugins/gitlab/src/repositories.ts
  pnpm-lock.yaml
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

fix: :ambulance: gitlab secret
  plugins/gitlab/package.json
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/repositories.ts
  plugins/vault/package.json
  plugins/vault/src/class.ts
Due: none

Path conditions:
  pnpm run format --filter client --: any of: **/client/**/*.{js,ts,vue,cjs}
  pnpm run format:style --filter client --: any of: **/client/**/*.{vue,css}
  pnpm run format --filter server --: any of: **/server/**/*.{js,cjs,ts}
  pnpm run format --filter shared --: any of: **/shared/**/*.{js,cjs,ts}
