Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :zap: do not send to hook clusters that had never been used by project
  apps/server/src/prisma/migrations/20240612123132_dso/migration.sql
  apps/server/src/prisma/schema.prisma
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/utils/hook-wrapper.spec.ts
  apps/server/src/utils/hook-wrapper.ts
Due: pnpm run format --filter server --

fix: :bug: handle vault ha for status monitor
  plugins/vault/package.json
  plugins/vault/src/monitor.ts
Due: none

refactor: :label: improve project stages and environment contracts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/router.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/stage/business.ts
  packages/shared/src/contracts/environment.ts
  packages/shared/src/schemas/environment.ts
  packages/shared/src/utils/const.ts
Due: pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :recycle: optimize business and improve quota / stage contracts
  apps/server/src/resources/quota/admin/business.ts
  apps/server/src/resources/quota/admin/controllers.spec.ts
  apps/server/src/resources/quota/queries.ts
  apps/server/src/resources/stage/admin/business.ts
  apps/server/src/resources/stage/admin/controllers.spec.ts
  apps/server/src/resources/stage/queries.ts
  packages/shared/src/schemas/quota.ts
  packages/shared/src/schemas/stage.ts
Due: pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :label: log types
  apps/server/src/resources/log/admin/router.ts
  packages/shared/src/contracts/log.ts
Due: pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :card_file_box: add missing script to set start values of ProjectClusterHistory table
  apps/server/src/connect.ts
  apps/server/src/init/db/index.ts
  apps/server/src/prisma/migrations/20240614222908_dso/migration.sql
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter server --

refactor: :label: fix lasts ts errors
  apps/server/src/connect.ts
  apps/server/src/generate-files/router.ts
  apps/server/src/init/db/index.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/system/db/controllers.ts
  apps/server/src/resources/zone/admin/business.ts
  apps/server/src/resources/zone/admin/queries.ts
  apps/server/src/utils/controller.ts
  apps/server/src/utils/env.ts
  apps/server/src/utils/fastify.ts
  apps/server/src/utils/proxy.ts
  apps/server/src/utils/queries-tools.ts
  apps/server/tsconfig.json
Due: pnpm run format --filter server --

feat: :sparkles: add user leo poumailloux
  ci/helm-utils/templates/cm-keycloak.yaml
  keycloak/realms/realm-dev.json
Due: none

fix: :bug: interface suppression & add explication
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoDashboard.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

chore: :arrow_up: upgrade pnpm
  apps/client/cypress/e2e/specs/tos.e2e.ts
  apps/client/src/App.vue
  apps/client/src/main.css
  apps/client/src/router/index.ts
  apps/client/src/views/DsoTos.vue
  ci/kind/env/dso-values.yaml
  docker/docker-compose.dev.yml
  docker/docker-compose.local.yml
  docker/docker-compose.prod.yml
  keycloak/realms/realm-dev.json
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

refactor: :recycle: smaller api call for projects
  apps/client/src/api/environments.ts
  apps/client/src/stores/project-environment.ts
  apps/client/src/stores/project-repository.ts
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/environment/router.ts
  apps/server/src/resources/project/admin/business.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/repository/router.ts
  packages/shared/src/contracts/environment.ts
  packages/shared/src/schemas/environment.ts
  packages/shared/src/schemas/project.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :fire: use implicit relation for quota and stage
  apps/client/cypress/e2e/specs/environments.e2e.ts
Due: pnpm run format --filter client --

refactor: :fire: use implicit relation for quota and stage
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/stores/admin/stage.ts
  apps/client/src/stores/zone.ts
  apps/server/src/plugins.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --

chore: :technologist: comment keycloak dsfr in compose
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
Due: none

feat: :sparkles: truncate description
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/src/views/admin/ListProjects.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

feat: :art: change subpath of deployments
  plugins/argocd/src/functions.ts
Due: none

fix: :bug: prevent env deletion if project is locked
  apps/client/cypress/e2e/specs/dashboard.e2e.ts
  apps/client/src/components/EnvironmentForm.vue
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.spec.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --

fix: :bug: prevent env deletion if project is locked
  apps/client/cypress/e2e/specs/dashboard.e2e.ts
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/cypress/e2e/specs/repos.e2e.ts
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/RepoForm.vue
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/repository/controllers.spec.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --

refactor: :recycle: smaller api call for projects
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/src/api/environments.ts
  apps/client/src/stores/project-environment.ts
  apps/client/src/stores/project-repository.ts
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/environment/router.ts
  apps/server/src/resources/project/admin/business.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/repository/router.ts
  packages/shared/src/contracts/environment.ts
  packages/shared/src/schemas/environment.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :recycle: remove @ts-ignore
  apps/server/src/resources/cluster/admin/business.ts
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/resources/index-admin.ts
  apps/server/src/resources/index.ts
  apps/server/src/resources/organization/business.ts
  apps/server/src/resources/organization/router.ts
  apps/server/src/resources/permission/business.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/router.ts
  apps/server/src/resources/repository/router.ts
  apps/server/src/resources/stage/admin/controllers.spec.ts
  apps/server/src/resources/system/config/router.ts
  apps/server/src/resources/system/db/controllers.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/role-queries.ts
  apps/server/src/utils/queries-tools.spec.ts
  apps/server/src/utils/queries-tools.ts
  apps/server/src/utils/response.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/repository.ts
  packages/shared/src/schemas/stage.ts
  packages/shared/src/schemas/zone.ts
  packages/shared/src/utils/schemas.spec.ts
Due: pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :fire: simplify api calls functions
  apps/client/src/api/clusters.ts
  apps/client/src/api/environments.ts
  apps/client/src/api/files.ts
  apps/client/src/api/index.ts
  apps/client/src/api/logs.ts
  apps/client/src/api/organizations.ts
  apps/client/src/api/permissions.ts
  apps/client/src/api/plugins.ts
  apps/client/src/api/project-services.ts
  apps/client/src/api/projects.ts
  apps/client/src/api/quotas.ts
  apps/client/src/api/repositories.ts
  apps/client/src/api/services.ts
  apps/client/src/api/stages.ts
  apps/client/src/api/users.ts
  apps/client/src/api/zones.ts
  apps/client/src/stores/admin/cluster.ts
  apps/client/src/stores/admin/log.ts
  apps/client/src/stores/admin/organization.ts
  apps/client/src/stores/admin/project.ts
  apps/client/src/stores/admin/quota.ts
  apps/client/src/stores/admin/stage.ts
  apps/client/src/stores/admin/user.ts
  apps/client/src/stores/admin/zone.ts
  apps/client/src/stores/ci-files.ts
  apps/client/src/stores/cluster.ts
  apps/client/src/stores/organization.ts
  apps/client/src/stores/plugins.ts
  apps/client/src/stores/project-environment.ts
  apps/client/src/stores/project-permission.ts
  apps/client/src/stores/project-repository.ts
  apps/client/src/stores/project-services.spec.ts
  apps/client/src/stores/project-services.ts
  apps/client/src/stores/project-user.ts
  apps/client/src/stores/project.ts
  apps/client/src/stores/services-monitor.ts
  apps/client/src/stores/user.ts
  apps/client/src/stores/users.ts
  apps/client/src/stores/zone.ts
Due: pnpm run format --filter client --

refactor: :recycle: change store logic
  apps/client/cypress/components/specs/environment-form.ct.ts
  apps/client/cypress/components/specs/quota-form.ct.ts
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/stores/admin/project.spec.ts
  apps/client/src/stores/admin/project.ts
  apps/client/src/stores/project-environment.spec.ts
  apps/client/src/stores/project-environment.ts
  apps/client/src/stores/quota.spec.ts
  apps/client/src/stores/quota.ts
  apps/client/src/stores/stage.spec.ts
  apps/client/src/stores/stage.ts
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/admin/ListQuotas.vue
  apps/client/src/views/admin/ListStages.vue
  apps/client/src/views/projects/DsoDashboard.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

feat: :sparkles: give project ownership
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/team.e2e.ts
  apps/client/src/components/TeamCt.vue
  apps/client/src/main.ts
  apps/client/src/stores/project-user.ts
  apps/client/src/stores/user.spec.ts
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/controllers.spec.ts
  apps/server/src/resources/user/role-queries.ts
  apps/server/src/resources/user/router.ts
  packages/shared/src/contracts/user.ts
  packages/shared/src/schemas/user.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

fix: :bug: support slashes in syncRepository branchName
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/repos.e2e.ts
  apps/client/src/stores/project-repository.ts
  apps/server/src/resources/repository/controllers.spec.ts
  apps/server/src/resources/repository/router.ts
  packages/shared/src/contracts/repository.ts
  packages/shared/src/schemas/repository.ts
Due: pnpm run format --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

ci: :construction_worker: use docker for e2 ci
  .github/workflows/tests-e2e.yml
  apps/client/package.json
  ci/scripts/run-tests.sh
  docker/docker-compose.ci.yml
  package.json
Due: none

ci: :construction_worker: run e2e tests with docker instead of kube
  .github/workflows/tests-e2e.yml
  apps/client/package.json
  ci/act/workflows/tests-e2e.yml
  ci/scripts/run-tests.sh
  package.json
Due: none

chore: :arrow_up: upgrade nodejs to v20.15.0
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  .lintstagedrc
  .prototools
  README.md
  apps/client/Dockerfile
  apps/client/cypress/components/specs/repo-form.ct.ts
  apps/server/Dockerfile
  apps/server/migrate-db.sh
  package.json
Due: pnpm run format --filter client --

chore: ⬆️ upgrade dep for release
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  .prototools
  apps/client/Dockerfile
  apps/client/package.json
  apps/server/Dockerfile
  apps/server/package.json
  package.json
  packages/hooks/package.json
  packages/shared/package.json
  packages/test-utils/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
  turbo.json
Due: none

refactor: :fire: use implicit relation for quota and stage
  apps/client/cypress/e2e/specs/admin/quotas.e2e.ts
  apps/server/src/app.ts
Due: pnpm run format --filter client --, pnpm run format --filter server --

refactor: :fire: use implicit relation for quota and stage
  apps/server/src/app.ts
  apps/server/src/resources/environment/controllers.spec.ts
  apps/server/src/resources/index.ts
  apps/server/src/resources/organization/admin/business.ts
  apps/server/src/resources/organization/admin/controllers.spec.ts
  apps/server/src/resources/organization/controllers.spec.ts
  apps/server/src/resources/permission/controllers.spec.ts
  apps/server/src/resources/project/admin/controllers.spec.ts
  apps/server/src/resources/project/controllers.spec.ts
  apps/server/src/resources/project/router.ts
  apps/server/src/resources/user/controllers.spec.ts
  packages/eslintconfig/index.js
  packages/shared/src/contracts/files.ts
  packages/shared/src/schemas/project.ts
  packages/test-utils/src/utils/random-project.ts
  packages/test-utils/src/utils/random-utils.ts
  turbo.json
Due: pnpm run format --filter server --, pnpm run format --filter shared --

ci: :bug: fix local e2e tests with docker
  package.json
Due: none

chore: :memo: add documentaion on schemas
  apps/server/src/resources/cluster/admin/controllers.spec.ts
  apps/server/src/resources/environment/controllers.spec.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/utils/schemas.spec.ts
Due: pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :rewind: should not delete projectIds
  packages/shared/src/schemas/cluster.ts
Due: pnpm run format --filter shared --

Revert "chore: :memo: add documentaion on schemas"
  apps/server/src/resources/cluster/admin/controllers.spec.ts
  apps/server/src/resources/environment/controllers.spec.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/utils/schemas.spec.ts
Due: pnpm run format --filter server --, pnpm run format --filter shared --

feat: :necktie: hide private quotas for all on environment form
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/admin/quotas.e2e.ts
  apps/client/src/components/EnvironmentForm.vue
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

style: :lipstick: rework cluster form
  apps/client/src/components/ClusterForm.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

chore: :arrow_up: Upgrade eslint & dependencies
  .vscode/settings.json
  apps/client/eslint.config.js
  apps/client/package.json
  apps/server/eslint.config.js
  apps/server/package.json
  package.json
  packages/eslintconfig/package.json
  packages/hooks/package.json
  packages/shared/package.json
  packages/test-utils/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/nexus/eslint.config.js
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
Due: pnpm run format --filter client --, pnpm run format --filter server --

Path conditions:
  pnpm run format --filter client --: any of: **/client/**/*.{js,ts,vue,cjs}
  pnpm run format:style --filter client --: any of: **/client/**/*.{vue,css}
  pnpm run format --filter server --: any of: **/server/**/*.{js,cjs,ts}
  pnpm run format --filter shared --: any of: **/shared/**/*.{js,cjs,ts}
