Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

fix: :mute: remove problematic log
  apps/server/src/utils/hook-wrapper.ts
Due: pnpm run format --filter server --

fix: :fire: remove unjustified refine
  apps/server/src/resources/cluster/admin/business.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/utils/schemas.spec.ts
Due: pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :zap: regroup all commits
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
Due: none

fix: :bug: fix update cluster
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/utils/hook-wrapper.ts
Due: pnpm run format --filter server --

build: :arrow_up: update pnpm
  apps/client/Dockerfile
  apps/server/Dockerfile
  package.json
Due: none

fix: :bug: stores should have unique names
  apps/client/cypress/components/specs/services-config.ct.ts
  apps/client/src/components/ServicesConfig.vue
  apps/client/src/stores/project-services.spec.ts
  apps/client/src/stores/project-services.ts
  apps/client/src/stores/services-monitor.ts
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoServices.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

refactor: :lipstick: sort services
  apps/client/src/components/ServicesConfig.vue
  apps/client/src/views/projects/DsoServices.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

feat: :sparkles: handle keycloak admin group membership from console
  apps/client/cypress/e2e/specs/admin/users.e2e.ts
  apps/client/src/App.vue
  apps/client/src/api/users.ts
  apps/client/src/components/TeamCt.vue
  apps/client/src/stores/admin/user.ts
  apps/client/src/stores/user.spec.ts
  apps/client/src/stores/user.ts
  apps/client/src/views/DsoHome.vue
  apps/client/src/views/admin/ListOrganizations.vue
  apps/client/src/views/admin/ListUser.vue
  apps/client/src/views/projects/DsoServices.vue
  apps/server/src/resources/user/admin/business.ts
  apps/server/src/resources/user/admin/controllers.spec.ts
  apps/server/src/resources/user/admin/router.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/utils/hook-wrapper.ts
  apps/server/src/utils/mocks.ts
  packages/hooks/src/hooks/hook-misc.ts
  packages/hooks/src/hooks/hook-user.ts
  packages/hooks/src/hooks/index.ts
  packages/shared/src/contracts/user.ts
  packages/shared/src/schemas/user.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/group.ts
  plugins/keycloak/src/index.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :art: remove sessions via keycloak not front
  apps/client/src/views/admin/ListUser.vue
  plugins/keycloak/src/functions.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

fix: :ambulance: unhandled promise gitlab
  plugins/gitlab/src/user.ts
Due: none

fix: :ambulance: possible missed clusters in payload
  apps/server/src/resources/project/queries.ts
  apps/server/src/utils/hook-wrapper.spec.ts
  apps/server/src/utils/hook-wrapper.ts
Due: pnpm run format --filter server --

chore: :technologist: upgrade pgadmin to v8.5
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
  docker/docker-compose.local.yml
Due: none

fix: :bug: missing await and ambiguous message
  apps/client/cypress/e2e/specs/repos.e2e.ts
  apps/client/src/views/projects/DsoRepos.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

refactor: :fire: remove unused files
  apps/server/src/__mocks__/app.ts
  ci/scripts/init-project.sh
  helm/templates/services-postgres.yaml
Due: pnpm run format --filter server --

feat: :sparkles: create a user usable robot for harbor
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/package.json
  packages/hooks/src/hooks/hook.ts
  packages/shared/package.json
  packages/shared/src/schemas/config.ts
  plugins/harbor/package.json
  plugins/harbor/src/functions.ts
  plugins/harbor/src/index.ts
  plugins/harbor/src/infos.ts
  plugins/harbor/src/robot.ts
  plugins/harbor/src/utils.ts
Due: pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :recycle: improve integration env vars management
  .gitignore
  README.md
  apps/server/.env.integ-example
  ci/kind/env/dso-values-dev.yaml
  ci/kind/env/dso-values-integ-example.yaml
  ci/kind/env/dso-values.yaml
  ci/kind/env/kind-values.example.yml
  ci/kind/run-create.sh
  ci/kind/run.sh
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
  docker/docker-compose.prod.yml
  env/.env.integ-example
  package.json
Due: none

feat: :sparkles: customize keycloak theme
  ci/helm-utils/templates/cm-keycloak.yaml
  ci/kind/env/dso-values.yaml
  docker/docker-compose.dev.yml
  docker/docker-compose.local.yml
  docker/docker-compose.prod.yml
  keycloak/realms/realm-dev.json
Due: none

ci: :construction_worker: do not copy example env file if target exists
  ci/kind/env/dso-values.yaml
  ci/scripts/init-env.sh
  docker/docker-compose.dev.yml
  docker/docker-compose.local.yml
  docker/docker-compose.prod.yml
Due: none

chore: :lipstick: upgrade keycloak theme dsfr
  ci/kind/env/dso-values.yaml
  docker/docker-compose.dev.yml
  docker/docker-compose.local.yml
  docker/docker-compose.prod.yml
Due: none

chore: :technologist: use latest pgadmin version
  ci/helm-utils/values.yaml
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
  docker/docker-compose.local.yml
Due: none

docs: :memo: add console screenshots in readme
  README.md
  misc/images/environments.png
  misc/images/members.png
  misc/images/projects.png
  misc/images/repositories.png
  misc/images/services.png
  misc/images/status.png
Due: none

chore: :pencil2: fix kube dev helm values for keycloak
  ci/kind/env/dso-values.yaml
Due: none

chore: :bug: add missing env for docker integ build
  package.json
Due: none

fix: :ambulance: update public cluster ignored stageIds
  apps/server/src/resources/cluster/admin/business.ts
Due: pnpm run format --filter server --

fix: :bug: update cluster logic
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/server/src/resources/cluster/admin/business.ts
  apps/server/src/resources/cluster/admin/controllers.spec.ts
  apps/server/src/resources/cluster/queries.ts
Due: pnpm run format --filter client --, pnpm run format --filter server --

feat: :sparkles: option for gitlab display secret
  plugins/gitlab/package.json
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/infos.ts
  plugins/gitlab/src/utils.ts
Due: none

refactor: :art: improve org Vue
  apps/client/src/views/admin/ListOrganizations.vue
  packages/shared/src/schemas/organization.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter shared --

refactor: :art: common At Schemas
  packages/shared/src/contracts/log.ts
  packages/shared/src/schemas/organization.ts
  packages/shared/src/schemas/user.ts
  packages/shared/src/schemas/utils.ts
Due: pnpm run format --filter shared --

fix: :bug: fallback if no owners are found
  apps/client/src/views/admin/ListProjects.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

style: :label: improve types in utils functions
  packages/shared/package.json
  packages/shared/src/utils/functions.ts
Due: pnpm run format --filter shared --

refactor: :art: generic types for plugins declare module
  packages/hooks/src/utils/utils.ts
Due: none

refactor: :recycle: typing and refactor
  apps/client/src/components/DsoBadge.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoDashboard.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

Path conditions:
  pnpm run format --filter client --: any of: **/client/**/*.{js,ts,vue,cjs}
  pnpm run format:style --filter client --: any of: **/client/**/*.{vue,css}
  pnpm run format --filter server --: any of: **/server/**/*.{js,cjs,ts}
  pnpm run format --filter shared --: any of: **/shared/**/*.{js,cjs,ts}
