Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

test: :white_check_mark: fix repositories tests
  apps/client/cypress/e2e/specs/repos.e2e.ts
  apps/client/src/components/RepoForm.vue
  apps/server/src/resources/repository/router.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --

feat: :art: use stores for api calls
  apps/client/src/stores/ci-files.spec.ts
  apps/client/src/views/admin/ListProjects.vue
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

test: :white_check_mark: fix zone test
  apps/client/cypress/components/specs/zone-form.ct.ts
  apps/client/cypress/e2e/specs/admin/zones.e2e.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter @cpn-console/client --

test: :white_check_mark: fix team tests
  apps/client/cypress/e2e/specs/team.e2e.ts
  apps/client/cypress/e2e/support/func.ts
  apps/client/src/components/TeamCt.vue
  apps/server/src/resources/project-member/business.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --

test: :white_check_mark: fix shared tests
  apps/client/src/stores/user.spec.ts
  packages/shared/src/utils/schemas.spec.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format --filter @cpn-console/shared --

build: :bookmark: bump packages versions
  .github/workflows/npm.yml
  packages/hooks/package.json
  packages/shared/package.json
  plugins/gitlab/package.json
  plugins/kubernetes/package.json
  plugins/nexus/package.json
Due: none

test: :white_check_mark: fix organizations tests
  apps/client/cypress/e2e/specs/admin/organizations.e2e.ts
  apps/server/src/utils/errors.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --

refactor: :white_check_mark: fix sync repo test for new feature
  apps/server/src/resources/repository/router.spec.ts
Due: pnpm run format --filter @cpn-console/server --

test: :white_check_mark: environments e2e
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/ZoneForm.vue
  apps/client/src/stores/zone.spec.ts
  apps/client/src/stores/zone.ts
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/resources/cluster/business.ts
  apps/server/src/resources/environment/business.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --

test: :white_check_mark: repair existing e2e test
  apps/client/cypress/e2e/specs/create-project.e2e.ts
  apps/client/cypress/e2e/specs/dashboard.e2e.ts
  apps/client/src/views/projects/DsoDashboard.vue
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

refactor: :zap: revert feature on admin perms
  apps/client/public/img/logo-marianne.png
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ChoiceSelector.vue
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/QuotaForm.vue
  apps/client/src/components/SideMenu.vue
  apps/client/src/components/StageForm.vue
  apps/client/src/icons.ts
  apps/client/src/stores/services-monitor.ts
  apps/client/src/stores/users.ts
  apps/client/src/views/ServicesHealth.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/server/src/app.ts
  apps/server/src/resources/admin-role/router.ts
  apps/server/src/resources/cluster/router.ts
  apps/server/src/resources/environment/router.ts
  apps/server/src/resources/log/router.ts
  apps/server/src/resources/organization/router.ts
  apps/server/src/resources/project-role/router.ts
  apps/server/src/resources/project-service/router.ts
  apps/server/src/resources/project/router.ts
  apps/server/src/resources/quota/router.ts
  apps/server/src/resources/stage/router.ts
  apps/server/src/resources/system/config/router.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/router.ts
  apps/server/src/resources/zone/router.ts
  packages/shared/src/contracts/user.ts
  packages/shared/src/utils/permissions.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --, pnpm run format --filter @cpn-console/shared --

test: :test_tube: fix quota e2e
  apps/client/cypress/e2e/specs/admin/quotas.e2e.ts
  apps/client/src/components/QuotaForm.vue
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

test: :white_check_mark: fix hook-wrapper test
  apps/server/src/utils/hook-wrapper.spec.ts
  apps/server/src/utils/hook-wrapper.ts
Due: pnpm run format --filter @cpn-console/server --

test: :white_check_mark: fix client unit tests
  apps/client/src/stores/project-member.spec.ts
  apps/client/src/stores/project-permission.spec.ts
  apps/client/src/stores/project-permission.ts
  apps/client/src/stores/services-monitor.ts
  apps/client/src/stores/user.spec.ts
Due: pnpm run format --filter @cpn-console/client --

style: :fire: fix linter issues
  apps/client/src/router/index.ts
  apps/server/src/prepare-app.spec.ts
  apps/server/src/resources/stage/business.spec.ts
  apps/server/src/resources/system/settings/router.spec.ts
  apps/server/src/utils/mocks.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --

test: :white_check_mark: fix ct tests
  apps/client/cypress/components/specs/environment-form.ct.ts
  apps/client/cypress/components/specs/quota-form.ct.ts
  apps/client/cypress/components/specs/repo-form.ct.ts
  apps/client/cypress/components/specs/team-ct.ct.ts
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/QuotaForm.vue
  apps/client/src/components/TeamCt.vue
  packages/test-utils/src/imports/data.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

test: :test_tube: orgs e2e
  apps/client/cypress/e2e/specs/admin/organizations.e2e.ts
Due: pnpm run format --filter @cpn-console/client --

fix: :test_tube: users admin
  apps/client/cypress/e2e/specs/admin/users.e2e.ts
  apps/client/cypress/e2e/specs/admin/zones.e2e.ts
  apps/client/cypress/e2e/specs/permissions.e2e.ts
  apps/client/src/views/admin/ListUser.vue
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

refactor: :children_crossing: add snackbar for auto-save
  apps/client/src/views/admin/AdminRoles.vue
  apps/client/src/views/projects/DsoRoles.vue
  packages/shared/src/utils/permissions.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/shared --

test: :test_tube: logs
  apps/client/cypress/e2e/specs/admin/logs.e2e.ts
Due: pnpm run format --filter @cpn-console/client --

refactor: :monocle_face: fix data.ts for new admin role oidc policy
  packages/test-utils/src/imports/data.ts
Due: none

fix: :test_tube: quota e2e
  apps/client/cypress/e2e/specs/admin/logs.e2e.ts
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/admin/quotas.e2e.ts
  apps/client/cypress/e2e/specs/admin/system-settings.e2e.ts
  apps/client/cypress/e2e/specs/redirection.e2e.ts
Due: pnpm run format --filter @cpn-console/client --

fix: :test_tube: fix stages e2e
  apps/client/cypress/e2e/specs/admin/quotas.e2e.ts
  apps/client/cypress/e2e/specs/admin/stages.e2e.ts
Due: pnpm run format --filter @cpn-console/client --

test: :white_check_mark: fix admin projects tests
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
Due: pnpm run format --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --

fix: :test_tube: fix user e2e
  apps/client/cypress/e2e/specs/admin/users.e2e.ts
  apps/client/src/views/admin/ListUser.vue
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

refactor: :recycle: rewrite of the Organization name placeholder in the organization create form
  apps/client/src/views/admin/ListOrganizations.vue
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

refactor: :recycle: parent admin check
  apps/client/src/App.vue
  apps/client/src/router/index.ts
  apps/client/src/stores/user.spec.ts
  apps/client/src/stores/user.ts
  apps/client/src/views/admin/DsoAdmin.vue
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

refactor: :recycle: fix system-setting e2e caus rework redirect in this PR
  apps/client/cypress/e2e/specs/admin/system-settings.e2e.ts
Due: pnpm run format --filter @cpn-console/client --

test: :test_tube: add roles test
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/cypress/e2e/specs/admin/roles.e2e.ts
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ChoiceSelector.vue
  apps/client/src/components/ConfigParam.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/views/admin/AdminRoles.vue
  apps/client/src/views/admin/ListPlugins.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoRoles.vue
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

refactor: :art: suggestionInput include addButton
  apps/client/cypress/e2e/specs/admin/roles.e2e.ts
  apps/client/src/api/xhr-client.ts
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/SuggestionInput.vue
  apps/client/src/components/TeamCt.vue
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

test: :test_tube: add roles test
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/cypress/e2e/specs/admin/roles.e2e.ts
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ChoiceSelector.vue
  apps/client/src/components/ConfigParam.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/SuggestionInput.vue
  apps/client/src/components/TeamCt.vue
  apps/client/src/views/admin/AdminRoles.vue
  apps/client/src/views/admin/ListPlugins.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoRoles.vue
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

refactor: :test_tube: refactor admin project e2e
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/SuggestionInput.vue
  apps/client/src/utils/func.ts
  apps/client/src/views/admin/ListProjects.vue
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

fix: :bug: transfertSelectOptions and more
  apps/client/src/components/TeamCt.vue
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --

test: :white_check_mark: fix client unit tests and repair previous e2e
  .github/workflows/npm.yml
  apps/client/cypress/components/specs/environment-form.ct.ts
  apps/client/cypress/components/specs/quota-form.ct.ts
  apps/client/cypress/components/specs/repo-form.ct.ts
  apps/client/cypress/components/specs/team-ct.ct.ts
  apps/client/cypress/e2e/specs/create-project.e2e.ts
  apps/client/cypress/e2e/specs/dashboard.e2e.ts
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/QuotaForm.vue
  apps/client/src/components/TeamCt.vue
  apps/client/src/router/index.ts
  apps/client/src/stores/project-member.spec.ts
  apps/client/src/stores/project-permission.spec.ts
  apps/client/src/stores/project-permission.ts
  apps/client/src/stores/services-monitor.ts
  apps/client/src/stores/user.spec.ts
  apps/client/src/stores/user.ts
  apps/client/src/views/projects/DsoDashboard.vue
  apps/server/src/prepare-app.spec.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/repository/router.spec.ts
  apps/server/src/resources/stage/business.spec.ts
  apps/server/src/resources/system/config/business.ts
  apps/server/src/resources/system/settings/router.spec.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/utils/mocks.ts
  apps/server/src/utils/proxy.ts
  packages/hooks/package.json
  packages/shared/package.json
  packages/test-utils/src/imports/data.ts
  plugins/gitlab/package.json
  plugins/kubernetes/package.json
  plugins/nexus/package.json
Due: pnpm run format --filter @cpn-console/client --, pnpm run format:style --filter @cpn-console/client --, pnpm run format --filter @cpn-console/server --

fix: :ambulance: missed admin authorized to remove a member
  apps/server/src/resources/project-member/router.ts
Due: pnpm run format --filter @cpn-console/server --

Path conditions:
  pnpm run format --filter @cpn-console/client --: any of: **/client/**/*.{js,ts,vue,cjs}
  pnpm run format:style --filter @cpn-console/client --: any of: **/client/**/*.{vue,css}
  pnpm run format --filter @cpn-console/server --: any of: **/server/**/*.{js,cjs,ts}
  pnpm run format --filter @cpn-console/shared --: any of: **/shared/**/*.{js,cjs,ts}
