Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

test: :test_tube: try to fix failed to dynamicaly import module error
  apps/client/cypress/components/specs/environment-form.ct.ts
  apps/client/cypress/components/specs/repo-form.ct.ts
  apps/client/src/components/SideMenu.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

chore: 🐛 fix bad import
  apps/client/cypress.config.ts
  apps/client/cypress/components/specs/cluster-form.ct.ts
  apps/client/cypress/components/specs/environment-form.ct.ts
  apps/client/cypress/tsconfig.json
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/RepoForm.ct.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

refactor: :wrench: update vite config for new vue-dsfr imports
  .gitignore
  apps/client/.eslintrc-auto-import.json
  apps/client/.eslintrc.json
  apps/client/cypress.config.ts
  apps/client/cypress/components/specs/cluster-form.ct.ts
  apps/client/cypress/components/specs/environment-form.ct.ts
  apps/client/cypress/tsconfig.json
  apps/client/package.json
  apps/client/src/App.vue
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/components/QuotaForm.vue
  apps/client/src/components/RepoForm.ct.ts
  apps/client/src/components/RepoForm.vue
  apps/client/src/components/SideMenu.vue
  apps/client/src/components/StageForm.vue
  apps/client/src/components/TeamCt.vue
  apps/client/src/main.ts
  apps/client/src/router/index.ts
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/DsoDoc.vue
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/admin/ListQuotas.vue
  apps/client/src/views/admin/ListStages.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoProjects.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/DsoServices.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/client/vite.config.ts
  pnpm-lock.yaml
  turbo.json
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

chore: :label: patch keycloak lib
  apps/client/Dockerfile
  apps/server/Dockerfile
  package.json
  patches/fastify-keycloak-adapter@2.1.6.patch
  pnpm-lock.yaml
Due: none

build: :arrow_up: upgrade dependencies for release
  apps/client/.stylelintrc.cjs
  apps/client/Dockerfile
  apps/client/package.json
  apps/server/Dockerfile
  apps/server/package.json
  package.json
  packages/shared/package.json
  packages/test-utils/package.json
  pnpm-lock.yaml
Due: pnpm run format --filter client --

fix: :pushpin: pin axios version to avoid vite error
  apps/server/package.json
  pnpm-lock.yaml
Due: none

refactor: :recycle: handle front error in vue handler
  apps/client/src/App.vue
  apps/client/src/components/CIForm.vue
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/router/index.ts
  apps/client/src/utils/func.ts
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListLogs.vue
  apps/client/src/views/admin/ListOrganizations.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/admin/ListQuotas.vue
  apps/client/src/views/admin/ListStages.vue
  apps/client/src/views/admin/ListUser.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoProjects.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/client/src/views/projects/ManageEnvironments.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

fix: :goal_net: validate schema before creating repo or env
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.spec.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/repository/controllers.spec.ts
Due: pnpm run format --filter server --

refactor: :bug: add cluster name in DeleteEnvironment payload
  apps/server/src/plugins/hooks/index.ts
  apps/server/src/resources/environment/controllers.spec.ts
  apps/server/src/resources/environment/queries.ts
Due: pnpm run format --filter server --

refactor: :art: fix typescript errors in client
  apps/client/package.json
  apps/client/src/App.vue
  apps/client/src/components/CIForm.vue
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/components/RepoForm.vue
  apps/client/src/icons.ts
  apps/client/src/router/index.ts
  apps/client/src/stores/admin/project.ts
  apps/client/src/stores/project-permission.ts
  apps/client/src/stores/project-repository.ts
  apps/client/src/stores/project-user.ts
  apps/client/src/utils/keycloak/keycloak.ts
  apps/client/src/utils/regex.spec.ts
  apps/client/src/utils/regex.ts
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/NotFound.vue
  apps/client/src/views/projects/DsoProjects.vue
  pnpm-lock.yaml
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

chore: :arrow_up: upgrade node to LTS
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  apps/client/Dockerfile
  apps/client/src/components/RepoForm.ct.ts
  apps/server/Dockerfile
  ci/act/workflows/ci.yml
  package.json
Due: pnpm run format --filter client --

refactor: :bug: add cluster and stage names in DeleteEnvironment payload
  apps/server/src/plugins/hooks/environment.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.spec.ts
  apps/server/src/resources/environment/queries.ts
Due: pnpm run format --filter server --

test: :clown_face: bad faker type choice made repository unit test occasionally failed
  packages/test-utils/src/utils/random-utils.ts
Due: none

feat: :children_crossing: better ux for forms in tiles
  apps/client/cypress/e2e/support/commands.ts
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/QuotaForm.vue
  apps/client/src/components/RepoForm.vue
  apps/client/src/components/StageForm.vue
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/admin/ListQuotas.vue
  apps/client/src/views/admin/ListStages.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/ManageEnvironments.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

fix: :bug: share loadingct display knowledge
  apps/client/cypress/components/specs/stage-form.ct.ts
  apps/client/src/App.vue
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/QuotaForm.vue
  apps/client/src/components/RepoForm.vue
  apps/client/src/components/StageForm.vue
  apps/client/src/components/TeamCt.vue
  apps/client/src/stores/snackbar.ts
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/admin/ListQuotas.vue
  apps/client/src/views/admin/ListStages.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/client/src/views/projects/ManageEnvironments.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

build: :zap: change initcontainers image
  helm/templates/deployment-server.yaml
Due: none

refactor: :art: sonar reviews
  apps/server/package.json
  apps/server/src/plugins/external/.gitkeep
  apps/server/src/server.ts
  apps/server/src/utils/keycloak.ts
  ci/kind/upload-package.sh
  packages/hooks/README.md
  packages/hooks/src/index.ts
  packages/hooks/src/services.ts
  packages/shared/src/utils/plugins.ts
  plugins/argo/package.json
  plugins/argo/src/infos.ts
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/nexus/package.json
  plugins/nexus/src/monitor.ts
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
Due: pnpm run format --filter server --, pnpm run format --filter shared --

ci: :construction_worker: update ci caches with new plugins directory
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
Due: none

refactor: :recycle: fix monitor types and minor refactos
  apps/server/src/__mocks__/app.ts
  apps/server/src/plugins.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/service/business.ts
  apps/server/src/server.spec.ts
  apps/server/src/utils/env.ts
  apps/server/vite.config.ts
  ci/kind/upload-package.sh
  package.json
  packages/shared/src/utils/plugins.ts
  plugins/argo/src/index.ts
  plugins/argo/src/monitor.ts
  plugins/gitlab/src/monitor.ts
  plugins/harbor/src/monitor.ts
  plugins/nexus/src/monitor.ts
  plugins/sonarqube/src/monitor.ts
  plugins/sonarqube/src/tech.ts
  plugins/vault/src/monitor.ts
Due: pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :white_check_mark: edit e2e test
  apps/client/.eslintrc-auto-import.json
  apps/client/cypress/e2e/specs/services-health.e2e.ts
  apps/client/cypress/e2e/specs/services.e2e.ts
  apps/client/cypress/e2e/support/index.ts
  apps/client/src/views/ServicesHealth.vue
  apps/server/src/__mocks__/app.ts
  apps/server/src/resources/organization/admin/business.ts
  apps/server/src/resources/service/business.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --

feat: :necktie: do not fail and lock project for membership reasons
  apps/client/src/App.vue
  apps/server/src/resources/user/business.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --

docs: :memo: ajout d'une base de documentation sur le modèle actuel de droits
  misc/rights-rules.md
Due: none

chore: :technologist: improve dx by passing external plugin dir
  .gitignore
  ci/kind/configs/cluster/Chart.yaml
  ci/kind/configs/cluster/templates/kind-config.yml
  ci/kind/configs/cluster/values.yaml
  ci/kind/run-create.sh
  env/dso-values-dev.yaml
  env/kind-values.example.yml
Due: none

refactor: :bug: missed check directory
  ci/kind/run-create.sh
Due: none

fix: :test_tube: trying to fix ct test
  apps/client/vite.config.ts
Due: pnpm run format --filter client --

fix: :test_tube: trying to optimize dependancies for failing modules
  apps/client/vite.config.ts
Due: pnpm run format --filter client --

chore: :arrow_up: upgrade dependancies for release
  apps/client/package.json
  apps/client/vite.config.ts
  apps/server/package.json
  packages/shared/package.json
  packages/test-utils/package.json
  plugins/gitlab/src/project.ts
  plugins/gitlab/src/utils.ts
  pnpm-lock.yaml
Due: pnpm run format --filter client --

refactor: :recycle: enforce typescript:S6544 rule
  apps/server/src/plugins.ts
  pnpm-lock.yaml
Due: pnpm run format --filter server --

chore: :wrench: fix vscode config
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: none

refactor: :technologist: start implementing api generator system
  apps/client/package.json
  apps/server/package.json
  apps/server/src/app.ts
  apps/server/src/server.ts
  apps/server/src/utils/env.ts
  package.json
  pnpm-lock.yaml
Due: pnpm run format --filter server --

chore: :label: add missing schema
  apps/server/src/generate-files/controllers.ts
  packages/shared/src/resources/repository/openApiSchema.ts
Due: pnpm run format --filter server --, pnpm run format --filter shared --

Path conditions:
  pnpm run format --filter client --: any of: **/client/**/*.{js,ts,vue,cjs}
  pnpm run format:style --filter client --: any of: **/client/**/*.{vue,css}
  pnpm run format --filter server --: any of: **/server/**/*.{js,cjs,ts}
  pnpm run format --filter shared --: any of: **/shared/**/*.{js,cjs,ts}
