Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm --filter=@cpn-console/client run lint:style --",
  "**/apps/client/**/*": "pnpm --filter=@cpn-console/client run lint:ts --",
  "**/apps/server/**/*": "pnpm --filter=@cpn-console/server run lint --",
  "**/packages/**/*": "pnpm --filter=./packages/* run lint --",
  "**/plugins/**/*": "pnpm --filter=./plugins/* run lint --",
  "**/*": "pnpm run lint:root --"
}

chore(playwright): add full cross service e2e tests
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/views/admin/ListPlugins.vue
  playwright/e2e-tests/cross-services.spec.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

chore(ci): remove kubernetes execution context from scripts
  ci/scripts/run-tests.sh
Due: pnpm run lint:root --

chore(ci): use node.js v24
  .github/workflows/job-lint.yml
  .github/workflows/job-npm.yml
  .github/workflows/job-playwright.yml
  .github/workflows/job-tests-component.yml
  .github/workflows/job-tests-e2e.yml
  .github/workflows/job-tests-unit.yml
  .github/workflows/workflow-continuous-integration.yml
  .github/workflows/workflow-create-or-update-release.yml
Due: pnpm run lint:root --

chore(server-nestjs): align formatting rules on other packages
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.ts
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization.module.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/database-initialization.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/database-initialization.service.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/utils.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/utils.ts
  apps/server-nestjs/src/cpin-module/application-initialization/plugin-management/plugin-management.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/plugin-management/plugin-management.service.ts
  apps/server-nestjs/src/cpin-module/core/app/app.service.spec.ts
  apps/server-nestjs/src/cpin-module/core/app/app.service.ts
  apps/server-nestjs/src/cpin-module/core/core.module.ts
  apps/server-nestjs/src/cpin-module/core/fastify/fastify.service.spec.ts
  apps/server-nestjs/src/cpin-module/core/fastify/fastify.service.ts
  apps/server-nestjs/src/cpin-module/cpin.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/http-client/http-client.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/http-client/http-client.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/infrastructure.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/logger/logger.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/server/server.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/server/server.service.ts
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/src/prisma.ts
  apps/server-nestjs/test/app.e2e-spec.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore(ci): remove component tests from CI
  .github/workflows/job-tests-component.yml
  .github/workflows/workflow-continuous-integration.yml
Due: pnpm run lint:root --

fix(gitlab): iterate over pagination
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
  plugins/sonarqube/src/functions.ts
  plugins/sonarqube/src/user.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

feat(sonarqube): make admin group path configurable though console
  packages/shared/src/utils/const.ts
  plugins/sonarqube/src/functions.ts
  plugins/sonarqube/src/group.ts
  plugins/sonarqube/src/index.ts
  plugins/sonarqube/src/infos.ts
  plugins/sonarqube/src/project.ts
  plugins/sonarqube/src/user.ts
  plugins/sonarqube/src/utils.ts
Due: pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(admin-role): add logs Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/admin-role/business.ts
  apps/server/src/resources/admin-role/router.spec.ts
  apps/server/src/resources/admin-role/router.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

feat(gitlab): add builtin roles to GitLab
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-member.ts
  packages/hooks/src/hooks/hook-project-role.ts
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/infos.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
  plugins/keycloak/src/functions.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

refactor(hooks): merge projectmember and projectrole to project hook
  apps/server/src/resources/project-member/business.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/utils/hook-wrapper.spec.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-member.ts
  packages/hooks/src/hooks/hook-project-role.ts
  packages/hooks/src/hooks/hook-project.ts
  packages/hooks/src/hooks/index.ts
  plugins/argocd/src/functions.ts
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/members.ts
  plugins/gitlab/src/utils.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/index.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: remove turbo
  .github/workflows/job-lint.yml
  .github/workflows/job-npm.yml
  .github/workflows/job-tests-e2e.yml
  .github/workflows/job-tests-unit.yml
  .lintstagedrc
  README.md
  apps/server/Dockerfile
  ci/scripts/run-tests.sh
  package.json
  packages/eslintconfig/src/index.js
  pnpm-lock.yaml
  turbo.json
Due: pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

chore(ci): ensure internal dependencies are built before starting tests
  .github/workflows/job-playwright.yml
  pnpm-workspace.yaml
Due: pnpm run lint:root --

refactor(hooks): merge projectmember and projectrole to project hook
  apps/server/src/resources/project-member/business.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/utils/hook-wrapper.spec.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-member.ts
  packages/hooks/src/hooks/hook-project-role.ts
  packages/hooks/src/hooks/hook-project.ts
  packages/hooks/src/hooks/index.ts
  plugins/argocd/src/functions.ts
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/members.ts
  plugins/gitlab/src/utils.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/index.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix: add schedule trigger on mirror
  plugins/gitlab/files/.gitlab-ci.yml
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --
