Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter server, pnpm run format --filter shared, pnpm run format --filter cypress

.lintstagedrc:

{
  "**/client/**/*.{js,ts,vue}": "pnpm run format --filter client",
  "**/client/**/*.{vue,css}": "pnpm run format:style --filter client",
  "**/server/**/*.{js,cjs,ts}": "pnpm run format --filter server",
  "**/shared/**/*.{js,cjs,ts}": "pnpm run format --filter shared",
  "**/cypress/**/*.{js,cjs,ts}": "pnpm run format --filter cypress"
}

test: :clown_face: mock connection to db
  apps/server/src/connect.js
Due: pnpm run format --filter server

chore: :wrench: Update lintstaged config
  .lintstagedrc
Due: none

refactor: :recycle: Improve db interaction files in api
  apps/server/src/models/project-queries.js
  apps/server/src/models/project.js
Due: pnpm run format --filter server

test: :white_check_mark: Update tests to mock db
  apps/server/src/routes/project.spec.js
  apps/server/src/server.spec.js
  apps/server/src/utils/__tests__/random-util.js
Due: pnpm run format --filter server

build: :construction_worker: Update docker files
  apps/client/Dockerfile
  apps/server/Dockerfile
Due: none

style: :art: Update eslint conf & format files
  apps/server/.eslintrc.cjs
  apps/server/package.json
  apps/server/src/utils/date.cjs
  packages/shared/.eslintrc.cjs
  packages/shared/package.json
Due: pnpm run format --filter server, pnpm run format --filter shared

build: :construction_worker: Update docker files
  apps/client/Dockerfile
  apps/server/Dockerfile
  docker/docker-compose.dev.yml
Due: none

chore: :building_construction: Change shared package structure
  packages/shared/dev-setup/projects.json
  packages/shared/src/index.js
  packages/shared/src/projects/index.js
  packages/shared/src/projects/schema.js
  packages/shared/src/projects/utils.js
Due: pnpm run format --filter shared

chore: :hammer: Add initDb script
  apps/server/.eslintrc.cjs
  apps/server/dev-setup/create-project.js
  apps/server/dev-setup/init-db.js
  apps/server/package.json
  apps/server/src/connect.js
  apps/server/src/controllers/project.js
  apps/server/src/models/project-queries.js
  apps/server/src/routes/project.spec.js
  apps/server/src/server.js
  apps/server/src/server.spec.js
  apps/server/src/utils/__tests__/random-util.js
  pnpm-lock.yaml
Due: pnpm run format --filter server

chore: :truck: Rename variable managerName
  apps/client/src/views/OrderProject.vue
  apps/server/src/utils/__tests__/random-util.js
  packages/cypress/e2e/specs/orderProject.e2e.js
  packages/shared/src/projects/schema.js
Due: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter server, pnpm run format --filter shared, pnpm run format --filter cypress

fix: :bug: Fix init db error
  db/postgres/scripts/010-init-db.sql
Due: none

fix: :bug: Add case sensitivity for init deb script
  db/postgres/scripts/010-init-db.sql
  docker/docker-compose.dev.yml
Due: none

ci: :construction_worker: Continue ci even if conde scan fails
  .github/workflows/test.yml
Due: none

:wip: logout
  apps/client/src/router/index.js
  apps/client/src/stores/user.js
  apps/client/src/utils/keycloak/init-sso.js
  apps/client/src/views/DsoAuth.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

fix: :bug: kc logout
  apps/client/src/utils/keycloak/init-sso.js
Due: pnpm run format --filter client

feat: :heavy_plus_sign: Add fastify keycloak adapter
  apps/server/package.json
  pnpm-lock.yaml
Due: none

feat: :construction: (wip) trying to connect to keycloak with server
  apps/client/src/utils/keycloak/init-sso.js
  apps/server/src/app.js
  keycloak/realms/realm-test.json
Due: pnpm run format --filter client, pnpm run format --filter server

fix: update implicit flow in config keycloak
  keycloak/realms/realm-test.json
Due: none

fix: run with delay 10 second to wait keycloak initialize
  apps/server/src/app.js
  docker/docker-compose.dev.yml
Due: pnpm run format --filter server

fix: update gitignore for all node_modules
  .gitignore
Due: none

fix: update pnpm lock
  pnpm-lock.yaml
Due: none

fix: :construction: working on keyclock + pinia
  apps/client/src/api/xhr-client.js
  apps/client/src/router/index.js
  apps/client/src/stores/user.js
  apps/client/src/utils/keycloak/config-sso.js
  apps/client/src/utils/keycloak/init-sso.js
  apps/client/src/utils/keycloak/sso-config.js
  apps/client/vite.config.js
  apps/server/package.json
  apps/server/src/app.js
  apps/server/src/controllers/project.js
  docker/docker-compose.dev.yml
  keycloak/realms/realm-quickstart.json
  pnpm-lock.yaml
Due: pnpm run format --filter client, pnpm run format --filter server

feat: :construction: Configure keycloak for frontend
  apps/client/package.json
  apps/client/src/App.vue
  apps/client/src/api/xhr-client.js
  apps/client/src/api/xhr-client.spec.js
  apps/client/src/main.js
  apps/client/src/router/index.js
  apps/client/src/stores/user.js
  apps/client/src/utils/keycloak/config-sso.js
  apps/client/src/utils/keycloak/init-sso.js
  apps/server/package.json
  apps/server/src/app.js
  apps/server/src/controllers/project.js
  apps/server/src/utils/keycloak.js
  apps/server/vitest.config.js
  ci/act/docker/registry/docker-compose.registry.yml
  docker/docker-compose.dev.yml
  env/.env-example
  keycloak/realms/realm-quickstart.json
Due: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter server

fix: :construction: Fix init keycloak in frontend
  apps/client/.eslintrc.js
  apps/client/src/App.vue
  apps/client/src/main.js
  apps/client/src/router/index.js
  apps/client/src/stores/user.js
  apps/client/src/utils/keycloak/init-sso.js
Due: pnpm run format --filter client, pnpm run format:style --filter client

refactor: :coffin: Remove unused comments and bode blocks
  apps/client/src/api/xhr-client.spec.js
  apps/client/src/router/index.js
  apps/client/src/stores/user.js
  apps/client/src/utils/keycloak/config-sso.js
  apps/client/src/views/DsoAuth.vue
  apps/server/src/utils/keycloak.js
  docker/docker-compose.dev.yml
  packages/cypress/e2e/support/commands.js
Due: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter server, pnpm run format --filter cypress

test: :white_check_mark: Fix unit tests for client
  apps/client/src/api/api.js
  apps/client/src/api/api.spec.js
  apps/client/src/api/xhr-client.js
  apps/client/src/api/xhr-client.spec.js
Due: pnpm run format --filter client

test: :white_check_mark: Fix unit tests for server
  apps/server/package.json
  apps/server/src/app.spec.js
  apps/server/src/controllers/project.js
  apps/server/src/routes/project.spec.js
  apps/server/src/server.spec.js
  pnpm-lock.yaml
Due: pnpm run format --filter server

test: :white_check_mark: Fix e2e tests
  apps/client/src/main.js
  docker/docker-compose.dev.yml
Due: pnpm run format --filter client

feat: :card_file_box: Add owner from keycloak in project
  apps/client/src/components/SideMenu.vue
  apps/client/src/stores/user.js
  apps/client/src/utils/keycloak/init-sso.js
  apps/client/src/views/OrderProject.vue
  apps/server/src/controllers/project.js
  apps/server/src/utils/keycloak.js
  packages/shared/src/projects/schema.js
Due: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter server, pnpm run format --filter shared

refactor: :mute: Remove console log in keycloak
  apps/server/src/utils/keycloak.js
Due: pnpm run format --filter server

feat: :recycle: Baudoin's review, userProfile in store
  apps/client/src/App.vue
  apps/client/src/stores/user.js
  apps/client/src/views/OrderProject.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

test: :white_check_mark: Fix unit tests on server
  apps/client/src/main.js
  apps/server/src/controllers/project.js
  apps/server/src/routes/project.spec.js
  apps/server/src/utils/__tests__/project-util.js
  apps/server/src/utils/__tests__/random-util.js
Due: pnpm run format --filter client, pnpm run format --filter server

feat: :card_file_box: Add owner from keycloak in project
  apps/server/src/controllers/project.js
Due: pnpm run format --filter server

feat: :card_file_box: Add user id in project queries
  apps/server/src/controllers/project.js
  apps/server/src/models/project-queries.js
  apps/server/src/models/project.js
Due: pnpm run format --filter server

feat: :recycle: Harmonize api's names
  apps/client/src/api/api.js
  apps/client/src/stores/project.js
  apps/client/src/views/projects/DsoProjects.vue
  apps/server/src/controllers/project.js
  apps/server/src/models/project-queries.js
  apps/server/src/routes/project.js
  apps/server/src/routes/project.spec.js
Due: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter server

chore: :arrow_up: Update dependencies
  apps/client/package.json
  apps/server/package.json
  package.json
  pnpm-lock.yaml
Due: none

feat: :sparkles: Add users[i].id in query
  apps/server/src/models/project-queries.js
  packages/shared/src/projects/schema.js
Due: pnpm run format --filter server, pnpm run format --filter shared

feat: :speech_balloon: Update app's title
  apps/client/src/App.vue
  apps/client/src/router/index.js
  business-rules.md
  packages/cypress/e2e/specs/home.e2e.js
Due: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter cypress

test: :test_tube: Fix project spec
  apps/server/src/routes/project.spec.js
Due: pnpm run format --filter server

test: :test_tube: Fix api client test
  apps/client/src/api/api.spec.js
Due: pnpm run format --filter client
