Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm run lint:style --filter=@cpn-console/client --",
  "**/apps/client/**/*": "pnpm run lint:ts --filter=@cpn-console/client --",
  "**/apps/server/**/*": "pnpm run lint --filter=@cpn-console/server --",
  "**/packages/**/*": "pnpm run lint --filter=./packages/* --",
  "**/plugins/**/*": "pnpm run lint --filter=./plugins/* --",
  "**/*": "pnpm run lint:root --"
}

refactor: split Gitlab classes in separate files
  plugins/argocd/src/functions.ts
  plugins/gitlab/package.json
  plugins/gitlab/src/gitlab-api.ts
  plugins/gitlab/src/gitlab-project-api.ts
  plugins/gitlab/src/gitlab-zone-api.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/members.ts
  plugins/gitlab/src/repositories.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

Update .gitlab-ci.yml
  plugins/gitlab/files/.gitlab-ci.yml
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

Update
  apps/server/prisma.config.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

Revert "refactor: split Gitlab classes in separate files"
  plugins/argocd/src/functions.ts
  plugins/gitlab/package.json
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/gitlab-api.ts
  plugins/gitlab/src/gitlab-zone-api.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/members.ts
  plugins/gitlab/src/repositories.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

Revert "chore(gitlab): purge useless file"
  plugins/gitlab/src/class.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

Update
  ci/kind/env/dso-values.yaml
  docker/docker-compose.local.yml
  keycloak/realms/realm-dev.json
Due: pnpm run lint:root --

fix(gitlab): restore gitlab-ci-dso file configuration
  plugins/gitlab/src/class.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: keycloak HTTPS required error on dev with Docker Desktop Mac
  docker/docker-compose.local.yml
Due: pnpm run lint:root --

fix: prisma not loading dotenv
  apps/server/prisma.config.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

fix: theme broke Keycloak startup
  ci/kind/env/dso-values.yaml
  docker/docker-compose.local.yml
  keycloak/realms/realm-dev.json
Due: pnpm run lint:root --

test(playwright): :wrench: support only firefox for integration test
  playwright/playwright.config.integration.ts
Due: pnpm run lint:root --

test(playwright): :wrench: fix flaky test
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm run lint:root --

chore(hooks): change documentation to a sane pluging dependencies management
  packages/hooks/README.md
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

test(playwright): :wrench: add page refresh until it is correctly loaded
  playwright/integration-tests/helper.ts
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm run lint:root --

feat(plugin): add permission extension
  apps/client/src/App.vue
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/stores/permissions.ts
  apps/server/src/resources/system/router.ts
  packages/hooks/src/index.ts
  packages/shared/src/contracts/system.ts
  packages/shared/src/utils/permissions.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat(gitlab): add keycloack group sync
  packages/hooks/src/hooks/hook-project.ts
  packages/shared/src/utils/permissions.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/gitlab-project-api.ts
  plugins/gitlab/src/members.ts
  plugins/keycloak/src/class.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore(client): fix types
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/ConfigParam.vue
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/OperationPanel.vue
  apps/client/src/components/ProjectArchiveButton.vue
  apps/client/src/components/ProjectBanner.vue
  apps/client/src/components/ProjectLockButton.vue
  apps/client/src/components/ProjectReplayButton.vue
  apps/client/src/components/ProjectResources.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectSecretsButton.vue
  apps/client/src/components/ProjectSettings.vue
  apps/client/src/components/RepoForm.vue
  apps/client/src/components/ServiceChainForm.vue
  apps/client/src/components/ServicesConfig.vue
  apps/client/src/components/StageForm.vue
  apps/client/src/components/ZoneForm.vue
  apps/client/src/stores/admin-role.ts
  apps/client/src/stores/admin-token.ts
  apps/client/src/stores/cluster.ts
  apps/client/src/stores/log.ts
  apps/client/src/stores/plugins.ts
  apps/client/src/stores/project.ts
  apps/client/src/stores/service-chain.ts
  apps/client/src/stores/services-monitor.spec.ts
  apps/client/src/stores/services-monitor.ts
  apps/client/src/stores/stage.ts
  apps/client/src/stores/system-settings.ts
  apps/client/src/stores/token.ts
  apps/client/src/stores/user.ts
  apps/client/src/stores/users.ts
  apps/client/src/stores/zone.ts
  apps/client/src/utils/project-utils.ts
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/ProjectDashboard.vue
  apps/client/src/views/admin/AdminTokens.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/admin/ListUser.vue
  apps/client/src/views/admin/ListZones.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore(client): ensure build fails if typing system is not sound
  apps/client/package.json
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore(client): do not install pnpm twice
  apps/client/Dockerfile
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore(client): commit auto-imports.d.ts
  .gitignore
  apps/client/src/auto-imports.d.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore(ci): trigger Playwright E2E tests before Cypress E2E tests
  .github/workflows/ci.yml
Due: pnpm run lint:root --

chore(server-nestjs): fix pnpm format command
  apps/server-nestjs/test/app.e2e-spec.ts
  apps/server-nestjs/test/jest-e2e.json
Due: pnpm run lint:root --

chore(playwright): migrate E2E Project logs tests from Cypress
  apps/client/cypress/e2e/specs/01-logs.e2e.ts
  playwright/e2e-tests/project-logs.spec.ts
  playwright/e2e-tests/utils.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --
