Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm run lint:style --filter=@cpn-console/client --",
  "**/apps/client/**/*": "pnpm run lint:ts --filter=@cpn-console/client --",
  "**/apps/server/**/*": "pnpm run lint --filter=@cpn-console/server --",
  "**/packages/**/*": "pnpm run lint --filter=./packages/* --",
  "**/plugins/**/*": "pnpm run lint --filter=./plugins/* --",
  "**/*": "pnpm run lint:root --"
}

chore(ci): set environment variables for OpenCDS E2E tests
  docker/docker-compose.ci.yml
Due: pnpm run lint:root --

chore(playwright): improve OpenCDS E2E test
  playwright/e2e-tests/service-chains.spec.ts
  playwright/playwright.config.ts
Due: pnpm run lint:root --

feat(opencds): handle OpenCDS API token-based security
  apps/server/.env-example
  apps/server/src/resources/service-chain/business.spec.ts
  apps/server/src/resources/service-chain/queries.ts
  apps/server/vitest-init.ts
  packages/opencds/opencds_api.json
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore(opencds): adjust API contract
  apps/server/.env-example
  packages/opencds/opencds_api.json
  packages/shared/src/schemas/service-chain.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore(opencds): add retry button on client
  apps/client/src/components/ServiceChainForm.vue
  apps/client/src/stores/service-chain.ts
  apps/client/src/views/admin/ListServiceChains.vue
  apps/server/src/resources/service-chain/business.spec.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

docs(client): add a reference to OpenCDS package documentation
  apps/client/README.md
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore(opencds): setup hp url
  apps/server/.env-example
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

docs(opencds): update documentation after having implementing features
  packages/opencds/README.adoc
  packages/opencds/opencds.adoc
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

docs(server): add a reference to OpenCDS package documentation
  apps/server/README.md
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

chore(playwright): attempt to improve performance by using all possible workers on the runner
  playwright/playwright.config.ts
Due: pnpm run lint:root --

docs: :memo: fix build error
  README.md
Due: pnpm run lint:root --

docs(root): actualiser le README afin de clarifier les options de lancement de l'application console
  README.md
Due: pnpm run lint:root --

chore(ci): ensure E2E tests are triggered when code has not been modified but tests have
  .github/workflows/ci.yml
Due: pnpm run lint:root --

chore(playwright): adjust timeouts to avoid flaky tests on CI workflows
  playwright/playwright.config.ts
Due: pnpm run lint:root --

fix(opencds): fix validatedBy pseudo-null value conflicting with OpenCDS contract in server
  packages/opencds/opencds_api.json
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix: :lipstick: show resources in clusters and environment tables
  apps/client/src/components/ClusterForm.vue
  apps/client/src/utils/func.ts
  apps/client/src/views/admin/ListClusters.vue
  apps/server/src/resources/cluster/business.ts
  apps/server/src/resources/cluster/queries.ts
  packages/shared/src/contracts/cluster.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: :sparkles: check cluster resources when adding an environment
  apps/client/cypress/e2e/specs/admin/zones.e2e.ts
  apps/client/src/components/ClusterForm.vue
  apps/client/src/views/admin/ListClusters.vue
  apps/server/src/resources/cluster/business.spec.ts
  apps/server/src/resources/environment/business.spec.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/router.spec.ts
  apps/server/src/resources/environment/router.ts
  apps/server/src/utils/business.ts
  apps/server/src/utils/errors.ts
  packages/test-utils/src/imports/data.ts
  playwright/e2e-tests/clusters.spec.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat(poc): add an hybrid SPA/SSR interaction
  apps/client/src/opencds/app.js
  apps/client/src/router/index.ts
  apps/client/src/views/admin/ListServiceChainsBis.vue
  apps/client/vite.config.ts
  apps/server/package.json
  apps/server/src/opencds/app.js
  apps/server/src/resources/index.ts
  plugins/opencds/app.js
  pnpm-lock.yaml
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

test(playwright): :test_tube: upgrade to docker.io/bitnamilegacy/keycloak:26.1.3-debian-12-r0
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.local.yml
  docker/docker-compose.prod.yml
  playwright/e2e-tests/keycloak.spec.ts
Due: pnpm run lint:root --

fix: config and locator due to keycloak upgrade
  .github/workflows/playwright.yml
  apps/client/cypress/e2e/specs/01-logs.e2e.ts
  apps/client/cypress/e2e/specs/redirection.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/package.json
  docker/docker-compose.ci.yml
  keycloak/realms/realm-dev.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore: restore Sonarqube quality gate check
  .github/workflows/tests-unit.yml
Due: pnpm run lint:root --

chore: move to bitnami legacy registry
  apps/client/Dockerfile
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

feat: try using ListServiceChain as a SSR component
  apps/server/package.json
  apps/server/vite.config.ts
  plugins/opencds/ListServiceChains.vue
  plugins/opencds/app.js
  pnpm-lock.yaml
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :sparkles: save resources constraints for the project
  apps/client/cypress/components/specs/project-settings.ct.ts
  apps/client/src/components/ClusterInfos.vue
  apps/client/src/components/ProjectResources.vue
  apps/client/src/components/ProjectSettings.vue
  apps/client/src/utils/misc.ts
  apps/client/src/utils/project-utils.ts
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/ProjectDashboard.vue
  apps/server/src/prisma/migrations/20250916134454_add_project_resources/migration.sql
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/environment/business.spec.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/router.spec.ts
  apps/server/src/resources/environment/router.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/project/router.spec.ts
  packages/shared/src/contracts/project.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/src/imports/data.ts
  playwright/e2e-tests/environments.spec.ts
  playwright/e2e-tests/utils.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: :sparkles: add resources occupancy on clusters
  apps/client/src/stores/cluster.ts
  apps/client/src/views/admin/ListClusters.vue
  apps/server/src/resources/cluster/business.spec.ts
  apps/server/src/resources/cluster/business.ts
  apps/server/src/resources/cluster/router.spec.ts
  apps/server/src/resources/cluster/router.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/types/index.ts
  ci/kind/run.sh
  packages/shared/src/contracts/cluster.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: :sparkles: add project usage on resources tab
  apps/client/src/components/ProjectResources.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --
