Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter server, pnpm run format --filter shared, pnpm run format --filter cypress

.lintstagedrc:

{
  "**/client/**/*.{js,ts,vue}": "pnpm run format --filter client",
  "**/client/**/*.{vue,css}": "pnpm run format:style --filter client",
  "**/server/**/*.{js,cjs,ts}": "pnpm run format --filter server",
  "**/shared/**/*.{js,cjs,ts}": "pnpm run format --filter shared",
  "**/cypress/**/*.{js,cjs,ts}": "pnpm run format --filter cypress"
}

chore(projectInit): :see_no_evil: Add cypress screenshots to gitignore
  .gitignore
Due: none

ci: :construction_worker: Add tool scripts
  ci/scripts/build-images.sh
  ci/scripts/init-project.sh
  ci/scripts/run-tests.sh
Due: none

Revert "Revert "chore(projectInit): :technologist: Configure workspace settings""
  .vscode/extensions.json
  .vscode/settings.json
  client/.eslintrc.js
  client/jsconfig.json
Due: pnpm run format --filter client

Revert "chore(projectInit): :technologist: Configure workspace settings"
  .vscode/extensions.json
  .vscode/settings.json
  client/.eslintrc.js
  client/jsconfig.json
Due: pnpm run format --filter client

chore(projectInit): :technologist: Configure workspace settings
  .vscode/extensions.json
  .vscode/settings.json
  client/.eslintrc.js
  client/jsconfig.json
Due: pnpm run format --filter client

feat: :sparkles: Add sidemenu and tmp routes
  client/src/App.vue
  client/src/components/SideMenu.vue
  client/src/router/index.js
Due: pnpm run format --filter client, pnpm run format:style --filter client

docs: :memo: Add business rules file
  business-rules.md
Due: none

feat: :construction: Add OrderProject
  client/src/router/index.js
  client/src/views/OrderProject.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

test: :white_check_mark: Add e2e test for orderProject
  client/src/components/SideMenu.vue
  client/src/views/OrderProject.vue
  cypress/e2e/specs/orderProject.e2e.js
  cypress/e2e/specs/sidebar.e2e.js
Due: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter cypress

chore(projectInit): :hammer: Reunite client-js and client-css in root package
  .lintstagedrc
  package.json
Due: none

example add realm from file json
  sso/docker-compose.dev.keycloak.yml
  sso/keycloak/export-realm-test.json
Due: none

feat: login on keycloack TEST
  client/package-lock.json
  client/package.json
  client/src/main.js
  client/src/utils/oidc/initSso.js
  client/vite.config.js
  sso/keycloak/export-realm-test.json
Due: pnpm run format --filter client

init docker keycloak
  sso/README.md
  sso/docker-compose.dev.keycloak.yml
Due: none

build: :construction_worker: Make scripts executable & update npm scripts
  ci/scripts/build-images.sh
  ci/scripts/init-project.sh
  ci/scripts/run-tests.sh
  package.json
Due: none

ci: :construction_worker: Add release action in ci
  .github/workflows/release.yml
Due: none

ci: :technologist: Add act for local testing purpose on ci
  ci/act/docker/Dockerfile
  ci/act/docker/registry/docker-compose.registry.yml
  ci/act/events/pr_base_main.json
  ci/act/events/pr_draft.json
  ci/act/events/pr_not_draft.json
  ci/act/events/push_base_main.json
  ci/act/scripts/run-ci-locally.sh
  ci/act/test-ci.md
  ci/act/workflows/test.yml
Due: none

ci: :bug: Fix artifacts upload path for e2e
  .github/workflows/test.yml
  ci/act/workflows/test.yml
Due: none

chore: :see_no_evil: Update gitignore
  .gitignore
Due: none

build: :wrench: Update client conf
  client/nginx/default.conf
  cypress/env/.env-example
Due: none

chore: :arrow_up: Update vue-dsfr version
  client/package-lock.json
  client/package.json
Due: none

fix: :art: rename file user in stores
  client/src/stores/user.js
Due: pnpm run format --filter client

add keycloack in dev containers
  docker/docker-compose.dev.yml
Due: none

fix: login on keycloack TEST
  client/src/main.js
  client/src/router/index.js
  client/src/stores/user-store.js
  client/src/utils/oidc/initSso.js
Due: pnpm run format --filter client

ci: :construction_worker: Test application in ci
  .github/workflows/test.yml
Due: none

fix: :art: add env for keycloak in FRONT
  client/src/router/index.js
  client/src/utils/oidc/initSso.js
  client/src/utils/oidc/sso-config.js
  client/vite.config.js
  docker/docker-compose.dev.yml
Due: pnpm run format --filter client

build: :hammer: Update npm scripts
  client/package.json
  cypress/package-lock.json
  cypress/package.json
  package-lock.json
  package.json
Due: none

feat: :sparkles: Add DsoService content
  client/src/views/DsoServices.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

docs: :truck: Rename act doc file
  ci/act/mock-ci.md
Due: none

feat: page login
  client/src/router/index.js
  client/src/utils/oidc/initSso.js
  client/src/views/AuthComponent.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

chore: :fire: Remove unused block
  client/src/views/AuthComponent.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

chore: :heavy_plus_sign: Add jsom required to pass unit tests
  client/package-lock.json
  client/package.json
Due: none

chore: :twisted_rightwards_arrows: Readd windi lost in rebase
  client/package-lock.json
  client/package.json
Due: none

test: :test_tube: Add e2e tests
  client/src/views/projects/DsoProjects.vue
  client/src/views/projects/DsoServices.vue
  cypress/e2e/specs/dsoProjects.e2e.js
  cypress/e2e/specs/dsoServices.e2e.js
  cypress/e2e/support/commands.js
Due: pnpm run format --filter client, pnpm run format:style --filter client, pnpm run format --filter cypress

chore: :hammer: Remove npm scripts in client
  client/package.json
Due: none

fix: :recycle: Refacto brainstorm thibault
  client/src/views/projects/DsoServices.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

feat: :heavy_plus_sign: Add axios for api management
  client/package-lock.json
  client/package.json
Due: none

chore: :heavy_minus_sign: Remove jsdom
  client/package-lock.json
  client/package.json
  package-lock.json
Due: none

feat: :lipstick: Resize sidemenu and content
  client/src/App.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client

feat: :recycle: service url construction
  client/src/views/projects/DsoServices.vue
Due: pnpm run format --filter client, pnpm run format:style --filter client
