Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix(gitlab): iterate over pagination
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
  plugins/sonarqube/src/functions.ts
  plugins/sonarqube/src/user.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: add schedule trigger on mirror
  plugins/gitlab/files/.gitlab-ci.yml
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(gitlab): add builtin roles to GitLab Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-member.ts
  packages/hooks/src/hooks/hook-project-role.ts
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/infos.ts
  plugins/gitlab/src/user.ts
  plugins/keycloak/src/functions.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(sonarqube): make admin group path configurable though console
  packages/shared/src/utils/const.ts
  plugins/sonarqube/src/functions.ts
  plugins/sonarqube/src/group.ts
  plugins/sonarqube/src/index.ts
  plugins/sonarqube/src/infos.ts
  plugins/sonarqube/src/project.ts
  plugins/sonarqube/src/user.ts
  plugins/sonarqube/src/utils.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

refactor(hooks): merge projectmember and projectrole to project hook Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/src/resources/project-member/business.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/utils/hook-wrapper.spec.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-member.ts
  packages/hooks/src/hooks/hook-project-role.ts
  packages/hooks/src/hooks/hook-project.ts
  packages/hooks/src/hooks/index.ts
  plugins/argocd/src/functions.ts
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/utils.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/index.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore(playwright): add full cross service e2e tests
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/views/admin/ListPlugins.vue
  playwright/e2e-tests/cross-services.spec.ts
  plugins/argocd/src/functions.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(gitlab): add builtin roles to GitLab Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-member.ts
  packages/hooks/src/hooks/hook-project-role.ts
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/infos.ts
  plugins/gitlab/src/user.ts
  plugins/gitlab/src/utils.ts
  plugins/keycloak/src/functions.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: remove turbo
  README.md
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.ts
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization.module.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/database-initialization.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/database-initialization.service.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/utils.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/utils.ts
  apps/server-nestjs/src/cpin-module/application-initialization/plugin-management/plugin-management.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/plugin-management/plugin-management.service.ts
  apps/server-nestjs/src/cpin-module/core/app/app.service.spec.ts
  apps/server-nestjs/src/cpin-module/core/app/app.service.ts
  apps/server-nestjs/src/cpin-module/core/core.module.ts
  apps/server-nestjs/src/cpin-module/core/fastify/fastify.service.spec.ts
  apps/server-nestjs/src/cpin-module/core/fastify/fastify.service.ts
  apps/server-nestjs/src/cpin-module/cpin.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/http-client/http-client.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/http-client/http-client.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/infrastructure.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/logger/logger.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/server/server.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/server/server.service.ts
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/src/prisma.ts
  apps/server-nestjs/test/app.e2e-spec.ts
  apps/server/Dockerfile
  ci/scripts/run-tests.sh
  package.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

chore: remove turbo
  README.md
  apps/server/Dockerfile
  ci/scripts/run-tests.sh
  package.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

chore: remove turbo
  README.md
  apps/client/package.json
  apps/server/Dockerfile
  ci/scripts/run-tests.sh
  package.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

chore(playwright): add full cross service e2e tests
  apps/client/cypress/e2e/specs/admin/system-settings.e2e.ts
  apps/client/cypress/e2e/specs/roles.e2e.ts
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/views/admin/ListPlugins.vue
  playwright/e2e-tests/cross-services.spec.ts
  plugins/argocd/src/functions.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore(ci): remove kubernetes execution context from scripts
  ci/scripts/run-tests.sh
Due: pnpm run lint:root --

chore: remove turbo
  .github/workflows/job-lint.yml
  .github/workflows/job-npm.yml
  .github/workflows/job-tests-component.yml
  .github/workflows/job-tests-e2e.yml
  .github/workflows/job-tests-unit.yml
  .lintstagedrc
  README.md
  apps/server/Dockerfile
  ci/scripts/run-tests.sh
  package.json
  packages/eslintconfig/src/index.js
  pnpm-lock.yaml
  turbo.json
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore(server-nestjs): align formatting rules on other packages
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.ts
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization.module.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/database-initialization.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/database-initialization.service.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/utils.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/utils.ts
  apps/server-nestjs/src/cpin-module/application-initialization/plugin-management/plugin-management.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/plugin-management/plugin-management.service.ts
  apps/server-nestjs/src/cpin-module/core/app/app.service.spec.ts
  apps/server-nestjs/src/cpin-module/core/app/app.service.ts
  apps/server-nestjs/src/cpin-module/core/core.module.ts
  apps/server-nestjs/src/cpin-module/core/fastify/fastify.service.spec.ts
  apps/server-nestjs/src/cpin-module/core/fastify/fastify.service.ts
  apps/server-nestjs/src/cpin-module/cpin.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/http-client/http-client.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/http-client/http-client.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/infrastructure.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/logger/logger.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/server/server.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/server/server.service.ts
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/src/prisma.ts
  apps/server-nestjs/test/app.e2e-spec.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

Path conditions:
  pnpm run lint:style --filter=@cpn-console/client --: any of: **/apps/client/**/*.{vue,css}
  pnpm run lint:ts --filter=@cpn-console/client --: any of: **/apps/client/**/*
  pnpm run lint --filter=@cpn-console/server --: any of: **/apps/server/**/*
  pnpm run lint --filter=./packages/* --: any of: **/packages/**/*
  pnpm run lint --filter=./plugins/* --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
