Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format --filter cypress

.lintstagedrc:

{
  "**/client/**/*.{js,ts,vue,css}": "pnpm run format --filter client",
  "**/cypress/**/*.{js,cjs,ts}": "pnpm run format --filter cypress"
}

feat: :lipstick: better ui for permission form
  apps/client/src/components/PermissionForm.vue
  apps/client/src/components/RangeInput.vue
  apps/client/src/views/projects/ManageEnvironments.vue
Due: pnpm run format --filter client

fix: :fire: remove routes
  helm/templates/routes.yml
Due: none

fix: :ambulance: keycloak do not add owner in group env
  apps/server/src/plugins/core/keycloak/index.js
Due: none

fix: :ambulance: habor missing slash on oidc group
  apps/server/src/plugins/core/harbor/permission.js
Due: none

fix: :ambulance: missing ownerid at env init
  apps/server/src/controllers/environment.js
  apps/server/src/plugins/core/keycloak/index.js
Due: none

fix: :ambulance: keycloak group id, typo
  apps/server/src/plugins/core/gitlab/index.js
  apps/server/src/plugins/core/keycloak/index.js
Due: none

style: :heavy_plus_sign: migrate from windicss to unocss
  apps/client/package.json
  apps/client/src/main.js
  apps/client/vite.config.js
  apps/server/package.json
  pnpm-lock.yaml
Due: pnpm run format --filter client

fix: :ambulance: handle unocss migration for media queries
  apps/client/src/views/ServicesHealth.vue
  apps/client/src/views/projects/DsoProjects.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/ManageEnvironments.vue
Due: pnpm run format --filter client

refactor: :recycle: use class selector instead of html tag
  apps/client/src/components/RangeInput.vue
Due: pnpm run format --filter client

fix: :sparkles: set ingress secretName
  helm/templates/ingress.yaml
  helm/values.yaml
Due: none

build: :technologist: display app version
  .github/workflows/build.yml
  .github/workflows/release.yml
  apps/client/Dockerfile
  apps/client/src/App.vue
  apps/client/src/main.css
  apps/server/Dockerfile
  apps/server/src/app.spec.js
  apps/server/src/routes/index.js
  docker/docker-compose.prod.yml
Due: pnpm run format --filter client

docs: :memo: add env variables infos in readme
  README.md
Due: none

chore: :memo: fix changelog
  CHANGELOG.md
Due: none

feat: :sparkles: add organization page for admins
  apps/client/cypress/e2e/specs/admin/organizations.e2e.js
  apps/client/cypress/e2e/specs/admin/users.e2e.js
  apps/client/cypress/e2e/specs/sidebar.e2e.js
  apps/client/cypress/e2e/support/func.js
  apps/client/src/api/api.js
  apps/client/src/api/api.spec.js
  apps/client/src/components/DsoSnackbar.vue
  apps/client/src/components/SideMenu.vue
  apps/client/src/router/index.js
  apps/client/src/stores/admin/organization.js
  apps/client/src/stores/admin/organization.spec.js
  apps/client/src/stores/organization.js
  apps/client/src/views/admin/ListOrganizations.vue
  apps/server/src/controllers/admin/organizations.js
  apps/server/src/controllers/organization.js
  apps/server/src/models/queries/organization-queries.js
  apps/server/src/routes/admin/index.js
  apps/server/src/routes/admin/organization.js
  apps/server/src/routes/admin/organization.spec.js
  apps/server/src/routes/admin/user.js
  apps/server/src/routes/admin/user.spec.js
  apps/server/src/routes/index.js
  apps/server/src/routes/organization.js
  apps/server/src/routes/organization.spec.js
  packages/shared/src/schemas/index.js
  packages/shared/src/schemas/organization.js
  packages/shared/src/utils/schemas.spec.js
  packages/test-utils/src/imports/data.js
  packages/test-utils/src/random-utils.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :ambulance: keycloak now sends group path
  apps/client/cypress/components/specs/range.input.ct.js
  apps/client/cypress/components/specs/repo-form.ct.js
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/stores/user.js
  apps/client/src/stores/user.spec.js
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/controllers/admin/organizations.js
  apps/server/src/controllers/admin/project.js
  apps/server/src/controllers/admin/user.js
  apps/server/src/routes/admin/organization.spec.js
  apps/server/src/routes/admin/user.spec.js
  apps/server/src/routes/organization.spec.js
  keycloak/realms/realm-dev.json
  packages/shared/src/schemas/environment.js
  packages/shared/src/schemas/project.js
  packages/shared/src/schemas/repository.js
  packages/shared/src/utils/const.js
  packages/shared/src/utils/functions.js
  packages/test-utils/src/random-project.js
  packages/test-utils/src/random-utils.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :alien: owner name is required to create Canel user
  apps/server/src/controllers/project.js
Due: none

chore: :wrench: Setup TypeScript for client
  .eslintignore
  apps/client/.eslintrc.cjs
  apps/client/cypress.config.ts
  apps/client/cypress/tsconfig.json
  apps/client/env.d.ts
  apps/client/index.html
  apps/client/package.json
  apps/client/src/App.vue
  apps/client/src/main.ts
  apps/client/tsconfig.app.json
  apps/client/tsconfig.json
  apps/client/tsconfig.node.json
  apps/client/tsconfig.vitest.json
  apps/client/vite.config.ts
  apps/client/vitest.config.ts
  docker/docker-compose.ct.yml
  pnpm-lock.yaml
Due: pnpm run format --filter client

chore: :building_construction: Use cypress-vite
  apps/client/cypress.config.ts
  apps/client/package.json
  pnpm-lock.yaml
Due: pnpm run format --filter client

refactor: :recycle: improve code structure
  .github/workflows/release.yml
  README.md
  apps/client/src/components/CIForm.vue
  apps/client/src/documentation/doc.md
  apps/client/src/documentation/home.md
  apps/server/src/generate-files/templates/docker.yml
  apps/server/src/generate-files/templates/gitlab-ci.yml
  apps/server/src/generate-files/templates/vault.yml
  apps/server/src/plugins/core/gitlab/files/.gitlab-ci.yml
  apps/server/src/plugins/core/gitlab/files/mirror.sh
  apps/server/src/plugins/core/gitlab/group.js
  apps/server/src/plugins/core/kubernetes/utils.js
  apps/server/src/plugins/core/vault/index.js
  apps/server/src/plugins/core/vault/init.js
  apps/server/vitest-init.js
  misc/architecture.drawio
  misc/business-rules.md
  misc/controllers.md
  misc/plugins.md
Due: pnpm run format --filter client

build: :construction_worker: change client base image to bitnami/nginx
  apps/client/Dockerfile
  apps/client/nginx/default.conf.tpl
  apps/client/nginx/entrypoint.sh
  apps/client/nginx/nginx.conf
  package.json
Due: none

fix: :construction: add chmod
  apps/client/Dockerfile
  apps/client/nginx/default.conf
  docker/docker-compose.prod.yml
Due: none

fix: :bug: fix nginx permissions
  apps/client/Dockerfile
  apps/client/nginx/default.conf
  apps/client/nginx/default.conf.tpl
  apps/client/nginx/entrypoint.sh
Due: none

build: :construction_worker: change client base image to bitnami/nginx
  apps/client/Dockerfile
  apps/client/nginx/default.conf
  apps/client/nginx/entrypoint.sh
  docker/docker-compose.prod.yml
  package.json
Due: none

build: :construction_worker: change client base image to bitnami/nginx
  apps/client/Dockerfile
  apps/client/nginx/default.conf
  apps/client/nginx/default.conf.tpl
  apps/client/nginx/entrypoint.sh
  apps/client/nginx/nginx.conf
Due: none

fix: :construction: hooks payload send full owner object, bug getSingleOwnerByProjectId
  apps/server/env/.env-example
  apps/server/env/.env.ci-example
  apps/server/env/.env.int-example
  apps/server/src/controllers/environment.js
  apps/server/src/controllers/permission.js
  apps/server/src/controllers/project.js
  apps/server/src/controllers/repository.js
  apps/server/src/models/queries/users-projects-queries.js
  apps/server/src/plugins/core/gitlab/index.js
  apps/server/src/plugins/core/keycloak/index.js
  apps/server/src/plugins/core/kubernetes/index.js
  apps/server/src/plugins/core/kubernetes/utils.js
  apps/server/src/plugins/core/nexus/project.js
  apps/server/src/plugins/core/sonarqube/user.js
Due: none

fix: :art: change ns labels
  apps/server/src/models/queries/users-projects-queries.js
  apps/server/src/plugins/core/kubernetes/utils.js
Due: none

test: :white_check_mark: update server unit tests
  apps/server/src/routes/project-environment.spec.js
  apps/server/src/routes/project-permission.spec.js
  apps/server/src/routes/project.spec.js
Due: none

build: :technologist: gitlab CI example
  .gitlab-ci-dso.yml
  apps/server/env/.env-example
  apps/server/env/.env.ci-example
  apps/server/env/.env.int-example
  apps/server/src/controllers/environment.js
  apps/server/src/controllers/project.js
  apps/server/src/controllers/repository.js
  apps/server/src/plugins/core/gitlab/files/.gitlab-ci.yml
  apps/server/src/plugins/core/gitlab/utils.js
  apps/server/src/plugins/core/vault/secret.js
  apps/server/src/utils/env.js
  apps/server/src/utils/services.js
  apps/server/vitest-init.js
Due: none

refactor: :loud_sound: harmonize api logs
  apps/server/package.json
  apps/server/src/connect.js
  apps/server/src/controllers/admin/organizations.js
  apps/server/src/controllers/admin/project.js
  apps/server/src/controllers/admin/user.js
  apps/server/src/controllers/environment.js
  apps/server/src/controllers/organization.js
  apps/server/src/controllers/permission.js
  apps/server/src/controllers/project.js
  apps/server/src/controllers/repository.js
  apps/server/src/controllers/service.js
  apps/server/src/controllers/user.js
  apps/server/src/generate-files/generate-ci-files.js
  apps/server/src/routes/admin/organization.spec.js
  apps/server/src/routes/admin/user.spec.js
  apps/server/src/routes/organization.spec.js
  apps/server/src/routes/project-environment.spec.js
  apps/server/src/routes/project-permission.spec.js
  apps/server/src/routes/project-repository.spec.js
  apps/server/src/routes/project-user.spec.js
  apps/server/src/routes/project.spec.js
  apps/server/src/utils/logger.js
  pnpm-lock.yaml
Due: none

feat: :alien: add keys to source organizations
  apps/server/src/models/organization.js
  packages/shared/src/schemas/organization.js
  packages/shared/src/utils/schemas.spec.js
Due: none

refactor: :coffin: remove contributorId, unused key
  apps/server/src/models/organization.js
  packages/shared/src/schemas/organization.js
  packages/shared/src/utils/schemas.spec.js
Due: none
