Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix(playwright): fix format command not working
  playwright/eslint.config.js
  playwright/package.json
  pnpm-lock.yaml
Due: pnpm run lint:root --

feat(playwright): add Project page tests
  playwright/e2e-tests/projects.spec.ts
Due: pnpm run lint:root --

fix(client): ensure branch name is reset to default value after synchronization on a repository
  apps/client/src/components/ProjectResources.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore(client): factor out default branch name to avoid inconsistencies
  apps/client/src/components/ProjectResources.vue
  apps/client/src/utils/misc.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

fix(playwright): ensure keycloak tests work for all languages
  playwright/e2e-tests/keycloak.spec.ts
  playwright/e2e-tests/projects.spec.ts
Due: pnpm run lint:root --

chore(client): bump Cypress to 14.5.2 (latest available)
  apps/client/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

fix: fix typo
  apps/client/cypress/e2e/specs/repos.e2e.ts
  apps/client/src/components/ProjectResources.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore(client): bump Cypress to 14.1.0 to enable Webdriver BiDi support
  apps/client/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

fix: fix docker build permissions to allow local path import
  package.json
Due: pnpm run lint:root --

chore(playwright): add a tsconfig.json
  playwright/package.json
  playwright/tsconfig.json
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore: clarify documentation regarding local integ deployment
  README.md
Due: pnpm run lint:root --

chore(playwright): migrate E2E Project tests from Cypress
  apps/client/cypress/e2e/specs/projects.e2e.ts
  playwright/e2e-tests/projects.spec.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

feat: allow cluster informations property to be up to 1000 characters long
  apps/server/src/prisma/migrations/20250723141246_dso/migration.sql
  apps/server/src/prisma/migrations/migration_lock.toml
  apps/server/src/prisma/schema/topography.prisma
  packages/shared/src/schemas/cluster.ts
  playwright/e2e-tests/clusters.spec.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore(playwright): externalize common functions and constants in dedicated utils file
  playwright/e2e-tests/projects.spec.ts
  playwright/e2e-tests/utils.ts
Due: pnpm run lint:root --

chore(playwright): optimize tests duration in CI
  playwright/playwright.config.ts
Due: pnpm run lint:root --

fix(tests): fix admin id in pgsql import data not being consistent with keycloak
  keycloak/realms/realm-dev.json
  packages/test-utils/src/imports/data.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore(playwright): work around a timing issue in cluster details page that make tests flaky
  playwright/e2e-tests/clusters.spec.ts
  playwright/playwright.config.ts
Due: pnpm run lint:root --

Path conditions:
  pnpm run lint:style --filter=@cpn-console/client --: any of: **/apps/client/**/*.{vue,css}
  pnpm run lint:ts --filter=@cpn-console/client --: any of: **/apps/client/**/*
  pnpm run lint --filter=@cpn-console/server --: any of: **/apps/server/**/*
  pnpm run lint --filter=./packages/* --: any of: **/packages/**/*
  pnpm run lint --filter=./plugins/* --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
