Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format --filter cypress

.lintstagedrc:

{
  "**/client/**/*.{js,ts,vue,css}": "pnpm run format --filter client",
  "**/cypress/**/*.{js,cjs,ts}": "pnpm run format --filter cypress"
}

refactor: :recycle: improve code structure
  apps/server/env/.env.int-example
  apps/server/src/plugins/index.js
  apps/server/src/utils/env.js
  apps/server/vitest-init.js
Due: none

refactor: :fire: remove ansible reliqua in code
  .github/workflows/test.yml
  README.md
  apps/server/src/generate-files/generate-ci-files.spec.js
  apps/server/src/routes/organization.spec.js
  apps/server/src/routes/project-environment.spec.js
  apps/server/src/routes/project-permission.spec.js
  apps/server/src/routes/project-repository.spec.js
  apps/server/src/routes/project-user.spec.js
  apps/server/src/routes/project.spec.js
  apps/server/src/routes/service.spec.js
  ci/act/workflows/test/test.yml
  packages/test-utils/src/index.js
  packages/test-utils/src/random-ansible.js
Due: none

fix: :closed_lock_with_key: update keycloak domain
  apps/client/env/.env-example
Due: none

fix: :bug: des trucs
  apps/client/src/views/ServicesHealth.vue
  apps/client/src/views/projects/DsoServices.vue
  apps/server/src/models/queries/project-queries.js
  packages/test-utils/src/imports/data.js
Due: pnpm run format --filter client

refactor: :mute: remove console logs
  apps/server/src/controllers/environment.js
  apps/server/src/plugins/core/argo/app-project.js
  apps/server/src/plugins/core/argo/applications.js
  apps/server/src/plugins/core/argo/index.js
  apps/server/src/plugins/core/argo/repo-secret.js
Due: none

feat: :boom: change helm deployment
  helm/templates/deployment-server.yaml
  helm/values.yaml
Due: none

feat: :art: load kubeconfig only if if a path is set
  apps/server/env/.env.int-example
  apps/server/src/plugins/core/argo/init.js
  apps/server/src/plugins/core/kubernetes/init.js
  apps/server/src/utils/env.js
Due: none

fix: :rewind: readd /harbor/ in url
  apps/client/cypress/e2e/specs/services.e2e.js
  apps/server/src/utils/services.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :ambulance: stabilize gitlab search and vault secret name
  apps/server/src/plugins/core/gitlab/group.js
  apps/server/src/plugins/core/gitlab/index.js
  apps/server/src/plugins/core/gitlab/project.js
Due: none

feat: :loud_sound: add a short description for database logging
  apps/server/src/controllers/environment.js
  apps/server/src/controllers/project.js
  apps/server/src/controllers/repository.js
  apps/server/src/models/log.js
  apps/server/src/models/queries/log-queries.js
Due: none

feat: :technologist: do not drop database in integration dev
  apps/server/src/server.js
Due: none

fix: :wrench: rename kubeconfig var
  apps/server/env/.env.int-example
  docker/docker-compose.int.yml
  env/.env.int-example
Due: none

chore: :arrow_up: upgrade dependancies v3.0.0
  .github/workflows/test.yml
  apps/client/Dockerfile
  apps/client/cypress/Dockerfile
  apps/client/package.json
  apps/server/Dockerfile
  apps/server/package.json
  ci/act/workflows/test/test.yml
  package.json
  packages/shared/package.json
  packages/test-utils/package.json
  pnpm-lock.yaml
Due: none

docs: :memo: improve users documentation
  apps/client/src/components/SideMenu.vue
  apps/client/src/documentation/home.md
  apps/client/src/documentation/introduction.md
  apps/client/src/documentation/prerequisites.md
  apps/client/src/documentation/projects.md
  apps/client/src/documentation/tutorials.md
  apps/client/src/documentation/utils.md
  apps/client/src/router/index.js
  apps/client/src/views/DsoDoc.vue
  apps/client/src/views/doc/DocIntroduction.vue
  apps/client/src/views/doc/DocPrerequisites.vue
  apps/client/src/views/doc/DocProjects.vue
  apps/client/src/views/doc/DocTutorials.vue
  apps/client/src/views/doc/DocUtils.vue
Due: pnpm run format --filter client

docs: :memo: update readme
  README.md
Due: none

fix: :bug: forget delete mirror repository secret
  apps/server/src/plugins/core/vault/index.js
  apps/server/src/plugins/core/vault/init.js
Due: none

ci: :bug: handle exit code on tests run in ci
  ci/scripts/run-tests.sh
  package.json
Due: none

ci: :construction_worker: bump action version & add latest tag to images
  .github/workflows/release.yml
Due: none

feat: :sparkles: add custom ca to server
  helm/templates/cm-server.yaml
  helm/templates/deployment-server.yaml
  helm/values.yaml
Due: none

feat: :sparkles: introduce environment management page
  apps/client/cypress/e2e/specs/dashboard.e2e.js
  apps/client/cypress/e2e/specs/environments.e2e.js
  apps/client/cypress/e2e/specs/permissions.e2e.js
  apps/client/cypress/e2e/specs/sidebar.e2e.js
  apps/client/src/api/xhr-client.js
  apps/client/src/components/SideMenu.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/server/src/controllers/environment.js
  apps/server/src/controllers/project.js
  apps/server/src/controllers/service.js
  apps/server/src/plugins/core/argo/index.js
  apps/server/src/plugins/core/kubernetes/index.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :children_crossing: add deployment infos below environment tiles
  apps/client/cypress/e2e/specs/permissions.e2e.js
  apps/client/src/main.css
  apps/client/src/views/ServicesHealth.vue
  apps/client/src/views/projects/DsoProjects.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/ManageEnvironments.vue
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :bug: fix git output url
  apps/server/src/plugins/core/gitlab/index.js
Due: none

ci: :pushpin: update images tags in helm values
  helm/values.yaml
Due: none

fix: :loud_sound: log database sync error
  apps/server/src/connect.js
  apps/server/src/controllers/project.js
Due: none

fix: :alien: refacto plugins to check services before save in database
  apps/server/src/controllers/project.js
  apps/server/src/controllers/repository.js
  apps/server/src/controllers/service.js
  apps/server/src/plugins/core/gitlab/index.js
  apps/server/src/plugins/core/gitlab/init.js
  apps/server/src/plugins/core/gitlab/user.js
  apps/server/src/plugins/index.js
  apps/server/src/utils/response.js
  apps/server/vitest-init.js
Due: none

fix: :bug: forget default value for log table
  apps/server/src/controllers/project.js
  apps/server/src/controllers/repository.js
  apps/server/src/models/log.js
Due: none

fix: :wrench: update helm values
  helm/values.yaml
Due: none

ci: :construction_worker: increase version in helm files on release
  .github/workflows/release.yml
  helm/Chart.yaml
  helm/values.yaml
Due: none

refactor: :necktie: min 2 characters for a project name
  apps/client/src/views/CreateProject.vue
  packages/shared/src/schemas/project.js
  packages/shared/src/utils/schemas.spec.js
Due: pnpm run format --filter client

refactor: :recycle: better names for controller response functions
  apps/server/src/controllers/environment.js
  apps/server/src/controllers/organization.js
  apps/server/src/controllers/permission.js
  apps/server/src/controllers/project.js
  apps/server/src/controllers/repository.js
  apps/server/src/controllers/service.js
  apps/server/src/controllers/user.js
  apps/server/src/generate-files/generate-ci-files.js
  apps/server/src/plugins/README.md
  apps/server/src/routes/index.js
  apps/server/src/routes/organization.spec.js
  apps/server/src/routes/project-environment.spec.js
  apps/server/src/routes/project-permission.spec.js
  apps/server/src/routes/project-repository.spec.js
  apps/server/src/routes/project-user.spec.js
  apps/server/src/routes/project.spec.js
  apps/server/src/utils/response.js
Due: none

feat: :sparkles: introduce users admin view
  README.md
  apps/client/cypress/e2e/specs/admin-users.e2e.js
  apps/client/cypress/e2e/specs/sidebar.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/cypress/e2e/support/func.js
  apps/client/src/api/api.js
  apps/client/src/api/api.spec.js
  apps/client/src/components/SideMenu.vue
  apps/client/src/router/index.js
  apps/client/src/stores/admin/user.js
  apps/client/src/stores/user.js
  apps/client/src/stores/user.spec.js
  apps/client/src/utils/date.js
  apps/client/src/utils/keycloak/keycloak.js
  apps/client/src/views/admin/ListUser.vue
  apps/server/src/controllers/admin/project.js
  apps/server/src/controllers/admin/user.js
  apps/server/src/controllers/project.js
  apps/server/src/models/queries/project-queries.js
  apps/server/src/routes/admin/user.js
  apps/server/src/routes/admin/user.spec.js
  apps/server/src/routes/index.js
  apps/server/src/routes/project-user.js
  keycloak/realms/realm-dev.json
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :sparkles: add download link for includes.zip
  apps/client/cypress/components/specs/repo-form.ct.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/package.json
  apps/client/src/components/CIForm.vue
  pnpm-lock.yaml
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :sparkles: add description field for a project
  apps/client/cypress/e2e/specs/create-project.e2e.js
  apps/client/cypress/e2e/specs/dashboard.e2e.js
  apps/client/src/api/api.js
  apps/client/src/icons.js
  apps/client/src/stores/project.js
  apps/client/src/stores/project.spec.js
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/server/src/controllers/project.js
  apps/server/src/controllers/repository.js
  apps/server/src/models/project.js
  apps/server/src/models/queries/project-queries.js
  apps/server/src/models/queries/repository-queries.js
  apps/server/src/routes/project.js
  apps/server/src/routes/project.spec.js
  apps/server/src/utils/queries-tools.js
  business-rules.md
  packages/shared/src/schemas/project.js
  packages/shared/src/utils/schemas.spec.js
  packages/test-utils/src/imports/data.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

chore: :recycle: Migrate from WindiCSS to UnoCSS
  apps/client/package.json
  apps/client/src/main.js
  apps/client/uno.config.ts
  apps/client/vite.config.js
  pnpm-lock.yaml
Due: pnpm run format --filter client

fix: :construction: use ingress
  helm/templates/ingress.yaml
  helm/values.yaml
Due: none

chore: :arrow_up: upgrade all minor / patch dependancies
  apps/client/package.json
  apps/client/src/components/CIForm.vue
  apps/server/package.json
  packages/shared/package.json
  packages/test-utils/package.json
  pnpm-lock.yaml
Due: pnpm run format --filter client
