Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm --filter=@cpn-console/client run lint:style --",
  "**/apps/client/**/*": "pnpm --filter=@cpn-console/client run lint:ts --",
  "**/apps/server/**/*": "pnpm --filter=@cpn-console/server run lint --",
  "**/packages/**/*": "pnpm --filter=./packages/* run lint --",
  "**/plugins/**/*": "pnpm --filter=./plugins/* run lint --",
  "**/*": "pnpm run lint:root --"
}

refactor(shared): add token pair generation and expiration schema
  apps/server-nestjs/src/utils/crypto.spec.ts
  apps/server-nestjs/src/utils/crypto.utils.ts
  apps/server-nestjs/src/utils/schemas.ts
  packages/shared/src/schemas/index.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

test(admin-role): cover patch coherent-position path
  apps/server-nestjs/src/modules/admin-role/admin-role.service.spec.ts
Due: pnpm run lint:root --

refactor(admin-role): remove dead testing-utils exports
  apps/server-nestjs/src/modules/admin-role/admin-role-testing.utils.ts
  apps/server-nestjs/src/utils/crypto.utils.ts
  apps/server-nestjs/src/utils/schemas.ts
  packages/shared/src/schemas/index.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(admin-roles): migrate from server
  apps/server-nestjs/documentation/Modularisation-de-console-server/MODULARISATION-CARTOGRAPHIE.md
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/admin-role/admin-role-queries.utils.ts
  apps/server-nestjs/src/modules/admin-role/admin-role-testing.utils.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.controller.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.module.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.service.spec.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.service.ts
  apps/server-nestjs/src/modules/admin-role/admin-role.utils.ts
Due: pnpm run lint:root --

refactor(server-nestjs): route Keycloak group creation through shared ensure util
  apps/server-nestjs/src/modules/keycloak/keycloak-client.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.utils.ts
Due: pnpm run lint:root --

fix(deployment): send value source paths to ArgoCD without <env> substitution
  apps/client/src/components/DeploymentValueSourceOption.vue
  apps/server-nestjs/src/modules/argocd/argocd.service.spec.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
  apps/server-nestjs/src/modules/deployment/deployment.service.spec.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

feat(server-nestjs): proactive GitLab mirror token rotation with enforced headroom
  apps/server-nestjs/.env.integ-example
  apps/server-nestjs/src/config/gitlab.config.spec.ts
  apps/server-nestjs/src/config/gitlab.config.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-testing.utils.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
Due: pnpm run lint:root --

fix(observability): restore legacy dual-bucket Grafana RBAC sync
  apps/server-nestjs/src/modules/observability/observability.service.spec.ts
  apps/server-nestjs/src/modules/observability/observability.utils.spec.ts
  apps/server-nestjs/src/modules/observability/observability.utils.ts
  apps/server-nestjs/test/observability.e2e-spec.ts
Due: pnpm run lint:root --

test(gitlab): cover ensure util and race-commit idempotency
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.utils.spec.ts
Due: pnpm run lint:root --

refactor(gitlab): rename ensureCreated to ensure and extract race detection
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.utils.ts
Due: pnpm run lint:root --

fix: OpenCDS should have been enabled though plugin service not from main
  apps/server-nestjs/src/main.module.ts
Due: pnpm run lint:root --

fix(client): guard syncRepository against cleared selectedRepo after await
  apps/client/src/components/ProjectResources.vue
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

refactor(server-nestjs): extract e2e spec gates to per-file utils
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/argocd.utils.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  apps/server-nestjs/test/gitlab.utils.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/test/keycloak.utils.ts
  apps/server-nestjs/test/log.e2e-spec.ts
  apps/server-nestjs/test/log.utils.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
  apps/server-nestjs/test/nexus.utils.ts
  apps/server-nestjs/test/observability.e2e-spec.ts
  apps/server-nestjs/test/observability.utils.ts
  apps/server-nestjs/test/project-bulk.e2e-spec.ts
  apps/server-nestjs/test/project-bulk.utils.ts
  apps/server-nestjs/test/project-hooks.e2e-spec.ts
  apps/server-nestjs/test/project-hooks.utils.ts
  apps/server-nestjs/test/project-members.e2e-spec.ts
  apps/server-nestjs/test/project-members.utils.ts
  apps/server-nestjs/test/project-roles.e2e-spec.ts
  apps/server-nestjs/test/project-roles.utils.ts
  apps/server-nestjs/test/project-secrets.e2e-spec.ts
  apps/server-nestjs/test/project-secrets.utils.ts
  apps/server-nestjs/test/project-services.e2e-spec.ts
  apps/server-nestjs/test/project-services.utils.ts
  apps/server-nestjs/test/project.e2e-spec.ts
  apps/server-nestjs/test/project.utils.ts
  apps/server-nestjs/test/registry.e2e-spec.ts
  apps/server-nestjs/test/registry.utils.ts
  apps/server-nestjs/test/sonarqube.e2e-spec.ts
  apps/server-nestjs/test/sonarqube.utils.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  apps/server-nestjs/test/vault.utils.ts
  apps/server-nestjs/test/zone.e2e-spec.ts
  apps/server-nestjs/test/zone.utils.ts
Due: pnpm run lint:root --

feat(server-nestjs): add Sécurité role to project system
  apps/server-nestjs/src/modules/project/project.service.spec.ts
  apps/server-nestjs/src/modules/project/project.utils.ts
Due: pnpm run lint:root --

docs: record recurring agent rules in AGENTS.md
  AGENTS.md
Due: pnpm run lint:root --

chore(deps): mitigate Dependabot alerts via lock refresh and overrides
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint:root --

refactor(shared): add token pair generation and expiration schema
  apps/server-nestjs/src/utils/schemas.ts
  packages/shared/src/schemas/index.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(user-tokens): migrate from server
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/infrastructure/clean-types/controller-body.types.ts
  apps/server-nestjs/src/modules/plugin/plugin.module.spec.ts
  apps/server-nestjs/src/modules/project-bulk/project-bulk.controller.ts
  apps/server-nestjs/src/modules/project-bulk/project-bulk.service.ts
  apps/server-nestjs/src/modules/project-roles/project-roles.controller.ts
  apps/server-nestjs/src/modules/project/project-testing.utils.ts
  apps/server-nestjs/src/modules/project/project.controller.ts
  apps/server-nestjs/src/modules/project/project.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens-queries.utils.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens-queries.utils.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.controller.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.module.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.utils.ts
  apps/server-nestjs/test/user-tokens.e2e-spec.ts
Due: pnpm run lint:root --

test(user-tokens): assert orderBy status then createdAt in list
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
Due: pnpm run lint:root --

test(server-nestjs): parité reconcile-only des rôles admin keycloak + garde d'émission
  apps/server-nestjs/src/modules/events/app-events.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.spec.ts
Due: pnpm run lint:root --

fix: normalize Cluster label to lowercase
  packages/shared/src/schemas/cluster.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(user-tokens): realign module with server-nestjs conventions
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/admin-role/admin-role-testing.utils.ts
  apps/server-nestjs/src/modules/infrastructure/clean-types/controller-body.types.ts
  apps/server-nestjs/src/modules/plugin/plugin.module.spec.ts
  apps/server-nestjs/src/modules/project-bulk/project-bulk.controller.ts
  apps/server-nestjs/src/modules/project-bulk/project-bulk.service.ts
  apps/server-nestjs/src/modules/project-roles/project-roles.controller.ts
  apps/server-nestjs/src/modules/project/project-testing.utils.ts
  apps/server-nestjs/src/modules/project/project.controller.ts
  apps/server-nestjs/src/modules/project/project.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens-queries.utils.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.module.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.utils.ts
  apps/server-nestjs/src/utils/schemas.ts
  apps/server-nestjs/test/user-tokens.e2e-spec.ts
  packages/shared/src/schemas/index.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

test(gitlab): pin mirror token age in rotation spec
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
Due: pnpm run lint:root --

fix(client): clarify values file path hint per value source type
  apps/client/src/components/DeploymentValueSourceOption.vue
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

test(server-nestjs): lock projectMember emit parity + dangling-consumer guard
  apps/server-nestjs/src/modules/project-members/project-members.service.spec.ts
Due: pnpm run lint:root --

fix(server-nestjs): sort node imports in project-member parity spec
  apps/server-nestjs/src/modules/project-members/project-members.service.spec.ts
Due: pnpm run lint:root --

test(server-nestjs): lock nexus/sonarqube/registry external error-path parity
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.spec.ts
Due: pnpm run lint:root --
