Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format --filter cypress

fix: :bug: update for production ready
  .dockerignore
  apps/ansible-api/Dockerfile
  apps/ansible-api/src/ansible.js
  apps/client/Dockerfile
  apps/client/src/utils/keycloak/config.js
  apps/server/Dockerfile
  apps/server/src/utils/keycloak.js
  ci/scripts/pushtoquay.sh
Due: pnpm run format --filter client

refactor: :truck: Rename package tests-utils into test-utils
  packages/test-utils/.eslintrc.cjs
  packages/test-utils/package.json
  packages/test-utils/src/func-utils.js
  packages/test-utils/src/index.js
  packages/test-utils/src/random-ansible.js
  packages/test-utils/src/random-project.js
  packages/test-utils/src/random-utils.js
  pnpm-lock.yaml
Due: none

ci: :construction_worker: Update ci scripts
  ci/scripts/build-matrix.sh
  ci/scripts/init-env.sh
  ci/scripts/push-to-quay.sh
Due: none

chore: :wrench: Update env files
  env/.env-example
  env/.env.ci-example
Due: none

refactor: :recycle: Improve variables management for server
  apps/server/src/connect.js
  apps/server/src/controllers/project.js
  apps/server/src/server.js
  apps/server/src/utils/env.js
  apps/server/src/utils/keycloak.js
Due: none

refactor: :recycle: Improve variables management for ansible api
  apps/ansible-api/src/ansible.js
  apps/ansible-api/src/controllers/project.js
  apps/ansible-api/src/server.js
  apps/ansible-api/src/utils/env.js
Due: none

refactor: :wrench: Update cypress config for component tests
  apps/client/cypress.config.js
Due: pnpm run format --filter client

refactor: :recycle: Add keycloak protocol variable to client
  apps/client/nginx/entrypoint.sh
  apps/client/src/utils/env.js
  apps/client/src/utils/keycloak/config.js
Due: pnpm run format --filter client

feat: :bricks: change routes
  apps/ansible-api/Dockerfile
  apps/client/Dockerfile
  apps/client/nginx/default.conf
  docker/docker-compose.prod.yml
Due: none

feat: :card_file_box: Create database & table on server start if not exists
  apps/server/src/connect.js
  apps/server/src/server.js
Due: none

feat: :lock: Add keycloak token check on ansible api
  apps/ansible-api/package.json
  apps/ansible-api/src/app.js
  apps/ansible-api/src/routes/project.spec.js
  apps/ansible-api/src/routes/repository.spec.js
  apps/ansible-api/src/server.spec.js
  apps/ansible-api/src/utils/env.js
  apps/ansible-api/src/utils/keycloak.js
  apps/server/src/controllers/project.js
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.e2e.yml
  docker/docker-compose.prod.yml
  env/.env-example
  env/.env.ci-example
  keycloak/realms/realm-dev.json
  pnpm-lock.yaml
Due: none

test: :white_check_mark: Update server unit tests
  apps/server/src/controllers/project.js
  apps/server/src/routes/project.spec.js
Due: none

refactor: :fire: Remove unused nginx conf code
  apps/client/nginx/default.conf
Due: none

fix: :bug: Fix db init if not exists
  apps/server/src/connect.js
  docker/docker-compose.ci.yml
  docker/docker-compose.prod.yml
  package.json
Due: none

fix: :loud_sound: Add logs for investigation
  apps/client/src/main.js
  apps/client/src/utils/keycloak/init.js
Due: pnpm run format --filter client

feat: :poop: Pass current location to redirectUri
  apps/client/src/main.js
  apps/client/src/utils/keycloak/init.js
Due: pnpm run format --filter client

feat: :recycle: Merge conf and init in a single keycloak file
  apps/client/src/App.vue
  apps/client/src/api/xhr-client.js
  apps/client/src/api/xhr-client.spec.js
  apps/client/src/main.js
  apps/client/src/stores/user.js
  apps/client/src/utils/keycloak/config.js
  apps/client/src/utils/keycloak/keycloak.js
  apps/client/src/utils/keycloak/keycloak.spec.js
Due: pnpm run format --filter client

test: :test_tube: Try to fix in ci redirection test
  apps/client/cypress/e2e/specs/redirection.e2e.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

test: :white_check_mark: Handle store on reload and add e2e tests
  apps/client/cypress/e2e/specs/projects.e2e.js
  apps/client/cypress/e2e/specs/redirection.e2e.js
  apps/client/cypress/e2e/specs/sidebar.e2e.js
  apps/client/cypress/e2e/specs/team.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/cypress/e2e/support/func.js
  apps/client/src/api/xhr-client.js
  apps/client/src/api/xhr-client.spec.js
  apps/client/src/router/index.js
  apps/client/src/utils/keycloak/keycloak.js
  apps/client/src/utils/regex.js
  apps/client/src/utils/regex.spec.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

test: :test_tube: Try to fix e2e redirection in ci test
  .gitignore
  apps/client/cypress/e2e/specs/redirection.e2e.js
  apps/client/src/router/index.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

chore: :arrow_up: Upgrade cypress v
  apps/client/cypress/Dockerfile
  apps/client/package.json
  pnpm-lock.yaml
Due: none

test: :test_tube: Wip fixing redirection test in ci
  apps/client/cypress/e2e/specs/redirection.e2e.js
  apps/client/cypress/e2e/support/commands.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :pencil2: Typo in js
  apps/client/src/router/index.js
Due: pnpm run format --filter client

test: :test_tube: Try last fix for e2e test
  apps/client/cypress/e2e/specs/redirection.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/views/CreateProject.vue
Due: pnpm run format --filter client, pnpm run format --filter cypress

test: :poop: Skip e2e redirection test because it fails in ci
  apps/client/cypress/e2e/specs/redirection.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/views/projects/DsoProjects.vue
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :speech_balloon: Correct services url
  .gitignore
  apps/client/cypress.config.js
  apps/client/cypress/e2e/specs/services.e2e.js
  apps/client/nginx/entrypoint.sh
  apps/client/src/utils/env.js
  apps/client/src/views/projects/DsoServices.vue
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.e2e.yml
  docker/docker-compose.prod.yml
  env/.env-example
  env/.env.ci-example
Due: pnpm run format --filter client, pnpm run format --filter cypress

refactor: :art: split extra vars in multiple arguments
  apps/server/src/ansible.js
  apps/server/src/controllers/project.js
  apps/server/src/utils/tools.js
Due: none

fix: :bug: multiple fixes, increase some log verbosity
  apps/server/src/ansible.js
  apps/server/src/controllers/project.js
Due: none

build: :art: remove kubeconfig from image, use inventaire instead
  apps/server/Dockerfile
Due: none

fix: :alembic: edit server image, kubeconfig fix for ansible
  apps/server/Dockerfile
Due: none

test: :white_check_mark: Fix ansible tests with prepareEnv function
  apps/server/src/ansible.spec.js
Due: none

fix: :alembic: edit code to run with new ansible directories
  apps/client/Dockerfile
  apps/server/Dockerfile
  apps/server/src/ansible.js
  docker/docker-compose.demo.yml
  package.json
Due: none

chore: :alembic: Bypass ansible api for demo purpose
  apps/server/Dockerfile
  apps/server/src/ansible.js
  apps/server/src/ansible.spec.js
  apps/server/src/controllers/project.js
  apps/server/src/routes/project.spec.js
  apps/server/src/utils/env.js
  apps/server/src/utils/matches.js
  apps/server/src/utils/tools.js
Due: none

refactor: :art: avoid clone playbooksDictionary in controller, destructure it in ansible.js
  apps/server/src/ansible.js
  apps/server/src/controllers/project.js
Due: none

fix: :ambulance: fix a commit written too late in the night
  apps/server/src/ansible.js
Due: none

build: :building_construction: Change entrypoint by cmd
  apps/server/Dockerfile
Due: none

test: :white_check_mark: Fix tests
  apps/ansible-api/src/ansible.js
  apps/ansible-api/src/controllers/project.js
  apps/ansible-api/src/controllers/repository.js
  apps/ansible-api/src/utils/env.js
  apps/ansible-api/src/utils/tools.js
  apps/init-ansible-api/Dockerfile
  apps/init-ansible-api/clone.sh
  apps/server/src/ansible.js
  apps/server/src/controllers/project.js
  apps/server/src/utils/env.js
  ci/scripts/push-to-quay.sh
  docker/docker-compose.demo.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.e2e.yml
  docker/docker-compose.prod.yml
  package.json
Due: none

refactor: :recycle: Rafactor after review
  apps/ansible-api/src/ansible.js
  apps/ansible-api/src/server.js
  apps/ansible-api/src/utils/tools.js
  apps/init-ansible-api/Dockerfile
  apps/init-ansible-api/clone.sh
  ci/scripts/push-to-quay.sh
  docker/docker-compose.demo.yml
Due: none

fix: :zap: remove ansible legacy from server
  apps/ansible-api/src/server.js
  apps/server/src/ansible.js
  apps/server/src/ansible.spec.js
  apps/server/src/controllers/project.js
Due: none

fix: :bug: remove extra properties, it failed tests
  apps/server/src/controllers/project.js
Due: none

Path conditions:
  pnpm run format --filter client: any of: **/client/**/*.{js,ts,vue,css}
  pnpm run format --filter cypress: any of: **/cypress/**/*.{js,cjs,ts}
