Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm --filter=@cpn-console/client run lint:style --",
  "**/apps/client/**/*": "pnpm --filter=@cpn-console/client run lint:ts --",
  "**/apps/server/**/*": "pnpm --filter=@cpn-console/server run lint --",
  "**/packages/**/*": "pnpm --filter=./packages/* run lint --",
  "**/plugins/**/*": "pnpm --filter=./plugins/* run lint --",
  "**/*": "pnpm run lint:root --"
}

refactor(server-nestjs): migrate package managers to NestJS
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.controller.ts
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.module.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-controller.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus-controller.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-datastore.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-health.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-testing.utils.ts
  apps/server-nestjs/src/modules/nexus/nexus.constants.ts
  apps/server-nestjs/src/modules/nexus/nexus.module.ts
  apps/server-nestjs/src/modules/nexus/nexus.utils.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.ts
  apps/server-nestjs/src/modules/registry/registry-health.service.ts
  apps/server-nestjs/src/modules/registry/registry.module.ts
  apps/server-nestjs/src/modules/registry/registry.utils.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
Due: pnpm run lint:root --

chore: add reconciler
  apps/server-nestjs/src/cpin-module/infrastructure/reconcile/reconcile.constants.ts
  apps/server-nestjs/src/cpin-module/infrastructure/reconcile/reconcile.decorator.ts
  apps/server-nestjs/src/modules/nexus/nexus-controller.service.ts
Due: pnpm run lint:root --

refactor(argocd): migrate ArgoCD to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.controller.ts
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.module.ts
  apps/server-nestjs/src/modules/argocd/argocd-controller.service.spec.ts
  apps/server-nestjs/src/modules/argocd/argocd-controller.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-datastore.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-health.service.ts
  apps/server-nestjs/src/modules/argocd/argocd.module.ts
  apps/server-nestjs/src/modules/gitlab/files/.gitlab-ci.yml
  apps/server-nestjs/src/modules/gitlab/files/mirror.sh
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-controller.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-controller.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-datastore.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-health.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-testing.utils.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.constants.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.module.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault-controller.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault-controller.service.ts
  apps/server-nestjs/src/modules/vault/vault-datastore.service.ts
  apps/server-nestjs/src/modules/vault/vault-health.service.ts
  apps/server-nestjs/src/modules/vault/vault.module.ts
  apps/server-nestjs/src/modules/vault/vault.utils.ts
  apps/server-nestjs/src/prisma/schema/project.prisma
  apps/server-nestjs/src/utils/iterable.ts
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

refactor(keycloak): migrate Keycloak plugin to NestJS
  AGENTS.md
  apps/server-nestjs/.env-example
  apps/server-nestjs/.env.docker-example
  apps/server-nestjs/.env.integ-example
  apps/server-nestjs/documentation/Modularisation-de-console-server/02-ARCHITECTURE-MODULES.md
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.controller.ts
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/infrastructure.module.ts
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/keycloak/keycloack-testing.utils.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-client.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-controller.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-controller.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-datastore.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-health.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.constants.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.module.ts
  apps/server-nestjs/src/prisma/schema/project.prisma
  apps/server-nestjs/src/utils/iterable.ts
  apps/server-nestjs/test/app.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

fix: import missing health module Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/database-initialization.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/database-initialization.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database-health.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/prisma.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.controller.ts
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/infrastructure.module.ts
  apps/server-nestjs/src/prisma.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore: drop usage of path alias Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/database-initialization.service.ts
  apps/server-nestjs/src/cpin-module/core/app/app.service.spec.ts
  apps/server-nestjs/src/cpin-module/core/fastify/fastify.service.spec.ts
Due: pnpm run lint:root --

chore(ci): fix trivy action version to avoid suppy-chain compromision
  .github/workflows/job-scan.yml
Due: pnpm run lint:root --

chore(harbor): add trace logs
  plugins/harbor/src/functions.ts
  plugins/harbor/src/project.ts
  plugins/harbor/src/robot.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(gitlab): add trace logs
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/utils.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

Add trace logs on plugins Gitlab and Harbor (#2006)
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/utils.ts
  plugins/harbor/src/functions.ts
  plugins/harbor/src/project.ts
  plugins/harbor/src/robot.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore(ci): fix sonarqube-quality-gate-action version
  .github/workflows/job-tests-unit.yml
Due: pnpm run lint:root --

refactor(keycloak): migrate Keycloak plugin to NestJS
  AGENTS.md
  apps/server-nestjs/.env-example
  apps/server-nestjs/.env.docker-example
  apps/server-nestjs/.env.integ-example
  apps/server-nestjs/documentation/Modularisation-de-console-server/02-ARCHITECTURE-MODULES.md
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.controller.ts
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/infrastructure.module.ts
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/keycloak/keycloack-testing.utils.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-client.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-datastore.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-health.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.constants.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.module.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.ts
  apps/server-nestjs/src/prisma/schema/project.prisma
  apps/server-nestjs/src/utils/iterable.ts
  apps/server-nestjs/test/app.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

refactor(argocd): migrate ArgoCD to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.controller.ts
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.module.ts
  apps/server-nestjs/src/modules/argocd/argocd-datastore.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-health.service.ts
  apps/server-nestjs/src/modules/argocd/argocd.module.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.spec.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
  apps/server-nestjs/src/modules/gitlab/files/.gitlab-ci.yml
  apps/server-nestjs/src/modules/gitlab/files/mirror.sh
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-datastore.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-health.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-testing.utils.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.constants.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.module.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault-datastore.service.ts
  apps/server-nestjs/src/modules/vault/vault-health.service.ts
  apps/server-nestjs/src/modules/vault/vault.module.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  apps/server-nestjs/src/modules/vault/vault.utils.ts
  apps/server-nestjs/src/prisma/schema/project.prisma
  apps/server-nestjs/src/utils/iterable.ts
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

refactor(server-nestjs): migrate package managers to NestJS
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.controller.ts
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.module.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-datastore.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-health.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-testing.utils.ts
  apps/server-nestjs/src/modules/nexus/nexus.constants.ts
  apps/server-nestjs/src/modules/nexus/nexus.module.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.utils.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.ts
  apps/server-nestjs/src/modules/registry/registry-health.service.ts
  apps/server-nestjs/src/modules/registry/registry.module.ts
  apps/server-nestjs/src/modules/registry/registry.utils.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
Due: pnpm run lint:root --

chore: add reconciler
  apps/server-nestjs/src/cpin-module/infrastructure/reconcile/reconcile.constants.ts
  apps/server-nestjs/src/cpin-module/infrastructure/reconcile/reconcile.decorator.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
Due: pnpm run lint:root --

fix: import missing health module Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/database-initialization.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/database-initialization.service.ts
  apps/server-nestjs/src/cpin-module/cpin.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database-health.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/prisma.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.controller.ts
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/infrastructure.module.ts
  apps/server-nestjs/src/prisma.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

refactor(keycloak): migrate Keycloak plugin to NestJS
  AGENTS.md
  apps/server-nestjs/.env-example
  apps/server-nestjs/.env.docker-example
  apps/server-nestjs/.env.integ-example
  apps/server-nestjs/documentation/Modularisation-de-console-server/02-ARCHITECTURE-MODULES.md
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.controller.ts
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.module.ts
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/keycloak/keycloack-testing.utils.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-client.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-datastore.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-health.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.constants.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.module.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.ts
  apps/server-nestjs/src/prisma/schema/project.prisma
  apps/server-nestjs/src/utils/iterable.ts
  apps/server-nestjs/test/app.e2e-spec.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  apps/server-nestjs/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore: remove lint rules that does nothing
  packages/eslintconfig/src/index.js
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --
