Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

test(gitlab): pin instance-admin survival in e2e suite
  apps/server-nestjs/test/gitlab.e2e-spec.ts
Due: pnpm run lint:root --

fix(server-nestjs): drop AdminTokenModule registration, owned by stacked admin-token PR
  apps/server-nestjs/src/main.module.ts
Due: pnpm run lint:root --

fix(server-nestjs): register AdminTokenModule for downstream stacks
  apps/server-nestjs/src/main.module.ts
Due: pnpm run lint:root --

fix(gitlab): make role membership authoritative for instance flags
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.utils.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.utils.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
Due: pnpm run lint:root --

fix(server-nestjs): wire ClusterModule provider imports
  apps/server-nestjs/src/modules/cluster/cluster.module.ts
Due: pnpm run lint:root --

refactor(events): move plugin-failure throws into AppEventsService
  apps/server-nestjs/src/modules/argocd/argocd-datastore.service.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
  apps/server-nestjs/src/modules/argocd/argocd.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster-testing.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster.controller.spec.ts
  apps/server-nestjs/src/modules/cluster/cluster.controller.ts
  apps/server-nestjs/src/modules/cluster/cluster.module.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.spec.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.ts
  apps/server-nestjs/src/modules/cluster/cluster.utils.ts
  apps/server-nestjs/src/modules/environment/environment.service.spec.ts
  apps/server-nestjs/src/modules/environment/environment.service.ts
  apps/server-nestjs/src/modules/events/app-events.service.ts
  apps/server-nestjs/src/modules/repository/repository.service.spec.ts
  apps/server-nestjs/src/modules/repository/repository.service.ts
  packages/shared/src/contracts/cluster.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

test(cluster): lock controller permission matrix
  apps/server-nestjs/src/modules/cluster/cluster.controller.spec.ts
Due: pnpm run lint:root --

refactor(cluster): drop Kubeconfig import alias
  apps/server-nestjs/src/modules/cluster/cluster-queries.utils.ts
Due: pnpm run lint:root --

fix(argocd): align vault secret-id helper with renamed ensure method
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
Due: pnpm run lint:root --

fix(server-nestjs): provide EventEmitter2 to ClusterModule
  apps/server-nestjs/src/modules/cluster/cluster.module.ts
Due: pnpm run lint:root --

refactor(cluster): drop Query import aliases for query utils
  apps/server-nestjs/src/modules/cluster/cluster-queries.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster-testing.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.ts
  apps/server-nestjs/src/modules/cluster/cluster.utils.ts
  packages/shared/src/contracts/cluster.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(events): return failed-event handling to calling services
  apps/server-nestjs/src/modules/cluster/cluster-queries.utils.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.spec.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.ts
  apps/server-nestjs/src/modules/events/app-events.service.ts
  apps/server-nestjs/src/modules/events/app-events.utils.ts
Due: pnpm run lint:root --

refactor(cluster): upstream named body schemas and apply review fixes
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/cluster/cluster.controller.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.spec.ts
Due: pnpm run lint:root --

fix(cluster): drop invalid guard metadata specs
  apps/server-nestjs/src/modules/cluster/cluster.controller.spec.ts
Due: pnpm run lint:root --

chore(nginx-strangler): route /api/v1/clusters to server-nestjs
  apps/nginx-strangler/conf.d/routing.conf
Due: pnpm run lint:root --

fix(zone): accept null log projectId and validate zone UUID params
  apps/server-nestjs/src/modules/events/app-events.service.spec.ts
  apps/server-nestjs/src/modules/events/app-events.service.ts
  apps/server-nestjs/src/modules/zone/zone.controller.spec.ts
  apps/server-nestjs/src/modules/zone/zone.controller.ts
Due: pnpm run lint:root --

refactor(shared): add token pair generation and expiration schema
  apps/server-nestjs/src/utils/schemas.ts
  packages/shared/src/schemas/index.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(zone): drop event-helper comment
  apps/server-nestjs/src/modules/zone/zone.service.ts
Due: pnpm run lint:root --

fix(cluster): drop duplicated AppEventsModule import
  apps/server-nestjs/src/modules/cluster/cluster.module.ts
Due: pnpm run lint:root --

refactor(zone): map records to contract in controller
  apps/server-nestjs/src/modules/zone/zone-testing.utils.ts
  apps/server-nestjs/src/modules/zone/zone.controller.spec.ts
  apps/server-nestjs/src/modules/zone/zone.controller.ts
  apps/server-nestjs/src/modules/zone/zone.service.spec.ts
  apps/server-nestjs/src/modules/zone/zone.service.ts
  apps/server-nestjs/src/modules/zone/zone.utils.ts
Due: pnpm run lint:root --

refactor(zone): name the update body schema in shared
  packages/shared/src/contracts/zone.ts
  packages/shared/src/schemas/zone.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(zone): name the zone record type in service specs
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/admin-role/admin-role-testing.utils.ts
  apps/server-nestjs/src/modules/events/app-events.service.spec.ts
  apps/server-nestjs/src/modules/events/app-events.service.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  apps/server-nestjs/src/modules/zone/zone-queries.utils.ts
  apps/server-nestjs/src/modules/zone/zone-testing.utils.ts
  apps/server-nestjs/src/modules/zone/zone.controller.spec.ts
  apps/server-nestjs/src/modules/zone/zone.controller.ts
  apps/server-nestjs/src/modules/zone/zone.module.ts
  apps/server-nestjs/src/modules/zone/zone.service.spec.ts
  apps/server-nestjs/src/modules/zone/zone.service.ts
  apps/server-nestjs/test/zone.e2e-spec.ts
  packages/shared/src/contracts/zone.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(events): move plugin-failure throws into AppEventsService
  apps/server-nestjs/src/modules/cluster/cluster.module.ts
  packages/shared/src/contracts/cluster.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

fix(cluster): drop invalid guard metadata specs
  apps/server-nestjs/src/modules/cluster/cluster.controller.ts
  apps/server-nestjs/src/modules/cluster/cluster.service.spec.ts
Due: pnpm run lint:root --

refactor(time): converge date helpers into utils/time.utils
  apps/client/src/views/profile/PersonalAccessTokens.vue
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.utils.ts
  apps/server-nestjs/src/modules/registry/registry.service.ts
  apps/server-nestjs/src/utils/time.utils.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

test(user-tokens): add endOfToday time util
  apps/client/src/stores/token.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.controller.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
  apps/server-nestjs/src/utils/time.utils.ts
  apps/server-nestjs/test/user-tokens.e2e-spec.ts
  packages/shared/src/schemas/token.spec.ts
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

test(user-tokens): share the end-of-today anchor via shared utils
  apps/server-nestjs/src/modules/user-tokens/user-tokens.controller.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
  apps/server-nestjs/test/user-tokens.e2e-spec.ts
  packages/shared/src/contracts/personal-access-token.ts
  packages/shared/src/utils/functions.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

test(user-tokens): assert orderBy status then createdAt in list
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
Due: pnpm run lint:root --

refactor(user-tokens): realign module with server-nestjs conventions
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/admin-role/admin-role-testing.utils.ts
  apps/server-nestjs/src/modules/infrastructure/clean-types/controller-body.types.ts
  apps/server-nestjs/src/modules/plugin/plugin.module.spec.ts
  apps/server-nestjs/src/modules/project-bulk/project-bulk.controller.ts
  apps/server-nestjs/src/modules/project-bulk/project-bulk.service.ts
  apps/server-nestjs/src/modules/project-roles/project-roles.controller.ts
  apps/server-nestjs/src/modules/project/project-testing.utils.ts
  apps/server-nestjs/src/modules/project/project.controller.ts
  apps/server-nestjs/src/modules/project/project.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens-queries.utils.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.module.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.utils.ts
  apps/server-nestjs/src/utils/schemas.ts
  apps/server-nestjs/test/user-tokens.e2e-spec.ts
  packages/shared/src/schemas/index.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(user-tokens): migrate from server
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/infrastructure/clean-types/controller-body.types.ts
  apps/server-nestjs/src/modules/plugin/plugin.module.spec.ts
  apps/server-nestjs/src/modules/project-bulk/project-bulk.controller.ts
  apps/server-nestjs/src/modules/project-bulk/project-bulk.service.ts
  apps/server-nestjs/src/modules/project-roles/project-roles.controller.ts
  apps/server-nestjs/src/modules/project/project-testing.utils.ts
  apps/server-nestjs/src/modules/project/project.controller.ts
  apps/server-nestjs/src/modules/project/project.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens-queries.utils.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens-queries.utils.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.controller.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.module.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.utils.ts
  apps/server-nestjs/test/user-tokens.e2e-spec.ts
Due: pnpm run lint:root --

test(user-tokens): move endOfToday into server-nestjs testing utils
  apps/server-nestjs/src/modules/user-tokens/user-tokens.controller.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
  apps/server-nestjs/src/testing.utils.ts
  apps/server-nestjs/test/user-tokens.e2e-spec.ts
  packages/shared/src/utils/functions.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

test(user-tokens): cover owner-scoped token deletion
  apps/server-nestjs/src/modules/user-tokens/user-tokens-queries.utils.spec.ts
Due: pnpm run lint:root --

test(user-tokens): name the one-day expiration offset
  apps/server-nestjs/src/modules/user-tokens/user-tokens.controller.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
Due: pnpm run lint:root --

refactor(user-tokens): single entry point for expiry check and token hash
  apps/server-nestjs/src/modules/infrastructure/auth/dso-token/dso-token.service.spec.ts
  apps/server-nestjs/src/modules/infrastructure/auth/dso-token/dso-token.service.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.controller.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.spec.ts
  apps/server-nestjs/src/modules/user-tokens/user-tokens.service.ts
  apps/server-nestjs/src/utils/crypto.spec.ts
  apps/server-nestjs/src/utils/crypto.utils.ts
  apps/server-nestjs/test/user-tokens.e2e-spec.ts
Due: pnpm run lint:root --

test(user-tokens): drop specs for non-module code
  apps/server-nestjs/src/modules/user-tokens/user-tokens.controller.spec.ts
  apps/server-nestjs/src/utils/crypto.spec.ts
  packages/shared/src/schemas/token.spec.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

Path conditions:
  pnpm --filter=@cpn-console/client run lint:style --: any of: **/apps/client/**/*.{vue,css}
  pnpm --filter=@cpn-console/client run lint:ts --: any of: **/apps/client/**/*
  pnpm --filter=@cpn-console/server run lint --: any of: **/apps/server/**/*
  pnpm --filter=./packages/* run lint --: any of: **/packages/**/*
  pnpm --filter=./plugins/* run lint --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
