Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

feat: hide OIDC group and type implementation from end consumer Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

feat: hide OIDC group and type implementation from end consumer Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/utils/func.ts
  apps/server-nestjs/.envrc
  playwright/e2e-tests/project-roles.spec.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

fix(client): writable permissions on managed roles
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/utils/func.ts
  playwright/e2e-tests/project-roles.spec.ts
  playwright/e2e-tests/system-roles.spec.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

fix(client): writable permissions on managed roles
  apps/client/src/components/ProjectRoleForm.vue
  playwright/e2e-tests/project-roles.spec.ts
  playwright/e2e-tests/system-roles.spec.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

fix(client): writable permissions on managed roles
  apps/client/src/components/ProjectRoleForm.vue
  playwright/e2e-tests/project-roles.spec.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

feat: segregate system role with prefix type as protected resources Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/client/src/components/ProjectRoleForm.vue
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server/package.json
  apps/server/src/prisma/migrations/20260330122500_migrate_project_system_roles_type_system_managed/migration.sql
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project/queries.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat: segregate system role with prefix type as protected resources Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server/package.json
  apps/server/src/prisma/migrations/20260330122500_migrate_project_system_roles_type_system_managed/migration.sql
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project/queries.ts
  package.json
  packages/test-utils/src/imports/data.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat: segregate system role with prefix type as protected resources Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server/package.json
  apps/server/src/prisma/migrations/20260330122500_migrate_project_system_roles_type_system_managed/migration.sql
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project/queries.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat: segregate system role with prefix type as protected resources Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server/package.json
  apps/server/src/prisma/migrations/20260330122500_migrate_project_system_roles_type_system_managed/migration.sql
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project/queries.ts
  packages/test-utils/src/imports/data.ts
  playwright/e2e-tests/roles.spec.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat: segregate system role with prefix type as protected resources Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server/src/prisma/migrations/20260330122500_migrate_project_system_roles_type_system_managed/migration.sql
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project/queries.ts
  packages/test-utils/src/imports/data.ts
  playwright/e2e-tests/roles.spec.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat: segregate system role with prefix type as protected resources Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server/src/prisma/migrations/20260330122500_migrate_project_system_roles_type_system_managed/migration.sql
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project/queries.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/roles.ts
  packages/test-utils/src/imports/data.ts
  playwright/e2e-tests/roles.spec.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat: segregate system role with prefix type as protected resources Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server/src/prisma/migrations/20260330122500_migrate_project_system_roles_type_system_managed/migration.sql
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project/queries.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/roles.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat: segregate system role with prefix type as protected resources Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  README.md
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server/src/prisma/migrations/20260330122500_migrate_project_system_roles_type_system_managed/migration.sql
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project/queries.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/roles.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat: segregate system role with prefix type as protected resources Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  .vscode/launch.json
  README.md
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server/src/prisma/migrations/20260330122500_migrate_project_system_roles_type_system_managed/migration.sql
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project/queries.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/roles.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat: segregate system role with prefix type as protected resources Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  .vscode/launch.json
  README.md
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server/src/prisma/migrations/20260330122500_migrate_project_system_roles_type_system_managed/migration.sql
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project/queries.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/roles.ts
  packages/test-utils/src/imports/data.ts
  playwright/e2e-tests/system-roles.spec.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat: segregate system role with prefix type as protected resources Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  README.md
  apps/client/src/components/AdminRoleForm.vue
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server/src/prisma/migrations/20260330122500_migrate_project_system_roles_type_system_managed/migration.sql
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project/queries.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/roles.ts
  packages/test-utils/src/imports/data.ts
  playwright/e2e-tests/system-roles.spec.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

hack: hijack github actions for running e2e tests
  .github/workflows/workflow-continuous-integration.yml
Due: pnpm run lint:root --

feat(github): fix workflow dispatch for running merge queue workflow for testing purpose
  .github/workflows/workflow-merge-queue.yml
Due: pnpm run lint:root --

Path conditions:
  pnpm --filter=@cpn-console/client run lint:style --: any of: **/apps/client/**/*.{vue,css}
  pnpm --filter=@cpn-console/client run lint:ts --: any of: **/apps/client/**/*
  pnpm --filter=@cpn-console/server run lint --: any of: **/apps/server/**/*
  pnpm --filter=./packages/* run lint --: any of: **/packages/**/*
  pnpm --filter=./plugins/* run lint --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
