Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: add OIDC group to project groups
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/components/ProjectRoles.vue
  apps/client/src/utils/project-utils.ts
  apps/server/src/prisma/migrations/20260127154602_add_oidc_group_to_project_role/migration.sql
  apps/server/src/prisma/migrations/migration_lock.toml
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/admin-role/business.spec.ts
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project-role/queries.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/stage/business.spec.ts
  apps/server/src/resources/user/business.spec.ts
  apps/server/src/resources/zone/business.spec.ts
  packages/shared/src/contracts/project-role.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/role.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat(gitlab): add builtin admin roles to GitLab Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/infos.ts
  plugins/gitlab/src/user.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore(hooks): change documentation to a sane pluging dependencies management
  packages/hooks/README.md
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix(keycloak): fix project members sync to Keycloak
  apps/server/src/resources/project-member/business.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-member.ts
  packages/hooks/src/hooks/index.ts
  packages/shared/src/schemas/user.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/index.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix(admin-roles): admin conflicting with existing admin group in Keycloack
  apps/server/src/prisma/migrations/20260204150335_add_system_roles/migration.sql
  packages/shared/src/utils/const.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/infos.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(gitlab): add builtin admin roles to GitLab Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/src/prisma/migrations/20260204150335_add_system_roles/migration.sql
  apps/server/src/prisma/migrations/20260206105522_dso/migration.sql
  packages/test-utils/src/imports/data.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/infos.ts
  plugins/gitlab/src/user.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix(keycloak): fix project members sync to Keycloak
  apps/server/src/prisma/migrations/20260206145218_dso/migration.sql
  apps/server/src/resources/project-member/business.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-member.ts
  packages/hooks/src/hooks/index.ts
  packages/shared/src/schemas/user.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/index.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(gitlab): add builtin admin roles to GitLab Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/src/prisma/migrations/20260204150335_add_system_roles/migration.sql
  apps/server/src/prisma/migrations/20260206105522_dso/migration.sql
  packages/test-utils/src/imports/data.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/user.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix(admin-roles): admin conflicting with existing admin group in Keycloack
  apps/server/src/prisma/migrations/20260204150335_add_system_roles/migration.sql
  apps/server/src/prisma/migrations/20260206105522_dso/migration.sql
  packages/shared/src/utils/const.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/infos.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(gitlab): add builtin admin roles to GitLab Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server/src/prisma/migrations/20260204150335_add_system_roles/migration.sql
  packages/test-utils/src/imports/data.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/user.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(gitlab): add builtin admin roles to GitLab Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  packages/test-utils/src/imports/data.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/user.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(gitlab): add builtin admin roles to GitLab Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  packages/test-utils/src/imports/data.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/infos.ts
  plugins/gitlab/src/user.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix(admin-roles): admin conflicting with existing admin group in Keycloack
  apps/server/src/prisma/migrations/20260204150335_add_system_roles/migration.sql
  apps/server/src/prisma/migrations/20260206105522_dso/migration.sql
  packages/shared/src/utils/const.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix(admin-roles): admin conflicting with existing admin group in Keycloack
  apps/server/src/prisma/migrations/20260204150335_add_system_roles/migration.sql
  apps/server/src/prisma/migrations/20260206105522_dso/migration.sql
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/user/business.spec.ts
  packages/shared/src/utils/const.ts
  packages/test-utils/src/imports/data.ts
  playwright/e2e-tests/system-roles.spec.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix(admin-roles): admin conflicting with existing admin group in Keycloack
  apps/server/src/prisma/migrations/20260204150335_add_system_roles/migration.sql
  apps/server/src/prisma/migrations/20260206105522_dso/migration.sql
  apps/server/src/resources/user/business.spec.ts
  packages/shared/src/utils/const.ts
  packages/test-utils/src/imports/data.ts
  playwright/e2e-tests/system-roles.spec.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

Path conditions:
  pnpm run lint:style --filter=@cpn-console/client --: any of: **/apps/client/**/*.{vue,css}
  pnpm run lint:ts --filter=@cpn-console/client --: any of: **/apps/client/**/*
  pnpm run lint --filter=@cpn-console/server --: any of: **/apps/server/**/*
  pnpm run lint --filter=./packages/* --: any of: **/packages/**/*
  pnpm run lint --filter=./plugins/* --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
