Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm run lint:style --filter=@cpn-console/client --",
  "**/apps/client/**/*": "pnpm run lint:ts --filter=@cpn-console/client --",
  "**/apps/server/**/*": "pnpm run lint --filter=@cpn-console/server --",
  "**/packages/**/*": "pnpm run lint --filter=./packages/* --",
  "**/plugins/**/*": "pnpm run lint --filter=./plugins/* --",
  "**/*": "pnpm run lint:root --"
}

feat(keycloack): add configurable purge at upsert
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/infos.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(sonarqube): make admin group path configurable though console
  packages/shared/src/utils/const.ts
  plugins/sonarqube/src/functions.ts
  plugins/sonarqube/src/index.ts
  plugins/sonarqube/src/infos.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix(admin-roles): admin conflicting with existing admin group in Keycloack
  apps/server/src/prisma/migrations/20260204150335_add_system_roles/migration.sql
  apps/server/src/prisma/migrations/20260206105522_dso/migration.sql
  packages/test-utils/src/imports/data.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat(gitlab): add builtin admin roles to GitLab Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
  plugins/gitlab/src/infos.ts
  plugins/gitlab/src/user.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix(keycloak): project members sync to Keycloak
  apps/server/src/resources/project-member/business.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project-member.ts
  packages/hooks/src/hooks/index.ts
  packages/shared/src/schemas/user.ts
  plugins/keycloak/src/functions.ts
  plugins/keycloak/src/index.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix(ci): Helm generate invalid YAML syntax
  apps/server/src/prisma/migrations/20260206145218_dso/migration.sql
  ci/kind/env/dso-values-dev.yaml
  ci/kind/env/dso-values.yaml
  scripts/cancel-ci-shikanime.sh
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

fix(project-roles): remove /console prefix strip
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project/business.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

fix(admin-roles): admin conflicting with existing admin group in Keycloack
  apps/server/src/prisma/migrations/20260204150335_add_system_roles/migration.sql
  apps/server/src/prisma/migrations/20260206105522_dso/migration.sql
  packages/test-utils/src/imports/data.ts
  playwright/e2e-tests/system-roles.spec.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix(project-roles): remove /console prefix strip
  apps/server/src/resources/project-role/business.spec.ts
  apps/server/src/resources/project-role/business.ts
  apps/server/src/resources/project/business.ts
  playwright/e2e-tests/system-roles.spec.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

fix(ci): Helm generate invalid YAML syntax
  ci/kind/env/dso-values-dev.yaml
  ci/kind/env/dso-values.yaml
  scripts/cancel-ci-shikanime.sh
Due: pnpm run lint:root --

fix(ci): Helm generate invalid YAML syntax
  ci/kind/env/dso-values-dev.yaml
  ci/kind/env/dso-values.yaml
Due: pnpm run lint:root --
