Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm --filter=@cpn-console/client run lint:style --",
  "**/apps/client/**/*": "pnpm --filter=@cpn-console/client run lint:ts --",
  "**/apps/server/**/*": "pnpm --filter=@cpn-console/server run lint --",
  "**/packages/**/*": "pnpm --filter=./packages/* run lint --",
  "**/plugins/**/*": "pnpm --filter=./plugins/* run lint --",
  "**/*": "pnpm run lint:root --"
}

fix: fix Prisma loading in PROD images
  apps/server-nestjs/Dockerfile
  apps/server/Dockerfile
  apps/server/src/init/db/index.ts
  docker/docker-compose.ci.yml
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

chore(database): add prisma client in server and server-nestjs to at least run prisma generate
  apps/server-nestjs/Dockerfile
  apps/server/Dockerfile
  package.json
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

refactor(server-nestjs): migrate Sonarqube to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/src/modules/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-client.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-client.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-datastore.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-health.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-http-client.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-testing.utils.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.constants.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.module.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.spec.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube.utils.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault.utils.ts
  apps/server-nestjs/test/sonarqube.e2e-spec.ts
Due: pnpm run lint:root --

feat: add deployment UI
  apps/client/src/components/DeploymentCard.vue
  apps/client/src/components/DeploymentModal.vue
  apps/client/src/components/DeploymentRepoOption.vue
  apps/client/src/components/DeploymentRepoSelect.vue
  apps/client/src/components/DeploymentResources.vue
  apps/client/src/components/ProjectResources.vue
  apps/client/src/main.css
  apps/client/src/utils/project-utils.ts
  packages/shared/src/api-client.ts
  packages/shared/src/contracts/deployment.ts
  packages/shared/src/contracts/index.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

chore: bump dependencies to avoid dependabot security issues
  apps/client/package.json
  apps/server-nestjs/package.json
  apps/server-nestjs/src/modules/service-chain/open-cds-client.service.spec.ts
  apps/server/package.json
  apps/server/src/connect.spec.ts
  package.json
  packages/eslintconfig/package.json
  packages/hooks/package.json
  packages/shared/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: fix linting errors
  apps/client/package.json
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

chore(ci): improve build for unit tests
  pnpm-lock.yaml
Due: pnpm run lint:root --

fix(sonarqube): fix a weird type error
  plugins/sonarqube/src/functions.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

chore: do no bail when launching all tests
  package.json
Due: pnpm run lint:root --

chore(server): fix too many dependency issues
  apps/server/package.json
  apps/server/src/app.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/router.ts
  apps/server/src/utils/controller.ts
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

fix: pre-create routing.conf to allow envsubst overwrite on OpenShift
  apps/nginx-strangler/Dockerfile
Due: pnpm run lint:root --

chore(nginx-strangler): add a dedicated entrypoint script
  apps/nginx-strangler/Dockerfile
  apps/nginx-strangler/entrypoint.sh
Due: pnpm run lint:root --

fix: sed command quotes in entrypoint.sh
  apps/nginx-strangler/entrypoint.sh
Due: pnpm run lint:root --

fix: use bitnami image for strangler
  .github/workflows/job-lint.yml
  apps/nginx-strangler/Dockerfile
  apps/nginx-strangler/conf.d/routing.conf
  apps/nginx-strangler/entrypoint.sh
  apps/nginx-strangler/nginx.conf
Due: pnpm run lint:root --

chore(client): explicitely add eslint as a devDep
  apps/client/package.json
  pnpm-lock.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

chore(client): fix custom role management
  apps/client/src/components/ProjectRoleForm.vue
  apps/client/src/views/ProjectDashboard.vue
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

fix: use bitnami image for strangler
  apps/nginx-strangler/conf.d/routing.conf
Due: pnpm run lint:root --

chore: update README
  README.md
Due: pnpm run lint:root --

docs: document why a preview on a hotfix needs a dedicated branch/MR
  RELEASE.md
Due: pnpm run lint:root --

chore: forbid commit message body not leading with a blank line
  commitlint.config.cjs
Due: pnpm run lint:root --

fix(client): fix admin user list table headers not being aligned with its content
  apps/client/src/views/admin/ListUser.vue
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

fix: revert GitLab default role to developper as backward compat Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  plugins/gitlab/src/members.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --
