Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore(nest-js): add basic config and logger modules based on existing implementation
  apps/server-nestjs/README.md
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/cpin.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/infrastructure.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/logger/logger.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/logger/logger.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/logger/logger.service.ts
  apps/server-nestjs/src/main.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore(nest-js): initialize a bunch of module/services to move old-server code
  apps/server-nestjs/README.md
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.ts
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization.module.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/database-initialization.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/database-initialization.service.ts
  apps/server-nestjs/src/cpin-module/application-initialization/plugin-management/plugin-management.service.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/plugin-management/plugin-management.service.ts
  apps/server-nestjs/src/cpin-module/cpin.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/fastify/fastify.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/fastify/fastify.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/http-client/http-client.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/http-client/http-client.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/infrastructure.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/logger/logger.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/logger/logger.service.ts
Due: pnpm run lint:root --

chore(server-nestjs): add database initialization code in DatabaseInitializationService
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.ts
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization.module.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/database-initialization.service.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/utils.spec.ts
  apps/server-nestjs/src/cpin-module/application-initialization/database-initialization/utils.ts
Due: pnpm run lint:root --

chore(server-nestjs): rework configuration service to properly instanciate logger service
  apps/server-nestjs/.env-example
  apps/server-nestjs/.env.docker-example
  apps/server-nestjs/.env.integ-example
  apps/server-nestjs/README.md
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/logger/logger.module.ts
  apps/server-nestjs/src/cpin-module/old-server/src/init/db/index.ts
  apps/server-nestjs/src/cpin-module/old-server/src/utils/env.ts
  apps/server-nestjs/src/cpin-module/old-server/src/utils/logger.ts
  apps/server-nestjs/tsconfig.json
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore(server-nestjs): add code to DatabaseService and thus finalize ApplicationInitializationService
  apps/server-nestjs/README.md
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.ts
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/database/database.service.ts
  apps/server-nestjs/src/cpin-module/old-server/src/connect.ts
  apps/server-nestjs/src/prisma.ts
Due: pnpm run lint:root --

chore(server-nestjs): rename vite file to avoid compilation issues for now
  apps/server-nestjs/README.md
  apps/server-nestjs/src/cpin-module/application-initialization/application-initialization-service/application-initialization.service.ts
  apps/server-nestjs/src/cpin-module/old-server/src/prepare-app.ts
  apps/server-nestjs/src/cpin-module/old-server/src/server.ts
  apps/server-nestjs/src/cpin-module/old-server/vite.config.ts.backup
  apps/server-nestjs/src/cpin-module/old-server/vitest-init.ts.backup
  apps/server-nestjs/src/cpin-module/old-server/vitest.config.ts.backup
Due: pnpm run lint:root --

chore(server-nestjs): add code to PluginManagementService
  apps/server-nestjs/src/cpin-module/application-initialization/plugin-management/plugin-management.service.ts
  apps/server-nestjs/src/cpin-module/old-server/src/plugins.ts
  apps/server-nestjs/src/cpin-module/old-server/src/utils/plugins.ts
Due: pnpm run lint:root --

chore(server-nestjs): initialize core module and its AppService
  apps/server-nestjs/src/cpin-module/core/app/app.service.spec.ts
  apps/server-nestjs/src/cpin-module/core/app/app.service.ts
  apps/server-nestjs/src/cpin-module/core/core.module.ts
  apps/server-nestjs/src/cpin-module/cpin.module.ts
  apps/server-nestjs/src/cpin-module/old-server/src/app.ts
  apps/server-nestjs/src/cpin-module/old-server/src/utils/keycloak-utils.ts
  apps/server-nestjs/src/cpin-module/old-server/src/utils/keycloak.ts
Due: pnpm run lint:root --

feat: :sparkles: add autosync management on environment
  apps/client/src/components/EnvironmentForm.vue
  apps/server/src/prisma/migrations/20251219144931_add_environment_autosync/migration.sql
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/environment/router.spec.ts
  apps/server/src/resources/environment/router.ts
  packages/hooks/src/hooks/hook-project.ts
  packages/shared/src/contracts/environment.ts
  packages/shared/src/schemas/environment.ts
  packages/shared/src/utils/schemas.spec.ts
  playwright/e2e-tests/environments.spec.ts
  plugins/argocd/src/functions.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: :arrow_up: upgrade dso-env chart version to use autosync
  plugins/argocd/src/functions.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore(server-nestjs): delete unneeded code
  apps/server-nestjs/src/cpin-module/infrastructure/fastify/fastify.service.spec.ts
  apps/server-nestjs/src/cpin-module/infrastructure/fastify/fastify.service.ts
  apps/server-nestjs/src/cpin-module/infrastructure/infrastructure.module.ts
Due: pnpm run lint:root --

chore(server-nestjs): update README with a plan for the future
  apps/server-nestjs/README.md
Due: pnpm run lint:root --

chore: remove configuration for tools that are not explicitely supported on the project
  .prototools
  README.md
  apps/client/Dockerfile
  apps/client/package.json
  apps/server/Dockerfile
  apps/server/package.json
  package.json
  packages/hooks/package.json
  packages/shared/package.json
  packages/test-utils/package.json
  playwright/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore(gitlab): purge useless file
  .gitlab-ci-dso.yml
  plugins/gitlab/src/class.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix(shared): fix a rare pnpm vs typescript bug
  packages/shared/src/api-client.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore: bump turbo to v2.7.1
  package.json
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore(server-nestjs): update README with the modularization target
  apps/server-nestjs/README.md
Due: pnpm run lint:root --

refactor: add PluginResultBuilder for improved result management in project upsert
  packages/hooks/src/hooks/hook.ts
  packages/hooks/src/index.ts
  packages/hooks/src/utils/plugin-result-handler.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix: improve Keycloak error reporting in upsertProject function
  packages/hooks/src/utils/plugin-result-handler.ts
  plugins/keycloak/src/functions.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: update browserlist (pnpx update-browserslist-db@latest)
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore: move pnpm config to pnpm-workspace.yaml to avoid future issues with .npmrc
  .npmrc
  pnpm-workspace.yaml
Due: pnpm run lint:root --

test(playwright): :recycle: refactor integration tests blocks
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm run lint:root --

test(playwright): :alembic: add tests for project permissions
  playwright/README.md
  playwright/config/console.ts
  playwright/integration-tests/user-flow.spec.ts
Due: pnpm run lint:root --

chore: update browserlist/caniuse-lite
  README.md
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore: move pnpm config to pnpm-workspace.yaml to avoid future issues with .npmrc
  .npmrc
  apps/client/Dockerfile
  apps/server/Dockerfile
  pnpm-workspace.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

chore: initialize nestjs dedicated app
  apps/server-nestjs/.gitignore
  apps/server-nestjs/.prettierrc
  apps/server-nestjs/README.md
  apps/server-nestjs/eslint.config.mjs
  apps/server-nestjs/nest-cli.json
  apps/server-nestjs/package.json
  apps/server-nestjs/src/app.controller.spec.ts
  apps/server-nestjs/src/app.controller.ts
  apps/server-nestjs/src/app.module.ts
  apps/server-nestjs/src/app.service.ts
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/test/app.e2e-spec.ts
  apps/server-nestjs/test/jest-e2e.json
  apps/server-nestjs/tsconfig.build.json
  apps/server-nestjs/tsconfig.json
  pnpm-lock.yaml
Due: pnpm run lint:root --

Path conditions:
  pnpm run lint:style --filter=@cpn-console/client --: any of: **/apps/client/**/*.{vue,css}
  pnpm run lint:ts --filter=@cpn-console/client --: any of: **/apps/client/**/*
  pnpm run lint --filter=@cpn-console/server --: any of: **/apps/server/**/*
  pnpm run lint --filter=./packages/* --: any of: **/packages/**/*
  pnpm run lint --filter=./plugins/* --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
