Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm --filter=@cpn-console/client run lint:style --",
  "**/apps/client/**/*": "pnpm --filter=@cpn-console/client run lint:ts --",
  "**/apps/server/**/*": "pnpm --filter=@cpn-console/server run lint --",
  "**/packages/**/*": "pnpm --filter=./packages/* run lint --",
  "**/plugins/**/*": "pnpm --filter=./plugins/* run lint --",
  "**/*": "pnpm run lint:root --"
}

fix(docker): fix docker compose exposed ports
  apps/nginx-strangler/README.md
  apps/server-nestjs/documentation/mise-en-place-nginx-etrangleur/PLAN.md
  apps/server/.env-example
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
  docker/docker-compose.local.yml
  docker/docker-compose.prod.yml
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

chore(nginx-strangler): fix healthcheck endpoint
  apps/nginx-strangler/Dockerfile
  apps/nginx-strangler/conf.d/routing.conf
Due: pnpm run lint:root --

chore(nginx-strangler): fix Dockerfile casing
  apps/nginx-strangler/Dockerfile
Due: pnpm run lint:root --

chore: remove useless docker-compose.prod.yml
  README.md
  apps/server-nestjs/documentation/mise-en-place-nginx-etrangleur/PLAN.md
  docker/docker-compose.prod.yml
  package.json
Due: pnpm run lint:root --

chore: add vitest
  apps/client/package.json
  apps/server-nestjs/package.json
  apps/server-nestjs/test/app.e2e-spec.ts
  apps/server-nestjs/vitest.config.ts
  apps/server/package.json
  package.json
  packages/shared/src/contracts/cluster.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

chore(nginx-strangler): remove useless user directive
  apps/nginx-strangler/nginx.conf
Due: pnpm run lint:root --

docs: update port documentation for every dev mode
  ENVIRONMENTS.md
  apps/client/nginx/README.md
  apps/nginx-strangler/README.md
  apps/server-nestjs/documentation/mise-en-place-nginx-etrangleur/PLAN.md
Due: pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

chore(system-settings): migrate to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/src/modules/system-settings/dto/list-system-settings-query.dto.ts
  apps/server-nestjs/src/modules/system-settings/dto/system-setting.dto.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.spec.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.module.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.service.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

feat(iam): add authentication and authorization framework Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.controller.ts
  apps/server-nestjs/src/cpin-module/infrastructure/iam/guards/ability.guard.ts
  apps/server-nestjs/src/cpin-module/infrastructure/iam/iam.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/iam/middleware/ability.middleware.ts
  apps/server-nestjs/src/cpin-module/infrastructure/infrastructure.module.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.spec.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.ts
  apps/server-nestjs/src/prisma/schema/admin.prisma
  apps/server-nestjs/src/prisma/schema/project.prisma
  packages/shared/src/schemas/index.ts
  pnpm-lock.yaml
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor(keycloak): migrate Keycloak plugin to NestJS
  AGENTS.md
  apps/server-nestjs/.env-example
  apps/server-nestjs/.env.docker-example
  apps/server-nestjs/.env.integ-example
  apps/server-nestjs/documentation/Modularisation-de-console-server/02-ARCHITECTURE-MODULES.md
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/keycloak/keycloack-testing.utils.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-client.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-datastore.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-health.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.constants.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.module.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak.service.ts
  apps/server-nestjs/src/prisma/schema/project.prisma
  apps/server-nestjs/src/utils/iterable.ts
  apps/server-nestjs/test/keycloak.e2e-spec.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

refactor(argocd): migrate ArgoCD to NestJS Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/configuration/configuration.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-datastore.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-health.service.ts
  apps/server-nestjs/src/modules/argocd/argocd.module.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.spec.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
  apps/server-nestjs/src/modules/gitlab/files/.gitlab-ci.yml
  apps/server-nestjs/src/modules/gitlab/files/mirror.sh
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-client.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-datastore.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-health.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-testing.utils.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.constants.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.module.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.spec.ts
  apps/server-nestjs/src/modules/gitlab/gitlab.service.ts
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault-client.service.ts
  apps/server-nestjs/src/modules/vault/vault-datastore.service.ts
  apps/server-nestjs/src/modules/vault/vault-health.service.ts
  apps/server-nestjs/src/modules/vault/vault.module.ts
  apps/server-nestjs/src/modules/vault/vault.service.spec.ts
  apps/server-nestjs/src/modules/vault/vault.service.ts
  apps/server-nestjs/src/modules/vault/vault.utils.ts
  apps/server-nestjs/src/prisma/schema/project.prisma
  apps/server-nestjs/src/utils/iterable.ts
  apps/server-nestjs/test/argocd.e2e-spec.ts
  apps/server-nestjs/test/gitlab.e2e-spec.ts
  apps/server-nestjs/test/vault.e2e-spec.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

refactor(server-nestjs): migrate package managers to NestJS
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus-client.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-datastore.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-health.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-testing.utils.ts
  apps/server-nestjs/src/modules/nexus/nexus.constants.ts
  apps/server-nestjs/src/modules/nexus/nexus.module.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.spec.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
  apps/server-nestjs/src/modules/nexus/nexus.utils.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.spec.ts
  apps/server-nestjs/src/modules/registry/registry-client.service.ts
  apps/server-nestjs/src/modules/registry/registry-health.service.ts
  apps/server-nestjs/src/modules/registry/registry.module.ts
  apps/server-nestjs/src/modules/registry/registry.utils.ts
  apps/server-nestjs/test/nexus.e2e-spec.ts
Due: pnpm run lint:root --

chore: add reconciler
  apps/server-nestjs/src/cpin-module/infrastructure/reconcile/reconcile.constants.ts
  apps/server-nestjs/src/cpin-module/infrastructure/reconcile/reconcile.decorator.ts
  apps/server-nestjs/src/modules/nexus/nexus.service.ts
Due: pnpm run lint:root --

feat(iam): add authentication and authorization framework Signed-off-by: William Phetsinorath <william.phetsinorath-open@interieur.gouv.fr>
  apps/server-nestjs/package.json
  apps/server-nestjs/src/cpin-module/infrastructure/health/health.controller.ts
  apps/server-nestjs/src/cpin-module/infrastructure/iam/guards/ability.guard.ts
  apps/server-nestjs/src/cpin-module/infrastructure/iam/iam.module.ts
  apps/server-nestjs/src/cpin-module/infrastructure/iam/middleware/ability.middleware.ts
  apps/server-nestjs/src/cpin-module/infrastructure/infrastructure.module.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.spec.ts
  apps/server-nestjs/src/modules/system-settings/system-settings.controller.ts
  apps/server-nestjs/src/prisma/schema/admin.prisma
  apps/server-nestjs/src/prisma/schema/project.prisma
  pnpm-lock.yaml
Due: pnpm run lint:root --

fix(nginx-strangler): fix docker-compose.local having multiple ports
  docker/docker-compose.local.yml
Due: pnpm run lint:root --

chore: hide noisy vscode launch configs
  .vscode/launch.json
Due: pnpm run lint:root --

chore(pnpm): bump to 10.33
  AGENTS.md
  package.json
  playwright/package.json
Due: pnpm run lint:root --

chore(server-nestjs): fix pnpm-lock internal deps
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore: whitelist some false positives for pnpm trust policy
  pnpm-workspace.yaml
Due: pnpm run lint:root --

fix(argocd-plugin): fix a weird type error that blocks server build
  plugins/argocd/src/functions.ts
Due: pnpm --filter=./plugins/* run lint --, pnpm run lint:root --
