Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :recycle: add zone label in some plugins resources
  apps/client/src/components/ZoneForm.vue
  apps/server/src/prisma/migrations/20240329172938_dso/migration.sql
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/resources/project/queries.ts
  packages/hooks/src/hooks/index.ts
  plugins/argocd/package.json
  plugins/argocd/src/cluster.ts
  plugins/kubernetes/package.json
  plugins/kubernetes/src/class.ts
  plugins/kubernetes/src/namespace.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --

refactor: :art: add ts-rest to generate api in client
  apps/client/package.json
  apps/client/src/App.vue
  apps/client/src/api/api.spec.ts
  apps/client/src/api/api.ts
  apps/client/src/api/projects.spec.ts
  apps/client/src/api/projects.ts
  apps/client/src/api/users.spec.ts
  apps/client/src/api/users.ts
  apps/client/src/api/xhr-client.spec.ts
  apps/client/src/api/xhr-client.ts
  apps/client/src/components/DsoSnackbar.vue
  apps/client/src/components/SideMenu.vue
  apps/client/src/stores/admin/cluster.spec.ts
  apps/client/src/stores/admin/log.spec.ts
  apps/client/src/stores/admin/organization.spec.ts
  apps/client/src/stores/admin/project.spec.ts
  apps/client/src/stores/admin/quota.spec.ts
  apps/client/src/stores/admin/stage.spec.ts
  apps/client/src/stores/admin/zone.spec.ts
  apps/client/src/stores/ci-files.spec.ts
  apps/client/src/stores/organization.spec.ts
  apps/client/src/stores/project-environment.spec.ts
  apps/client/src/stores/project-permission.spec.ts
  apps/client/src/stores/project-repository.spec.ts
  apps/client/src/stores/project-user.spec.ts
  apps/client/src/stores/project.spec.ts
  apps/client/src/stores/services.spec.ts
  apps/client/src/stores/snackbar.spec.ts
  apps/client/src/stores/user.spec.ts
  apps/client/src/stores/zone.spec.ts
  apps/server/package.json
  apps/server/src/app.ts
  apps/server/src/utils/keycloak.ts
  packages/shared/package.json
  packages/shared/src/api-client.ts
  packages/shared/src/contracts/user.ts
  packages/shared/src/schemas/project.ts
  pnpm-lock.yaml
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

fix: :bug: get only client app version from env on production build
  apps/client/vite.config.ts
Due: pnpm run format --filter client --

ci: :construction_worker: restore all files on unit tests cache hit
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
Due: none

docs: :memo: update readme
  README.md
Due: none

fix: :bug: handle stage and zone changes in environment form
  apps/client/cypress/e2e/specs/environments.e2e.ts
  apps/client/src/components/EnvironmentForm.vue
Due: pnpm run format --filter client --, pnpm run format:style --filter client --

fix: :bug: app version in client footer
  apps/client/vite.config.ts
Due: pnpm run format --filter client --

feat: :safety_vest: allow unlogged users to access services health
  apps/client/cypress/e2e/specs/services-health.e2e.ts
  apps/client/src/api/xhr-client.ts
  apps/client/src/components/SideMenu.vue
  apps/client/src/router/index.ts
  apps/server/src/resources/service/business.ts
  apps/server/src/resources/service/controllers.spec.ts
  apps/server/src/resources/service/router.ts
  apps/server/src/utils/keycloak.ts
  packages/test-utils/src/utils/random-utils.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --

chore: upgrade nodejs to v20.12.2
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  apps/client/Dockerfile
  apps/client/cypress/components/specs/repo-form.ct.ts
  apps/server/Dockerfile
  package.json
Due: pnpm run format --filter client --

docs: :memo: add release section in readme
  README.md
Due: none

refactor: :label: typing front
  apps/client/cypress/types.ts
  apps/client/src/api/environments.ts
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/MultiSelector.vue
  apps/client/src/components/SideMenu.vue
  apps/client/src/components/TeamCt.vue
  apps/client/src/components/ZoneForm.vue
  apps/client/src/main.ts
  apps/client/src/stores/admin/cluster.ts
  apps/client/src/stores/admin/quota.ts
  apps/client/src/stores/admin/stage.ts
  apps/client/src/stores/admin/zone.ts
  apps/client/src/stores/project.ts
  apps/client/src/stores/user.ts
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/admin/ListClusters.vue
  apps/client/src/views/admin/ListLogs.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/admin/ListQuotas.vue
  apps/client/src/views/admin/ListStages.vue
  apps/client/src/views/admin/ListUser.vue
  apps/client/src/views/admin/ListZones.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/DsoSelectedProject.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/client/tsconfig.json
  apps/server/src/utils/controller.ts
  packages/shared/src/contracts/cluster.ts
  packages/shared/src/contracts/log.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/quota.ts
  packages/shared/src/schemas/stage.ts
  packages/shared/src/utils/types.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

refactor: :recycle: avoir circular schemas
  apps/client/src/components/CIForm.vue
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/MultiSelector.vue
  apps/client/src/components/PaginationCt.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/components/QuotaForm.vue
  apps/client/src/components/RangeInput.vue
  apps/client/src/components/RepoForm.vue
  apps/client/src/components/StageForm.vue
  apps/client/src/components/SuggestionInput.vue
  apps/client/src/components/ZoneForm.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/quota.ts
  packages/shared/src/schemas/stage.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter shared --

feat: :sparkles: display project services in admin view
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoServices.vue
  apps/server/src/resources/project/admin/business.ts
  apps/server/src/resources/project/admin/controllers.spec.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
  packages/shared/src/schemas/project.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

feat: :sparkles: adding the value file commit
  plugins/argocd/package.json
  plugins/argocd/src/functions.ts
  plugins/gitlab/package.json
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/kubernetes/src/api.ts
  plugins/kubernetes/src/class.ts
  plugins/kubernetes/src/namespace.ts
  pnpm-lock.yaml
Due: none

chore: :memo: add definition of done in issue templates
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
Due: none

chore: :construction_worker: upgrade pnpm to v9
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
  apps/client/Dockerfile
  apps/server/Dockerfile
  package.json
Due: none

ci: :construction_worker: remove useless image build in CI
  ci/scripts/run-tests.sh
Due: none

docs: :memo: add plugin example repo in readme
  README.md
Due: none

build: :arrow_up: upgrade js dependencies
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  apps/client/package.json
  apps/server/package.json
  package.json
  packages/eslintconfig/package.json
  packages/hooks/package.json
  packages/shared/package.json
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
Due: pnpm run format --filter shared --

feat: :sparkles: display project services in admin view
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  apps/client/src/components/QuotaForm.vue
  apps/client/src/components/RangeInput.vue
  apps/client/src/components/StageForm.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/admin/ListQuotas.vue
  apps/client/src/views/admin/ListStages.vue
  apps/client/src/views/projects/DsoServices.vue
  apps/client/src/views/projects/ManageEnvironments.vue
  apps/server/src/resources/project/admin/business.ts
  apps/server/src/resources/project/admin/controllers.spec.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
  packages/shared/src/contracts/quota.ts
  packages/shared/src/contracts/stage.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/quota.ts
  packages/shared/src/schemas/stage.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

feat: :bookmark: configure chart version
  env/dso-values-int-example.yaml
  plugins/argocd/src/functions.ts
Due: none

propoal évolution
  plugins/argocd/src/functions.ts
  plugins/kubernetes/src/api.ts
  plugins/kubernetes/src/class.ts
Due: none

feat: :sparkles: allow repo sync from console ui
  apps/client/cypress/components/specs/repo-form.ct.ts
  apps/client/cypress/e2e/specs/repos.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/src/api/repositories.ts
  apps/client/src/components/RepoForm.vue
  apps/client/src/stores/project-repository.ts
  apps/client/src/views/projects/DsoRepos.vue
  apps/server/.env.integ-example
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/repository/controllers.spec.ts
  apps/server/src/resources/repository/queries.ts
  apps/server/src/resources/repository/router.ts
  apps/server/src/utils/hook-wrapper.ts
  apps/server/src/utils/mocks.ts
  packages/hooks/src/hooks/hook-misc.ts
  packages/shared/src/contracts/repository.ts
  packages/shared/src/schemas/repository.ts
  packages/shared/tsconfig.json
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/gitlab/src/index.ts
Due: pnpm run format --filter client --, pnpm run format:style --filter client --, pnpm run format --filter server --, pnpm run format --filter shared --

fix: :ambulance: correct sql query for zoneId
  apps/server/src/prisma/migrations/20240329172938_dso/migration.sql
Due: none

build: :arrow_up: update pnpm to 9.0.6
  apps/client/Dockerfile
  apps/server/Dockerfile
  package.json
  pnpm-lock.yaml
Due: none

feat: :sparkles: adding the value file commit
  README.md
  env/dso-values-int-example.yaml
  plugins/argocd/package.json
  plugins/argocd/src/functions.ts
  plugins/gitlab/package.json
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/functions.ts
  plugins/kubernetes/src/api.ts
  plugins/kubernetes/src/class.ts
  plugins/kubernetes/src/namespace.ts
  pnpm-lock.yaml
Due: none

refactor: :recycle: handle disabling helm postgres deployment
  helm/templates/cm-postgres.yaml
  helm/templates/cm-server.yaml
  helm/templates/deployment-postgres.yaml
  helm/templates/services-postgres.yaml
  helm/templates/services.yaml
  helm/values.yaml
Due: none

fix: :bug: override plugins unzip if already exists
  helm/templates/cm-scripts.yaml
Due: none

style: :art: uniformize queries
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/log/admin/queries.ts
  apps/server/src/resources/organization/queries.ts
  apps/server/src/resources/permission/queries.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/quota/queries.ts
  apps/server/src/resources/repository/queries.ts
  apps/server/src/resources/stage/queries.ts
  apps/server/src/resources/user/queries.ts
  apps/server/src/resources/zone/admin/queries.ts
  apps/server/src/resources/zone/queries.ts
Due: pnpm run format --filter server --

build: :arrow_up: upgrade versions
  packages/hooks/package.json
  packages/shared/package.json
  plugins/gitlab/package.json
Due: none

chore: :mute: remove unuseful log
  plugins/gitlab/src/class.ts
  plugins/kubernetes/src/namespace.ts
  plugins/vault/src/class.ts
Due: none

chore: :bookmark: missed release due to conflict
  packages/shared/package.json
Due: none

fix: :fire: remove unjustified refine
  apps/server/src/resources/cluster/admin/business.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/utils/schemas.spec.ts
Due: pnpm run format --filter server --, pnpm run format --filter shared --

fix: :mute: remove problematic log
  apps/server/src/utils/hook-wrapper.ts
Due: pnpm run format --filter server --

Path conditions:
  pnpm run format --filter client --: any of: **/client/**/*.{js,ts,vue,cjs}
  pnpm run format:style --filter client --: any of: **/client/**/*.{vue,css}
  pnpm run format --filter server --: any of: **/server/**/*.{js,cjs,ts}
  pnpm run format --filter shared --: any of: **/shared/**/*.{js,cjs,ts}
