Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format --filter cypress

ci: :construction_worker: improve ci build workflow
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

ci: :construction_worker: improve ci build system
  .github/workflows/build.yml
  .github/workflows/release.yml
  ci/scripts/build-matrix.sh
Due: none

ci: :construction_worker: remove arm64 build for branch build
  .github/workflows/build.yml
  ci/scripts/build-matrix.sh
Due: none

feat: :sparkles: build on release that are not latest
  .github/workflows/build-version.yml
Due: none

test: :white_check_mark: complete e2e test to be more covering
  apps/client/cypress/e2e/specs/dashboard.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/server/src/controllers/project.js
  apps/server/src/models/permission.js
  apps/server/src/models/queries/permission-queries.js
  apps/server/src/routes/project.spec.js
  packages/test-utils/src/imports/data.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :sparkles: add archiveProject btn
  apps/client/cypress/e2e/specs/dashboard.e2e.js
  apps/client/cypress/e2e/specs/redirection.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/api/api.js
  apps/client/src/router/index.js
  apps/client/src/stores/project.js
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/server/src/controllers/project.js
  apps/server/src/models/queries/permission-queries.js
  apps/server/src/models/queries/project-queries.js
  apps/server/src/routes/project-user.spec.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :bug: review changes
  apps/client/cypress/e2e/specs/projects.e2e.js
  apps/client/cypress/e2e/support/func.js
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoTeam.vue
  packages/test-utils/src/imports/data.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

chore: :fire: remove useless playbooks, update validation
  ansible/playbooks/project_delete.yml
  ansible/playbooks/project_envlist_delete.yml
  ansible/playbooks/project_envlist_post.yml
  ansible/playbooks/project_owner_put.yml
  ansible/playbooks/project_post.yml
  ansible/playbooks/project_repos_delete.yml
  ansible/playbooks/project_repos_put.yml
  ansible/playbooks/project_users_delete.yml
  ansible/playbooks/project_users_post.yml
Due: none

chore(Helm): :wrench: variabilize namespace for CRB
  helm/templates/rolebinding.yml
Due: none

feat: :construction: uncomment path for delete repo and projects
  apps/ansible-api/src/routes/index.js
  apps/server/src/controllers/project.js
Due: none

fix: :construction: trying to log details for ansible api call
  apps/ansible-api/src/routes/index.js
  apps/server/src/controllers/project.js
Due: none

feat: :sparkles: call delete repo and archive project playbooks
  ansible/playbooks/project_put.yml
  ansible/playbooks/project_repos_put.yml
  apps/ansible-api/src/routes/index.js
  apps/client/src/views/projects/DsoProjects.vue
  apps/server/src/controllers/project.js
  apps/server/src/controllers/repository.js
  apps/server/src/models/queries/environment-queries.js
Due: pnpm run format --filter client

perf: :stethoscope: add health probes in templates
  helm/templates/deployment-ansible.yml
  helm/templates/deployment-server.yaml
Due: none

fix: :loud_sound: mute logs for health route
  apps/ansible-api/src/app.js
  apps/server/src/app.js
Due: none

fix: :bug: add refresh keycloak token
  apps/client/src/utils/keycloak/keycloak.js
Due: pnpm run format --filter client

fix: :fire: remove bad log and comms
  apps/client/src/utils/keycloak/keycloak.js
Due: pnpm run format --filter client

fix: :bug: send200 if code is OK
  apps/ansible-api/src/controllers/generic.js
  apps/server/src/controllers/project.js
  apps/server/src/controllers/repository.js
Due: none

fix: :bug: delete default argo repo at deleting
  apps/server/src/controllers/project.js
Due: none

feat(Helm): :art: add env per container
  helm/templates/_helpers.tpl
  helm/templates/cm-ansible.yml
  helm/templates/cm-client.yml
  helm/templates/cm-postgres.yml
  helm/templates/cm-server.yaml
Due: none

feat(Helm): :art: variabilize server imports
  helm/templates/deployment-server.yaml
  helm/values.yaml
Due: none

refactor: :recycle: use await rather than then and remove logs
  apps/client/src/utils/keycloak/keycloak.js
Due: pnpm run format --filter client

refactor: :art: avoid arbitrary setInterval
  apps/client/src/api/xhr-client.js
  apps/client/src/utils/keycloak/keycloak.js
  keycloak/realms/realm-dev.json
Due: pnpm run format --filter client

fix: :bug: controller response before ansible fetch
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/main.css
  apps/client/src/views/projects/DsoProjects.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/server/src/controllers/repository.js
  apps/server/src/routes/project-repository.spec.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

refactor: :recycle: ownerId in TU is actually requestorId
  apps/server/src/routes/organization.spec.js
  apps/server/src/routes/project-environment.spec.js
  apps/server/src/routes/project-repository.spec.js
  apps/server/src/routes/project-user.spec.js
  apps/server/src/routes/project.spec.js
Due: none

feat: :sparkles: add log table in model
  apps/server/src/connect.js
  apps/server/src/models/log.js
  apps/server/src/models/queries/log-queries.js
  docker/docker-compose.dev.yml
Due: none

feat: :sparkles: record ansible responses in database
  apps/ansible-api/src/ansible.js
  apps/server/src/controllers/project.js
  apps/server/src/controllers/repository.js
  apps/server/src/generate-files/generate-ci-files.spec.js
  apps/server/src/models/queries/log-queries.js
  apps/server/src/routes/organization.spec.js
  apps/server/src/routes/project-environment.spec.js
  apps/server/src/routes/project-permission.spec.js
  apps/server/src/routes/project-repository.spec.js
  apps/server/src/routes/project-user.spec.js
  apps/server/src/routes/project.spec.js
Due: none

fix: :bug: update ansible calls
  apps/client/src/App.vue
  apps/client/src/components/RepoForm.vue
  apps/client/src/views/projects/DsoProjects.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/server/src/controllers/project.js
  apps/server/src/controllers/repository.js
Due: pnpm run format --filter client

fix: :bug: repositories may be empty
  apps/server/src/controllers/repository.js
  apps/server/src/init-db/setup-projects.js
Due: none

chore: :arrow_up: upgrade dependencies
  .github/workflows/test.yml
  apps/ansible-api/Dockerfile
  apps/ansible-api/package.json
  apps/client/Dockerfile
  apps/client/package.json
  apps/server/Dockerfile
  apps/server/package.json
  ci/act/workflows/test/test.yml
  package.json
  packages/shared/package.json
  packages/test-utils/package.json
  pnpm-lock.yaml
Due: none

fix: :bug: add await on start server functions and fix tests
  apps/ansible-api/src/server.js
  apps/server/src/routes/project-environment.spec.js
  apps/server/src/server.js
Due: none

fix: :goal_net: catch errors in front when calling back
  apps/client/src/App.vue
  apps/client/src/api/xhr-client.js
  apps/client/src/api/xhr-client.spec.js
  apps/client/src/components/DsoSnackbar.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/router/index.js
  apps/client/src/stores/snackbar.js
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoProjects.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/DsoTeam.vue
  apps/client/src/views/projects/ManageEnvironments.vue
Due: pnpm run format --filter client

revert: :rewind: hide snackbar for now
  apps/client/src/App.vue
  apps/client/src/components/DsoSnackbar.vue
  apps/client/src/stores/snackbar.js
  apps/client/src/views/CreateProject.vue
Due: pnpm run format --filter client

fix: :goal_net: catch fetch errors and send it to front
  apps/server/src/controllers/project.js
  apps/server/src/controllers/repository.js
  apps/server/src/routes/project.spec.js
Due: none

docs: :memo: update user documentation
  apps/client/src/documentation/doc.md
Due: none

chore: :truck: rename gitlab ci generated file
  apps/client/cypress/components/specs/repo-form.ct.js
  apps/client/cypress/e2e/support/commands.js
  apps/server/src/generate-files/generate-ci-files.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

ci: :green_heart: fix ci build on release
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

feat: :lipstick: whoami in sidemenu rather than snackbar
  apps/client/cypress/e2e/specs/home.e2e.js
  apps/client/src/App.vue
  apps/client/src/components/SideMenu.vue
Due: pnpm run format --filter client, pnpm run format --filter cypress

Path conditions:
  pnpm run format --filter client: any of: **/client/**/*.{js,ts,vue,css}
  pnpm run format --filter cypress: any of: **/cypress/**/*.{js,cjs,ts}
