Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(opencds): use a badge for state on service-chain list
  apps/client/src/views/admin/ListServiceChains.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

feat(opencds): add flows retrieval and display as a stepper
  apps/client/src/components/Loader.vue
  apps/client/src/components/ServiceChainForm.vue
  apps/client/src/stores/service-chain.ts
  apps/client/src/views/admin/AdminServiceChain.vue
  apps/server/src/resources/service-chain/business.spec.ts
  apps/server/src/resources/service-chain/business.ts
  apps/server/src/resources/service-chain/queries.ts
  apps/server/src/resources/service-chain/router.spec.ts
  apps/server/src/resources/service-chain/router.ts
  packages/shared/src/contracts/service-chain.ts
  packages/shared/src/schemas/service-chain.ts
  playwright/e2e-tests/service-chains.spec.ts
  plugins/opencds/opencds_api.json
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(opencds): add 'list all service chains' section in admin side menu
  .github/workflows/playwright.yml
  apps/client/.env-example
  apps/client/nginx/entrypoint.sh
  apps/client/src/components/SideMenu.vue
  apps/client/src/router/index.ts
  apps/client/src/stores/service-chain.ts
  apps/client/src/utils/env.ts
  apps/client/src/views/admin/ListServiceChains.vue
  apps/server/.env-example
  apps/server/src/resources/index.ts
  apps/server/src/resources/queries-index.ts
  apps/server/src/resources/service-chain/business.spec.ts
  apps/server/src/resources/service-chain/business.ts
  apps/server/src/resources/service-chain/queries.ts
  apps/server/src/resources/service-chain/router.spec.ts
  apps/server/src/resources/service-chain/router.ts
  apps/server/vitest-init.ts
  docker/docker-compose.ci.yml
  packages/shared/src/api-client.ts
  packages/shared/src/contracts/index.ts
  packages/shared/src/contracts/service-chain.ts
  packages/shared/src/schemas/index.ts
  packages/shared/src/schemas/service-chain.ts
  playwright/e2e-tests/service-chains.spec.ts
  playwright/eslint.config.mjs
  plugins/opencds/Dockerfile_mockoon
  plugins/opencds/opencds_api.json
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(opencds): clean up mockoon json
  plugins/opencds/opencds_api.json
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(opencds): adjust service chain list view
  apps/client/src/stores/service-chain.ts
  apps/client/src/views/admin/ListServiceChains.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore(opencds): update design document
  plugins/opencds/opencds.adoc
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore(opencds): rework schemas, contracts, and routes
  apps/server/src/resources/service-chain/business.spec.ts
  apps/server/src/resources/service-chain/business.ts
  apps/server/src/resources/service-chain/queries.ts
  apps/server/src/resources/service-chain/router.spec.ts
  apps/server/src/resources/service-chain/router.ts
  packages/shared/src/contracts/_utils.ts
  packages/shared/src/contracts/service-chain.ts
  packages/shared/src/schemas/service-chain.ts
  plugins/opencds/opencds_api.json
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(opencds): add client-side service chain details page
  apps/client/src/components/ServiceChainForm.vue
  apps/client/src/stores/service-chain.ts
  apps/client/src/views/admin/AdminServiceChain.vue
  apps/server/src/resources/service-chain/router.spec.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

feat(client): add service chain details form
  apps/client/src/components/ServiceChainForm.vue
  apps/client/src/router/index.ts
  apps/client/src/views/admin/AdminServiceChain.vue
  playwright/e2e-tests/service-chains.spec.ts
  playwright/e2e-tests/utils.ts
  plugins/opencds/opencds_api.json
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore(opencds): move opencds folder from plugins to packages
  .github/workflows/playwright.yml
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.local.yml
  docker/docker-compose.prod.yml
  packages/opencds/Dockerfile
  packages/opencds/opencds.adoc
  packages/opencds/opencds_api.json
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat(opencds): add mockoon docker image for local dev and ci considerations
  apps/client/.env-example
  docker/docker-compose.dev.yml
  docker/docker-compose.local.yml
  docker/docker-compose.prod.yml
  plugins/opencds/Dockerfile_mockoon
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore(ci): use a dedicated docker-compose file for CI instead of the so-called 'prod' one
  docker/docker-compose.ci.yml
Due: pnpm run lint:root --

feat(opencds): add feature toggling default value
  apps/client/.env-example
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore(opencds): initialize opencds package
  plugins/opencds/opencds.adoc
  plugins/opencds/opencds_api.json
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: :arrow_up: upgrade keycloak image in docker-compose
  docker/docker-compose.dev.yml
Due: pnpm run lint:root --

chore(opencds): setup hp url
  apps/client/.env-example
  apps/server/.env-example
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

feat: :sparkles: add tags retention policy rules
  plugins/harbor/src/functions.ts
  plugins/harbor/src/policy.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

ci: :green_heart: structure values modification
  ci/kind/env/dso-values.yaml
Due: pnpm run lint:root --

feat: update Cluster model to store resources capability
  apps/client/cypress/components/specs/cluster-form.ct.ts
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/package.json
  apps/client/src/components/ClusterForm.vue
  apps/client/src/views/admin/ListClusters.vue
  apps/server/src/prisma/migrations/20250825150622_add_cluster_resources/migration.sql
  apps/server/src/prisma/schema/topography.prisma
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/resources/cluster/router.spec.ts
  apps/server/src/resources/project/queries.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/src/imports/data.ts
  packages/test-utils/src/utils/random-utils.ts
  playwright/e2e-tests/clusters.spec.ts
  pnpm-lock.yaml
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix: :bug: remove project cluster association history
  apps/server/src/prisma/migrations/20250909162836_delete_cluster_history/migration.sql
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat(opencds): handle OpenCDS API token-based security
  apps/server/.env-example
  apps/server/src/resources/service-chain/business.spec.ts
  apps/server/src/resources/service-chain/queries.ts
  apps/server/vitest-init.ts
  packages/opencds/opencds_api.json
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore(opencds): setup hp url
  apps/server/.env-example
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

chore(opencds): add retry button on client
  apps/client/src/components/ServiceChainForm.vue
  apps/client/src/stores/service-chain.ts
  apps/client/src/views/admin/ListServiceChains.vue
  apps/server/src/resources/service-chain/business.spec.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

docs(client): add a reference to OpenCDS package documentation
  apps/client/README.md
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore(opencds): adjust API contract
  apps/server/.env-example
  packages/opencds/opencds_api.json
  packages/shared/src/schemas/service-chain.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore(playwright): attempt to improve performance by using all possible workers on the runner
  playwright/playwright.config.ts
Due: pnpm run lint:root --

docs(server): add a reference to OpenCDS package documentation
  apps/server/README.md
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

docs(opencds): update documentation after having implementing features
  packages/opencds/README.adoc
  packages/opencds/opencds.adoc
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

Path conditions:
  pnpm run lint:style --filter=@cpn-console/client --: any of: **/apps/client/**/*.{vue,css}
  pnpm run lint:ts --filter=@cpn-console/client --: any of: **/apps/client/**/*
  pnpm run lint --filter=@cpn-console/server --: any of: **/apps/server/**/*
  pnpm run lint --filter=./packages/* --: any of: **/packages/**/*
  pnpm run lint --filter=./plugins/* --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
