Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix(#1681): :bug: missing kv creation if not exists
  plugins/argocd/src/cluster.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore(playwright): optimize tests duration in CI
  playwright/playwright.config.ts
Due: pnpm run lint:root --

docs: :books: update quick start documentation
  README.md
  apps/server/Dockerfile
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

feat: remove quota table
  apps/server/package.json
  apps/server/src/prisma/migrations/20250818095032_remove_quota/migration.sql
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/prisma/schema/topography.prisma
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

feat: remove Quota table references to use Environment attributes instead
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/environment/router.ts
  apps/server/src/resources/index.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/queries-index.ts
  apps/server/src/resources/quota/business.spec.ts
  apps/server/src/resources/quota/business.ts
  apps/server/src/resources/quota/queries.ts
  apps/server/src/resources/quota/router.spec.ts
  apps/server/src/resources/quota/router.ts
  apps/server/src/resources/stage/business.ts
  apps/server/src/resources/stage/queries.ts
  apps/server/src/utils/hook-wrapper.ts
  packages/hooks/src/hooks/hook-project.ts
  packages/shared/src/api-client.ts
  packages/shared/src/contracts/environment.ts
  packages/shared/src/contracts/index.ts
  packages/shared/src/contracts/quota.ts
  packages/shared/src/contracts/stage.ts
  packages/shared/src/schemas/environment.ts
  packages/shared/src/schemas/index.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/quota.ts
  packages/shared/src/schemas/stage.ts
  packages/test-utils/src/imports/data.ts
  packages/test-utils/src/utils/random-project.ts
  packages/test-utils/src/utils/random-utils.ts
  packages/test-utils/src/utils/types.ts
  plugins/argocd/src/functions.ts
  plugins/kubernetes/src/class.ts
  plugins/kubernetes/src/namespace.ts
  plugins/kubernetes/src/quota.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: remove preview feature flag as the feature is now standard
  apps/server/src/prisma/schema/schema.prisma
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

feat: update Environment form to use new resources attributes
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/ProjectResources.vue
  apps/client/src/components/QuotaForm.vue
  apps/client/src/components/SideMenu.vue
  apps/client/src/router/index.ts
  apps/client/src/stores/quota.spec.ts
  apps/client/src/stores/quota.ts
  apps/client/src/views/ProjectDashboard.vue
  apps/client/src/views/admin/ListQuotas.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore: fix unit tests
  apps/server/src/resources/environment/business.spec.ts
  apps/server/src/resources/environment/router.spec.ts
  apps/server/src/resources/stage/business.spec.ts
  apps/server/src/resources/stage/business.ts
  apps/server/src/resources/stage/router.spec.ts
  packages/shared/src/contracts/stage.ts
  packages/shared/src/utils/schemas.spec.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix(client): fix Teams E2E cypress being broken after keycloak realm update
  apps/client/cypress/e2e/specs/team.e2e.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

fix: :bug: adapt status analysis to Nexus 3.83.1 response
  plugins/nexus/src/monitor.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: add Playwright
  .github/workflows/playwright.yml
  .gitignore
  e2e-tests/example.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore(client): bump Cypress to 14.5.2 (latest available)
  apps/client/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

feat: add Playwright E2E tests for Keycloak
  README.md
  e2e-tests/example.spec.ts
  e2e-tests/keycloak.spec.ts
  package.json
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore: requalify Cypress as such instead of just 'e2e' tests
  .github/workflows/ci.yml
  .github/workflows/tests-e2e.yml
Due: pnpm run lint:root --

chore: move Playwright tests to their own PNPM package
  .gitignore
  README.md
  package.json
  playwright/README.md
  playwright/e2e-tests/keycloak.spec.ts
  playwright/package.json
  playwright/playwright.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint:root --

fix: remove cluster resources to avoid confusion on its usage
  apps/client/cypress/components/specs/cluster-form.ct.ts
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/src/components/ClusterForm.vue
  plugins/argocd/src/app-project.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: ✨ Add the repo UID display on console
  apps/client/src/components/ProjectResources.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

fix(tests): fix admin id in pgsql import data not being consistent with keycloak
  keycloak/realms/realm-dev.json
  packages/test-utils/src/imports/data.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat(playwright): add Project page tests
  playwright/e2e-tests/projects.spec.ts
Due: pnpm run lint:root --

fix(playwright): ensure keycloak tests work for all languages
  playwright/e2e-tests/keycloak.spec.ts
  playwright/e2e-tests/projects.spec.ts
Due: pnpm run lint:root --

chore(client): bump Cypress to 14.1.0 to enable Webdriver BiDi support
  apps/client/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

fix(1638): add validation for repo names in Zod schema
  packages/shared/src/schemas/repository.ts
  packages/shared/src/utils/const.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: configure Playwright Github workflow
  .github/workflows/ci.yml
  .github/workflows/playwright.yml
  apps/server/package.json
  playwright/e2e-tests/keycloak.spec.ts
  playwright/package.json
  playwright/playwright.config.ts
  pnpm-lock.yaml
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

chore: manage a dedicated Playwright dependencies cache
  .github/workflows/playwright.yml
Due: pnpm run lint:root --

fix(playwright): fix format command not working
  playwright/eslint.config.js
  playwright/package.json
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore: clarify documentation regarding local integ deployment
  README.md
Due: pnpm run lint:root --

feat: add README for ArgoCD plugin
  plugins/argocd/README.md
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

ci: :construction_worker: set the scope of the GH token for automatic Helm chart releases
  .github/workflows/cd.yml
Due: pnpm run lint:root --

fix: fix formatting issue
  apps/client/src/views/projects/DsoProjects.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore: apply formatting on file
  plugins/argocd/src/app-project.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix: fix docker build permissions to allow local path import
  ci/kind/run-build.sh
Due: pnpm run lint:root --

feat: :sparkles: create contact email environment variable
  apps/client/.env-example
  apps/client/.env.docker-example
  apps/client/cypress/e2e/specs/admin/system-settings.e2e.ts
  apps/client/src/utils/env.ts
  apps/client/src/views/DsoHome.vue
  apps/client/src/views/DsoMaintenance.vue
  apps/client/src/views/NotFound.vue
  apps/server/.env-example
  apps/server/.env.docker-example
  apps/server/src/utils/env.ts
  apps/server/vitest-init.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

Path conditions:
  pnpm run lint:style --filter=@cpn-console/client --: any of: **/apps/client/**/*.{vue,css}
  pnpm run lint:ts --filter=@cpn-console/client --: any of: **/apps/client/**/*
  pnpm run lint --filter=@cpn-console/server --: any of: **/apps/server/**/*
  pnpm run lint --filter=./packages/* --: any of: **/packages/**/*
  pnpm run lint --filter=./plugins/* --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
