Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format --filter cypress

.lintstagedrc:

{
  "**/client/**/*.{js,ts,vue,css}": "pnpm run format --filter client",
  "**/cypress/**/*.{js,cjs,ts}": "pnpm run format --filter cypress"
}

ci: :construction_worker: update helm values
  helm/templates/ingress.yaml
  helm/values.yaml
Due: none

ci: :construction_worker: add serviceName in postgres statefulset
  helm/templates/deployment-postgres.yaml
Due: none

feat: :children_crossing: improve home page and update doc link
  README.md
  apps/client/cypress/e2e/specs/sidebar.e2e.js
  apps/client/package.json
  apps/client/src/components/SideMenu.vue
  apps/client/src/icons.js
  apps/client/src/main.css
  apps/client/src/markdown.css
  apps/client/src/router/index.js
  apps/client/src/views/DsoHome.vue
  apps/client/vite.config.ts
  pnpm-lock.yaml
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :technologist: change domains for dev and int
  README.md
  ci/helm-utils/values.yaml
  env/dso-values-int-example.yaml
  env/dso-values.yaml
  package.json
Due: none

feat: :sparkles: add or remove a team member via keycloak
  apps/client/cypress/e2e/specs/permissions.e2e.js
  apps/client/cypress/e2e/specs/team.e2e.js
  apps/client/cypress/e2e/support/commands.js
  apps/client/package.json
  apps/client/src/api/api.js
  apps/client/src/components/PermissionForm.vue
  apps/client/src/components/SuggestionInput.vue
  apps/client/src/stores/project-user.js
  apps/client/src/views/projects/DsoTeam.vue
  apps/server/src/controllers/user.ts
  apps/server/src/plugins/core/keycloak/index.ts
  apps/server/src/plugins/core/keycloak/init.ts
  apps/server/src/plugins/hooks/team.ts
  apps/server/src/queries/user-queries.ts
  apps/server/src/routes/admin/log.ts
  apps/server/src/routes/project-user.ts
  apps/server/src/utils/errors.ts
  env/dso-values-dev.yaml
  env/dso-values-int-example.yaml
  misc/business-rules.md
  pnpm-lock.yaml
Due: pnpm run format --filter client, pnpm run format --filter cypress

refactor: :art: move project logic to business
  apps/server/src/business/organization.ts
  apps/server/src/business/project.ts
  apps/server/src/business/user.ts
  apps/server/src/controllers/environment.ts
  apps/server/src/controllers/organization.ts
  apps/server/src/controllers/permission.ts
  apps/server/src/controllers/project.ts
  apps/server/src/controllers/repository.ts
  apps/server/src/prisma/migrations/20230802143822_dso/migration.sql
  apps/server/src/prisma/schema.prisma
  apps/server/src/queries/project-queries.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/controller.ts
  apps/server/src/routes/project.ts
  apps/server/src/utils/controller.ts
Due: none

refactor: :art: move project logic to business
  apps/server/src/business/organization.ts
  apps/server/src/business/project.ts
  apps/server/src/business/user.ts
  apps/server/src/connect.spec.ts
  apps/server/src/controllers/admin/organizations.ts
  apps/server/src/controllers/admin/project.ts
  apps/server/src/controllers/environment.ts
  apps/server/src/controllers/organization.ts
  apps/server/src/controllers/permission.ts
  apps/server/src/controllers/project.ts
  apps/server/src/controllers/repository.ts
  apps/server/src/controllers/user.ts
  apps/server/src/prisma/migrations/20230802143822_dso/migration.sql
  apps/server/src/prisma/schema.prisma
  apps/server/src/queries/environment-queries.ts
  apps/server/src/queries/index.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/controllers.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/routes/project.ts
  apps/server/src/utils/controller.ts
  apps/server/src/utils/services.ts
Due: none

refactor: :truck: create environment ressources folder
  apps/server/src/connect.spec.ts
  apps/server/src/queries/index.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/routes/project-environment.spec.ts
  apps/server/src/routes/project-environment.ts
  apps/server/src/utils/controller.ts
Due: none

feat: :sparkles: retrieve user from kc if does not exist in db
  apps/server/src/controllers/user.ts
  apps/server/src/plugins/core/keycloak/index.ts
  apps/server/src/plugins/core/keycloak/init.ts
  apps/server/src/plugins/hooks/team.ts
Due: none

docs: :memo: display version in footer as a clickable link
  apps/client/src/App.vue
Due: pnpm run format --filter client

refactor: :construction: wip project controller refactor
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
  misc/controllers.md
Due: none

chore: :technologist: fix hmr on integration
  ci/helm-utils/templates/cm-server-data.yaml
  ci/helm-utils/values.yaml
  ci/kind/run.sh
  env/dso-values-int-example.yaml
Due: none

fix: :bug: filter archived project from cluster form
  apps/client/cypress/e2e/specs/admin/clusters.e2e.js
  apps/client/src/stores/admin/project.js
  apps/client/src/views/admin/ListClusters.vue
  apps/server/src/resources/cluster/admin/controllers.ts
  apps/server/src/resources/cluster/admin/queries.ts
  apps/server/src/resources/project/business.ts
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :bug: retrieve kc user bug fix
  apps/server/src/plugins/core/keycloak/index.ts
  apps/server/src/resources/user/controllers.ts
Due: none

fix: :bug: various fixes around plugins and controllers
  apps/client/src/api/xhr-client.js
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/RepoForm.vue
  apps/client/src/main.css
  apps/client/src/views/projects/DsoDashboard.vue
  apps/server/src/plugins/core/argo/index.ts
  apps/server/src/plugins/core/gitlab/index.ts
  apps/server/src/plugins/core/keycloak/index.ts
  apps/server/src/plugins/core/keycloak/user.ts
  apps/server/src/plugins/core/kubernetes/namespace.ts
  apps/server/src/plugins/core/kubernetes/secret.ts
  apps/server/src/plugins/core/nexus/project.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/controllers.ts
  packages/shared/src/resources/project/dto.ts
Due: pnpm run format --filter client

fix: :alien: sync controllers require bigger axios timeout
  apps/client/src/api/xhr-client.js
Due: pnpm run format --filter client

refactor: :recycle: move orm and logic to business for organizations
  apps/server/src/resources/organization/business.ts
  apps/server/src/resources/organization/controllers.ts
  apps/server/src/resources/organization/queries.ts
  apps/server/src/resources/project/controllers.ts
  misc/controllers.md
  packages/shared/src/resources/project/dto.ts
  packages/shared/src/resources/project/model.ts
Due: none

refactor: :label: uniformize hooks calls
  apps/server/src/plugins/core/argo/cluster.ts
  apps/server/src/plugins/core/argo/index.ts
  apps/server/src/plugins/core/argo/init.ts
  apps/server/src/plugins/core/gitlab/index.ts
  apps/server/src/plugins/core/harbor/index.ts
  apps/server/src/plugins/core/keycloak/index.ts
  apps/server/src/plugins/core/keycloak/init.ts
  apps/server/src/plugins/core/kubernetes/init.ts
  apps/server/src/plugins/core/kubernetes/namespace.ts
  apps/server/src/plugins/core/kubernetes/secret.ts
  apps/server/src/plugins/core/nexus/init.ts
  apps/server/src/plugins/core/nexus/project.ts
  apps/server/src/plugins/core/sonarqube/init.ts
  apps/server/src/plugins/core/sonarqube/user.ts
  apps/server/src/plugins/core/vault/index.ts
  apps/server/src/plugins/core/vault/init.ts
  apps/server/src/plugins/hooks/hook.ts
Due: none

fix: :bug: manage cancel emit on update repo form
  apps/client/src/views/projects/DsoRepos.vue
Due: pnpm run format --filter client

feat: :children_crossing: inform users that clipboard works only with https
  apps/client/src/components/CIForm.vue
  apps/client/src/views/admin/ListUser.vue
Due: pnpm run format --filter client

Revert "feat: :children_crossing: inform users that clipboard works only with https"
  apps/client/src/components/CIForm.vue
  apps/client/src/views/admin/ListUser.vue
Due: pnpm run format --filter client

fix: :technologist: fix import kubeconfig in integration
  ci/helm-utils/templates/cm-kubeconfig-integ.yaml
  ci/kind/run.sh
  env/dso-values-int-example.yaml
Due: none

refactor: :recycle: business logic for cluster controller
  apps/client/src/views/admin/ListClusters.vue
  apps/server/src/resources/cluster/admin/business.ts
  apps/server/src/resources/cluster/admin/controllers.ts
  apps/server/src/resources/organization/business.ts
  apps/server/src/utils/errors.ts
Due: pnpm run format --filter client

refactor: :recycle: business logic for log controller
  apps/server/src/resources/log/admin/business.ts
  apps/server/src/resources/log/admin/controllers.ts
Due: none

refactor: :recycle: move business logic from admin organizations controller
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/controllers.ts
  apps/server/src/resources/organization/admin/business.ts
  apps/server/src/resources/organization/admin/controllers.ts
Due: none

refactor: :recycle: move logic from permission controller to business
  apps/server/src/resources/permission/business.ts
  apps/server/src/resources/permission/controllers.ts
Due: none

fix: :bug: fix types, add void and handle it
  apps/server/src/plugins/core/argo/app-project.ts
  apps/server/src/plugins/core/argo/index.ts
Due: none

fix: :rewind: fix bugs introduced during my vacations
  apps/server/src/plugins/core/argo/app-project.ts
  apps/server/src/plugins/core/argo/index.ts
Due: none

fix: :goal_net: allow deleting environment if not found
  apps/server/src/plugins/core/argo/app-project.ts
Due: none

refactor: :recycle: move logic from service controller to business
  apps/server/src/resources/service/business.ts
  apps/server/src/resources/service/controllers.ts
Due: none

refactor: :recycle: remove business logic from project admin controller
  apps/server/src/resources/project/admin/business.ts
  apps/server/src/resources/project/admin/controllers.ts
Due: none

refactor: :lipstick: rename menu titles
  apps/client/src/components/SideMenu.vue
Due: pnpm run format --filter client

fix: :lipstick: add icons
  apps/client/src/components/SideMenu.vue
  apps/client/src/icons.js
Due: pnpm run format --filter client

fix: :bento: update MultiSelector component
  apps/client/src/components/ClusterForm.vue
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/MultiSelector.vue
Due: pnpm run format --filter client

refactor: :recycle: remove business logic from repository controller
  apps/server/src/resources/permission/business.ts
  apps/server/src/resources/repository/business.ts
  apps/server/src/resources/repository/controllers.ts
  apps/server/src/utils/errors.ts
Due: none

refactor: :recycle: move user controller logic to business
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/user/business.ts
  apps/server/src/resources/user/controllers.ts
Due: none
