Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm run lint:style --filter=@cpn-console/client --",
  "**/apps/client/**/*": "pnpm run lint:ts --filter=@cpn-console/client --",
  "**/apps/server/**/*": "pnpm run lint --filter=@cpn-console/server --",
  "**/packages/**/*": "pnpm run lint --filter=./packages/* --",
  "**/plugins/**/*": "pnpm run lint --filter=./plugins/* --",
  "**/*": "pnpm run lint:root --"
}

chore(e2e): migrate Duplicate Zone test from Cypress to Playwright
  apps/client/cypress/e2e/specs/admin/zones.e2e.ts
  playwright/e2e-tests/zones.spec.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore(e2e): migrate Token tests from Cypress to Playwright
  apps/client/cypress/e2e/specs/admin/tokens.e2e.ts
  playwright/e2e-tests/tokens.spec.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore(playwright): don't bother with webkit for now
  playwright/playwright.config.ts
Due: pnpm run lint:root --

chore(e2e): migrate last Zone tests from Cypress to Playwright
  apps/client/cypress/e2e/specs/admin/zones.e2e.ts
  playwright/e2e-tests/zones.spec.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

docs: :memo: Ajout du lien vers le MODOP de gestion des versions de dépendances
  README.md
Due: pnpm run lint:root --

chore(e2e): migrate Project archive test from Cypress to Playwright
  apps/client/cypress/e2e/specs/admin/projects.e2e.ts
  playwright/e2e-tests/projects.spec.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore: :construction: bump cypress to v15.6.0
  apps/client/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore(e2e): avoid launching Playwright and Cypress E2E tests at the same time
  .github/workflows/ci.yml
Due: pnpm run lint:root --

chore(e2e): migrate Admin Role tests from Cypress to Playwright
  apps/client/cypress/e2e/specs/admin/roles.e2e.ts
  apps/client/src/views/admin/AdminRoles.vue
  playwright/e2e-tests/roles.spec.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

fix(shared): explicitely import Zod type
  packages/shared/src/contracts/cluster.ts
  packages/shared/src/contracts/log.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/schemas/config.ts
  packages/shared/src/schemas/environment.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/repository.ts
  packages/shared/src/schemas/role.ts
  packages/shared/src/schemas/service-chain.ts
  packages/shared/src/schemas/services.ts
  packages/shared/src/schemas/stage.ts
  packages/shared/src/schemas/system.ts
  packages/shared/src/schemas/token.ts
  packages/shared/src/schemas/user.ts
  packages/shared/src/schemas/zone.ts
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore: convert cypress dashboard e2e tests to playwright
  apps/client/cypress/e2e/specs/dashboard.e2e.ts
  apps/client/src/components/ProjectBanner.vue
  playwright/e2e-tests/clusters.spec.ts
  playwright/e2e-tests/dashboard.spec.ts
  playwright/e2e-tests/environments.spec.ts
  playwright/e2e-tests/projects.spec.ts
  playwright/e2e-tests/utils.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore(e2e): migrate some Zone tests from Cypress to Playwright
  apps/client/cypress/e2e/specs/admin/zones.e2e.ts
  apps/client/src/views/admin/ListZones.vue
  playwright/e2e-tests/zones.spec.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore: fix pnpm warning
  package.json
Due: pnpm run lint:root --

chore: :construction: bump vite to v7.2.1 (and also related deps)
  apps/client/package.json
  apps/server/package.json
  packages/shared/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix(tests): ensure Cypress tests are green again
  apps/client/cypress/components/specs/environment-form.ct.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore: :construction: bump @ts-rest/{core,fastify,openapi} to v3.52.1
  apps/client/package.json
  apps/server/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore(server): clean up Dockerfile
  apps/client/Dockerfile
  apps/server/Dockerfile
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

fix: rely on packageManager property to retrieve the right version of pnpm
  apps/client/Dockerfile
  apps/server/Dockerfile
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

chore(e2e): migrate repository tests from Cypress to Playwright
  apps/client/cypress/e2e/specs/repos.e2e.ts
  playwright/e2e-tests/repos.spec.ts
  playwright/e2e-tests/utils.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore: :construction: bump everything in CARET constraints (so MINOR and PATCH levels)
  apps/client/src/icon-collections.ts
  apps/client/src/main.ts
  apps/server/package.json
  apps/server/prisma.config.ts
  apps/server/src/prisma/schema/schema.prisma
  apps/server/src/utils/fastify.ts
  package.json
  plugins/gitlab/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

fix(ci): remove PNPM_VERSION from Github Actions
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/npm.yml
  .github/workflows/playwright.yml
  .github/workflows/tests-component.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit.yml
Due: pnpm run lint:root --

chore(e2e): migrate profile tests from Cypress to Playwright
  apps/client/cypress/e2e/specs/02-profile.e2e.ts
  playwright/config/console.ts
  playwright/e2e-tests/profile.spec.ts
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore: :construction: upgrade zod to v3.25.76
  packages/hooks/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore: bump pnpm to v10.20.0
  package.json
  playwright/package.json
Due: pnpm run lint:root --

test(playwright): :tada: add console integration tests
  playwright/config/console.ts
  playwright/e2e-tests/integration.spec.ts
  playwright/e2e-tests/utils.ts
Due: pnpm run lint:root --

chore(e2e): migrate last Role tests from Cypress to Playwright
  playwright/e2e-tests/roles.spec.ts
Due: pnpm run lint:root --

fix: :bug: public url for Harbor image pull secret
  plugins/harbor/src/utils.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :sparkles: distinguish between public and internal gitlab url
  plugins/argocd/src/functions.ts
  plugins/gitlab/package.json
  plugins/gitlab/src/class.ts
  plugins/gitlab/src/repositories.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

test(playwright): :tada: add console integration tests
  playwright/config/console.ts
  playwright/e2e-tests/clusters.spec.ts
  playwright/e2e-tests/integration.spec.ts
  playwright/e2e-tests/projects.spec.ts
  playwright/e2e-tests/utils.ts
  playwright/playwright.config.ts
Due: pnpm run lint:root --

feat: :sparkles: add checkbox for autosync
  apps/client/src/components/RepoForm.vue
  apps/server/src/prisma/migrations/20251201093033_dso/migration.sql
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/repository/queries.ts
  apps/server/src/resources/repository/router.spec.ts
  apps/server/src/resources/repository/router.ts
  packages/shared/src/schemas/repository.ts
  packages/shared/src/utils/schemas.spec.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix: :bug: internal url for status monitor
  plugins/argocd/src/monitor.ts
  plugins/gitlab/src/monitor.ts
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

docs: :memo: add notes regarding services communication
  misc/plugins.md
Due: pnpm run lint:root --
