Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format --filter client, pnpm run format --filter cypress

.lintstagedrc:

{
  "**/client/**/*.{js,ts,vue,css}": "pnpm run format --filter client",
  "**/cypress/**/*.{js,cjs,ts}": "pnpm run format --filter cypress"
}

refactor: :coffin: remove contributorId, unused key
  apps/server/src/models/organization.js
  packages/shared/src/schemas/organization.js
  packages/shared/src/utils/schemas.spec.js
Due: none

feat: :alien: add hook to synchronize organizations
  apps/client/cypress/components/specs/environment-form.ct.js
  apps/client/cypress/e2e/specs/admin/organizations.e2e.js
  apps/client/src/api/api.js
  apps/client/src/api/api.spec.js
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/icons.js
  apps/client/src/stores/admin/organization.js
  apps/client/src/stores/admin/organization.spec.js
  apps/client/src/views/admin/ListOrganizations.vue
  apps/server/src/controllers/admin/organizations.js
  apps/server/src/models/organization.js
  apps/server/src/models/queries/organization-queries.js
  apps/server/src/plugins/index.js
  apps/server/src/routes/admin/organization.js
  apps/server/src/routes/admin/organization.spec.js
  apps/server/src/utils/mock-plugins.js
  apps/server/vitest-init.js
  packages/shared/src/utils/functions.js
  packages/shared/src/utils/schemas.spec.js
  packages/test-utils/src/imports/data.js
  packages/test-utils/src/random-utils.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :children_crossing: improve UX on permission form
  apps/client/cypress/components/specs/permission-form.ct.js
  apps/client/cypress/e2e/specs/permissions.e2e.js
  apps/client/src/components/PermissionForm.vue
  apps/client/src/icons.js
  packages/shared/src/utils/const.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

feat: :sparkles: add project admin view
  apps/client/cypress/e2e/specs/admin/projects.e2e.js
  apps/client/cypress/e2e/support/func.js
  apps/client/src/api/api.js
  apps/client/src/components/SideMenu.vue
  apps/client/src/icons.js
  apps/client/src/router/index.js
  apps/client/src/stores/admin/project.js
  apps/client/src/stores/admin/project.spec.js
  apps/client/src/views/admin/ListOrganizations.vue
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/admin/ListUser.vue
  apps/server/src/controllers/admin/project.js
  apps/server/src/controllers/project.js
  apps/server/src/init/db/index.js
  apps/server/src/models/queries/organization-queries.js
  apps/server/src/routes/admin/index.js
  apps/server/src/routes/admin/project.js
  apps/server/src/routes/admin/project.spec.js
  packages/shared/src/utils/const.js
  packages/shared/src/utils/date.js
  packages/test-utils/src/imports/data.js
  packages/test-utils/src/random-utils.js
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :bug: fix payload, fix check step
  apps/server/src/controllers/repository.js
  apps/server/src/plugins/core/argo/repo-secret.js
  apps/server/src/plugins/core/keycloak/index.js
  apps/server/src/plugins/index.js
Due: none

feat: :sparkles: log api endpoint
  apps/server/src/controllers/admin/logs.js
  apps/server/src/routes/admin/index.js
  apps/server/src/routes/admin/log.js
Due: none

docs: :memo: comple plugins doc
  misc/plugins.md
Due: none

refactor: :recycle: preValidation hook for admin router
  apps/server/src/controllers/admin/organizations.js
  apps/server/src/controllers/admin/project.js
  apps/server/src/controllers/admin/user.js
  apps/server/src/routes/admin/index.js
  apps/server/src/routes/admin/organization.spec.js
  apps/server/src/routes/admin/project.spec.js
  apps/server/src/routes/admin/user.spec.js
Due: none

docs: :memo: rework architecture flow, add contoller-plugins communication
  apps/client/public/img/architecture.png
  misc/architecture.drawio
  misc/controller-plugins-communication.png
Due: none

refactor: :art: refacto admin prehandler function
  apps/server/src/routes/admin/index.js
  apps/server/src/routes/admin/organization.spec.js
  apps/server/src/routes/admin/project.spec.js
  apps/server/src/routes/admin/user.spec.js
  apps/server/src/utils/controller.js
Due: none

refactor: :recycle: preValidation hook for admin router
  apps/server/src/controllers/admin/organizations.js
  apps/server/src/controllers/admin/project.js
  apps/server/src/controllers/admin/user.js
  apps/server/src/routes/admin/index.js
  apps/server/src/routes/admin/organization.spec.js
  apps/server/src/routes/admin/project.spec.js
  apps/server/src/routes/admin/user.spec.js
  apps/server/src/utils/controller.js
Due: none

build: :alien: extends vault job
  .gitlab-ci-dso.yml
Due: none

feat: :children_crossing: improve user experience on dso-console
  apps/client/cypress/e2e/specs/admin/projects.e2e.js
  apps/client/cypress/e2e/specs/projects.e2e.js
  apps/client/cypress/e2e/specs/redirection.e2e.js
  apps/client/cypress/e2e/specs/sidebar.e2e.js
  apps/client/src/components/EnvironmentForm.vue
  apps/client/src/components/PermissionForm.vue
  apps/client/src/components/RepoForm.vue
  apps/client/src/main.css
  apps/client/src/views/admin/ListProjects.vue
  apps/client/src/views/projects/DsoDashboard.vue
  apps/client/src/views/projects/DsoProjects.vue
  apps/client/src/views/projects/DsoRepos.vue
  apps/client/src/views/projects/ManageEnvironments.vue
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :bug: fix permissions when env init failed
  apps/server/src/controllers/environment.js
Due: none

fix: :bug: remove harbor repos before projects
  apps/server/src/plugins/core/harbor/project.js
Due: none

refactor: :art: change argo resource management
  apps/server/src/controllers/environment.js
  apps/server/src/controllers/repository.js
  apps/server/src/plugins/core/argo/app-project.js
  apps/server/src/plugins/core/argo/applications.js
  apps/server/src/plugins/core/argo/index.js
  apps/server/src/plugins/core/argo/init.js
  apps/server/src/plugins/core/argo/migrate.js
  apps/server/src/plugins/core/argo/repo-secret.js
Due: none

fix: :art: temp fix labels, add check, refacto get ns
  apps/server/src/plugins/core/kubernetes/index.js
  apps/server/src/plugins/core/kubernetes/init.js
  apps/server/src/plugins/core/kubernetes/utils.js
Due: none

feat: :construction: deploy console without pivileges
  helm/templates/client/cm-client-app.yml
  helm/templates/client/cm-client.yml
  helm/templates/client/deployment-client.yml
  helm/templates/clusterrole.yml
  helm/templates/postgres/cm-postgres.yml
  helm/templates/postgres/deployment-postgres.yml
  helm/templates/postgres/postgres-pvc.yml
  helm/templates/server/cm-server.yaml
  helm/templates/server/deployment-server.yaml
  helm/values.yaml
Due: none

fix: :zap: gitlab, stabilize user search and lifecycle
  apps/server/src/plugins/core/argo/migrate.ts
  apps/server/src/plugins/core/gitlab/index.ts
  apps/server/src/plugins/core/gitlab/user.ts
Due: none

fix: :bug: harbor, fix remove repos from unknown project
  apps/server/src/plugins/core/harbor/project.ts
Due: none

refactor: :art: split check step in new validate function
  apps/server/src/controllers/admin/organizations.ts
  apps/server/src/controllers/environment.ts
  apps/server/src/controllers/project.ts
  apps/server/src/controllers/repository.ts
  apps/server/src/plugins/index.ts
  apps/server/src/routes/admin/organization.spec.ts
  apps/server/vitest-init.ts
Due: none

chore: :arrow_up: bump dependencies
  apps/client/cypress/Dockerfile
  apps/client/cypress/e2e/specs/environments.e2e.js
  apps/client/package.json
  apps/client/vitest.config.ts
  apps/server/package.json
  apps/server/src/controllers/repository.ts
  apps/server/src/generate-files/generate-ci-files.spec.ts
  apps/server/src/plugins/core/kubernetes/utils.ts
  apps/server/src/routes/admin/organization.spec.ts
  apps/server/src/routes/admin/project.spec.ts
  apps/server/src/routes/admin/user.spec.ts
  apps/server/src/routes/organization.spec.ts
  apps/server/src/routes/project-environment.spec.ts
  apps/server/src/routes/project-permission.spec.ts
  apps/server/src/routes/project-repository.spec.ts
  apps/server/src/routes/project-user.spec.ts
  apps/server/src/routes/project.spec.ts
  apps/server/src/routes/service.spec.ts
  apps/server/vitest-init.ts
  apps/server/vitest.config.ts
  package.json
  packages/shared/package.json
  packages/shared/src/utils/schemas.spec.js
  packages/shared/vitest.config.js
  packages/test-utils/package.json
  packages/test-utils/src/random-utils.js
  pnpm-lock.yaml
Due: pnpm run format --filter client, pnpm run format --filter cypress

chore: :alien: change organization
  .github/workflows/release.yml
  README.md
  apps/client/cypress/e2e/support/commands.js
  apps/client/src/components/RepoForm.vue
  apps/client/src/documentation/home.md
  helm/values.yaml
Due: pnpm run format --filter client, pnpm run format --filter cypress

build: autobuild on branch
  .github/workflows/build-branch.yml
Due: none

feat: :sparkles: add admin log page
  .eslintignore
  .gitignore
  apps/client/cypress/e2e/specs/admin/logs.e2e.js
  apps/client/package.json
  apps/client/src/api/api.js
  apps/client/src/components/CIForm.vue
  apps/client/src/components/SideMenu.vue
  apps/client/src/icons.js
  apps/client/src/main.ts
  apps/client/src/router/index.js
  apps/client/src/stores/admin/log.js
  apps/client/src/stores/admin/log.spec.js
  apps/client/src/views/ServicesHealth.vue
  apps/client/src/views/admin/ListLogs.vue
  apps/client/uno.config.ts
  apps/server/src/controllers/admin/logs.ts
  apps/server/src/init/db/setup-projects.ts
  apps/server/src/models/queries/log-queries.ts
  apps/server/src/routes/admin/index.ts
  apps/server/src/routes/admin/log.spec.ts
  apps/server/src/routes/admin/log.ts
  packages/shared/src/utils/const.js
  packages/shared/src/utils/date.js
  packages/test-utils/src/imports/data.js
  packages/test-utils/src/random-utils.js
  pnpm-lock.yaml
Due: pnpm run format --filter client, pnpm run format --filter cypress

fix: :bug: test if external dir exists
  apps/client/src/views/admin/ListLogs.vue
  apps/server/src/plugins/index.ts
  helm/templates/deployment-server.yaml
Due: pnpm run format --filter client

fix: :lipstick: more contrasted icon color for archived project
  packages/shared/src/utils/const.js
Due: none

feat: :construction: introduce multi-cluster
  apps/server/src/models/cluster.js
  apps/server/src/models/projects-clusters.js
  apps/server/src/models/queries/cluster-queries.js
  apps/server/src/models/queries/projects-clusters-queries.js
  apps/server/src/plugins/index.ts
Due: none

chore: :wrench: introduce typescript for migration
  apps/client/src/router/index.js
  pnpm-lock.yaml
Due: pnpm run format --filter client

chore: :card_file_box: introduce cluster tables
  apps/server/src/connect.ts
  apps/server/src/controllers/admin/cluster.ts
  apps/server/src/models/cluster.ts
  apps/server/src/models/environments-clusters.ts
  apps/server/src/models/projects-clusters.ts
  apps/server/src/models/queries/cluster-queries.js
  apps/server/src/models/queries/cluster-queries.ts
  apps/server/src/models/queries/environments-clusters-queries.ts
  apps/server/src/models/queries/projects-clusters-queries.js
  apps/server/src/models/queries/projects-clusters-queries.ts
  apps/server/src/routes/admin/cluster.spec.ts
  apps/server/src/routes/admin/cluster.ts
  packages/shared/package.json
  packages/shared/src/.eslintignore
  packages/shared/src/.eslintrc.cjs
  packages/shared/src/index.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/schemas/environment.ts
  packages/shared/src/schemas/index.ts
  packages/shared/src/schemas/organization.ts
  packages/shared/src/schemas/permission.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/repository.ts
  packages/shared/src/schemas/user.ts
  packages/shared/src/types/cluster.ts
  packages/shared/src/types/environment.ts
  packages/shared/src/types/index.ts
  packages/shared/src/types/project.ts
  packages/shared/src/utils/const.ts
  packages/shared/src/utils/date.ts
  packages/shared/src/utils/functions.spec.ts
  packages/shared/src/utils/functions.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/shared/src/utils/schemas.ts
  packages/shared/tsconfig.json
  pnpm-lock.yaml
Due: none

chore: :label: add types on shared
  apps/server/src/routes/admin/cluster.spec.ts
  packages/shared/package.json
  packages/shared/src/types/api.ts
  packages/shared/src/types/cluster.ts
  packages/shared/src/types/environment.ts
  packages/shared/src/types/index.ts
  packages/shared/src/types/organization.ts
  packages/shared/src/utils/schemas.ts
  pnpm-lock.yaml
Due: none

chore: :wrench: setup of TS on shared package
  apps/client/Dockerfile
  apps/client/cypress/Dockerfile
  apps/client/package.json
  apps/server/Dockerfile
  apps/server/package.json
  apps/server/src/plugins/core/argo/migrate.ts
  apps/server/src/routes/admin/log.spec.ts
  apps/server/tsconfig.json
  docker/docker-compose.ci.yml
  docker/docker-compose.ct.yml
  docker/docker-compose.dev.yml
  package.json
  packages/shared/.eslintrc.cjs
  packages/shared/.gitignore
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/schemas/environment.ts
  packages/shared/src/schemas/index.ts
  packages/shared/src/schemas/organization.ts
  packages/shared/src/schemas/permission.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/repository.ts
  packages/shared/src/schemas/user.ts
  packages/shared/src/utils/const.ts
  packages/shared/src/utils/date.ts
  packages/shared/src/utils/functions.spec.ts
  packages/shared/src/utils/functions.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/shared/src/utils/schemas.ts
  packages/shared/tsconfig.json
  packages/shared/vitest.config.js
  packages/test-utils/package.json
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.base.json
  pnpm-lock.yaml
  turbo.json
Due: none

fix: :bug: fix imports, change dependencies
  apps/server/package.json
  apps/server/src/plugins/core/argo/init.ts
  apps/server/src/plugins/core/gitlab/utils.ts
  apps/server/src/plugins/core/kubernetes/init.ts
  apps/server/src/routes/service.spec.ts
  apps/server/src/server.spec.ts
  apps/server/src/server.ts
  docker/docker-compose.int.yml
  pnpm-lock.yaml
Due: none

refactor: :construction: testing to implement style in pluginManager and new register function
  apps/server/src/controllers/admin/organizations.ts
  apps/server/src/controllers/environment.ts
  apps/server/src/controllers/project.ts
  apps/server/src/controllers/repository.ts
  apps/server/src/models/queries/project-queries.ts
  apps/server/src/plugins/core/argo/index.ts
  apps/server/src/plugins/core/argo/init.ts
  apps/server/src/plugins/core/gitlab/init.ts
  apps/server/src/plugins/core/harbor/init.ts
  apps/server/src/plugins/core/keycloak/init.ts
  apps/server/src/plugins/core/kubernetes/init.ts
  apps/server/src/plugins/core/nexus/init.ts
  apps/server/src/plugins/core/sonarqube/init.ts
  apps/server/src/plugins/core/vault/init.ts
  apps/server/src/plugins/hooks/environment.ts
  apps/server/src/plugins/hooks/hook.ts
  apps/server/src/plugins/hooks/index.ts
  apps/server/src/plugins/hooks/misc.ts
  apps/server/src/plugins/hooks/permission.ts
  apps/server/src/plugins/hooks/project.ts
  apps/server/src/plugins/hooks/repository.ts
  apps/server/src/plugins/hooks/team.ts
  apps/server/src/plugins/index.ts
  apps/server/src/routes/admin/organization.spec.ts
  apps/server/src/server.spec.ts
  apps/server/src/server.ts
  apps/server/src/types/index.ts
  apps/server/src/utils/type.ts
  apps/server/vitest-init.ts
  packages/shared/.eslintrc.cjs
  packages/shared/src/utils/schemas.ts
Due: none

chore: :wrench: setup of TS on shared package
  apps/client/Dockerfile
  apps/client/cypress/Dockerfile
  apps/client/package.json
  apps/server/Dockerfile
  apps/server/package.json
  apps/server/src/plugins/core/argo/migrate.ts
  apps/server/src/routes/admin/log.spec.ts
  apps/server/tsconfig.json
  docker/docker-compose.ci.yml
  docker/docker-compose.ct.yml
  docker/docker-compose.dev.yml
  package.json
  packages/shared/.eslintrc.cjs
  packages/shared/.gitignore
  packages/shared/package.json
  packages/shared/src/utils/schemas.ts
  packages/shared/vitest.config.js
  packages/test-utils/package.json
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.base.json
  pnpm-lock.yaml
  turbo.json
Due: none
