Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

.lintstagedrc:

{
  "**/apps/client/**/*.{vue,css}": "pnpm run lint:style --filter=@cpn-console/client --",
  "**/apps/client/**/*": "pnpm run lint:ts --filter=@cpn-console/client --",
  "**/apps/server/**/*": "pnpm run lint --filter=@cpn-console/server --",
  "**/packages/**/*": "pnpm run lint --filter=./packages/* --",
  "**/plugins/**/*": "pnpm run lint --filter=./plugins/* --",
  "**/*": "pnpm run lint:root --"
}

feat: :sparkles: add resources occupancy on clusters
  apps/client/src/stores/cluster.ts
  apps/client/src/views/admin/ListClusters.vue
  apps/server/src/resources/cluster/business.spec.ts
  apps/server/src/resources/cluster/business.ts
  apps/server/src/resources/cluster/router.spec.ts
  apps/server/src/resources/cluster/router.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/types/index.ts
  ci/kind/run.sh
  packages/shared/src/contracts/cluster.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/src/imports/data.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: :sparkles: add project usage on resources tab
  apps/client/src/components/ProjectResources.vue
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore: :arrow_up: upgrade fastify and axios
  apps/client/package.json
  apps/server/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/kubernetes/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

test(playwright): :technologist: playwright on exposed cluster
  .github/workflows/playwright.yml
  playwright/README.md
  playwright/config/keycloak.ts
  playwright/e2e-tests/keycloak.spec.ts
Due: pnpm run lint:root --

chore: :arrow_up: upgrade fastify, axios and their dependencies
  apps/client/package.json
  apps/server/package.json
  package.json
  packages/hooks/src/config.ts
  packages/test-utils/src/utils/random-project.ts
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore: :arrow_up: upgrade axios
  apps/client/package.json
  apps/server/package.json
  plugins/argocd/package.json
  plugins/gitlab/package.json
  plugins/harbor/package.json
  plugins/keycloak/package.json
  plugins/kubernetes/package.json
  plugins/nexus/package.json
  plugins/sonarqube/package.json
  plugins/vault/package.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: remove Quota table references to use Environment attributes instead
  apps/server/src/resources/environment/business.spec.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/queries.ts
  apps/server/src/resources/environment/router.spec.ts
  apps/server/src/resources/environment/router.ts
  apps/server/src/resources/index.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/queries-index.ts
  apps/server/src/resources/quota/business.spec.ts
  apps/server/src/resources/quota/business.ts
  apps/server/src/resources/quota/queries.ts
  apps/server/src/resources/quota/router.spec.ts
  apps/server/src/resources/quota/router.ts
  apps/server/src/resources/stage/business.spec.ts
  apps/server/src/resources/stage/business.ts
  apps/server/src/resources/stage/queries.ts
  apps/server/src/resources/stage/router.spec.ts
  apps/server/src/utils/hook-wrapper.ts
  apps/server/src/utils/mocks.ts
  packages/hooks/src/hooks/hook-project.ts
  packages/shared/src/api-client.ts
  packages/shared/src/contracts/environment.ts
  packages/shared/src/contracts/index.ts
  packages/shared/src/contracts/quota.ts
  packages/shared/src/contracts/stage.ts
  packages/shared/src/schemas/environment.ts
  packages/shared/src/schemas/index.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/schemas/quota.ts
  packages/shared/src/schemas/stage.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/src/imports/data.ts
  packages/test-utils/src/utils/random-project.ts
  packages/test-utils/src/utils/random-utils.ts
  packages/test-utils/src/utils/types.ts
  plugins/argocd/src/functions.ts
  plugins/kubernetes/src/class.ts
  plugins/kubernetes/src/namespace.ts
  plugins/kubernetes/src/quota.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat(opencds): add mockoon docker image for local dev and ci considerations
  apps/client/.env-example
  docker/docker-compose.dev.yml
  docker/docker-compose.local.yml
  docker/docker-compose.prod.yml
  plugins/opencds/Dockerfile_mockoon
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

test(playwright): :test_tube: upgrade to docker.io/bitnamilegacy/keycloak:26.1.3-debian-12-r0
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.local.yml
  docker/docker-compose.prod.yml
  playwright/e2e-tests/keycloak.spec.ts
Due: pnpm run lint:root --

chore(opencds): adjust API contract
  apps/server/.env-example
  packages/opencds/opencds_api.json
  packages/shared/src/schemas/service-chain.ts
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat: remove quota table
  apps/server/package.json
  apps/server/src/prisma/migrations/20250818095032_remove_quota/migration.sql
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/prisma/schema/topography.prisma
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

chore(root): sort package.json scripts
  package.json
Due: pnpm run lint:root --

chore(opencds): add retry button on client
  apps/client/src/components/ServiceChainForm.vue
  apps/client/src/stores/service-chain.ts
  apps/client/src/views/admin/ListServiceChains.vue
  apps/server/src/resources/service-chain/business.spec.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

chore(opencds): update design document
  plugins/opencds/opencds.adoc
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

chore(playwright): improve OpenCDS E2E test
  playwright/e2e-tests/service-chains.spec.ts
  playwright/playwright.config.ts
Due: pnpm run lint:root --

ci: :green_heart: structure values modification
  ci/kind/env/dso-values.yaml
Due: pnpm run lint:root --

chore(docker): remove dead code in docker-compose files
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.integ.yml
  docker/docker-compose.local.yml
  docker/docker-compose.prod.yml
Due: pnpm run lint:root --

feat(opencds): handle OpenCDS API token-based security
  apps/server/.env-example
  apps/server/src/resources/service-chain/business.spec.ts
  apps/server/src/resources/service-chain/queries.ts
  apps/server/vitest-init.ts
  packages/opencds/opencds_api.json
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

fix(playwright): bump playwright to 1.54.2
  playwright/package.json
  pnpm-lock.yaml
Due: pnpm run lint:root --

chore(client): add types for vue3-json-viewer
  apps/client/src/components/ClusterForm.vue
  apps/client/src/env.d.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

feat(opencds): add client-side service chain details page
  apps/client/src/components/ServiceChainForm.vue
  apps/client/src/stores/service-chain.ts
  apps/client/src/views/admin/AdminServiceChain.vue
  apps/server/src/resources/service-chain/router.spec.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

chore(playwright): adjust timeouts to avoid flaky tests on CI workflows
  playwright/playwright.config.ts
Due: pnpm run lint:root --

chore(ci): set environment variables for OpenCDS E2E tests
  docker/docker-compose.ci.yml
Due: pnpm run lint:root --

fix: config and locator due to keycloak upgrade
  .github/workflows/playwright.yml
  apps/client/cypress/e2e/specs/01-logs.e2e.ts
  apps/client/cypress/e2e/specs/redirection.e2e.ts
  apps/client/cypress/e2e/support/commands.ts
  apps/client/package.json
  docker/docker-compose.ci.yml
  keycloak/realms/realm-dev.json
  pnpm-lock.yaml
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

chore(opencds): initialize opencds package
  plugins/opencds/opencds.adoc
  plugins/opencds/opencds_api.json
Due: pnpm run lint --filter=./plugins/* --, pnpm run lint:root --

feat: :sparkles: save resources constraints for the project
  apps/client/cypress/components/specs/project-settings.ct.ts
  apps/client/src/components/ClusterInfos.vue
  apps/client/src/components/ProjectResources.vue
  apps/client/src/components/ProjectSettings.vue
  apps/client/src/utils/misc.ts
  apps/client/src/utils/project-utils.ts
  apps/client/src/views/CreateProject.vue
  apps/client/src/views/ProjectDashboard.vue
  apps/server/src/prisma/migrations/20250916134454_add_project_resources/migration.sql
  apps/server/src/prisma/schema/project.prisma
  apps/server/src/resources/environment/business.spec.ts
  apps/server/src/resources/environment/business.ts
  apps/server/src/resources/environment/router.spec.ts
  apps/server/src/resources/environment/router.ts
  apps/server/src/resources/project/business.ts
  apps/server/src/resources/project/queries.ts
  apps/server/src/resources/project/router.spec.ts
  packages/shared/src/contracts/project.ts
  packages/shared/src/schemas/project.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/src/imports/data.ts
  playwright/e2e-tests/environments.spec.ts
  playwright/e2e-tests/utils.ts
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

feat(opencds): add feature toggling default value
  apps/client/.env-example
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

feat: update Cluster model to store resources capability
  apps/client/cypress/components/specs/cluster-form.ct.ts
  apps/client/cypress/e2e/specs/admin/clusters.e2e.ts
  apps/client/package.json
  apps/client/src/components/ClusterForm.vue
  apps/client/src/views/admin/ListClusters.vue
  apps/server/src/prisma/migrations/20250825150622_add_cluster_resources/migration.sql
  apps/server/src/prisma/schema/topography.prisma
  apps/server/src/resources/cluster/queries.ts
  apps/server/src/resources/cluster/router.spec.ts
  apps/server/src/resources/project/queries.ts
  packages/shared/src/schemas/cluster.ts
  packages/shared/src/utils/schemas.spec.ts
  packages/test-utils/src/imports/data.ts
  packages/test-utils/src/utils/random-utils.ts
  playwright/e2e-tests/clusters.spec.ts
  pnpm-lock.yaml
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint:root --

chore(opencds): setup hp url
  apps/server/.env-example
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

docs(client): add a reference to OpenCDS package documentation
  apps/client/README.md
Due: pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint:root --

docs(root): actualiser le README afin de clarifier les options de lancement de l'application console
  README.md
Due: pnpm run lint:root --

chore(playwright): attempt to improve performance by using all possible workers on the runner
  playwright/playwright.config.ts
Due: pnpm run lint:root --

docs(server): add a reference to OpenCDS package documentation
  apps/server/README.md
Due: pnpm run lint --filter=@cpn-console/server --, pnpm run lint:root --

feat(opencds): add flows retrieval and display as a stepper
  apps/client/src/components/Loader.vue
  apps/client/src/components/ServiceChainForm.vue
  apps/client/src/stores/service-chain.ts
  apps/client/src/views/admin/AdminServiceChain.vue
  apps/server/src/resources/service-chain/business.spec.ts
  apps/server/src/resources/service-chain/business.ts
  apps/server/src/resources/service-chain/queries.ts
  apps/server/src/resources/service-chain/router.spec.ts
  apps/server/src/resources/service-chain/router.ts
  packages/shared/src/contracts/service-chain.ts
  packages/shared/src/schemas/service-chain.ts
  playwright/e2e-tests/service-chains.spec.ts
  plugins/opencds/opencds_api.json
Due: pnpm run lint:style --filter=@cpn-console/client --, pnpm run lint:ts --filter=@cpn-console/client --, pnpm run lint --filter=@cpn-console/server --, pnpm run lint --filter=./packages/* --, pnpm run lint --filter=./plugins/* --, pnpm run lint:root --
