Repository cloud-pi-native/console: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm --filter=./plugins/* run lint --, pnpm run lint:root --

fix(server-nestjs): make PROJECTS_ROOT_DIR optional in config schemas
  apps/server-nestjs/src/config/base.config.spec.ts
  apps/server-nestjs/src/config/base.config.ts
  apps/server-nestjs/src/config/gitlab.config.ts
Due: pnpm run lint:root --

feat(deployment): add DeploymentValueSource model
  apps/server-nestjs/src/prisma/migrations/20260728095729_add_deployment_value_sources/migration.sql
  apps/server-nestjs/src/prisma/schema/project.prisma
  apps/server/src/prisma/migrations/20260728095729_add_deployment_value_sources/migration.sql
  apps/server/src/prisma/schema/project.prisma
  packages/test-utils/src/imports/data.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor: merge OpenCds healthcheck into ServiceChain module
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/opencds/opencds-health.service.ts
  apps/server-nestjs/src/modules/opencds/opencds.module.ts
  apps/server-nestjs/src/modules/service-chain/service-chain-health.service.ts
  apps/server-nestjs/src/modules/service-chain/service-chain.module.ts
Due: pnpm run lint:root --

test(eslintconfig): verify formatter correctness + perf, fix misleading comment
  packages/eslintconfig/package.json
  packages/eslintconfig/src/index.js
  packages/eslintconfig/src/index.spec.ts
  packages/eslintconfig/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

refactor: merge OpenCds healthcheck into ServiceChain module
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/opencds/opencds.module.ts
  apps/server-nestjs/src/modules/service-chain/service-chain-health.service.ts
  apps/server-nestjs/src/modules/service-chain/service-chain.module.ts
Due: pnpm run lint:root --

fix(server-nestjs): make integration config optional so preview boots with empty vars
  apps/server-nestjs/src/config/argocd.config.spec.ts
  apps/server-nestjs/src/config/argocd.config.ts
  apps/server-nestjs/src/config/base.config.spec.ts
  apps/server-nestjs/src/config/base.config.ts
  apps/server-nestjs/src/config/config.utils.ts
  apps/server-nestjs/src/config/gitlab.config.spec.ts
  apps/server-nestjs/src/config/gitlab.config.ts
  apps/server-nestjs/src/config/harbor.config.spec.ts
  apps/server-nestjs/src/config/harbor.config.ts
  apps/server-nestjs/src/config/keycloak.config.spec.ts
  apps/server-nestjs/src/config/keycloak.config.ts
  apps/server-nestjs/src/config/nexus.config.spec.ts
  apps/server-nestjs/src/config/nexus.config.ts
  apps/server-nestjs/src/config/service-chain.config.spec.ts
  apps/server-nestjs/src/config/service-chain.config.ts
  apps/server-nestjs/src/config/sonarqube.config.spec.ts
  apps/server-nestjs/src/config/sonarqube.config.ts
  apps/server-nestjs/src/config/vault.config.spec.ts
  apps/server-nestjs/src/config/vault.config.ts
  apps/server-nestjs/src/modules/argocd/argocd-health.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-health.service.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-health.service.spec.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-health.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-health.service.ts
  apps/server-nestjs/src/modules/registry/registry-health.service.ts
  apps/server-nestjs/src/modules/service-chain/service-chain-health.service.ts
  apps/server-nestjs/src/modules/sonarqube/sonarqube-health.service.ts
  apps/server-nestjs/src/modules/vault/vault-health.service.ts
Due: pnpm run lint:root --

refactor: use standard undici env based proxy
  apps/server-nestjs/src/main.ts
  apps/server-nestjs/src/modules/service-chain/open-cds-client.service.spec.ts
  apps/server-nestjs/src/modules/service-chain/open-cds-client.service.ts
  apps/server/src/runtime.ts
Due: pnpm --filter=@cpn-console/server run lint --, pnpm run lint:root --

chore: offload projects to nestjs
  apps/nginx-strangler/conf.d/routing.conf
Due: pnpm run lint:root --

refactor: conditional module activation
  apps/server-nestjs/src/main.module.ts
  apps/server-nestjs/src/modules/argocd/argocd.module.spec.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/healthz/healthz.service.spec.ts
  apps/server-nestjs/src/modules/plugin/plugin.module.spec.ts
  apps/server-nestjs/src/modules/plugin/plugin.module.ts
  apps/server-nestjs/src/modules/project-secrets/project-secrets.module.spec.ts
  apps/server-nestjs/src/modules/project-services/project-services.module.spec.ts
  apps/server-nestjs/src/modules/project-services/project-services.module.ts
  apps/server-nestjs/src/modules/service-chain/service-chain.module.ts
  apps/server-nestjs/src/utils/config.utils.ts
Due: pnpm run lint:root --

refactor: healthcheck in service
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/healthz/healthz.service.ts
  apps/server-nestjs/src/modules/service-chain/service-chain.module.ts
Due: pnpm run lint:root --

fix(server-nestjs/argocd): purge orphaned values files when a project has no environment
  apps/server-nestjs/src/modules/argocd/argocd-datastore.service.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.spec.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
Due: pnpm run lint:root --

chore(ci): remove noisy comment
  .github/workflows/job-scan.yml
Due: pnpm run lint:root --

docs: add NestJS DevTools link to README
  README.md
Due: pnpm run lint:root --

refactor: healthcheck in service
  apps/server-nestjs/src/modules/argocd/argocd-health.service.ts
  apps/server-nestjs/src/modules/gitlab/gitlab-health.service.ts
  apps/server-nestjs/src/modules/healthz/healthz.controller.ts
  apps/server-nestjs/src/modules/healthz/healthz.module.ts
  apps/server-nestjs/src/modules/healthz/healthz.service.ts
  apps/server-nestjs/src/modules/infrastructure/database/database-health.service.ts
  apps/server-nestjs/src/modules/infrastructure/database/database.constants.ts
  apps/server-nestjs/src/modules/keycloak/keycloak-health.service.ts
  apps/server-nestjs/src/modules/nexus/nexus-health.service.ts
  apps/server-nestjs/src/modules/registry/registry-health.service.ts
  apps/server-nestjs/src/modules/service-chain/service-chain-health.service.ts
  apps/server-nestjs/src/modules/service-chain/service-chain.constants.ts
  apps/server-nestjs/src/modules/vault/vault-health.service.ts
Due: pnpm run lint:root --

feat(deployment): persist and validate deployment value sources
  apps/server-nestjs/src/modules/deployment/deployment-datastore.service.spec.ts
  apps/server-nestjs/src/modules/deployment/deployment-datastore.service.ts
  apps/server-nestjs/src/modules/deployment/deployment-testing.utils.ts
  apps/server-nestjs/src/modules/deployment/deployment.controller.spec.ts
  apps/server-nestjs/src/modules/deployment/deployment.controller.ts
  apps/server-nestjs/src/modules/deployment/deployment.service.spec.ts
  apps/server-nestjs/src/modules/deployment/deployment.service.ts
  apps/server-nestjs/src/modules/deployment/deployment.utils.spec.ts
  apps/server-nestjs/src/modules/deployment/deployment.utils.ts
  packages/shared/src/schemas/deployment.ts
Due: pnpm --filter=./packages/* run lint --, pnpm run lint:root --

feat(argocd): emit deployment value sources in generated values
  apps/server-nestjs/src/modules/argocd/argocd-datastore.service.ts
  apps/server-nestjs/src/modules/argocd/argocd-testing.utils.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.spec.ts
  apps/server-nestjs/src/modules/argocd/argocd.service.ts
  apps/server-nestjs/src/modules/project/project-queries.utils.ts
Due: pnpm run lint:root --

feat(client): add deployment value sources editor
  apps/client/src/components/DeploymentModal.vue
  apps/client/src/components/DeploymentRepoOption.vue
  apps/client/src/components/DeploymentRepoSelect.vue
  apps/client/src/components/DeploymentValueSourceOption.vue
  apps/client/src/components/DeploymentValueSources.vue
  apps/client/src/utils/deployment-draft.spec.ts
  apps/client/src/utils/deployment-draft.ts
  apps/client/src/utils/func.spec.ts
  apps/client/src/utils/func.ts
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

chore(ci): never install system deps for Playwright
  .github/workflows/job-playwright.yml
Due: pnpm run lint:root --

chore(ci): use PAX runner for Playwright tests
  .github/workflows/job-playwright.yml
Due: pnpm run lint:root --

chore(ci): use self-hosted ghcr.io cache for Playwright tests
  .github/workflows/job-playwright.yml
Due: pnpm run lint:root --

chore(ci): shard Playwright tests across 4 runners and merge reports
  .github/workflows/job-playwright.yml
Due: pnpm run lint:root --

chore(ci): avoid installing Playwright browsers
  .github/workflows/job-playwright.yml
Due: pnpm run lint:root --

chore(ci): remove node.js/pnpm install since they should be in base image
  .github/workflows/job-playwright.yml
Due: pnpm run lint:root --

chore(ci): improve Playwright merge-reports
  .github/workflows/job-playwright.yml
Due: pnpm run lint:root --

fix(playwright): remove expect that are too flaky for parallel work
  playwright/e2e-tests/project-logs.spec.ts
Due: pnpm run lint:root --

fix(client): rename new version snackbar test-id to avoid clashes with tests
  apps/client/src/components/ReloadPrompt.vue
Due: pnpm --filter=@cpn-console/client run lint:style --, pnpm --filter=@cpn-console/client run lint:ts --, pnpm run lint:root --

docs(playwright): alert devs regarding Playwright version between here and Dockerfile repo
  pnpm-workspace.yaml
Due: pnpm run lint:root --

Path conditions:
  pnpm --filter=@cpn-console/client run lint:style --: any of: **/apps/client/**/*.{vue,css}
  pnpm --filter=@cpn-console/client run lint:ts --: any of: **/apps/client/**/*
  pnpm --filter=@cpn-console/server run lint --: any of: **/apps/server/**/*
  pnpm --filter=./packages/* run lint --: any of: **/packages/**/*
  pnpm --filter=./plugins/* run lint --: any of: **/plugins/**/*
  pnpm run lint:root --: any of: **/*
